Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] fix create mv privilege(sync #32255) (#5715)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] allow creating index on mv (#5704)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

remove style (#6776)
  administration/Memory_management.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Upgrade snappy-java due to CVE-2023-43642 (#32370)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

[Enhancement] Upgrade snappy-java due to CVE-2023-43642 (#32370)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

[Enhancement] Upgrade snappy-java due to CVE-2023-43642 (#32370)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

[Feature] Support Alter Catalog Statement (#30653)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterCatalogLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CatalogAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/AlterCatalogTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Upgrade snappy-java due to CVE-2023-43642 (#32370)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hudi table query NPE when upgrade from 2.3 to 2.5
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Upgrade snappy-java due to CVE-2023-43642 (#32370)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

[BugFix] Fix union isnullable error
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EmptyValueTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/array_functions.cpp
  be/test/exprs/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/array_functions.cpp
  be/test/exprs/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/array_functions.cpp
  be/test/exprs/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix][branch-2.3] Fix hudi table query NPE when upgrade from 2.3 to 2.5 (#32425)
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/array_functions.cpp
  be/test/exprs/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/vectorized/array_functions.cpp
  be/test/exprs/vectorized/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/array_functions.cpp
  be/test/exprs/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

Fix backport (#6777)
  administration/Configuration.md
  sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
  sql-reference/sql-statements/data-manipulation/STREAM LOAD.md
  sql-reference/sql-statements/data-types/DECIMAL.md
Owners: @StarRocks/starrocks-committer

[Feature] Support Alter Catalog Statement (#30653)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterCatalogLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CatalogAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/AlterCatalogTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Support Tencent cos filesystem (#31758)
  build.sh
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationConstants.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudType.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudCredential.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
  fe/pom.xml
  fs_brokers/apache_hdfs_broker/build.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix starrocks ranger resource miss catalog in view/mv/function bug (#31098)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] array_cum_sum two bugs: overflow and const col error (#32393)
  be/src/exprs/array_functions.cpp
  be/test/exprs/array_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix starrocks ranger resource miss catalog in view/mv/function bug (#31098)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
Owners: @StarRocks/starrocks-committer

resolve comments
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix str2date partitioned mv (#31964)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix block cache input stream read return value (#32411)
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

Handle exceptions of list partitions
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix ASAN wrong DCHECK for per-bucket-optimize (#32292)
  be/src/exec/scan_node.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix ASAN wrong DCHECK for per-bucket-optimize (#32292)
  be/src/exec/scan_node.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix ASAN wrong DCHECK for per-bucket-optimize (#32292)
  be/src/exec/scan_node.cpp
Owners: @StarRocks/starrocks-committer

[UT] Fix unstable reorder ut (#32342)
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
