Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] Suppport SHOW CREATE ROUTINE LOAD SQL (#27638)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnSeparator.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateRoutineLoadStmtTest.java
  test/sql/test_routine_load/R/test_show_create_routine_load
  test/sql/test_routine_load/T/test_show_create_routine_load
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

update test
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] transaction stream load add condtion update & partial update mode support (#29536)
  be/src/http/action/transaction_stream_load.cpp
Owners: @StarRocks/starrocks-committer

[Feature]Support array and map type for paimon table (#29854)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] BE crashed when get tablet stats in shared data mode
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support compact thrift protocol (#29888)
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  be/src/util/thrift_util.h
  fe/fe-core/src/main/java/com/starrocks/catalog/Function.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/rpc/AttachmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/rpc/BackendServiceClient.java
  fe/fe-core/src/main/java/com/starrocks/rpc/PExecPlanFragmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/task/PushTask.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtWithDecimalTypesNewPlannerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  gensrc/proto/internal_service.proto
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/Types.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] ignore the case cause jvm crash (#29887)
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] ignore the case cause jvm crash (#29887)
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] separate `RecyclableClient` class from `HiveMetaClient` (#29861)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] separate `RecyclableClient` class from `HiveMetaClient` (#29861)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
Owners: @StarRocks/starrocks-committer

[Tool] disable release docker image workflow trigers (#29748)
  .github/workflows/release-docker-image.yml
Owners: @StarRocks/starrocks-committer

[Tool] disable release-docker-image workflow (#29911)
  .github/workflows/release-docker-image.yml.example
Owners: @StarRocks/starrocks-committer

[Tool] disable release-docker-image workflow (#29911)
  .github/workflows/release-docker-image.yml.example
Owners: @StarRocks/starrocks-committer

[Tool] disable release-docker-image workflow (#29911)
  .github/workflows/release-docker-image.yml.example
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor cloud configuration code and improve error msg report (#29873)
  be/src/fs/fs_s3.cpp
  be/src/io/s3_input_stream.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FileTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/glue/metastore/AWSGlueClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/CredentialUtil.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfigurationProvoder.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CredentialUtilTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor cloud configuration code and improve error msg report (#29873)
  be/src/fs/fs_s3.cpp
  be/src/io/s3_input_stream.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FileTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/glue/metastore/AWSGlueClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/CredentialUtil.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfigurationProvoder.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CredentialUtilTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor cloud configuration code and improve error msg report (#29873)
  be/src/fs/fs_s3.cpp
  be/src/io/s3_input_stream.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FileTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/glue/metastore/AWSGlueClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/CredentialUtil.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfigurationProvoder.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CredentialUtilTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix date_diff with constant type and non-constant date
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/test/exprs/time_functions_test.cpp
  test/sql/test_datetime/R/test_date_diff
  test/sql/test_datetime/T/test_date_diff
Owners: @StarRocks/starrocks-committer

[BugFix] Fix BE crash on bitmap index filter
  be/src/storage/lake/rowset.cpp
Owners: @StarRocks/starrocks-committer

test
  test/sql/test_datetime/T/test_date_diff
Owners: @StarRocks/starrocks-committer

test
  test/sql/test_datetime/R/test_date_diff
Owners: @StarRocks/starrocks-committer

[Enhancement] improve delta column file gc
  be/src/storage/data_dir.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
Owners: @StarRocks/starrocks-committer

test
  test/sql/test_datetime/R/test_date_diff
Owners: @StarRocks/starrocks-committer

Update Configuration.md
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add metrics for group-level query queue (#29869)
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/metric/ResourceGroupMetricMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/test/java/com/starrocks/metric/ResourceGroupMetricTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add metrics for group-level query queue (#29869)
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/metric/ResourceGroupMetricMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/test/java/com/starrocks/metric/ResourceGroupMetricTest.java
Owners: @StarRocks/starrocks-committer

Update System_variable.md
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Refactor] Refactor LoadLoadingTask initialization using Builder pattern
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
Owners: @StarRocks/starrocks-committer

[Refactor] reorder fields
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/vectorized/split.cpp
  be/src/exprs/vectorized/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/vectorized/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/vectorized/split.cpp
  be/src/exprs/vectorized/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/vectorized/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/split.cpp
  be/src/exprs/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[Feature]Support array and map type for paimon table (#29854)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
Owners: @StarRocks/starrocks-committer

[Doc] Add document for TRANSLATE (#6442)
  sql-reference/sql-functions/function-list.md
  sql-reference/sql-functions/string-functions/translate.md
Owners: @StarRocks/starrocks-committer

fix
  be/test/exprs/time_functions_test.cpp
Owners: @StarRocks/starrocks-committer

fix
  be/src/exprs/split.cpp
Owners: @StarRocks/starrocks-committer

[Doc] update meaning of `version` variable
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[BugFix] BE crashed when get tablet stats in shared data mode (#29930)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] BE crashed when get tablet stats in shared data mode (#29930)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] BE crashed when get tablet stats in shared data mode (#29930)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
