Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

Fix the openjdk installation command in start_fe.sh
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

use is_same_v instead of is_same
  be/src/storage/rowset/rle_page.h
Owners: @StarRocks/starrocks-committer

[Feature] partial update by column support upsert (backport #28288) (#28734)
  be/src/exec/tablet_sink.cpp
  be/src/http/action/stream_load.cpp
  be/src/storage/rowset/rowset_factory.cpp
  be/src/storage/rowset/rowset_meta.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/src/storage/rowset_update_state.cpp
  be/src/storage/tablet_meta_manager.cpp
  be/src/storage/tablet_meta_manager.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/BrokerLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/StreamLoadPlannerTest.java
  gensrc/proto/olap_file.proto
  gensrc/thrift/Types.thrift
Owners: @StarRocks/starrocks-committer

[Doc] Update files.md
  docs/sql-reference/sql-functions/table-functions/files.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the openjdk installation command in start_fe.sh (#28781)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Support set tablet state in script engine to fix tablet in NOT_READAY state in tablet meta caused by #21223 (#28736)
  be/src/script/script.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow`
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

fix
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
Owners: @StarRocks/starrocks-committer

[Doc] Update files.md to correct table function name (#28783)
  docs/sql-reference/sql-functions/table-functions/files.md
Owners: @StarRocks/docs-maintainer

[Doc] Update files.md to correct table function name (#28783)
  docs/sql-reference/sql-functions/table-functions/files.md
Owners: @StarRocks/docs-maintainer

[Doc] Update files.md to correct table function name (#28783)
  docs/sql-reference/sql-functions/table-functions/files.md
Owners: @StarRocks/docs-maintainer

[Doc] Update files.md to correct table function name (#28783)
  docs/sql-reference/sql-functions/table-functions/files.md
Owners: @StarRocks/docs-maintainer

[Refactor] Fix license header
  be/src/util/bthreads/future_impl.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment iterator initialization (#28722)
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment iterator initialization (#28722)
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment iterator initialization (#28722)
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Support set tablet state in script engine to fix tablet in NOT_READAY state in tablet meta caused by #21223 (#28736)
  be/src/script/script.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Support set tablet state in script engine to fix tablet in NOT_READAY state in tablet meta caused by #21223 (#28736)
  be/src/script/script.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Support set tablet state in script engine to fix tablet in NOT_READAY state in tablet meta caused by #21223 (#28736)
  be/src/script/script.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Support set tablet state in script engine to fix tablet in NOT_READAY state in tablet meta caused by #21223 (#28736)
  be/src/script/script.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support url_encode and url_decode functions (#26854)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_decode.md
  docs/sql-reference/sql-functions/string-functions/url_encode.md
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] Add url_extract_parameter function (#27630)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/test/CMakeLists.txt
  be/test/exprs/string_fn_url_extract_parameter_test.cpp
  gensrc/script/functions.py
  test/sql/test_url_extract_parameter/R/test_url_extract_parameter
  test/sql/test_url_extract_parameter/T/test_url_extract_parameter
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Delta Lake supports reading map and struct type (#28761)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeApiConverterTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Delta Lake supports reading map and struct type (#28761)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeApiConverterTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Improve url_encode (#27726)
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Support set tablet state in script engine to fix tablet in NOT_READAY state in tablet meta caused by #21223 (#28736)
  be/src/script/script.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment iterator initialization (#28722)
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Refactor]Improve unhex and hex (#27769)
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support url_encode and url_decode functions (#26854)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_decode.md
  docs/sql-reference/sql-functions/string-functions/url_encode.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] support hint query by replica (#28519)
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/implementation/OlapScanImplementationRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/DistributionPrunerRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PartitionPruneRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer
