Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

update
  be/src/agent/task_worker_pool.cpp
Owners: @StarRocks/starrocks-committer

update
  be/src/agent/resource_group_usage_recorder.cpp
  be/src/agent/resource_group_usage_recorder.h
Owners: @StarRocks/starrocks-committer

update
  be/src/agent/resource_group_usage_recorder.cpp
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/qe/ColocatedBackendSelector.java
Owners: @StarRocks/starrocks-committer

update
  be/src/agent/resource_group_usage_recorder.cpp
  be/src/agent/resource_group_usage_recorder.h
  be/src/agent/task_worker_pool.cpp
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
Owners: @StarRocks/starrocks-committer

fix cpu_core_used_permille
  be/src/agent/task_worker_pool.cpp
Owners: @StarRocks/starrocks-committer

update
  be/src/agent/CMakeLists.txt
  be/src/agent/resource_group_usage_recorder.cpp
  be/src/agent/resource_group_usage_recorder.h
  be/src/agent/task_worker_pool.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (backport #30108)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative audit values (#30271)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] prune subfields in unnested array
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/pattern/Pattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneSubfieldsForComplexType.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] when struct in array append_default real struct row for noexist subfield
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/test/formats/parquet/test_data/array_struct.parquet
  test/sql/test_external_file/R/test_parquet_struct_in_array
  test/sql/test_external_file/T/test_parquet_struct_in_array
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (backport #30108)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/connector/analyzer/SimpleExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg/R/test_orderby_agg
  test/sql/test_agg/T/test_orderby_agg
Owners: @StarRocks/starrocks-committer

turn the MetadataMgr into a cache from map
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug for 'show warehouses like' which return empty set (#4102)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Owners: @StarRocks/starrocks-committer

show usage resource group
  be/src/agent/resource_group_usage_recorder.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowResourceGroupUsageStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  gensrc/thrift/ResourceUsage.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

update
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowResourceGroupUsageStmt.java
Owners: @StarRocks/starrocks-committer

use separated database to run the test (#30179)
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Return error if get_stub failed (#30122)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

[BugFix] Return error if get_stub failed (#30122)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] Return error if get_stub failed (#30122)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] Return error if get_stub failed (#30122)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] Return error if get_stub failed (#30122)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

use separated database to run the test (#30179)
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Return error if get_stub failed (#30122)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] bugfix
  be/src/common/status.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowResourceGroupUsageStmt.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

fix the scenario of conflicted tasks after restarted
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer

display default wg
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

add-new-features-in-1.1.1
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

fix
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer
