Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

Update test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

Update SelectAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
Owners: @StarRocks/starrocks-committer

Update test_array_agg
  test/sql/test_agg_function/R/test_array_agg
Owners: @StarRocks/starrocks-committer

[Enhancement] array_agg supports distinct (#29907)
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/array-functions/array_agg.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/GroupByCountDistinctRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

update
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

Disable sync publish as default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Upgrade bdb-je version for safety (#4070)
  fe/fe-core/pom.xml
  fe/pom.xml
Owners: @StarRocks/starrocks-committer

update json test
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix unstable tests
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

Disable sync publish as default (#30317)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

[UT] Remove global Status instance (#30286)
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
Owners: @StarRocks/starrocks-committer

[UT] Remove global Status instance (#30286)
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix unstable tests (#30318)
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix unstable tests (#30318)
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[Enhancement] array_agg supports distinct (backport #29907) (#30284)
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/array-functions/array_agg.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/GroupByCountDistinctRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix
  be/src/agent/resource_group_usage_recorder.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Surface missing Status checks (#30285)
  be/CMakeLists.txt
  be/src/common/status.cpp
  be/src/common/status.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Push down topn with left and right outer join (#30128)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Push down topn with left and right outer join (#30128)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

test case
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/server/MetadataMgrTest.java
Owners: @StarRocks/starrocks-committer

Materialized views support more configuration parameters
  contrib/dbt-connector/README.md
  contrib/dbt-connector/dbt/adapters/starrocks/__version__.py
  contrib/dbt-connector/dbt/include/starrocks/macros/materializations/models/materialized_view.sql
  contrib/dbt-connector/setup.py
Owners: @StarRocks/starrocks-committer

[Enhancement] Support persist external table analyze status (#30227)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalAnalyzeStatus.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix the scenario of conflicted tasks after restarted (#30306)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer

Fix minor bug in asan mode (#30314)
  be/src/exec/tablet_sink_colocate_sender.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] turn the MetadataMgr into a cache from map (#30293)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/server/MetadataMgrTest.java
Owners: @StarRocks/starrocks-committer

Fix minor bug in asan mode (#30314)
  be/src/exec/tablet_sink_colocate_sender.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] turn the MetadataMgr into a cache from map (#30293)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/server/MetadataMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix the scenario of conflicted tasks after restarted (#30306)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix the scenario of conflicted tasks after restarted (#30306)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix the scenario of conflicted tasks after restarted (#30306)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix the scenario of conflicted tasks after restarted (#30306)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix PerBucketCompute crash in local-shuffle AGG
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/scan_node.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/assignment/LocalFragmentAssignmentStrategy.java
  test/sql/test_agg/R/test_bucket_agg
  test/sql/test_agg/T/test_bucket_agg
Owners: @StarRocks/starrocks-committer

[Feature] Add new window function 'approx_top_k'
  be/src/exec/analytor.cpp
  be/src/exec/analytor.h
  be/src/exprs/agg/approx_top_k.h
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_approx.cpp
  be/src/exprs/agg/nullable_aggregate.h
  docs/sql-reference/sql-functions/aggregate-functions/approx_top_k.md
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticWindow.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ExprUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/WindowTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  test/common/sql/ssb/create.sql
  test/common/sql/tpcds/create.sql
  test/common/sql/tpch/create.sql
  test/sql/test_agg_function/R/test_approx_top_k
  test/sql/test_agg_function/T/test_approx_top_k
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

update 3
  be/src/exec/analytor.cpp
  be/src/exprs/agg/approx_top_k.h
Owners: @StarRocks/starrocks-committer

update 2
  be/src/exec/analytor.cpp
Owners: @StarRocks/starrocks-committer

update 1
  be/src/exprs/agg/approx_top_k.h
Owners: @StarRocks/starrocks-committer

Delta lake its not maintained by Apache
  docs/data_source/catalog/deltalake_catalog.md
Owners: @StarRocks/docs-maintainer

update 4
  be/src/exprs/agg/nullable_aggregate.h
Owners: @StarRocks/starrocks-committer

Delta lake its not maintained by Apache (#30332)
  docs/data_source/catalog/deltalake_catalog.md
Owners: @StarRocks/docs-maintainer

Delta lake its not maintained by Apache (#30332)
  docs/data_source/catalog/deltalake_catalog.md
Owners: @StarRocks/docs-maintainer
