Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] Refine profile to support visualization refactor(2)
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

reduce case sleep because be can not completely cancel (#30547)
  test/sql/test_task/R/test_drop
  test/sql/test_task/T/test_drop
Owners: @StarRocks/starrocks-committer

format
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize MV lazy log
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerTraceUtil.java
Owners: @StarRocks/starrocks-committer

set group_concat_max_len
  test/lib/sr_sql_lib.py
Owners: @StarRocks/starrocks-committer

Add more case and enhanced metadata partition repair capabilities
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
  test/sql/test_insert_empty/R/test_insert_overwrite_partition
  test/sql/test_insert_empty/T/test_insert_overwrite_partition
Owners: @StarRocks/starrocks-committer

update desc for how to configure memory size for fe
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support ignoring invalid directories when list hive directory recursively. (#30363) (#30538)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/CachingRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedRemoteFileSystem.java
Owners: @StarRocks/starrocks-committer

refactor
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/DataSinks.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Support ignoring invalid directories when list hive directory recursively. (#30363) (#30538)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/CachingRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedRemoteFileSystem.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support ignoring invalid directories when list hive directory recursively. (#30363) (#30538)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/CachingRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedRemoteFileSystem.java
Owners: @StarRocks/starrocks-committer

update desc for how to configure memory size for fe
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

Change decrement(1) to increment(-1)
  be/src/http/action/compaction_action.cpp
  be/src/storage/base_compaction.cpp
  be/src/storage/compaction_manager.cpp
  be/src/storage/cumulative_compaction.cpp
  be/src/storage/storage_engine.cpp
  be/src/util/starrocks_metrics.h
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowAnalyzeJobStmt.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support persist external table analyze status (#4262)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalAnalyzeStatus.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support convert equal range predicates into equivalence classes(sync #29988) (#4278)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q10.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q5.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q6.sql
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/connector/hudi/HudiMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
Owners: @StarRocks/starrocks-committer

[Doc] update desc for how to configure memory size for fe (#30537)
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

update desc for how to configure memory size for fe (#6541)
  faq/Others.md
Owners: @StarRocks/starrocks-committer

[Doc] update desc for how to configure memory size for fe (#30537)
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

[Doc] update desc for how to configure memory size for fe (#30537)
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

[Doc] update desc for how to configure memory size for fe (#30537)
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

[Doc] update desc for how to configure memory size for fe (#30537)
  docs/faq/Others.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix typo in cloud storage load doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/cloud_storage_load.md
Owners: @StarRocks/docs-maintainer

[Enhancement] parquet late materialize round-by-round
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/CMakeLists.txt
  be/src/formats/parquet/column_read_order_ctx.cpp
  be/src/formats/parquet/column_read_order_ctx.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/runtime/types.cpp
  be/src/runtime/types.h
  be/test/formats/parquet/file_reader_test.cpp
Owners: @StarRocks/starrocks-committer

Fix typo in broker load docs (#6547)
  loading/cloud_storage_load.md
Owners: @StarRocks/starrocks-committer

Add more case and enhanced metadata partition repair capabilities (#30550)
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
  test/sql/test_insert_empty/R/test_insert_overwrite_partition
  test/sql/test_insert_empty/T/test_insert_overwrite_partition
Owners: @StarRocks/starrocks-committer

[Doc] Fix typo in cloud storage load doc (#30560)
  docs/loading/cloud_storage_load.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix typo in cloud storage load doc (#30560)
  docs/loading/cloud_storage_load.md
Owners: @StarRocks/docs-maintainer

Add more case and enhanced metadata partition repair capabilities
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
Owners: @StarRocks/starrocks-committer

Add base64_to_hll function (merge request !276)
  be/src/exprs/hyperloglog_functions.cpp
  be/src/exprs/hyperloglog_functions.h
  be/src/types/hll.h
  be/test/exprs/hyperloglog_functions_test.cpp
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Doc] Fix typo in cloud storage load doc (#30560)
  docs/loading/cloud_storage_load.md
Owners: @StarRocks/docs-maintainer

optimize mv plan cache by using lru cache
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvPlanContext.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
Owners: @StarRocks/starrocks-committer

fix comments
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

add uts
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

support get paimon table createtime
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  java-extensions/paimon-reader/pom.xml
Owners: @StarRocks/starrocks-committer

some change
  be/src/common/config.h
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  be/src/storage/range.h
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset_options.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/tablet_reader.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support ignoring invalid directories when list hive directory recursively. (#30363)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/CachingRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedRemoteFileSystem.java
Owners: @StarRocks/starrocks-committer

[BugFix] Use default priority for publish version tasks to avoid starving abort tasks (#30526)
  be/src/service/service_be/lake_service.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Use default priority for publish version tasks to avoid starving abort tasks (#30526)
  be/src/service/service_be/lake_service.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
