Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31394)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Remake MV - Part 2 Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
  docs/using_starrocks/Materialized_view-single_table.md
  docs/using_starrocks/Materialized_view.md
  docs/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
  docs/using_starrocks/query_rewrite_with_materialized_views.md
Owners: @StarRocks/docs-maintainer

[Doc] fix format configuration (#31236)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] fix format configuration (#31236)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] fix format configuration (#31236)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] fix format configuration (#31236)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Feature] Files() support columns from path (#31263)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/BrokerFileGroup.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Files() support columns from path (#31263)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/BrokerFileGroup.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Owners: @StarRocks/starrocks-committer

[Doc] fix format configuration (#31236)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Feature] Files() support columns from path (#31263)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/BrokerFileGroup.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Files() support columns from path (#31263)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/BrokerFileGroup.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Owners: @StarRocks/starrocks-committer

[bugfix] in cgroupv2 k8s env, memory.max is in /sys/fs/cgroup/kubepods
  be/src/util/mem_info.cpp
  bin/common.sh
Owners: @StarRocks/starrocks-committer

fix year/month/day components
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/test/runtime/datetime_value_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/str_to_jodatime.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] move memory release out of lock in DynamicCache iterate operation
  be/src/util/dynamic_cache.h
  be/test/util/dynamic_cache_test.cpp
Owners: @StarRocks/starrocks-committer

Update Configuration.md
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] fix format configuration (#31236)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

Update Configuration.md
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Feature] Files() support columns from path (backport #31263) (branch-3.2) (#31404)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/BrokerFileGroup.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] iceberg and paimon table adapt to partition prune
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve CloudConfiguration thrift stability
  fe/fe-core/src/main/java/com/starrocks/sql/parser/gen/StarRocksLex.interp
  fe/fe-core/src/main/java/com/starrocks/sql/parser/gen/StarRocksLex.java
  gensrc/thrift/CloudConfiguration.thrift
Owners: @StarRocks/starrocks-committer

Update group_concat.md
  docs/sql-reference/sql-functions/string-functions/group_concat.md
Owners: @StarRocks/docs-maintainer

rm
  fe/fe-core/src/main/java/com/starrocks/sql/parser/gen/StarRocksLex.interp
  fe/fe-core/src/main/java/com/starrocks/sql/parser/gen/StarRocksLex.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix execute as statement use error username in report message (#31334)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix execute as statement use error username in report message (#31334)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Owners: @StarRocks/starrocks-committer

[bugfix] in cgroupv2 k8s env, memory.max is in /sys/fs/cgroup/kubepods
  be/src/util/mem_info.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix execute as statement use error username in report message (#31334)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Owners: @StarRocks/starrocks-committer

fix subfield pruning
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

Fix bug variables header return wrong
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExpressionAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

only checkin filesystem
  java-extensions/hadoop-ext/pom.xml
  java-extensions/hadoop-ext/src/main/java/org/apache/hadoop/fs/FileSystem.java
  java-extensions/pom.xml
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve CloudConfiguration thrift stability (#31407)
  gensrc/thrift/CloudConfiguration.thrift
Owners: @StarRocks/starrocks-committer

Update agent_server.cpp
  be/src/agent/agent_server.cpp
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowStatusStmtTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add 3.1.3 release notes Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/release_notes/release-3.0.md
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Refine error prompt
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] update cn entrypoint for multi warehouse (#31139)
  docker/dockerfiles/be/cn_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] update cn entrypoint for multi warehouse (#31139)
  docker/dockerfiles/be/cn_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] update cn entrypoint for multi warehouse (#31139)
  docker/dockerfiles/be/cn_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Add some query read prefetch statistics (#31165)
  be/src/connector/lake_connector.cpp
  be/src/fs/fs_starlet.cpp
  be/src/storage/olap_common.h
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add some query read prefetch statistics (#31165)
  be/src/connector/lake_connector.cpp
  be/src/fs/fs_starlet.cpp
  be/src/storage/olap_common.h
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] iceberg and paimon table adapt to partition prune (#31393)
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
