Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Feature] Support list partition of cloud native table (#28012)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/ListPartitionPersistInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListPartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/CreateLakeTableTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support hint query by replica(sync #28519)
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/implementation/OlapScanImplementationRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/DistributionPrunerRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PartitionPruneRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] Support list partition of cloud native table
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/ListPartitionPersistInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListPartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/CreateLakeTableTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support text-based profile analysis(3) (#28813)
  fe/fe-core/src/main/java/com/starrocks/common/util/DebugUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfileParser.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/common/util/DebugUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileParserTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Support list partition of cloud native table (#28896)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/ListPartitionPersistInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListPartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/CreateLakeTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove txn rollback logs when aborting empty delta writers (#28826)
  be/src/runtime/local_tablets_channel.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove txn rollback logs when aborting empty delta writers (#28826)
  be/src/runtime/local_tablets_channel.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove txn rollback logs when aborting empty delta writers (#28826)
  be/src/runtime/local_tablets_channel.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove txn rollback logs when aborting empty delta writers (#28826)
  be/src/runtime/local_tablets_channel.cpp
Owners: @StarRocks/starrocks-committer

[Feature]Support lake persistent index (backport #25925) (#28894)
  be/src/agent/heartbeat_server.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_local_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/olap_define.h
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/ComputeNodeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/system/Backend.java
  fe/fe-core/src/main/java/com/starrocks/system/BackendHbResponse.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/HeartbeatMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/CreateReplicaTask.java
  fe/fe-core/src/test/java/com/starrocks/lake/CreateLakeTableTest.java
  gensrc/proto/lake_types.proto
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/HeartbeatService.thrift
Owners: @StarRocks/starrocks-committer

[Tool] SQL-Tester add external config
  test/conf/sr.conf
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove txn rollback logs when aborting empty delta writers (#28826)
  be/src/runtime/local_tablets_channel.cpp
Owners: @StarRocks/starrocks-committer

3.0.4-sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols (#6279)
  loading/SparkLoad.md
Owners: @StarRocks/starrocks-committer

2.5.9 sparkload supports date/datetime/decimal as bucketing cols (#6278)
  loading/SparkLoad.md
Owners: @StarRocks/starrocks-committer

minor updates (#6292)
  sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/starrocks-committer

minor updates
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

minor updates
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

minor updates
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Refactor] metadir not used in LakeLocalPersistentIndex avoid warning msg in building (#28803)
  be/src/storage/lake/lake_local_persistent_index.h
Owners: @StarRocks/starrocks-committer

[Doc] 3.0.4 sparkload supports date/datetime/decimal as bucketing cols (#28810)
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Doc]2.5.9 sparkload supports date/datetime/decimal as bucketing cols #28810 (#28812)
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

rename compaction
  be/src/bench/persistent_index_bench.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

improve the codes
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

giving more trace information about choosing backends
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

print more be info
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

Add UT.
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[Doc] sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols (#28804)
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Doc] sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols (#28804)
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

Fix typo.
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Refactor] metadir not used in LakeLocalPersistentIndex avoid warning msg in building (#28803)
  be/src/storage/lake/lake_local_persistent_index.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix gzip decompressor memory leak (#28891)
  be/src/util/compression/block_compression.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix gzip decompressor memory leak (#28891)
  be/src/util/compression/block_compression.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Add View Load via infomation_schema Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/loading/InsertInto.md
Owners: @StarRocks/docs-maintainer

upgrade log lvl to warn
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

Update README.md
  README.md
Owners: @StarRocks/starrocks-committer

Fix UT.
  fe/fe-core/src/test/java/com/starrocks/catalog/StorageCoolDownTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Don't using libdeflate in arm (#28880)
  be/CMakeLists.txt
  be/src/util/compression/block_compression.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Don't using libdeflate in arm (#28880)
  be/CMakeLists.txt
  be/src/util/compression/block_compression.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
