Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix Analyze update load rows NPE bug (#30764)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix Analyze update load rows NPE bug (#30764)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix Analyze update load rows NPE bug (#30764)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix Analyze update load rows NPE bug (#30764)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeManager.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

Restructure auth to aws doc & add policies doc (#6670)
  TOC.md
  integrations/authenticate_to_aws_resources.md
  reference/aws_iam_policies.md
Owners: @StarRocks/starrocks-committer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix Analyze update load rows NPE bug (#30764)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[BugFix] Make QUERIES and RUNNING non-reserved (#31328)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] Make QUERIES and RUNNING non-reserved (#31328)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[Refactor] refactor hdfs scan node to thrift part
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MinMaxCountOptOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Feature] Enable sort key in cloud native pk table
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Doc] Restructure auth to aws doc & add policies doc (#31344)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[Doc] redo Preparations in auth to aws&add policies doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

remove unused one
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix Analyze update load rows NPE bug (#30764)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeManager.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeManagerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove type checker when prune subfield in external catalog (#31345)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove type checker when prune subfield in external catalog (#31345)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove type checker when prune subfield in external catalog (#31345)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove type checker when prune subfield in external catalog (#31345)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Enable sort key in cloud native pk table (#31369)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix paimon npe when getting table statistics (#31340)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix paimon npe when getting table statistics (#31340)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix paimon npe when getting table statistics (#31340)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Owners: @StarRocks/starrocks-committer

[Tool] filter cases in fe ut script (#31353)
  .github/workflows/ci-pipeline.yml
  .github/workflows/inspection-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize date_add & date_trunc (#31122)
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[Tool] filter cases in fe ut script (#31353)
  .github/workflows/ci-pipeline.yml
  .github/workflows/inspection-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

fix test cases
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix paimon npe when getting table statistics (#31340)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.1] Remove type checker when prune subfield in external catalog
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Make QUERIES and RUNNING non-reserved (#31328)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[Enhancement] add timeout for clear expire state in primary key
  be/src/common/config.h
  be/src/storage/update_manager.cpp
  be/src/util/dynamic_cache.h
  be/test/util/dynamic_cache_test.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
