Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] fix mv on hive view (#29422)
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some bug of light schema change (#30485)
  be/src/storage/rowset/rowset_writer.cpp
  be/src/storage/rowset/segment.cpp
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693) (#30940)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
Owners: @StarRocks/starrocks-committer

test: update test_pipe_basic
  test/sql/test_pipe/R/basic
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some bug of light schema change (#30485)
  be/src/storage/rowset/rowset_writer.cpp
  be/src/storage/rowset/segment.cpp
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] return more accurate logs when accessing hdfs fails (#30890)
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[BugFix][CherryPick] fix mv on hive view for 3.1 (#29422) (#31004)
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[UT] Delete unstable sql-test case (#30995)
  test/sql/test_profile/R/test_profile
  test/sql/test_profile/T/test_profile
  test/sql/test_profile/T/test_runtime_profile.sh
Owners: @StarRocks/starrocks-committer

[UT] Delete unstable sql-test case (#30995)
  test/sql/test_profile/R/test_profile
  test/sql/test_profile/T/test_profile
  test/sql/test_profile/T/test_runtime_profile.sh
Owners: @StarRocks/starrocks-committer

[Refactor] refactor error msg for high-order functions (#30766)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/VariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SemanticException.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SetType.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer

[Refactor] refactor error msg for high-order functions (#30766)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/VariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SemanticException.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SetType.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer

[Refactor] refactor error msg for high-order functions (#30766)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/VariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SemanticException.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SetType.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer

*: clean code
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadingTaskPlannerTest.java
Owners: @StarRocks/starrocks-committer

*: files() support parquet list
  be/src/exec/CMakeLists.txt
  be/src/exec/arrow_schema_converter.cpp
  be/src/exec/arrow_schema_converter.h
  be/src/exec/parquet_reader.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
Owners: @StarRocks/starrocks-committer

parquet_reader: support list of list
  be/src/exec/arrow_schema_converter.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
Owners: @StarRocks/starrocks-committer

runtime: add TypeDescriptor::create_map_type
  be/src/exec/parquet_schema_builder.cpp
  be/src/runtime/types.h
Owners: @StarRocks/starrocks-committer

test: add nested.parquet
  be/test/exec/parquet_scanner_test.cpp
  be/test/formats/parquet/test_data/nested.parquet
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.get_file_schema
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_nested.py
  be/test/exec/test_data/parquet_data/nested.parquet
Owners: @StarRocks/starrocks-committer

parquet_reader: support map
  be/src/exec/CMakeLists.txt
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_schema_builder.cpp
  be/src/exec/parquet_schema_builder.h
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.get_file_schema
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

test: add testPTypeDescFromProtobuf
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix sort key bug in vertical compaction of cloud native table
  be/src/storage/lake/vertical_compaction_task.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] throw exception when insert into hive table without parquet format
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] hive sink use the same get_partition_value_string with table function table sink (#30991)
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.h
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Refactor] hive sink use the same get_partition_value_string with table function table sink (#30991)
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.h
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Refactor] hive sink use the same get_partition_value_string with table function table sink (#30991)
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.h
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Feature] Unload data via table function (#30544)
  be/src/exec/CMakeLists.txt
  be/src/exec/data_sink.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/table_function_table_sink.cpp
  be/src/runtime/table_function_table_sink.h
  be/src/util/url_coding.cpp
  be/src/util/url_coding.h
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/DataSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/TableFunctionTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstance.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/planner/TableFunctionTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] support lzo block decompression (#30923)
  be/src/util/compression/block_compression.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/parquet_scanner/lzo_compression.parquet
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/R/test_parquet_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
  test/sql/test_external_file/T/test_parquet_compression_format
Owners: @StarRocks/starrocks-committer

[Feature] support lzo block decompression (#30923)
  be/src/util/compression/block_compression.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/parquet_scanner/lzo_compression.parquet
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/R/test_parquet_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
  test/sql/test_external_file/T/test_parquet_compression_format
Owners: @StarRocks/starrocks-committer

[Feature] support lzo block decompression (#30923)
  be/src/util/compression/block_compression.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/parquet_scanner/lzo_compression.parquet
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/R/test_parquet_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
  test/sql/test_external_file/T/test_parquet_compression_format
Owners: @StarRocks/starrocks-committer

format
  be/src/storage/decimal_type_info.cpp
  be/src/storage/merge_iterator.cpp
  be/src/storage/page_cache.h
  be/src/storage/union_iterator.cpp
Owners: @StarRocks/starrocks-committer

format
  be/test/util/threadpool_test.cpp
Owners: @StarRocks/starrocks-committer

add kafka connector release
  docs/TOC.md
  docs/ecosystem_release/kafka_connector.md
Owners: @StarRocks/docs-maintainer

add kafka connector release
  docs/TOC.md
  docs/ecosystem_release/kafka_connector.md
Owners: @StarRocks/docs-maintainer

add kafka connector release
  docs/ecosystem_release/kafka_connector.md
Owners: @StarRocks/docs-maintainer

update
  be/src/storage/rowset_column_update_state.cpp
Owners: @StarRocks/starrocks-committer

fix linting
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] reformat system variables to help with Algolia indexing (#31021)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] reformat system variables to help with Algolia indexing (#31021)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] reformat system variables to help with Algolia indexing (#31021)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
