Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] Add url_extract_parameter function (#27630)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/test/CMakeLists.txt
  be/test/exprs/string_fn_url_extract_parameter_test.cpp
  gensrc/script/functions.py
  test/sql/test_url_extract_parameter/R/test_url_extract_parameter
  test/sql/test_url_extract_parameter/T/test_url_extract_parameter
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Refactor] Improve url_encode (#27726)
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[Refactor]Improve unhex and hex (#27769)
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

Thread pools that differentiate between sparkload tasks and brokerload tasks
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/SparkLoadJobTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Renaming
  be/src/util/bthreads/future.h
Owners: @StarRocks/starrocks-committer

rename OlapSchemaScan -> SchemaScan
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/scan/olap_schema_scan_operator.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.h
  be/src/exec/pipeline/scan/schema_scan_context.cpp
  be/src/exec/pipeline/scan/schema_scan_context.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/pipeline/scan/schema_scan_operator.h
  be/src/exec/schema_scan_node.cpp
Owners: @StarRocks/starrocks-committer

sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Refactor] renaming
  be/src/util/bthreads/future.h
  be/src/util/bthreads/future_impl.h
  be/test/util/bthreads/future_test.cpp
  be/test/util/bthreads/promise_test.cpp
  be/test/util/bthreads/shared_future_test.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] metadir not used avoid warning msg in build
  be/src/storage/lake/lake_local_persistent_index.h
Owners: @StarRocks/starrocks-committer

[Refactor] Remove unused forward declaration
  be/src/util/bthreads/future_impl.h
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

3.0.4-sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[UT] Reduce the number of threads created in UT
  be/src/agent/agent_common.h
  conf/be_test.conf
Owners: @StarRocks/starrocks-committer

2.5.9-sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

2.5.9-sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Disable colocate overall balance by default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] keep BinaryColumnBase invariant after `upgrade_if_overflow` (#28790)
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the bug that the policy can be set multiple times on the column (#2772)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/PolicyPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/SecurityPolicyMgr.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/analyzer/AlterTableClauseVisitorEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/analyzer/SecurityPolicyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/ast/RevokeRowAccessPolicyClause.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/epack/policy/ApplyPolicyTest.java
  test/sql/test_security_policy/R/test_not_exists
  test/sql/test_security_policy/R/test_revoke_policy
  test/sql/test_security_policy/T/test_not_exists
  test/sql/test_security_policy/T/test_revoke_policy
Owners: @StarRocks/starrocks-committer

fix
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_joiner.cpp
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
Owners: @StarRocks/starrocks-committer

Fix bug Json metadata lost fn info
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support url_encode and url_decode functions (#26854)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_decode.md
  docs/sql-reference/sql-functions/string-functions/url_encode.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] Add url_extract_parameter function (#27630)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/test/CMakeLists.txt
  be/test/exprs/string_fn_url_extract_parameter_test.cpp
  gensrc/script/functions.py
  test/sql/test_url_extract_parameter/R/test_url_extract_parameter
  test/sql/test_url_extract_parameter/T/test_url_extract_parameter
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Refactor]Improve unhex and hex (#27769)
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Improve url_encode (#27726)
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
Owners: @StarRocks/starrocks-committer

Upgrade starrocks fe meta version to VERSION_4
  fe/fe-core/src/main/java/com/starrocks/common/StarRocksFEMetaVersion.java
  fe/fe-core/src/test/java/com/starrocks/authentication/AuthenticationManagerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Add url extract parameter(backport #26854 #27630 #27726 #27769) (#28798)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/test/CMakeLists.txt
  be/test/exprs/string_fn_url_extract_parameter_test.cpp
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_decode.md
  docs/sql-reference/sql-functions/string-functions/url_encode.md
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
  test/sql/test_url_extract_parameter/R/test_url_extract_parameter
  test/sql/test_url_extract_parameter/T/test_url_extract_parameter
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix ut
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix orc count(1) always return zero when orc doesn't have row index (#28777)
  be/src/formats/orc/apache-orc/c++/libs/libhdfspp/libhdfspp.tar.gz
  be/src/formats/orc/apache-orc/c++/src/sargs/SargsApplier.cc
  be/src/formats/orc/apache-orc/c++/test/TestColumnReader.cc
  be/src/formats/orc/apache-orc/examples/TestOrcFile.columnProjection.orc
  be/src/formats/orc/apache-orc/examples/TestOrcFile.testSeek.orc
  be/src/formats/orc/apache-orc/examples/TestVectorOrcFile.testLzo.orc
  be/src/formats/orc/apache-orc/examples/decimal64_v2.orc
  be/src/formats/orc/apache-orc/examples/demo-12-zlib.orc
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.columnProjection.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testSeek.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testSnappy.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testWithoutIndex.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestVectorOrcFile.testLz4.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestVectorOrcFile.testLzo.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/nulls-at-end-snappy.jsn.gz
  be/src/formats/orc/apache-orc/examples/nulls-at-end-snappy.orc
  be/test/exec/test_data/orc_scanner/empty_row_index.orc
  test/sql/test_external_file/R/test_orc_count_star_opt
  test/sql/test_external_file/T/test_orc_count_star_opt
Owners: @StarRocks/starrocks-committer

[BugFix] fix orc count(1) always return zero when orc doesn't have row index (#28777)
  be/src/formats/orc/apache-orc/c++/libs/libhdfspp/libhdfspp.tar.gz
  be/src/formats/orc/apache-orc/c++/src/sargs/SargsApplier.cc
  be/src/formats/orc/apache-orc/c++/test/TestColumnReader.cc
  be/src/formats/orc/apache-orc/examples/TestOrcFile.columnProjection.orc
  be/src/formats/orc/apache-orc/examples/TestOrcFile.testSeek.orc
  be/src/formats/orc/apache-orc/examples/TestVectorOrcFile.testLzo.orc
  be/src/formats/orc/apache-orc/examples/decimal64_v2.orc
  be/src/formats/orc/apache-orc/examples/demo-12-zlib.orc
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.columnProjection.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testSeek.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testSnappy.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testWithoutIndex.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestVectorOrcFile.testLz4.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestVectorOrcFile.testLzo.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/nulls-at-end-snappy.jsn.gz
  be/src/formats/orc/apache-orc/examples/nulls-at-end-snappy.orc
  be/test/exec/test_data/orc_scanner/empty_row_index.orc
  test/sql/test_external_file/R/test_orc_count_star_opt
  test/sql/test_external_file/T/test_orc_count_star_opt
Owners: @StarRocks/starrocks-committer

[Refactor] refactor sql tester cases of query external file (#28600)
  test/sql/test_external_file/R/test_orc_count_star_opt
  test/sql/test_external_file/R/test_parquet_bool_decoder
  test/sql/test_external_file/R/test_parquet_count_star_opt
  test/sql/test_external_file/R/test_parquet_dict_null_predicate
  test/sql/test_external_file/R/test_parquet_optional_column_levels
  test/sql/test_external_file/R/test_query_external_file
  test/sql/test_external_file/T/test_orc_count_star_opt
  test/sql/test_external_file/T/test_parquet_bool_decoder
  test/sql/test_external_file/T/test_parquet_count_star_opt
  test/sql/test_external_file/T/test_parquet_dict_null_predicate
  test/sql/test_external_file/T/test_parquet_optional_column_levels
  test/sql/test_external_file/T/test_query_external_file
Owners: @StarRocks/starrocks-committer

2.5.9-sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix orc count(1) always return zero when orc doesn't have row index (#28777)
  be/src/formats/orc/apache-orc/c++/libs/libhdfspp/libhdfspp.tar.gz
  be/src/formats/orc/apache-orc/c++/src/sargs/SargsApplier.cc
  be/src/formats/orc/apache-orc/c++/test/TestColumnReader.cc
  be/src/formats/orc/apache-orc/examples/TestOrcFile.columnProjection.orc
  be/src/formats/orc/apache-orc/examples/TestOrcFile.testSeek.orc
  be/src/formats/orc/apache-orc/examples/TestVectorOrcFile.testLzo.orc
  be/src/formats/orc/apache-orc/examples/decimal64_v2.orc
  be/src/formats/orc/apache-orc/examples/demo-12-zlib.orc
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.columnProjection.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testSeek.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testSnappy.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestOrcFile.testWithoutIndex.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestVectorOrcFile.testLz4.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/TestVectorOrcFile.testLzo.jsn.gz
  be/src/formats/orc/apache-orc/examples/expected/nulls-at-end-snappy.jsn.gz
  be/src/formats/orc/apache-orc/examples/nulls-at-end-snappy.orc
  be/test/exec/test_data/orc_scanner/empty_row_index.orc
  test/sql/test_external_file/R/test_orc_count_star_opt
  test/sql/test_external_file/T/test_orc_count_star_opt
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
