Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

solve conflict
  be/src/exec/pipeline/analysis/analytic_sink_operator.cpp
  be/src/exec/pipeline/analysis/analytic_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Print lake read filepath in be.out when BE crashed (#20341)
  be/src/common/logconfig.cpp
  be/src/connector/connector.h
  be/src/connector/file_connector.cpp
  be/src/connector/file_connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/pipeline/scan/chunk_source.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the profile serialization performance (#30221)
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the profile serialization performance (#30221)
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the profile serialization performance (#30221)
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the profile serialization performance (#30221)
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the profile serialization performance (#30221)
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

Fix TableAndViewCollector when creating mv with agg or subquery (#30199)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

Enhancement: Enable partial update to be used with condition update
  be/src/storage/delta_writer.cpp
  be/src/storage/rowset_update_state.cpp
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadPlanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (#30108)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/connector/analyzer/SimpleExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg/R/test_orderby_agg
  test/sql/test_agg/T/test_orderby_agg
Owners: @StarRocks/starrocks-committer

[Tool] build straightly if only modify test && run sonarcloud fe in self-hosted && support MySQL in SQL-Tester
  test/conf/sr.conf
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (#30108)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/connector/analyzer/SimpleExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg/R/test_orderby_agg
  test/sql/test_agg/T/test_orderby_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (#30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (#30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (#30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (#30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CTASAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (#30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30135)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30135)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30135)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30135)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30135)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix create table like fail in cloud native pk table
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30246)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

[BugFix] Restore primary key table cause meta inconsistent when restart BE(#30129) (#30247)
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
Owners: @StarRocks/starrocks-committer

fix sql-test
  test/sql/test_others/R/test_deprecated_non_pipeline_engine
  test/sql/test_others/T/test_deprecated_non_pipeline_engine
Owners: @StarRocks/starrocks-committer

modify the example of conditional updates and some para descs
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix lake primary table's local persistent index load (#30110)
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_local_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/test/storage/lake/compaction_test_utils.h
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix lake primary table's local persistent index load (#30110)
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_local_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/test/storage/lake/compaction_test_utils.h
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix create table like fail in cloud native pk table (#30198)
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

modify the example of conditional updates and some para descs
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix create table like fail in cloud native pk table (#30198)
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix lake primary table's local persistent index load (#30110)
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_local_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/test/storage/lake/compaction_test_utils.h
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix create table like fail in cloud native pk table (#30198)
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix lake primary table's local persistent index load (#30110)
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_local_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/test/storage/lake/compaction_test_utils.h
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix create table like fail in cloud native pk table (#30198)
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[Tool] Sonarcloud FE in self runner && support MySQL in SQL-Tester (#30225)
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
  test/conf/sr.conf
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
