Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] diff lambda arg from normal slot
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
Owners: @StarRocks/starrocks-committer

fix import statement
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

revert changes
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] Update Loading_intro.md
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Feature] support using expr predicate to prune partition (backport #30421) (#30634)
  fe/fe-core/src/main/java/com/starrocks/analysis/DateLiteral.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/planner/PartitionColumnFilter.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ColumnFilterConverter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ConstantFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptOlapPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/PartitionColPredicateEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/PartitionColPredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FoldConstantsRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/FurtherPartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix UserPrivilegeCollectionV2 was not compatible bug (#31119)
  fe/fe-core/src/main/java/com/starrocks/persist/UserPrivilegeCollectionInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/UserPrivilegeCollectionInfoDeprecated.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix policy can't resolve slot ref in type map and struct bug #4727
  fe/fe-core/src/main/java/com/starrocks/epack/persist/CreatePolicyLog.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/NativeAccessControlEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/Policy.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/SecurityPolicyMgr.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/analyzer/SecurityPolicyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  test/sql/test_security_policy/R/test_create_policy
  test/sql/test_security_policy/R/test_create_table_as
  test/sql/test_security_policy/R/test_mapping_table
  test/sql/test_security_policy/R/test_policy_column_using
  test/sql/test_security_policy/T/test_create_policy
  test/sql/test_security_policy/T/test_mapping_table
  test/sql/test_security_policy/T/test_policy_column_using
Owners: @StarRocks/starrocks-committer

[Enhancement] tablet manager ondemand fetch shard info from starmgr
  be/src/service/staros_worker.cpp
  be/src/service/staros_worker.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/test/storage/lake/tablet_manager_test.cpp
Owners: @StarRocks/starrocks-committer

Update query_rewrite_with_materialized_views.md
  docs/using_starrocks/query_rewrite_with_materialized_views.md
Owners: @StarRocks/docs-maintainer

[Doc] Update Loading_intro.md (#31129)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[BugFix] right join need use right child to derive output property (backport #13660) (#31121)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OutputPropertyDeriver.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ColocateJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q13.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q13.sql
  fe/fe-core/src/test/resources/sql/tpch-histogram-cost/q13.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q13.sql
Owners: @StarRocks/starrocks-committer

[Doc] Add storage support info to export doc (#31049)
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Doc] Add storage support info to export doc (#31049)
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Doc] Add storage support info to export doc (#31049)
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Doc] Add storage support info to export doc (#31049)
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Doc] Add storage support info to export doc (#31049)
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Doc] Add storage support info to export doc (#31049)
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Feature] Support specify sort key of materialized view(backport 19920)(backport 28800) (#31089)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/analysis/ColumnDef.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStatement.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Fix complex distinct query use CTE error (#30881)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CTEUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/CTEPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the invalid skip distance when coping io buffer in datacache.
  be/src/block_cache/io_buffer.cpp
  be/test/block_cache/block_cache_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Remove Node permission requirements in WebBaseAction (#30985)
  fe/fe-core/src/main/java/com/starrocks/http/BaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix starrocks ranger resource miss catalog in view/mv/function bug (#31098)
  fe/fe-core/src/main/java/com/starrocks/privilege/RangerAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix starrocks ranger resource miss catalog in view/mv/function bug (#31098)
  fe/fe-core/src/main/java/com/starrocks/privilege/RangerAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
Owners: @StarRocks/starrocks-committer

add kafka connector release
  docs/ecosystem_release/kafka_connector.md
Owners: @StarRocks/docs-maintainer

[Enhancement] update cn entrypoint for multi warehouse
  docker/dockerfiles/be/cn_entrypoint.sh
Owners: @StarRocks/starrocks-committer

update 2
  be/src/connector/file_connector.cpp
  be/src/connector/hive_connector.cpp
  be/src/connector/lake_connector.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/partition/chunks_partitioner.h
  be/src/exec/partition/partition_hash_map.h
  be/src/exec/pipeline/scan/chunk_source.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix complex distinct query use CTE error (#30881)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CTEUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/CTEPlanTest.java
Owners: @StarRocks/starrocks-committer

update
  be/src/storage/primary_index.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix In-Subquerys use complex-expression as correlation predicate (#30583)
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.tpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/SubqueryUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/CorrelatedPredicateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExistentialApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/QuantifiedApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ScalarApply2JoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
  test/sql/test_subquery/R/test_not_in
  test/sql/test_subquery/T/test_not_in
Owners: @StarRocks/starrocks-committer

add kafka connector release
  docs/TOC.md
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

update
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

add kafka connector release
  docs/ecosystem_release/kafka_connector.md
Owners: @StarRocks/docs-maintainer

add kafka connector release
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

add kafka connector release
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Update Kafka-connector-starrocks.md
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

add tests
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix In-Subquerys use complex-expression as correlation predicate (#30583)
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.tpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/SubqueryUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/CorrelatedPredicateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExistentialApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/QuantifiedApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ScalarApply2JoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
  test/sql/test_subquery/R/test_not_in
  test/sql/test_subquery/T/test_not_in
Owners: @StarRocks/starrocks-committer

[BugFix] Fix In-Subquerys use complex-expression as correlation predicate (#30583)
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.tpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/SubqueryUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/CorrelatedPredicateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExistentialApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/QuantifiedApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ScalarApply2JoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
  test/sql/test_subquery/R/test_not_in
  test/sql/test_subquery/T/test_not_in
Owners: @StarRocks/starrocks-committer

add kafka connector release (#6625)
  TOC.md
  ecosystem_release/kafka_connector.md
  loading/Kafka-connector-starrocks.md
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
