Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

[Enhancement] limit persistent index compaction by disk (#36681)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] limit persistent index compaction by disk (#36681)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support create or replace pipe (#37658)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/CreatePipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/parser, @StarRocks/syntax-committer

[Feature] support create or replace pipe (#37658)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/CreatePipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/parser, @StarRocks/syntax-committer

Update Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

fix mv AggregateType error
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
Owners: @StarRocks/analyzer

Update Flink_cdc_load.md
  docs/en/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

Fix many-to-many mapping refresh result when partition_refresh_num is 1
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TableWithPartitions.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/MVRefreshTestBase.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  test/sql/test_materialized_view/R/test_materialized_view_partial_rewrite
  test/sql/test_materialized_view/R/test_materialized_view_refresh_with_many_to_many
  test/sql/test_materialized_view/T/test_materialized_view_partial_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_refresh_with_many_to_many
Owners: @StarRocks/starrocks-committer

add tests
  test/sql/test_materialized_view/R/test_materialized_view_partial_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_partial_rewrite
Owners: @StarRocks/starrocks-committer

[Feature] support create or replace pipe (#37658)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/CreatePipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/parser, @StarRocks/syntax-committer

Revert "Revert "[Enhancement] Use Starlet's read_all() interface to read metadata in shared data mode (backport #36774)"" (#37680)
  be/src/fs/fs_starlet.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support spill_mem_limit_threshold in resource group (#36701)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/src/runtime/current_thread.h
  be/src/runtime/mem_tracker.h
  be/test/exec/pipeline/pipeline_driver_queue_test.cpp
  be/test/exec/pipeline/query_context_manger_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  gensrc/thrift/WorkGroup.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer, @StarRocks/parser

[Feature] Support Create Table Like for Hive - update CTL for internal catalog
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

Update be/src/common/config.h
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

*: rename simdjson_iterate_batch to simdjson_iterate_batch_size
  be/src/common/config.h
  be/src/exec/json_parser.cpp
  be/test/exec/json_parser_test.cpp
Owners: @StarRocks/starrocks-committer

∫
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] remove unused config tablet_sched_balancer_strategy docs
  docs/en/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
Owners: @StarRocks/docs-maintainer

[Feature] Merge schema in `FILES` schema detection (branch-3.2) (backport #36892) (#37690)
  be/src/exec/file_scanner.cpp
  be/src/exec/file_scanner.h
  be/src/service/internal_service.cpp
  be/src/types/logical_type.h
  be/test/CMakeLists.txt
  be/test/exec/file_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_schema.py
  be/test/exec/test_data/parquet_data/schema1.parquet
  be/test/exec/test_data/parquet_data/schema2.parquet
  be/test/exec/test_data/parquet_data/schema3.parquet
  be/test/exec/test_data/parquet_data/schema4.parquet
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

Add kerberos support in CREATE ROUTINE LOAD
  docs/zh/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add debug msg for pk index
  be/src/storage/lake/update_manager.cpp
  be/src/storage/persistent_index.cpp
Owners: @StarRocks/cloud-native, @StarRocks/starrocks-committer

[Doc] add type=mysql in smt of flink cdc doc (#37689)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

[Doc] add type=mysql in smt of flink cdc doc (#37689)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

[Doc] add type=mysql in smt of flink cdc doc (#37689)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

[Doc] add type=mysql in smt of flink cdc doc (#37689)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

fix test
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[Doc] add type=mysql in smt of flink cdc doc (#37689)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

[Doc] add type=mysql in smt of flink cdc doc (#37689)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

[Enhancement] add switch enable_materialized_view_rewrite_for_insert (#37505)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Fix comment
  be/test/CMakeLists.txt
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] refresh row count info immediately after load (backport #36472) (#37501)
  docs/en/using_starrocks/Cost_based_optimizer.md
  docs/zh/using_starrocks/Cost_based_optimizer.md
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalcUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/BasicStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsMetaManager.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatsConstants.java
  test/lib/sr_sql_lib.py
  test/sql/test_refresh_statistics/R/test_refresh_statistics
  test/sql/test_refresh_statistics/T/test_refresh_statistics
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer, @StarRocks/analyzer, @StarRocks/optimizer

Add kerberos support in CREATE ROUTINE LOAD
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Owners: @StarRocks/docs-maintainer

[Enhancement] add switch enable_materialized_view_rewrite_for_insert (#37505)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Dump metrics with bvar (#27064)
  be/src/common/config.h
  be/src/http/action/metrics_action.cpp
  be/test/http/metrics_action_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] make convert_tz microsecond-aware (#36344)
  be/src/exprs/time_functions.cpp
  be/src/types/timestamp_value.cpp
  be/src/types/timestamp_value.h
  test/sql/test_time_fn/R/test_convert_tz
  test/sql/test_time_fn/T/test_convert_tz
Owners: @StarRocks/starrocks-committer

[Enhancement] Extend interval type for 'date_trunc', 'days_add', 'time_slice' (#36386)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/types/timestamp_value.cpp
  be/src/types/timestamp_value.h
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  test/sql/test_function/R/test_date_trunc
  test/sql/test_function/R/test_days_add
  test/sql/test_function/R/test_time_slice
  test/sql/test_function/T/test_date_trunc
  test/sql/test_function/T/test_days_add
  test/sql/test_function/T/test_time_slice
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] make years_diff/months_diff microsecond-aware (#36326)
  be/src/exprs/time_functions.cpp
  test/sql/test_datetime/R/test_time_diff
  test/sql/test_datetime/T/test_time_diff
Owners: @StarRocks/starrocks-committer

[Doc] Update s3 & hdfs load docs Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/en/loading/hdfs_load.md
  docs/en/loading/s3.md
  docs/zh/loading/hdfs_load.md
  docs/zh/loading/s3.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix select dict_merge err when you execute it in your self-defined warehouse (#10773)
  fe/fe-core/src/main/java/com/starrocks/planner/MetaScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Owners: @StarRocks/parser, @StarRocks/starrocks-committer

[BugFix] fix mv AggregateType error (#37697)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/analyzer, @StarRocks/starrocks-committer
