Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] make hdfs cache pool configurable
  be/src/common/config.h
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  be/src/fs/hdfs/hdfs_fs_cache.h
Owners: @StarRocks/starrocks-committer

lazy open and use read instead pread
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

hdfs io read retry
  be/src/common/config.h
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

move connection creation to lazy part
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

add tiemout
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

retry for libhdfs3
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

fix for comment
  be/src/exec/hdfs_scanner_orc.cpp
Owners: @StarRocks/starrocks-committer

fix bug
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix ut for cache input stream.
  be/test/io/cache_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

fix clang format
  be/src/exec/hdfs_scanner_orc.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix ut for cache input stream. (#29021)
  be/test/io/cache_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix ut for cache input stream. (#29021)
  be/test/io/cache_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

fix compile
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

fix insert sql
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve ORC column reader's performance and add benchmark (#28851)
  be/src/bench/CMakeLists.txt
  be/src/bench/README.md
  be/src/bench/orc_column_reader_bench.cpp
  be/src/column/column_helper.h
  be/src/common/config.h
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/apache-orc/c++/src/Compression.cc
  be/src/formats/orc/column_reader.cpp
  be/src/formats/orc/column_reader.h
  be/src/formats/orc/memory_stream/MemoryInputStream.cc
  be/src/formats/orc/memory_stream/MemoryInputStream.hh
  be/src/formats/orc/memory_stream/MemoryOutputStream.cc
  be/src/formats/orc/memory_stream/MemoryOutputStream.hh
  be/test/CMakeLists.txt
  be/test/formats/orc/orc_chunk_reader_test.cpp
  be/test/formats/orc/orc_lazy_load_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve ORC column reader's performance and add benchmark (#28851)
  be/src/bench/CMakeLists.txt
  be/src/bench/README.md
  be/src/bench/orc_column_reader_bench.cpp
  be/src/column/column_helper.h
  be/src/common/config.h
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/apache-orc/c++/src/Compression.cc
  be/src/formats/orc/column_reader.cpp
  be/src/formats/orc/column_reader.h
  be/src/formats/orc/memory_stream/MemoryInputStream.cc
  be/src/formats/orc/memory_stream/MemoryInputStream.hh
  be/src/formats/orc/memory_stream/MemoryOutputStream.cc
  be/src/formats/orc/memory_stream/MemoryOutputStream.hh
  be/test/CMakeLists.txt
  be/test/formats/orc/orc_chunk_reader_test.cpp
  be/test/formats/orc/orc_lazy_load_test.cpp
Owners: @StarRocks/starrocks-committer

fix finish with error
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support dict filter for struct type in parquet
  be/src/column/struct_column.cpp
  be/src/column/struct_column.h
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/subfield_expr.cpp
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/runtime/descriptor_helper.h
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/test/formats/parquet/file_reader_test.cpp
  be/test/formats/parquet/group_reader_test.cpp
  be/test/formats/parquet/test_data/test_parquet_struct_in_struct.parquet
  docs/loading/RoutineLoad.md
  docs/sql-reference/sql-functions/string-functions/rpad.md
  docs/table_design/Temporary_partition.md
  docs/using_starrocks/Materialized_view-single_table.md
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  gensrc/thrift/Descriptors.thrift
  test/sql/test_external_file/R/test_parquet_struct_in_struct
  test/sql/test_external_file/T/test_parquet_struct_in_struct
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

only use necessary properties
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

fix linting
  docs/loading/S3_Load.md
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

separate doc for S3
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

fix linting
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

add more information
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

replace broker with Broker Load
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

update headings
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

edits based on feedback
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

add ellipsis
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

clarify sentence
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

fix ... again
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

replace SHOW LOAD
  docs/loading/hdfs_load.md
Owners: @StarRocks/docs-maintainer

[Enhancement] libhdfs lazy open and read retry (#28187)
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] libhdfs lazy open and read retry (#28187)
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] libhdfs lazy open and read retry (#28187)
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] libhdfs lazy open and read retry (#28187)
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] libhdfs lazy open and read retry (#28187)
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer
