Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] Support tinyint type for jni connector (#29687)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiColumnValue.java
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/ColumnType.java
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/ColumnValue.java
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapColumnVector.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

[Feature] Support Apache Ranger as StarRocks RBAC Authorizer (#29154)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControlProvider.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/HiveAccessType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-policymgr-ssl.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-servicedef-starrocks.json
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-audit.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-security.xml
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
Owners: @StarRocks/starrocks-committer

[Doc] detail global variable (#29711)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

Delete release-3.1.md
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Enhancement] add nap_sleep() to handle sleep a large portion of time (#29689) (#29773)
  be/src/agent/task_worker_pool.cpp
  be/src/common/daemon.cpp
  be/src/runtime/broker_mgr.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/stream_load/transaction_mgr.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/util/CMakeLists.txt
  be/src/util/misc.cpp
  be/src/util/misc.h
  bin/common.sh
Owners: @StarRocks/starrocks-committer

[Tool] set default jdk11 options if not provided in fe.conf (#29785)
  bin/start_fe.sh
Owners: @StarRocks/starrocks-committer

Fix remove task_run overflow (#29727)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

Fix bug automatic partition table slot_id is not update after schema change (#29879)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[Refactor] disable persistent index minor compaction (#29905)
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

[Doc] update MinIO param desc and value (#29848)
  docs/data_source/catalog/deltalake_catalog.md
  docs/data_source/catalog/hive_catalog.md
  docs/data_source/catalog/hudi_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
  docs/data_source/catalog/paimon_catalog.md
  docs/data_source/file_external_table.md
  docs/loading/cloud_storage_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Feature] Support disable privilege collection cache (#29525) (#29539) (#29776)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

Upgrade ivy due to CVE-2022-46751 (#29696)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

Fix reportAccessDenied mistake set error code (#29767)
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessDeniedException.java
Owners: @StarRocks/starrocks-committer

List partition does not support cool down and add a hint (#29701)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SinglePartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Data import task during the alter process may not complete the publish if enable_sync_publish (#29987)
  be/src/storage/publish_version_manager.cpp
Owners: @StarRocks/starrocks-committer

[Feature]SHOW WAREHOUSES [ LIKE '<pattern>' ] and enrich content of warehouse info (#3850)
  fe/fe-core/src/main/java/com/starrocks/epack/sql/ast/ShowWarehousesStmt.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/parser/AstBuilderEPack.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/warehouse/LocalWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/WarehouseProcDir.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowWarehousesStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/http/ProcWarehousesTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Primary key table data separated by primary key and sort key may be disordered after compaction (#25188)
  be/src/column/schema.cpp
  be/src/column/schema.h
  be/src/storage/merge_iterator.cpp
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Data import task during the alter process may not complete the publish if enable_sync_publish (#29987)
  be/src/storage/publish_version_manager.cpp
Owners: @StarRocks/starrocks-committer

Fix UT.
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] cache view analyze result (#29642) (#30012)
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

remove unnecessary log
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
Owners: @StarRocks/starrocks-committer

tmp
  be/src/exec/hdfs_scanner_text.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] cache view analyze result (#29642) (#30010)
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[Enhancement] cache view analyze result (#29642) (#30011)
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix compling EncodedUtf8Char with -fprofile-arcs
  be/src/util/utf8_encoding.h
Owners: @StarRocks/starrocks-committer

[Tool] support desensitize external table (#29910)
  docs/faq/Dump_query.md
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/HiveTableDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_agg_with_having3.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_join_agg1.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_mv_on_mv1.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_example.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_02.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_08_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_mysql.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001634020.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001636205.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001637259.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001638388.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001641152.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001648605.json
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

[Tool] support desensitize external table (#29910)
  docs/faq/Dump_query.md
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/HiveTableDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_agg_with_having3.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_join_agg1.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_mv_on_mv1.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_example.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_02.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_08_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_mysql.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001634020.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001636205.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001637259.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001638388.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001641152.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001648605.json
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

after format
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

improve
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
Owners: @StarRocks/starrocks-committer

*: clean code
  be/src/exec/arrow_to_starrocks_converter.cpp
  be/test/exec/test_data/parquet_data/generate_datetime.py
Owners: @StarRocks/starrocks-committer

upgrade
  fe/pom.xml
Owners: @StarRocks/starrocks-committer

[BugFix] Primary key table data separated by primary key and sort key may be disordered after compaction (#25188) (#30024)
  be/src/column/schema.cpp
  be/src/column/schema.h
  be/src/storage/merge_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Debug] Add logs for negative audit value
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  be/src/util/stack_util.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix storage_cooldown_ttl for automatic partition (#30021)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix storage_cooldown_ttl for automatic partition (#30021)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

improve
  be/src/exec/hdfs_scanner_text.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix storage_cooldown_ttl for automatic partition (#30021)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix to_bitmap statistics calculator (#29961)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[BugFix] fix to_bitmap statistics calculator (#29961) (#30035)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
