Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] refactor iceberg dict collect
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] refactor iceberg dict collect (#31986)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimze `cosine_similarity` by avx2 (#31906)
  be/src/exprs/math_functions.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary log printing (#31985)
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary log printing (#31985)
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary log printing (#31985)
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimze `cosine_similarity` by avx2 (#31906)
  be/src/exprs/math_functions.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary log printing (#31985)
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
Owners: @StarRocks/starrocks-committer

[Feature] support url_extract_host functions
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix url_extract_host function id
  gensrc/script/functions.py
Owners: @StarRocks/syntax-committer

[Enhancement] Improve the bitmap index cache strategy (#24940) (#25946)
  be/src/common/config.h
  be/src/storage/rowset/bitmap_index_reader.cpp
  be/src/storage/rowset/bitmap_index_reader.h
  be/src/storage/rowset/bloom_filter_index_reader.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/indexed_column_reader.cpp
  be/src/storage/rowset/indexed_column_reader.h
  be/src/storage/rowset/options.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/zone_map_index.cpp
  be/test/storage/rowset/bitmap_index_test.cpp
Owners: @StarRocks/starrocks-committer

fix url_extract_host function definition
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

Revert "fix url_extract_host function definition"
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

fix url_extract_host function definition
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

fix url_extract_host function definition
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

fix url_extract_host function id
  gensrc/script/functions.py
Owners: @StarRocks/syntax-committer

[Feature] support url_extract_host functions
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix url_extract_host function definition
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

Revert "fix url_extract_host function definition"
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] refactor hdfs scan node to thrift and scan optimization options
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MinMaxCountOptOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer

[Feature] optimize query when only partition columns are involved
  be/src/exec/hdfs_scanner_partition.cpp
  be/src/exec/hdfs_scanner_partition.h
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimizeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PartitionColumnValueOnlyOnScanRule.java
Owners: @StarRocks/starrocks-committer

[Refactor] refactor hdfs scan node to thrift and scan optimization options
  be/src/connector/hive_connector.cpp
  be/src/exec/CMakeLists.txt
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimizeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

[Refactor] refactor hdfs scan node to thrift and scan optimization options
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Feature] optimize query when only partition columns are involved (#31993)
  be/src/connector/hive_connector.cpp
  be/src/exec/CMakeLists.txt
  be/src/exec/hdfs_scanner_partition.cpp
  be/src/exec/hdfs_scanner_partition.h
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MinMaxCountOptOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PartitionColumnValueOnlyOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

support refresh iceberg mv by partition
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

support refresh iceberg mv by partition (#31996)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

Fix compile
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix misusing topn runtime filter in row-group filtering (#31762)
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

[BugFix]iceberg partition pruning support cast (#30986)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/ScalarOperatorToIcebergExpr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] filter parquet row group by partition value (#31123)
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

Revert "[Feature] optimize query when only partition columns are involved (#31993)"
  be/src/connector/hive_connector.cpp
  be/src/exec/CMakeLists.txt
  be/src/exec/hdfs_scanner_partition.cpp
  be/src/exec/hdfs_scanner_partition.h
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/LabelMinMaxCountOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MinMaxCountOptOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

Revert "[Feature] optimize query when only partition columns are involved" (#32001)
  be/src/connector/hive_connector.cpp
  be/src/exec/CMakeLists.txt
  be/src/exec/hdfs_scanner_partition.cpp
  be/src/exec/hdfs_scanner_partition.h
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/LabelMinMaxCountOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MinMaxCountOptOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

Fix compile
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[cherry-pick][branch-3.1][Feature] optimize query when only partition columns are involved
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/CMakeLists.txt
  be/src/exec/hdfs_scanner_partition.cpp
  be/src/exec/hdfs_scanner_partition.h
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PartitionColumnValueOnlyOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the bitmap index cache strategy (#24940) (#25946) (#31989)
  be/src/common/config.h
  be/src/storage/rowset/bitmap_index_reader.cpp
  be/src/storage/rowset/bitmap_index_reader.h
  be/src/storage/rowset/bloom_filter_index_reader.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/indexed_column_reader.cpp
  be/src/storage/rowset/indexed_column_reader.h
  be/src/storage/rowset/options.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/zone_map_index.cpp
  be/test/storage/rowset/bitmap_index_test.cpp
Owners: @StarRocks/starrocks-committer

support creating index on mv
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix predicate ref cols from projection not being replaced
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix too many open files when PCU generate too many segment files
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix predicate ref cols from projection not being replaced
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer
