Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/cpp-misc-maintainer, @StarRocks/execution-maintainer, @StarRocks/open-format-maintainer, @StarRocks/storage-maintainer, @StarRocks/docs-maintainer, @StarRocks/docker-maintainer, @StarRocks/metadata-maintainer, @StarRocks/connector-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer, @StarRocks/thread-committer, @StarRocks/restful-maintainer, @StarRocks/load-unload-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# cpp miscellaneous
/be/src/common/     @StarRocks/cpp-misc-maintainer
/be/src/gen_cpp/    @StarRocks/cpp-misc-maintainer
/be/src/gutil/      @StarRocks/cpp-misc-maintainer
/be/src/simd/       @StarRocks/cpp-misc-maintainer
/be/src/testutil/   @StarRocks/cpp-misc-maintainer
/be/src/util/       @StarRocks/cpp-misc-maintainer

# execution engine 
/be/src/column/  @StarRocks/execution-maintainer
/be/src/exec/    @StarRocks/execution-maintainer
/be/src/exprs/   @StarRocks/execution-maintainer
/be/src/runtime/ @StarRocks/execution-maintainer
/be/src/types/   @StarRocks/execution-maintainer
/be/src/udf/     @StarRocks/execution-maintainer

# open formats
/be/src/formats/  @StarRocks/open-format-maintainer

# storage engine 
/be/src/fs/       @StarRocks/storage-maintainer
/be/src/io/       @StarRocks/storage-maintainer
/be/src/storage/  @StarRocks/storage-maintainer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# /docker
/docker/  @StarRocks/docker-maintainer

# metadata
/fe/fe-core/src/main/java/com/starrocks/authentication/             @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/privilege/                  @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/     @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/mysql/                      @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/transaction/                @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/healthchecker/              @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/clone/                      @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/consistency/                @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/ha/                         @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/journal/    @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/leader/     @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/meta/       @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/persist/    @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/alter/      @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/backup/     @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/catalog/    @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/metric/     @StarRocks/metadata-maintainer
/fe/fe-core/src/main/java/com/starrocks/system/     @StarRocks/metadata-maintainer

# connector
/fe/fe-core/src/main/java/com/starrocks/connector/  @StarRocks/connector-maintainer
/fe/fe-core/src/main/java/com/starrocks/credential/  @StarRocks/connector-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/be/src/thirdparty/  @StarRocks/thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

# StorageEngine/ExecEnv/GlobalEnv
/be/src/runtime/exec_env.h @StarRocks/thread-committer
/be/src/runtime/exec_env.cpp @StarRocks/thread-committer
/be/src/storage/olap_server.cpp @StarRocks/thread-committer
/be/src/storage/storage_engine.h @StarRocks/thread-committer
/be/src/storage/storage_engine.cpp @StarRocks/thread-committer
/be/src/service/starrocks_main.cpp @StarRocks/thread-committer
/be/src/service/service_be/starrocks_be.cpp @StarRocks/thread-committer

# restful
/fe/fe-core/src/main/java/com/starrocks/http @StarRocks/restful-maintainer
/be/src/http @StarRocks/restful-maintainer


# load and unload
/fe/fe-core/src/main/java/com/starrocks/load/*                  @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/plan/StreamLoad*        @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/plan/*Sink.java         @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java  @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/sql/LoadPlanner.java    @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/backup/*                @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/alter/Optimize*         @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/alter/Compaction*       @StarRocks/load-unload-maintainer
/fe/fe-core/src/main/java/com/starrocks/catalog/*Partition*     @StarRocks/load-unload-maintainer

/be/src/storage/*                                       @StarRocks/load-unload-maintainer
/be/src/exec/tablet_sink*                               @StarRocks/load-unload-maintainer
/be/src/exec/csv_scanner.cpp                            @StarRocks/load-unload-maintainer
/be/src/exec/json_scanner.cpp                           @StarRocks/load-unload-maintainer
/be/src/exec/pipeline/olap_table_sink_operator.cpp      @StarRocks/load-unload-maintainer
/be/src/formats/avro/*                          @StarRocks/load-unload-maintainer
/be/src/formats/csv/*                           @StarRocks/load-unload-maintainer
/be/src/formats/json/*                          @StarRocks/load-unload-maintainer
/be/src/http/action/compaction_action.cpp       @StarRocks/load-unload-maintainer
/be/src/http/action/*stream_load.cpp    @StarRocks/load-unload-maintainer
/be/src/http/action/restore*            @StarRocks/load-unload-maintainer
/be/src/runtime/routine_load/*          @StarRocks/load-unload-maintainer
/be/src/runtime/stream_load/*           @StarRocks/load-unload-maintainer
/be/src/runtime/load*                   @StarRocks/load-unload-maintainer
/be/src/runtime/tablets_channel.cpp     @StarRocks/load-unload-maintainer
/be/src/runtime/export_sink.cpp         @StarRocks/load-unload-maintainer

[BugFix] remove queries_not_in_workgroup item
  be/src/http/action/pipeline_blocking_drivers_action.cpp
Owners: @StarRocks/restful-maintainer

Enhance datetime format
  fe/fe-core/src/main/java/com/starrocks/common/util/DateUtils.java
  fe/fe-core/src/test/java/com/starrocks/common/util/DateUtilsTest.java
Owners: @StarRocks/starrocks-committer

fix
  be/test/storage/chunk_helper_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Add links to hive files to ranger (#40454)
  docs/en/administration/ranger_plugin.md
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Doc] Add en doc of smt (#40455)
  docs/en/integrations/loading_tools/SMT.md
  docs/en/loading/loading_tools.md
  docs/zh/integrations/loading_tools/SMT.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix default of task_runs_concurrency (#40483)
  docs/en/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
Owners: @StarRocks/docs-maintainer

[Doc] fixed incorrect license header (#40490)
  contrib/trino-connector/README.md
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/StreamLoadConstants.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/StreamLoadDataFormat.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/StreamLoadResponse.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/StreamLoadUtils.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/StreamTableRegion.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/exception/StreamLoadFailException.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/http/StreamLoadEntity.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/http/StreamLoadEntityMeta.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/io/StreamLoadStream.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/properties/StreamLoadProperties.java
  contrib/trino-connector/src/main/java/com/starrocks/data/load/stream/properties/StreamLoadTableProperties.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksClient.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksClientModule.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksConfig.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksErrorCode.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksJdbcConfig.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksOperationApplier.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksOutputTableHandle.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksPageSink.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksPageSinkProvider.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksPlugin.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksWriteConfig.java
  contrib/trino-connector/src/main/java/io/trino/plugin/starrocks/StarRocksWriteSessionProperties.java
Owners: @StarRocks/starrocks-committer
