Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement][Doc] Add cooldown by partitions (#31578)
  docs/sql-reference/sql-statements/data-definition/ALTER TABLE.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

[Enhancement][Doc] Add cooldown by partitions (#31578)
  docs/sql-reference/sql-statements/data-definition/ALTER TABLE.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

[Enhancement][Doc] Add cooldown by partitions (#31578)
  docs/sql-reference/sql-statements/data-definition/ALTER TABLE.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

Update CREATE TABLE.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

remove range join cast
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
Owners: @StarRocks/starrocks-committer

[Feature] Support alter table optimize distribution/partition/orderKey/keyType
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOpType.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOperations.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeTask.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/JobsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/OptimizeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowAlterStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/HashDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/OptimizeClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RandomDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowAlterStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/alter/OptimizeJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/OptimizeProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_optimize_table/R/test_optimize_table
  test/sql/test_optimize_table/T/test_optimize_table
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

support range join with only min/max stats and remove cast
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowOuterJoinRule.java
  test/sql/test_union/R/test_union_all_with_topn
  test/sql/test_union/T/test_union_all_with_topn
Owners: @StarRocks/starrocks-committer

[Enhancement] disable aws sdk curl init
  be/src/service/starrocks_main.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Use default filesystem to manipulate jdbc driver (#30955)
  be/src/runtime/jdbc_driver_manager.cpp
Owners: @StarRocks/starrocks-committer

show create table mv ,show bitmap index and bloomfilter index
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support decimal/decimal(precision) declaration for mysql compatibility (#31548)
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateTableWithDecimalTypesTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ScalarTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/ParserTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support decimal/decimal(precision) declaration for mysql compatibility (#31548)
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateTableWithDecimalTypesTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ScalarTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/ParserTest.java
Owners: @StarRocks/starrocks-committer

[UT] Add ut for handle migration (#31583)
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

opt the null output of append_selective
  be/src/column/nullable_column.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Make QUERIES and RUNNING non-reserved(sync #31328)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

opt the null output of append_selective (#31618)
  be/src/column/nullable_column.cpp
Owners: @StarRocks/starrocks-committer

[UT] Add ut for handle migration (#31583)
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

opt the null output of append_selective
  be/src/column/nullable_column.cpp
Owners: @StarRocks/starrocks-committer

enhance range join
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Null JSON array (#31519)
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Null JSON array (#31519)
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Null JSON array (#31519)
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Null JSON array (#31519)
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] disable aws sdk curl init (#31616)
  be/src/service/starrocks_main.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] disable aws sdk curl init (#31616)
  be/src/service/starrocks_main.cpp
Owners: @StarRocks/starrocks-committer

prefetch
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] disable aws sdk curl init (#31616)
  be/src/service/starrocks_main.cpp
Owners: @StarRocks/starrocks-committer

add
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Set Group Statistics with MaterializedView (#30530)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/DeriveStatsTask.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q11.sql
Owners: @StarRocks/starrocks-committer

[BugFix] Set Group Statistics with MaterializedView (#30530)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/DeriveStatsTask.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q11.sql
Owners: @StarRocks/starrocks-committer

add-cooldown-by-partitions
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[BugFix] Set Group Statistics with MaterializedView (#30530)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/DeriveStatsTask.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q11.sql
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

opt binary column cmp
  be/src/exprs/binary_function.h
Owners: @StarRocks/starrocks-committer

[BugFix] Null JSON array (#31519)
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Null JSON array (#31519)
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] filter parquet row group by partition value (#31123)
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] filter parquet row group by partition value (#31123)
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

[Tool] backport tools (#5101)
  .github/workflows/ci-comment-tools.yml
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer
