Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] BE crashed when get tablet stats in shared data mode (#29930)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  be/src/service/service_be/lake_service.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

fix
  be/src/util/utf8.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Reduce compaction job scheduling interval of shared data cluster
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
Owners: @StarRocks/starrocks-committer

fix
  be/test/exprs/vectorized/string_fn_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] BE crashed when get tablet stats in shared data mode (#29930)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

resolve comments
  docs/unloading/Spark_connector.md
Owners: @StarRocks/docs-maintainer

resolve comments
  docs/unloading/Spark_connector.md
Owners: @StarRocks/docs-maintainer

Only support partition is date type for cool down
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor LoadLoadingTask initialization using Builder pattern (#29877)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
Owners: @StarRocks/starrocks-committer

resolve comments
  docs/unloading/Spark_connector.md
Owners: @StarRocks/docs-maintainer

[Feature] Support the string fucntion TRANSLATE (#29771)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/utf8_encoding.h
  gensrc/script/functions.py
  test/sql/test_function/R/test_translate
  test/sql/test_function/T/test_translate
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] Support the string fucntion TRANSLATE (#29771)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/utf8_encoding.h
  gensrc/script/functions.py
  test/sql/test_function/R/test_translate
  test/sql/test_function/T/test_translate
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

fix
  be/test/exprs/vectorized/string_fn_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] BE crashed when get tablet stats in shared data mode (#29930)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  be/src/service/service_be/lake_service.cpp
Owners: @StarRocks/starrocks-committer

Update Configuration.md
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[更新 date_diff 的语法和使用, 加mysql_server_version ] (#6455)
  administration/Configuration.md
  reference/System_variable.md
  sql-reference/sql-functions/date-time-functions/date_diff.md
  sql-reference/sql-functions/date-time-functions/days_diff.md
Owners: @StarRocks/starrocks-committer

Update README.md
  README.md
Owners: @StarRocks/starrocks-committer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Tool] promote toolchains to 20230823 version (#29813)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
Owners: @StarRocks/starrocks-committer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] add mysql_server_version config doc (#29926)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

Delete date_diff.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

Delete date_diff.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

[Doc] update meaning of `version` variable (#29944)
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

Delete date_diff.md
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
