Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] improve persistent index l0 memory usage
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] remove unstable ut
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] remove unstable ut (#29091)
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] remove unstable ut (#29091)
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] add xxhash function
  be/src/exprs/hash_functions.h
  be/src/util/CMakeLists.txt
  be/src/util/hash_util.cpp
  be/src/util/hash_util.hpp
  be/test/exprs/hash_functions_test.cpp
  docs/sql-reference/sql-functions/hash-functions/xx_hash3_64.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

add benchmark for hash functions
  be/src/bench/CMakeLists.txt
  be/src/bench/hash_functions_bench.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] date_diff function support year/month/quarter/week (#27063)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/time_types.h
  test/sql/test_time_fn/R/test_time_fn
  test/sql/test_time_fn/T/test_time_fn
Owners: @StarRocks/starrocks-committer

[Enhancement] refactor date_diff function (#28276)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/ComplexFunctionCallTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
  gensrc/script/functions.py
  test/sql/test_datetime/R/test_date_diff
  test/sql/test_datetime/T/test_date_diff
  test/sql/test_time_fn/R/test_time_fn
  test/sql/test_time_fn/T/test_time_fn
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] Support reporting proifle for insert into statement when error occurs
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

StoredColumnReader reset() only reset levels
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/formats/parquet/stored_column_reader.h
Owners: @StarRocks/starrocks-committer

[Refactor] move level cache to level decoder
  be/src/formats/parquet/level_codec.cpp
  be/src/formats/parquet/level_codec.h
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/formats/parquet/stored_column_reader.h
Owners: @StarRocks/starrocks-committer

[BugFix] map_element process const input error (#29060)
  be/src/column/const_column.cpp
  be/src/column/const_column.h
  be/src/exprs/map_element_expr.cpp
  test/sql/test_map/R/test_map
  test/sql/test_map/T/test_map
Owners: @StarRocks/starrocks-committer

[BugFix] map_element process const input error (#29060)
  be/src/column/const_column.cpp
  be/src/column/const_column.h
  be/src/exprs/map_element_expr.cpp
  test/sql/test_map/R/test_map
  test/sql/test_map/T/test_map
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor DatabaseTransactionMgr class (#29054)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionNotFoundException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStateListener.java
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor DatabaseTransactionMgr class (#29054)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionNotFoundException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStateListener.java
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor DatabaseTransactionMgr class (#29054)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionNotFoundException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStateListener.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add python examples
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Resolve conflicts
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

Add enable_materialized_view_spill to control whether enable spill in refresh mv
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add python examples
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Update system variables Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

fix npe
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Owners: @StarRocks/starrocks-committer

format
  be/src/formats/parquet/level_codec.h
  be/src/formats/parquet/stored_column_reader.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Update query data sources title Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix hive partition prune error with OR predicate (#28876)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

Fix create table as select analyze policy expr multi times bug (#3200)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
  test/sql/test_security_policy/T/test_create_table_as
Owners: @StarRocks/starrocks-committer

[Doc] Update system variables (#6329)
  reference/System_variable.md
Owners: @StarRocks/starrocks-committer

fix comments
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add case sensibility for storage volume
  fe/fe-core/src/main/java/com/starrocks/common/CaseSensibility.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Owners: @StarRocks/starrocks-committer

[Doc] Update query data sources title (#6330)
  TOC.md
Owners: @StarRocks/starrocks-committer

[BugFix] fix stmt not being executed when enable_query_dump
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor DatabaseTransactionMgr class (#29054)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionNotFoundException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStateListener.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix stmt not being executed when enable_query_dump
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[BugFix] prune complex type need deal with scan without project
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneSubfieldsForComplexType.java
Owners: @StarRocks/starrocks-committer

[BugFix] prune complex type need deal with scan without project
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneSubfieldsForComplexType.java
Owners: @StarRocks/starrocks-committer

[Doc] Add python examples
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer
