Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

update 1
  be/src/exec/pipeline/fragment_executor.cpp
Owners: @StarRocks/starrocks-committer

update 1
  be/src/exec/pipeline/fragment_executor.cpp
Owners: @StarRocks/starrocks-committer

update test
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  test/lib/sr_sql_lib.py
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/pom.xml
  fe/pom.xml
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the issue of missing Routine load information
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
Owners: @StarRocks/starrocks-committer

update 1
  be/src/exec/pipeline/fragment_executor.cpp
Owners: @StarRocks/starrocks-committer

pass criritcal cred to BE
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/HdfsEnvironment.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
Owners: @StarRocks/starrocks-committer

Fix TableAndViewCollector when creating mv with agg or subquery
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Doc] update navigation and shared data mode supports list partitioning (#30140)
  docs/introduction/StarRocks_intro.md
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

fix test cases
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/storagevolume/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer

update navigation
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

set `loaded` flag when config resources loaded
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationConstants.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
Owners: @StarRocks/starrocks-committer

Update navigation (#6496)
  introduction/StarRocks_intro.md
Owners: @StarRocks/starrocks-committer

add supported data types and delete obsolete desc in show partitions (#6495)
  sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  table_design/Data_distribution.md
Owners: @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[Doc] add supported data types and delete obsolete desc in show partitions (#30138)
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[Doc] add supported data types and delete obsolete desc in show partitions (#30138)
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[Doc] add supported data types and delete obsolete desc in show partitions (#30138)
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[Doc] add supported data types and delete obsolete desc in show partitions (#30138)
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

Update Data_distribution.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] refact pg table to compatible with authorization system
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/PostgresSchemaResolver.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/PostgresSchemaResolverTest.java
Owners: @StarRocks/starrocks-committer

Update Data_distribution.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the issue of missing Routine load information (#30204)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the issue of missing Routine load information (#30204)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
Owners: @StarRocks/starrocks-committer

[Doc] add supported data types and delete obsolete desc in show partitions (#30138)
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[Feature] broker load support parquet datetime in microsecond (#29996)
  be/src/exec/arrow_to_starrocks_converter.cpp
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/datetime.parquet
  be/test/exec/test_data/parquet_data/generate_datetime.py
Owners: @StarRocks/starrocks-committer

Fix ExpressionRangePartitionInfo concurrency issue (#30105)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/storagevolume/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer

Fix ExpressionRangePartitionInfo concurrency issue (#30105)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
Owners: @StarRocks/starrocks-committer

Fix ExpressionRangePartitionInfo concurrency issue (#30105)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
Owners: @StarRocks/starrocks-committer

[Enhancement] adjust pindex major compaction thread count to twice the number of disks (#30089)
  be/src/storage/persistent_index_compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Tool] MetaTool support checksum (#30030)
  be/src/storage/task/engine_checksum_task.cpp
  be/src/tools/meta_tool.cpp
  be/src/types/logical_type.h
Owners: @StarRocks/starrocks-committer

[Enhancement] adjust pindex major compaction thread count to twice the number of disks (#30089)
  be/src/storage/persistent_index_compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] adjust pindex major compaction thread count to twice the number of disks (#30089)
  be/src/storage/persistent_index_compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] adjust pindex major compaction thread count to twice the number of disks (#30089)
  be/src/storage/persistent_index_compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
