Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

Update CREATE MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
Owners: @StarRocks/docs-maintainer

[Doc] Remake MV - Part 2 (#31405)
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
  docs/using_starrocks/Materialized_view-single_table.md
  docs/using_starrocks/Materialized_view.md
  docs/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
  docs/using_starrocks/query_rewrite_with_materialized_views.md
Owners: @StarRocks/docs-maintainer

Update Materialized_view.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fail to refresh MV in share_data cluster (#31575)
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fail to refresh MV in share_data cluster (#31575)
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
Owners: @StarRocks/starrocks-committer

[BugFix] Unmatched tablet schema(sync #31374)
  be/src/storage/lake/tablet_manager.cpp
  be/test/storage/lake/tablet_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fail to refresh MV in share_data cluster (#31575)
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support decimal/decimal(precision) declaration for mysql compatibility (#31548)
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateTableWithDecimalTypesTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ScalarTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/ParserTest.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

[Tool] meta review checker
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
  .github/workflows/inspection-pipeline.yml
  .github/workflows/label-action.yml
Owners: @StarRocks/starrocks-committer

debug
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Owners: @StarRocks/starrocks-committer

[Tool] meta review checker
  .github/workflows/ci-pipeline.yml
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] meta review checker
  .github/workflows/ci-pipeline.yml
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

update
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

[Tool] meta review checker
  .github/workflows/ci-pipeline.yml
  .github/workflows/label-action.yml
Owners: @StarRocks/starrocks-committer

[Tool] meta review checker
  .github/workflows/label-action.yml
Owners: @StarRocks/starrocks-committer

[BugFix] Fix OLAP external table sync bug if the target table is partitioned (#30124)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
  fe/fe-core/src/test/java/com/starrocks/external/starrocks/TableMetaSyncerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix OLAP external table sync bug if the target table is partitioned (#30124)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/external/starrocks/TableMetaSyncerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix OLAP external table sync bug if the target table is partitioned (#30124)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/external/starrocks/TableMetaSyncerTest.java
Owners: @StarRocks/starrocks-committer

fix compile error
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Owners: @StarRocks/starrocks-committer

cp
  be/src/exec/CMakeLists.txt
  be/src/exec/data_sink.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/table_function_table_sink.cpp
  be/src/runtime/table_function_table_sink.h
  be/src/util/url_coding.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/DataSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/TableFunctionTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstance.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/planner/TableFunctionTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Fix OLAP external table sync bug if the target table is partitioned (#30124)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/external/starrocks/TableMetaSyncerTest.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
Owners: @StarRocks/starrocks-committer

add-cooldown-by-partitions
  docs/sql-reference/sql-statements/data-definition/ALTER TABLE.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

fix
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
Owners: @StarRocks/starrocks-committer

add-cooldown-by-partitions
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

[Enhancement Test] support range join predicate
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer

fix iceberg catalog type npe
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix io status nullptr check (#31057)
  be/src/exec/parquet_writer.cpp
Owners: @StarRocks/starrocks-committer

opt ut
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

support iceberg column stats
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergFileStats.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
Owners: @StarRocks/starrocks-committer

opt
  be/src/column/binary_column.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement Test] support range join predicate
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] support more functions in statistic
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/BinaryPredicateStatisticCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsEstimateUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticsCalculatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/test_derive_stats.json
Owners: @StarRocks/starrocks-committer

support order by and window clause for statistics function
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add range join session var
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Support release dir size for limit
  be/src/exec/spill/dir_manager.h
  be/src/exec/spill/log_block_manager.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix be crash when upgrading column type
  be/src/column/schema.h
  be/src/storage/convert_helper.cpp
  be/test/storage/convert_helper_test.cpp
Owners: @StarRocks/starrocks-committer

range join and iceberg column stats
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergFileStats.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
