Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] optimize topn 0,0 (#32818)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix segment size in metadata cache (#31978)
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/rowset/bitmap_index_reader.cpp
  be/src/storage/rowset/bitmap_index_reader.h
  be/src/storage/rowset/bloom_filter_index_reader.cpp
  be/src/storage/rowset/bloom_filter_index_reader.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/ordinal_page_index.cpp
  be/src/storage/rowset/ordinal_page_index.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/zone_map_index.cpp
  be/src/storage/rowset/zone_map_index.h
  be/src/storage/tablet_schema.h
  be/test/CMakeLists.txt
  be/test/storage/lake/metadata_cache_test.cpp
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix topn push down bug (#32511)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowOuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowUnionRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PushDownTopnNTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] fix mv on iceberg issues (#32916)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionBench.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] fix mv on iceberg issues (#32916)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionBench.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support mapping table in row and column policy to ignore permission verification (#32398)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[BugFix] No check on success of protobuf serialization (#32581)
  be/src/fs/fs.h
  be/src/storage/delta_column_group.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/protobuf_file.cpp
  be/src/storage/protobuf_file.h
  be/src/storage/tablet_meta.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

Update RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
Owners: @StarRocks/starrocks-committer

[BugFix] optimize topn 0,0 (#32818)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Add dicts of offspring fragments of cached fragments into digest computation (#32673)
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  test/sql/test_query_cache_use_fresh_global_dict/R/test_query_cache_use_fresh_global_dict
  test/sql/test_query_cache_use_fresh_global_dict/T/test_query_cache_use_fresh_global_dict
Owners: @StarRocks/starrocks-committer

[BugFix] Fix meta scan bug for table using light schema change (#32655)
  be/src/exec/olap_meta_scanner.cpp
  be/src/storage/olap_meta_reader.cpp
  be/src/storage/olap_meta_reader.h
  fe/fe-core/src/main/java/com/starrocks/planner/MetaScanNode.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] optimize topn 0,0 (#32818)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Owners: @StarRocks/starrocks-committer

Update RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
Owners: @StarRocks/starrocks-committer

[BugFix] Properties is optional in creating storage volume statement (#32929)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[UT] Fix unstable fe unit tests (#32979)
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/TPCDSCoordTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MultiJoinReorderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PipelineParallelismTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/RemoveAggTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TableFunctionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TracerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] optimize topn 0,0 (#32818)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Owners: @StarRocks/starrocks-committer

Update LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
Owners: @StarRocks/starrocks-committer

Update RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
Owners: @StarRocks/starrocks-committer

[UT] Fix unstable fe unit tests (#32979)
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/TPCDSCoordTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MultiJoinReorderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PipelineParallelismTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/RemoveAggTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TableFunctionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TracerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] ban create iceberg resource table without partition columns case (#32985)
  fe/fe-core/src/main/java/com/starrocks/server/IcebergTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/IcebergTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix TopN RF plan error when SortNode without order by column (#32980)
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix TopN RF plan error when SortNode without order by column (#32980)
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix TopN RF plan error when SortNode without order by column (#32980)
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix TopN RF plan error when SortNode without order by column (#32980)
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] ban create iceberg resource table without partition columns case (#32985)
  fe/fe-core/src/main/java/com/starrocks/server/IcebergTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/IcebergTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix TopN RF plan error when SortNode without order by column (#32980)
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

Add l2_distance function
  be/src/exprs/math_functions.cpp
  be/src/exprs/math_functions.h
  docs/sql-reference/sql-functions/math-functions/l2_distance.md
  gensrc/script/functions.py
  test/sql/test_function/R/test_math
  test/sql/test_function/T/test_math
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

check markdown links
  docs/.github/workflows/markdownlint.yml
  docs/mlc_config.json
Owners: @StarRocks/docs-maintainer

force run
  docs/loading/s3.md
Owners: @StarRocks/docs-maintainer

force run
  docs/loading/s3.md
Owners: @StarRocks/docs-maintainer

[BugFix] use unique column id in partial update by column (#32870)
  be/src/storage/rowset_column_update_state.cpp
  test/sql/test_partial_update_column_mode/R/test_partial_update_drop_column
  test/sql/test_partial_update_column_mode/T/test_partial_update_drop_column
Owners: @StarRocks/starrocks-committer

[Doc] check markdown links workflow (#32992)
  docs/.github/workflows/markdownlint.yml
  docs/mlc_config.json
Owners: @StarRocks/docs-maintainer

[Doc] check markdown links workflow (#32992)
  docs/.github/workflows/markdownlint.yml
  docs/mlc_config.json
Owners: @StarRocks/docs-maintainer

add missing .md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] add missing .md (#32994)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] add missing .md (#32994)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

add link check job
  .github/workflows/ci-doc-checker.yml
  docs/loading/StreamLoad.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer
