Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] fix doc links
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Feature] Support basic partition by range expr table writeable (#31963)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/mvpattern/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExpressionPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ListPartitionDescTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PartitionDescTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] support refresh iceberg incremental partitions
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/Partition.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/TransformUtil.java
Owners: @StarRocks/starrocks-committer

fix per bucket optimize bug
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_per_bucket_optimize/R/test_per_bucket_optimize
  test/sql/test_per_bucket_optimize/T/test_per_bucket_optimize
Owners: @StarRocks/starrocks-committer

fix ut bug
  be/src/storage/storage_engine.cpp
Owners: @StarRocks/starrocks-committer

update codes
  be/src/storage/storage_engine.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix per bucket optimization bug
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_per_bucket_optimize/R/test_per_bucket_optimize
  test/sql/test_per_bucket_optimize/T/test_per_bucket_optimize
Owners: @StarRocks/starrocks-committer

[BugFix] fix per bucket optimization bug
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_per_bucket_optimize/R/test_per_bucket_optimize
  test/sql/test_per_bucket_optimize/T/test_per_bucket_optimize
Owners: @StarRocks/starrocks-committer

fix string partition refresh for hive table
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

optimize and fix iceberg scannode
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
Owners: @StarRocks/starrocks-committer

optimize and fix iceberg scannode (#31972)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
Owners: @StarRocks/starrocks-committer

fix string partition refresh for hive table
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[cherry-pick]fix string partition refresh for hive table (#31973)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[WIP][BugFix] Fix str2date partitioned mv (#31964)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix iceberg dict collect during merge
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix iceberg dict collect during merge (#31974)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
Owners: @StarRocks/starrocks-committer

[Doc] Release 2.5.13 (#6720)
  release_notes/release-2.5.md
Owners: @StarRocks/starrocks-committer

Revert "[Doc] Release 2.5.13 (#6720)" (#6722)
  release_notes/release-2.5.md
Owners: @StarRocks/starrocks-committer

Fix conjuncts error
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

Fix conjuncts error (#31975)
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

Revert "Fix conjuncts error (#31975)"
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

Revert "[Enhancement] iceberg support global dict collect and rewrite query (#31960)"
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictMappingOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

Revert "[BugFix] fix iceberg dict collect during merge (#31974)"
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
Owners: @StarRocks/starrocks-committer

Revert "Fix conjuncts error (#31975)"
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

Revert "[BugFix] fix iceberg dict collect during merge (#31974)"
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
Owners: @StarRocks/starrocks-committer

Revert "[Enhancement] iceberg support global dict collect and rewrite query (#31960)"
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictMappingOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

Fix conjuncts error (#31975)
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix iceberg dict collect during merge (#31974)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
Owners: @StarRocks/starrocks-committer

[Enhancement] iceberg support global dict collect and rewrite query (#31960)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictMappingOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

[Doc] fix doc links (#31965)
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Doc] fix doc links (#31965)
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Doc] fix doc links (#31965)
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Doc] fix doc links (#31965)
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Doc] fix doc links (#31965)
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Doc] fix doc links (#31965)
  docs/sql-reference/sql-functions/json-functions/overview-of-json-functions-and-operators.md
  docs/sql-reference/sql-functions/string-functions/character_length.md
  docs/sql-reference/sql-statements/data-definition/ALTER MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-manipulation/insert.md
  docs/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

review comment fixes
  docs/assets/commonMarkdown/sharedDataCNconf.md
  docs/assets/commonMarkdown/sharedDataUse.md
Owners: @StarRocks/docs-maintainer

WIP
  docs/assets/commonMarkdown/sharedDataCNconf.md
  docs/assets/commonMarkdown/sharedDataIntro.md
  docs/deployment/shared_data/azure.md
  docs/deployment/shared_data/minio.md
Owners: @StarRocks/docs-maintainer

Enhancement of intersection
  be/src/storage/range.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Only create necessay partitions when refreshing mv by partition
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary log printing
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
Owners: @StarRocks/starrocks-committer
