Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hive partition prune error with OR predicate (#28876)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hive partition prune error with OR predicate (#28876)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] libhdfs lazy open and read retry (#28187)
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] fix orc prepare cache read and support tiny stripes read (#28471)
  be/src/common/config.h
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Reader.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.hh
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

[Enhancement] fix orc prepare cache read and support tiny stripes read (#28471)
  be/src/common/config.h
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Reader.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.hh
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

fix insert overwrite bug with duplicate target partitions (#27545)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] fix orc prepare cache read and support tiny stripes read (#28471)
  be/src/common/config.h
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Reader.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.hh
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

[Enhancement] fix orc prepare cache read and support tiny stripes read (#28471)
  be/src/common/config.h
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Reader.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.hh
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

[Enhancement] make hdfs cache pool configurable (#29020)
  be/src/common/config.h
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  be/src/fs/hdfs/hdfs_fs_cache.h
Owners: @StarRocks/starrocks-committer

support retry failed files
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClauseRetry.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] make hdfs cache pool configurable (#29020)
  be/src/common/config.h
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  be/src/fs/hdfs/hdfs_fs_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix hdfs cache pool
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  be/src/fs/hdfs/hdfs_fs_cache.h
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer

fix loading status
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Handling new privilege entry compatibility issue
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ForwardCompatiblePEntryObject.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix table is lost bug where create/drop db and table concurrently (#28985)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix table is lost bug where create/drop db and table concurrently (#28985)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix table is lost bug where create/drop db and table concurrently (#28985)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix table is lost bug where create/drop db and table concurrently (#28985)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
Owners: @StarRocks/starrocks-committer

fix forward to leader
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DescPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/ShowPipeStmt.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Handling new privilege entry compatibility issue (#28955)
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ForwardCompatiblePEntryObject.java
Owners: @StarRocks/starrocks-committer

hide error line and error count
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/PipeFileSystemTable.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix orc date column bug
  be/src/formats/orc/column_reader.cpp
  be/test/CMakeLists.txt
  be/test/formats/orc/orc_column_reader_test.cpp
Owners: @StarRocks/starrocks-committer

support insert property
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Reduce memory copies and fix some clang-tidy warnings (#7341)
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix scalarOperator not being negated correctly (#28984)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ColumnRefOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/NegateFilterShuttle.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/SelectStmtWithCaseWhenTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriterTest.java
  fe/fe-core/src/test/resources/sql/query_dump/reduce_transformation_1.json
  fe/fe-core/src/test/resources/sql/query_dump/reduce_transformation_2.json
  fe/fe-core/src/test/resources/sql/query_dump/reduce_transformation_3.json
  test/sql/test_case_when/R/test_case_when
  test/sql/test_case_when/T/test_case_when
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix un-groupby column in having subquery bug (#28828)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubqueryRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Reduce memory copies and fix some clang-tidy warnings (#7341) (#29042)
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
Owners: @StarRocks/starrocks-committer

[BugFix] prune complex type need deal with scan without project
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneSubfieldsForComplexType.java
Owners: @StarRocks/starrocks-committer

[BugFix] prune complex type need deal with scan without project
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneSubfieldsForComplexType.java
Owners: @StarRocks/starrocks-committer

support partial_update and merge_condition
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Pass TAgentTaskRequest by pointer to reduce memory copies (#7415)
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
Owners: @StarRocks/starrocks-committer

Update Data_distribution.md for create table bucket (#6320)
  table_design/Data_distribution.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Add counters for FragmentExecutor::execute
  be/src/exec/pipeline/fragment_executor.cpp
Owners: @StarRocks/starrocks-committer

add-note-for-auto-bucket-number-setting
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
