Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] Fix In-Subquerys use complex-expression as correlation predicate (#30583)
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.tpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/SubqueryUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/CorrelatedPredicateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExistentialApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/QuantifiedApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ScalarApply2JoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
  test/sql/test_subquery/R/test_not_in
  test/sql/test_subquery/T/test_not_in
Owners: @StarRocks/starrocks-committer

[Refactor] refactor mv expression rewrite (#30111)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewHiveTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Add a new config enable_drop_tablet_if_unfinished_txn when dropping tablet (#30847)
  be/src/agent/agent_task.cpp
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

[Refactor] Add a new config enable_drop_tablet_if_unfinished_txn when dropping tablet (#30847)
  be/src/agent/agent_task.cpp
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix sort key bug in vertical compaction of cloud native table (#31097)
  be/src/storage/lake/vertical_compaction_task.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support prepare statement (#27840)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_result_writer.h
  be/src/runtime/result_sink.cpp
  be/src/runtime/result_sink.h
  be/src/util/mysql_global.h
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
  fe/fe-core/src/main/java/com/starrocks/analysis/DateLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/IntLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/Parameter.java
  fe/fe-core/src/main/java/com/starrocks/analysis/StringLiteral.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/PrepareStmtContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PrepareAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DeallocateStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExecuteStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PrepareStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/PreparedStmtTest.java
  gensrc/thrift/DataSinks.thrift
  test/sql/test_preparestatement/R/test_preprare_statement
  test/sql/test_preparestatement/T/test_preprare_statement
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Remove Node permission requirements in WebBaseAction (#30985)
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
Owners: @StarRocks/starrocks-committer

[BugFix] Remove Node permission requirements in WebBaseAction (#30985)
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
Owners: @StarRocks/starrocks-committer

Update kafka_connector.md
  docs/ecosystem_release/kafka_connector.md
Owners: @StarRocks/docs-maintainer

[Refactor][BugFix][CherryPick] refactor mv expression rewrite for 2.5 (#30111) (#30734)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewHiveTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix a typo in error message
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

[BugFix] refactor cloud native pk table publish & fix local persistent index usage (backport #30504) (#30968)
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/persistent_index.h
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30835)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30835)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30835)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Refactor] Add a new config enable_drop_tablet_if_unfinished_txn when dropping tablet (#30847)
  be/src/agent/agent_task.cpp
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

[Refactor] Add a new config enable_drop_tablet_if_unfinished_txn when dropping tablet (#30847)
  be/src/agent/agent_task.cpp
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

[Refactor] Add a new config enable_drop_tablet_if_unfinished_txn when dropping tablet (#30847)
  be/src/agent/agent_task.cpp
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

test: update OrcChunkReaderTest.get_file_schema
  be/test/exec/test_data/orc_scanner/compound.orc
  be/test/exec/test_data/orc_scanner/generate_compound.py
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine error prompt (#31056)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine error prompt (#31056)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine error prompt (#31056)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine error prompt (#31056)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

update codes
  fe/fe-core/src/main/java/com/starrocks/load/ExportJob.java
Owners: @StarRocks/starrocks-committer

test: add nested nested test case
  be/test/exec/test_data/orc_scanner/compound.orc
  be/test/exec/test_data/orc_scanner/generate_compound.py
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support create analyze job for external table
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateAnalyzeJobStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowAnalyzeJobStmt.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalAnalyzeJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticAutoCollector.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateAnalyzeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] right join need use right child to derive output property (backport #13660)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OutputPropertyDeriver.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ColocateJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q13.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q13.sql
  fe/fe-core/src/test/resources/sql/tpch-histogram-cost/q13.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q13.sql
Owners: @StarRocks/starrocks-committer

Fix UserPrivilegeCollectionV2 was not compatible bug Signed-off-by: HangyuanLiu <460660596@qq.com>
  fe/fe-core/src/main/java/com/starrocks/persist/UserPrivilegeCollectionInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/UserPrivilegeCollectionInfoDeprecated.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] hive sink use the same get_partition_value_string with table function table sink (#30991)
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.h
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
Owners: @StarRocks/starrocks-committer

[BugFix] Remove Node permission requirements in WebBaseAction (#30985)
  fe/fe-core/src/main/java/com/starrocks/http/BaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
Owners: @StarRocks/starrocks-committer

[Feature]Add warehouse info in show load (#4645)
  fe/fe-core/src/main/java/com/starrocks/common/proc/LoadProcDir.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRoutineLoadStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowLoadStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowRoutineLoadStmtTest.java
Owners: @StarRocks/starrocks-committer

*: clang format
  be/src/runtime/types.h
Owners: @StarRocks/starrocks-committer

change format to H3
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

enhance row group filtering if parquet column min equals max
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

resolve conflict
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

optimize scan dop when shared scan
  be/src/common/config.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/scan_node.cpp
  be/src/exec/scan_node.h
Owners: @StarRocks/starrocks-committer

[Feature] Turn on query cache in default
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryCacheTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/resources/sql/scheduler/aggregate/agg_local_one_phase_non_partition_one_exchange.sql
Owners: @StarRocks/starrocks-committer

change format to H3
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer
