Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

parqeut reader support iceberg partition column return const column
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Refactor] iceberg and paimon table adapt to partition prune (#31393)
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] iceberg and paimon table adapt to partition prune (#31393)
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
Owners: @StarRocks/starrocks-committer

[Feature] add support for str_to_jodatime function (#27540)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/str_to_jodatime.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] add support for str_to_jodatime function (#27540)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/str_to_jodatime.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Doc] fix build error
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Feature] add support for str_to_jodatime function (#27540)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/str_to_jodatime.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] Support show stats meta for external table
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowBasicStatsMetaStmt.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalBasicStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[Feature] add support for str_to_jodatime function (#27540)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/str_to_jodatime.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] add support for str_to_jodatime function (#27540)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/str_to_jodatime.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] Add some query read prefetch statistics (#31165)
  be/src/connector/lake_connector.cpp
  be/src/fs/fs_starlet.cpp
  be/src/storage/olap_common.h
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] update cn entrypoint for multi warehouse (#31139)
  docker/dockerfiles/be/cn_entrypoint.sh
Owners: @StarRocks/starrocks-committer

update and re-trigger
  java-extensions/hadoop-ext/src/main/java/org/apache/hadoop/fs/FileSystem.java
Owners: @StarRocks/starrocks-committer

[Doc] fix build error (#31422)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Refine error prompt (#31416)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Doc] fix build error (#31422)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] fix build error (#31422)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Refine error prompt (#31416)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine error prompt (#31416)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Doc] fix build error (#31422)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Refine error prompt (#31416)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Doc] fix build error (#31422)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] fix build error (#31422)
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add debug log for colocate group bucket seq change (#31324)
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/clone/ColocateTableBalancer.java
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/test/java/com/starrocks/common/util/LogUtilTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add debug log for colocate group bucket seq change (#31324)
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/clone/ColocateTableBalancer.java
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/test/java/com/starrocks/common/util/LogUtilTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine error prompt (#31416)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Enhancement]Set the commit hash to a fixed length. (#31425)
  build.sh
Owners: @StarRocks/starrocks-committer

[Tool] Upload BE UT log (#31397)
  .github/workflows/ci-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

[Tool] Upload BE UT log (#31397)
  .github/workflows/ci-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

[Refactor] check status of functions (#31262)
  be/src/exec/chunks_sorter.h
  be/src/exec/chunks_sorter_full_sort.h
  be/src/exec/chunks_sorter_heap_sort.h
  be/src/exec/chunks_sorter_topn.h
  be/src/exec/pipeline/sort/local_partition_topn_context.cpp
  be/src/exec/pipeline/sort/local_partition_topn_context.h
  be/src/exec/pipeline/sort/sort_context.cpp
  be/src/exec/pipeline/sort/sort_context.h
  be/src/exec/sorting/merge.h
  be/src/exec/sorting/merge_cascade.cpp
  be/src/exec/sorting/merge_column.cpp
  be/src/runtime/chunk_cursor.h
  be/test/exec/chunks_sorter_heap_sort_test.cpp
  be/test/exec/chunks_sorter_test.cpp
  be/test/exec/sorting_test.cpp
  be/test/http/message_body_sink_test.cpp
  be/test/runtime/memory_scratch_sink_test.cpp
  be/test/runtime/memory_scratch_sink_test_issue_8676.cpp
  be/test/runtime/user_function_cache_test.cpp
  be/test/storage/options_test.cpp
Owners: @StarRocks/starrocks-committer

[group_concat support distinct and order by] (#6674)
  reference/System_variable.md
  sql-reference/sql-functions/string-functions/group_concat.md
Owners: @StarRocks/starrocks-committer

[BugFix] fix current thread exit crash
  be/src/runtime/current_thread.cpp
Owners: @StarRocks/starrocks-committer
