Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] sasl enable kerberos support (#32483)
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/sasl2-add-k5support-link.patch
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet (#32996)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Handle file writer init error (#33019)
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet (#32996)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] allow create mv sql with bitmap index(sync #32637) (#6461)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStatement.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[UT] ParquetScannerTest.optional_map_key failure (#33012)
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (backport #32827)
  fe/fe-core/src/main/java/com/starrocks/common/util/ParseUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

add 3.0.7 rn
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[fix link 1018] (#6880)
  sql-reference/sql-statements/data-definition/CREATE_MATERIALIZED_VIEW.md
  sql-reference/sql-statements/data-definition/CREATE_TABLE_AS_SELECT.md
  sql-reference/sql-statements/data-definition/DROP_MATERIALIZED_VIEW.md
  using_starrocks/Using_HLL.md
Owners: @StarRocks/starrocks-committer

[Enhancement] sasl enable kerberos support (#32483)
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/sasl2-add-k5support-link.patch
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize thread pool usage in shared data mode (#32823)
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/lake/vacuum.cpp
  be/src/storage/lake/vacuum.h
  be/src/testutil/sync_point.h
  be/src/util/threadpool.cpp
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/tablet_writer_test.cpp
  be/test/storage/lake/test_util.h
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  gensrc/proto/lake_service.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize thread pool usage in shared data mode (#32823)
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/lake/vacuum.cpp
  be/src/storage/lake/vacuum.h
  be/src/testutil/sync_point.h
  be/src/util/threadpool.cpp
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/tablet_writer_test.cpp
  be/test/storage/lake/test_util.h
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  gensrc/proto/lake_service.proto
Owners: @StarRocks/starrocks-committer

Enable sync publish by default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

add 3.0.7 rn
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[BugFix] resolve conflicts
  be/src/runtime/exec_env.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/tablet_manager.cpp
Owners: @StarRocks/starrocks-committer

add 3.0.7 rn (#6869)
  release_notes/release-3.0.md
Owners: @StarRocks/starrocks-committer

[Doc] add 3.0.7 rn (#33033)
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Optimize segment open for cloud native tablet (#32996) (#33027)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

Update CREATE_MATERIALIZED_VIEW.md
  docs/sql-reference/sql-statements/data-definition/CREATE_MATERIALIZED_VIEW.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
