Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/docker-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer, @StarRocks/thread-committer, @StarRocks/restful-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# /docker
/docker/  @StarRocks/docker-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

# StorageEngine/ExecEnv/GlobalEnv
/be/src/runtime/exec_env.h @StarRocks/thread-committer
/be/src/runtime/exec_env.cpp @StarRocks/thread-committer
/be/src/storage/olap_server.cpp @StarRocks/thread-committer
/be/src/storage/storage_engine.h @StarRocks/thread-committer
/be/src/storage/storage_engine.cpp @StarRocks/thread-committer
/be/src/service/starrocks_main.cpp @StarRocks/thread-committer
/be/src/service/service_be/starrocks_be.cpp @StarRocks/thread-committer

# restful
/fe/fe-core/src/main/java/com/starrocks/http @StarRocks/restful-maintainer
/be/src/http @StarRocks/restful-maintainer

Update ConcurrentDDLTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

Update ConcurrentDDLTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix mv rewrite when mv's plan has having expressions (#39089)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[BugFix] Fix mv rewrite when mv's plan has having expressions (#39089)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[BugFix] Fix mv rewrite when mv's plan has having expressions (#39089)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Enhancement] save memmove in compressed input stream (#38691)
  be/src/io/compressed_input_stream.cpp
  be/src/io/compressed_input_stream.h
  be/src/util/compression/stream_compression.cpp
  be/src/util/compression/stream_compression.h
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] save memmove in compressed input stream (#38691)
  be/src/io/compressed_input_stream.cpp
  be/src/io/compressed_input_stream.h
  be/src/util/compression/stream_compression.cpp
  be/src/util/compression/stream_compression.h
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] save memmove in compressed input stream (#38691)
  be/src/io/compressed_input_stream.cpp
  be/src/io/compressed_input_stream.h
  be/src/util/compression/stream_compression.cpp
  be/src/util/compression/stream_compression.h
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

Update FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[Doc] Update ranger_plugin.md (#39127)
  docs/en/administration/ranger_plugin.md
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Doc] Update ranger_plugin.md (#39127)
  docs/en/administration/ranger_plugin.md
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Doc] Update ranger_plugin.md (#39127)
  docs/en/administration/ranger_plugin.md
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Print Drop tablet log when dropping table (#39109)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

Update ci-pipeline.yml
  .github/workflows/ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

Update README
  fe/README
Owners: @StarRocks/starrocks-committer

[Feature] Support rewriting footer of segment files replicated from another cluster to correct column unique id (#38983)
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/CMakeLists.txt
  be/src/storage/file_stream_converter.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/segment_stream_converter.cpp
  be/src/storage/segment_stream_converter.h
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/agent/agent_task_test.cpp
  be/test/http/http_client_test.cpp
  be/test/storage/lake/replication_txn_manager_test.cpp
  be/test/storage/replication_txn_manager_test.cpp
  be/test/storage/segment_stream_converter_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/proto/lake_types.proto
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer, @StarRocks/restful-maintainer, @StarRocks/cloud-native

[doc]Update CREATE_TABLE.md (#35562)
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[doc]Update CREATE_TABLE.md (#35562)
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[doc]Update CREATE_TABLE.md (#35562)
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[doc]Update CREATE_TABLE.md (#35562)
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix mv rewrite when mv's plan has having expressions (#39089)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

change the default value of a be config
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

change the default value of a be config
  docs/en/administration/BE_configuration.md
Owners: @StarRocks/docs-maintainer

Update ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-merged-sonarcloud-fe.yml
Owners: @StarRocks/starrocks-committer

[Enhancement] Adaptive coalesce active column and lazy column in ORC (#39036)
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

[Doc] Update ranger_plugin.md (#39127)
  docs/en/administration/ranger_plugin.md
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Feature] Support rewriting footer of segment files replicated from another cluster to correct column unique id (#38983)
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/CMakeLists.txt
  be/src/storage/file_stream_converter.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/segment_stream_converter.cpp
  be/src/storage/segment_stream_converter.h
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/http/http_client_test.cpp
  be/test/storage/lake/replication_txn_manager_test.cpp
  be/test/storage/segment_stream_converter_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/proto/lake_types.proto
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer, @StarRocks/restful-maintainer, @StarRocks/cloud-native

[Feature] Support rewriting footer of segment files replicated from another cluster to correct column unique id (#38983)
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/CMakeLists.txt
  be/src/storage/file_stream_converter.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/segment_stream_converter.cpp
  be/src/storage/segment_stream_converter.h
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/http/http_client_test.cpp
  be/test/storage/segment_stream_converter_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/proto/lake_types.proto
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer, @StarRocks/restful-maintainer, @StarRocks/cloud-native

doc: add type mapping doc
  docs/en/data_source/catalog/maxcompute_catalog.md
  docs/zh/data_source/catalog/maxcompute_catalog.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add more lock info in sys fe_locks (#38973)
  be/src/exec/schema_scanner/sys_fe_locks.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
  fe/fe-core/src/test/java/com/starrocks/catalog/system/sys/SysFeLocksTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Adaptive coalesce active column and lazy column in ORC (#39036)
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Adaptive coalesce active column and lazy column in ORC (#39036)
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

[Enhancement] save memmove in compressed input stream (#38691)
  be/src/io/compressed_input_stream.cpp
  be/src/io/compressed_input_stream.h
  be/src/util/compression/stream_compression.cpp
  be/src/util/compression/stream_compression.h
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add more lock info in sys fe_locks (#38973)
  be/src/exec/schema_scanner/sys_fe_locks.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
  fe/fe-core/src/test/java/com/starrocks/catalog/system/sys/SysFeLocksTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

add hybrid table
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

add hybrid table
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Tool] Sonarcloud use JDK17
  .github/workflows/ci-comment-tools.yml
  fe/README
Owners: @StarRocks/starrocks-committer

[Tool] Sonarcloud use JDK17
  fe/README
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

[Doc] change the default value of a be config (#39088)
  docs/en/administration/BE_configuration.md
  docs/en/reference/System_variable.md
  docs/en/release_notes/release-3.0.md
  docs/zh/administration/BE_configuration.md
  docs/zh/reference/System_variable.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer
