Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] Refine profile to support visualization refactor(4) (#31380)
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(4) (#31380)
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(4) (#31380)
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(4) (#31380)
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

fix UT PartitionBasedMvRefreshProcessorTest dependency of paimon.Snappy
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve merge conflicts
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Limit RPC max concurrency of lake service (#31910)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(4) (#31380)
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add PushDownTopNBelowUnionRule to support push down topn below union all (#31475)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowOuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowUnionRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitScanORToUnionRule.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PushDownTopnNTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetTest.java
  fe/fe-core/src/test/resources/sql/query_dump/union_all_with_topn_runtime_filter.json
  test/sql/test_materialized_view/R/test_materialized_view_union
  test/sql/test_materialized_view/T/test_materialized_view_union
  test/sql/test_union/R/test_union_all_with_topn
  test/sql/test_union/T/test_union_all_with_topn
Owners: @StarRocks/starrocks-committer

[BugFix] Rebuild materialized index meta after schema change (#31577)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add PushDownTopNBelowUnionRule to support push down topn below union all (#31475)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowOuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowUnionRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitScanORToUnionRule.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PushDownTopnNTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetTest.java
  fe/fe-core/src/test/resources/sql/query_dump/union_all_with_topn_runtime_filter.json
  test/sql/test_materialized_view/R/test_materialized_view_union
  test/sql/test_materialized_view/T/test_materialized_view_union
  test/sql/test_union/R/test_union_all_with_topn
  test/sql/test_union/T/test_union_all_with_topn
Owners: @StarRocks/starrocks-committer

[BugFix] Rebuild materialized index meta after schema change (#31577)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] Rebuild materialized index meta after schema change (#31577)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] Rebuild materialized index meta after schema change (#31577)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add PushDownTopNBelowUnionRule to support push down topn below union all (#31475)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowOuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowUnionRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitScanORToUnionRule.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PushDownTopnNTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetTest.java
  fe/fe-core/src/test/resources/sql/query_dump/union_all_with_topn_runtime_filter.json
  test/sql/test_materialized_view/R/test_materialized_view_union
  test/sql/test_materialized_view/T/test_materialized_view_union
  test/sql/test_union/R/test_union_all_with_topn
  test/sql/test_union/T/test_union_all_with_topn
Owners: @StarRocks/starrocks-committer

[Tool] Upgrade ftm from 7.0.3 to 8.1.1. (#26057)
  be/src/fs/fs_broker.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
  be/src/runtime/mysql_table_writer.cpp
  be/src/storage/task/engine_clone_task.cpp
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some unload issues (#32151)
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/level_builder.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Datacache sql management, only support blacklist in this pr (#31105)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheExprRewriter.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheMgr.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheOptions.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheRule.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DatacacheStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ClearDatacacheRulesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateDatacacheRuleStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropDatacacheRuleStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowDatacacheRulesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/DatacacheStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/datacache/DatacacheMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DatacachePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] use resolveExpr to resolve the materialized view's partition expr
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some profile problems
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
Owners: @StarRocks/starrocks-committer

skip building ht in hash join build side if query is cancelled
  be/src/exec/hash_join_components.cpp
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(4) (#31380)
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.cpp
  be/src/runtime/sender_queue.h
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

update 1
  be/test/util/runtime_profile_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Add Iceberg table creation info to CREATE TABLE doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/sql-reference/sql-statements/data-definition/CREATE DATABASE.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Release useless memory in advance
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergSplitScanTask.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix UT PartitionBasedMvRefreshProcessorTest for paimon.Snappy (#32211)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

[BugFix] fix UT PartitionBasedMvRefreshProcessorTest for paimon.Snappy (#32211)
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

update 1
  build.sh
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Rename variable's name from Datacache to DataCache
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheExprRewriter.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheMgr.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheOptions.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheRule.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DataCacheStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ClearDataCacheRulesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateDataCacheRuleStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropDataCacheRuleStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowDataCacheRulesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/DataCacheStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/datacache/DataCacheMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DataCachePlanTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

unit test
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergHadoopCatalogTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Update Iceberg catalog & CREATE TABLE docs Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/data_source/catalog/iceberg_catalog.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
Owners: @StarRocks/docs-maintainer

fix iceberg table rewrite when base table has updated
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
Owners: @StarRocks/starrocks-committer

update dependency
  fe/fe-core/pom.xml
  fe/pom.xml
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

delete unnecessary code
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
Owners: @StarRocks/starrocks-committer

*: cast expr
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
Owners: @StarRocks/starrocks-committer

*: replace buildExecExpression
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
Owners: @StarRocks/starrocks-committer

Update lock and add comment
  be/src/storage/lake/tablet_manager.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix segment size in metadata cache
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/rowset/bitmap_index_reader.cpp
  be/src/storage/rowset/bitmap_index_reader.h
  be/src/storage/rowset/bloom_filter_index_reader.cpp
  be/src/storage/rowset/bloom_filter_index_reader.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/ordinal_page_index.cpp
  be/src/storage/rowset/ordinal_page_index.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/zone_map_index.cpp
  be/src/storage/rowset/zone_map_index.h
  be/src/storage/tablet_schema.h
  be/test/CMakeLists.txt
  be/test/storage/lake/metadata_cache_test.cpp
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer
