Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

Delete two parms from and add query_timeout to loading overview doc (#6556)
  faq/loading/Insert_into_faq.md
  loading/Loading_intro.md
Owners: @StarRocks/starrocks-committer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

update
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/runtime/table_function_table_sink.h
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

fix paimon table column can not be nullable
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
Owners: @StarRocks/starrocks-committer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Feature] support snappy stream decompression
  be/src/util/compression/stream_compression.cpp
  be/test/exec/test_data/csv_scanner/decompress_test0.csv.snappy
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

fix prefix name in sql-tester case
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

fix ut case
  be/src/exec/hdfs_scanner_text.cpp
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

fix be test case
  be/test/exec/test_data/csv_scanner/decompress_test0.csv.snappy
  be/test/exec/test_data/csv_scanner/decompress_test1.csv.snappy
  be/test/io/compressed_input_stream_test.cpp
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

fix ut
  be/src/io/compressed_input_stream.cpp
  be/src/util/coding.h
  be/src/util/compression/stream_compression.cpp
  be/test/exec/test_data/csv_scanner/decompress_test1.csv.snappy
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

add test cases
  be/src/exec/hdfs_scanner_text.cpp
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

[Doc] Deprecate two params from and add query_timeout to load overview doc (#30701)
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix range predicate rewrite by canonicalization (#30382) (#30711)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ConstantOperatorDiscreteDomain.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/operator/operator/ConstantOperatorTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Delete two parms from and add query_timeout to loading overview doc (#6565)
  loading/Loading_intro.md
Owners: @StarRocks/starrocks-committer

[Doc] Delete two parms from and add query_timeout to loading overview doc (#6566)
  loading/Loading_intro.md
Owners: @StarRocks/starrocks-committer

[BugFix] remove unused partition column from chunk for hudi mor table
  be/src/exec/jni_scanner.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix parquet compile failed in gcc-12 (#30705)
  be/src/formats/parquet/column_read_order_ctx.h
Owners: @StarRocks/starrocks-committer

fixup 2
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix parquet compile failed in gcc-12 (#30705)
  be/src/formats/parquet/column_read_order_ctx.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix range predicate rewrite by canonicalization (#30382)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ConstantOperatorDiscreteDomain.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/operator/operator/ConstantOperatorTest.java
Owners: @StarRocks/starrocks-committer

[Doc] xxx Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix range predicate rewrite by canonicalization (#30382)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ConstantOperatorDiscreteDomain.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/operator/operator/ConstantOperatorTest.java
Owners: @StarRocks/starrocks-committer

refactor flink connector according to rd's input (#6515)
  loading/Flink-connector-starrocks.md
Owners: @StarRocks/starrocks-committer

Delete two parms from and add query_timeout to loading overview doc in 2.2 (#6567)
  loading/Loading_intro.md
Owners: @StarRocks/starrocks-committer

[Refactor] refactor mv expression rewrite (#30111)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix limit offset rewrite error
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeLimitWithLimitRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
  test/sql/test_limit/R/test_limit
  test/sql/test_limit/T/test_limit
Owners: @StarRocks/starrocks-committer

[BugFix] Fix parquet compile failed in gcc-12 (#30705)
  be/src/formats/parquet/column_read_order_ctx.h
Owners: @StarRocks/starrocks-committer

Delete two parms from and add query_timeout to loading overview doc in 2.1 (#6569)
  loading/Loading_intro.md
Owners: @StarRocks/starrocks-committer

fix code smell
  be/src/http/default_path_handlers.cpp
Owners: @StarRocks/starrocks-committer

[Tool] dockerfile enhancement
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/allin1/allin1-ubuntu.Dockerfile
  docker/dockerfiles/be/be_entrypoint.sh
  docker/dockerfiles/be/cn_entrypoint.sh
Owners: @StarRocks/starrocks-committer

fix paimon table column can not be nullable
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  .gitignore
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/exprs/vectorized/arithmetic_expr.cpp
  be/src/exprs/vectorized/arithmetic_operation.h
  be/src/exprs/vectorized/cast_expr.cpp
  be/src/exprs/vectorized/decimal_binary_function.h
  be/src/exprs/vectorized/decimal_cast_expr.h
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/test/exprs/vectorized/decimal_binary_function_test.cpp
  be/test/exprs/vectorized/mock_vectorized_expr.h
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_decimal/R/test_decimal_overflow
  test/sql/test_decimal/T/test_decimal_overflow
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

Revert "Support column default for default value"
  be/src/exec/vectorized/schema_scanner/schema_columns_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

Revert "Fix bug show full column does not display default value"
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
