Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Doc] Add missing docs for the flink version 1.2.8 (#6594)
  loading/Flink-connector-starrocks.md
  unloading/Flink_connector.md
Owners: @StarRocks/starrocks-committer

[Doc] Add missing docs for the flink version 1.2.8 (#30814)
  docs/loading/Flink-connector-starrocks.md
  docs/unloading/Flink_connector.md
Owners: @StarRocks/docs-maintainer

[Doc] Add missing docs for the flink version 1.2.8 (#30814)
  docs/loading/Flink-connector-starrocks.md
  docs/unloading/Flink_connector.md
Owners: @StarRocks/docs-maintainer

[Doc] Add missing docs for the flink version 1.2.8 (#30814)
  docs/loading/Flink-connector-starrocks.md
  docs/unloading/Flink_connector.md
Owners: @StarRocks/docs-maintainer

[Doc] Add missing docs for the flink version 1.2.8 (#30814)
  docs/loading/Flink-connector-starrocks.md
  docs/unloading/Flink_connector.md
Owners: @StarRocks/docs-maintainer

[BugFix] round-by-round only deal with materialized column with conjunct (#30695)
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  test/sql/test_hive/R/test_hive_catalog
  test/sql/test_hive/T/test_hive_catalog
Owners: @StarRocks/starrocks-committer

[Tool] inspection
  .github/workflows/inspection-pipeline.yml
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mv_on_mv2.json
Owners: @StarRocks/starrocks-committer

[BugFix] round-by-round only deal with materialized column with conjunct (#30695)
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  test/sql/test_hive/R/test_hive_catalog
  test/sql/test_hive/T/test_hive_catalog
Owners: @StarRocks/starrocks-committer

Update Flink-connector-starrocks.md
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Update Flink-connector-starrocks.md
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix bug column default null convert to \N (#30799)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_information_schema/R/test_column
  test/sql/test_information_schema/T/test_column
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug column default null convert to \N (#30799)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_information_schema/R/test_column
  test/sql/test_information_schema/T/test_column
Owners: @StarRocks/starrocks-committer

Update Flink-connector-starrocks.md
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix bug column default null convert to \N (#30799)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_information_schema_loads/R/test_column
  test/sql/test_information_schema_loads/T/test_column
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug column default null convert to \N (#30799)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_information_schema/R/test_column
  test/sql/test_information_schema/T/test_column
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug column default null convert to \N (#30799)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_information_schema/R/test_column
  test/sql/test_information_schema/T/test_column
Owners: @StarRocks/starrocks-committer

[BugFix] check return status of expression (#30796)
  be/src/exec/aggregate/aggregate_blocking_node.cpp
  be/src/exec/aggregate/distinct_blocking_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/json_scanner.cpp
  be/src/exec/pipeline/operator.cpp
  be/src/exprs/expr.h
  be/src/exprs/expr_context.h
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/exprs/runtime_filter_bank.cpp
  be/src/formats/csv/json_converter.h
  be/src/util/json_converter.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/json_parser_test.cpp
  be/test/exprs/json_functions_test.cpp
  be/test/formats/parquet/file_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] check return status of expression (#30796)
  be/src/exec/aggregate/aggregate_blocking_node.cpp
  be/src/exec/aggregate/distinct_blocking_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/json_scanner.cpp
  be/src/exec/pipeline/operator.cpp
  be/src/exprs/expr.h
  be/src/exprs/expr_context.h
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/exprs/runtime_filter_bank.cpp
  be/src/formats/csv/json_converter.h
  be/src/util/json_converter.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/json_parser_test.cpp
  be/test/exprs/json_functions_test.cpp
  be/test/formats/parquet/file_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug column default null convert to \N (#30799)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_information_schema/R/test_column
  test/sql/test_information_schema/T/test_column
Owners: @StarRocks/starrocks-committer

[Enhancement] Handle returned status (DLA part) (#30706)
  be/src/connector/es_connector.cpp
  be/src/connector/jdbc_connector.cpp
  be/src/connector/mysql_connector.cpp
  be/src/exec/connector_scan_node.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/iceberg/iceberg_delete_builder.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.h
  be/src/exec/orc_scanner.cpp
  be/src/exec/parquet_scanner.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/runtime/jdbc_driver_manager.cpp
  be/src/util/arrow/row_batch.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Handle returned status (DLA part) (#30706)
  be/src/connector/es_connector.cpp
  be/src/connector/jdbc_connector.cpp
  be/src/connector/mysql_connector.cpp
  be/src/exec/connector_scan_node.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/iceberg/iceberg_delete_builder.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.h
  be/src/exec/orc_scanner.cpp
  be/src/exec/parquet_scanner.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/runtime/jdbc_driver_manager.cpp
  be/src/util/arrow/row_batch.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] check return status of expression (#30796)
  be/src/exec/aggregate/aggregate_blocking_node.cpp
  be/src/exec/aggregate/distinct_blocking_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/json_scanner.cpp
  be/src/exec/pipeline/operator.cpp
  be/src/exprs/expr.h
  be/src/exprs/expr_context.h
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/exprs/runtime_filter_bank.cpp
  be/src/formats/csv/json_converter.h
  be/src/util/json_converter.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/json_parser_test.cpp
  be/test/exprs/json_functions_test.cpp
  be/test/formats/parquet/file_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Handle returned status (DLA part) (#30706)
  be/src/connector/es_connector.cpp
  be/src/connector/jdbc_connector.cpp
  be/src/connector/mysql_connector.cpp
  be/src/exec/connector_scan_node.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/iceberg/iceberg_delete_builder.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.h
  be/src/exec/orc_scanner.cpp
  be/src/exec/parquet_scanner.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/runtime/jdbc_driver_manager.cpp
  be/src/util/arrow/row_batch.cpp
Owners: @StarRocks/starrocks-committer

Delete ci-report in branch
  .github/workflows/ci-report.yml
Owners: @StarRocks/starrocks-committer

Fix bug column default null convert to \N
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  fe/test/sql/test_information_schema/R/test_column
  fe/test/sql/test_information_schema/T/test_column
Owners: @StarRocks/starrocks-committer

[Tool] Delete ci-report in branch (#30867)
  .github/workflows/ci-report.yml
Owners: @StarRocks/starrocks-committer

[Feature] Support Alter Catalog Statement (#4550)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterCatalogLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CatalogAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/AlterCatalogTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Update README.md
  README.md
Owners: @StarRocks/starrocks-committer

[Enhancement][BugFix] fix the problem that the spill dir cannot be deleted when the query exits abnormally (#30589)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/scan/balanced_chunk_buffer.cpp
  be/src/exec/pipeline/scan/balanced_chunk_buffer.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/meta_scan_operator.cpp
  be/src/exec/pipeline/scan/meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_meta_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/pipeline/scan/schema_scan_operator.h
  be/src/exec/spill/log_block_manager.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
  be/src/runtime/local_pass_through_buffer.cpp
  be/src/runtime/local_pass_through_buffer.h
Owners: @StarRocks/starrocks-committer

[Enhancement][BugFix] fix the problem that the spill dir cannot be deleted when the query exits abnormally (#30589)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/scan/balanced_chunk_buffer.cpp
  be/src/exec/pipeline/scan/balanced_chunk_buffer.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/meta_scan_operator.cpp
  be/src/exec/pipeline/scan/meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_meta_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.h
  be/src/exec/pipeline/scan/olap_schema_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/spill/log_block_manager.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
  be/src/runtime/local_pass_through_buffer.cpp
  be/src/runtime/local_pass_through_buffer.h
Owners: @StarRocks/starrocks-committer

[Enhancement][BugFix] fix the problem that the spill dir cannot be deleted when the query exits abnormally (#30589)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/scan/balanced_chunk_buffer.cpp
  be/src/exec/pipeline/scan/balanced_chunk_buffer.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/meta_scan_operator.cpp
  be/src/exec/pipeline/scan/meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_meta_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.h
  be/src/exec/pipeline/scan/olap_schema_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/spill/log_block_manager.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
  be/src/runtime/local_pass_through_buffer.cpp
  be/src/runtime/local_pass_through_buffer.h
Owners: @StarRocks/starrocks-committer

[Enhancement][BugFix] fix the problem that the spill dir cannot be deleted when the query exits abnormally (#30589)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/scan/balanced_chunk_buffer.cpp
  be/src/exec/pipeline/scan/balanced_chunk_buffer.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/meta_scan_operator.cpp
  be/src/exec/pipeline/scan/meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_meta_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/pipeline/scan/schema_scan_operator.h
  be/src/exec/spill/log_block_manager.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
  be/src/runtime/local_pass_through_buffer.cpp
  be/src/runtime/local_pass_through_buffer.h
Owners: @StarRocks/starrocks-committer

[Feature] Support Alter Catalog Statement (#30653)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterCatalogLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CatalogAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/AlterCatalogTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] refresh all fe hive metadata cache after hive sink
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveCommitter.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/IHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix paimon table struct type (#30817)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix paimon table struct type (#30817)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix paimon table struct type (#30817)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

Add RN 3.0.6
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[BugFix]Fix paimon table struct type (#30817)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
