Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] reformat system variables to help with Algolia indexing (#31021)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] reformat system variables to help with Algolia indexing (#31021)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] reformat system variables to help with Algolia indexing (#31021)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

internal_service: get_schema timezone
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/internal_service.cpp
Owners: @StarRocks/starrocks-committer

fixup1
  be/src/exec/hash_join_components.cpp
  be/src/exec/hash_join_node.cpp
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.cpp
  be/test/exec/join_hash_map_test.cpp
  be/test/exec/query_cache/query_cache_test.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Remove old broker load planner (#31011)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadingTaskPlannerTest.java
Owners: @StarRocks/starrocks-committer

[UT] fix unstable ut (#30976)
  be/test/storage/compaction_manager_test.cpp
  be/test/storage/compaction_parallelization_test.cpp
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[cherry-pick][branch-3.1][Feature] support lzo block decompression
  be/src/util/compression/block_compression.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/parquet_scanner/lzo_compression.parquet
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/R/test_parquet_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
  test/sql/test_external_file/T/test_parquet_compression_format
Owners: @StarRocks/starrocks-committer

[Feature] support lzo block decompression (#30923)
  be/src/util/compression/block_compression.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/parquet_scanner/lzo_compression.parquet
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/R/test_parquet_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
  test/sql/test_external_file/T/test_parquet_compression_format
Owners: @StarRocks/starrocks-committer

[cherry-pick][branch-3.1][Feature] support lzo block decompression (#31027)
  be/src/util/compression/block_compression.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/parquet_scanner/lzo_compression.parquet
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/R/test_parquet_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
  test/sql/test_external_file/T/test_parquet_compression_format
Owners: @StarRocks/starrocks-committer

[BugFix] throw exception when insert into hive table without parquet format (#31014)
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] throw exception when insert into hive table without parquet format (#31014)
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[UT] Fix unstable ut br32 (#31019)
  be/test/storage/compaction_manager_test.cpp
  be/test/storage/compaction_parallelization_test.cpp
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[BugFix] throw exception when insert into hive table without parquet format (#31014)
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
Owners: @StarRocks/starrocks-committer

fix metrics
  be/src/exec/spill/spiller.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Feature] support snappy stream compression (#30604)
  be/src/exec/hdfs_scanner_text.cpp
  be/src/io/compressed_input_stream.cpp
  be/src/util/coding.h
  be/src/util/compression/stream_compression.cpp
  be/test/exec/test_data/csv_scanner/decompress_test0.csv.snappy
  be/test/exec/test_data/csv_scanner/decompress_test1.csv.snappy
  be/test/io/compressed_input_stream_test.cpp
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

Fix some unstable test case of compaction
  be/test/storage/compaction_manager_test.cpp
  be/test/storage/compaction_parallelization_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix them mem statistics bug of MemoryScratchSink (#30751)
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/memory_scratch_sink.cpp
  be/src/util/arrow/starrocks_column_to_arrow.cpp
Owners: @StarRocks/starrocks-committer

[UT] Fix unstable ut cases in when running in sequential
  be/test/storage/compaction_manager_test.cpp
  be/test/storage/compaction_parallelization_test.cpp
Owners: @StarRocks/starrocks-committer

refactor the property
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
Owners: @StarRocks/starrocks-committer

display order by of mv
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

fix sql test
  test/sql/test_materialized_view/R/test_show_materialized_view
Owners: @StarRocks/starrocks-committer

fix test case
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add logging when connection is closed
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Owners: @StarRocks/starrocks-committer

[BugFix] round-by-round only deal with materialized column with conjunct (#30695)
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  test/sql/test_hive/R/test_hive_catalog
  test/sql/test_hive/T/test_hive_catalog
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (#30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (#30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (#30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (#30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (#30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (#30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[Doc] Remove expect http header from change data through loading doc (#6626)
  loading/Load_to_Primary_Key_tables.md
Owners: @StarRocks/starrocks-committer

format
  be/src/column/nullable_column.cpp
  be/src/formats/parquet/encoding_dict.h
  be/src/storage/rowset/rle_page.h
  be/src/util/compression/block_compression.cpp
  be/src/util/rle_encoding.h
  be/test/column/fixed_length_column_test.cpp
  be/test/exprs/subfield_expr_test.cpp
  be/test/storage/column_aggregator_test.cpp
  be/test/util/rle_encoding_test.cpp
Owners: @StarRocks/starrocks-committer

update tests
  be/test/storage/rowset/segment_iterator_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] update staros components to 3.2-rc1 (#30959)
  be/CMakeLists.txt
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Support audit for insert into statement executing from follower (#30663)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] update staros components to 3.2-rc1 (#30959)
  be/CMakeLists.txt
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer
