Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/docker-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer, @StarRocks/thread-committer, @StarRocks/restful-maintainer

[Enhancement] Support create mv base on iceberg table with partition transform (#38196)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionTransform.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TableTestBase.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer, @StarRocks/optimizer

[BugFix] Do not validate pentry of external database/table (#38988)
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Do not validate pentry of external database/table (#38988)
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerV2Test.java
Owners: @StarRocks/starrocks-committer

[BugFix] Do not validate pentry of external database/table (#38988)
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Do not validate pentry of external database/table (#38988)
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add schema change feature to Iceberg Catalog doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/en/data_source/catalog/iceberg_catalog.md
  docs/zh/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

[BugFix] insert into files with wrong format
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/test/CMakeLists.txt
  be/test/exec/pipeline/sink/table_function_table_sink_operator_test.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/parser

code format
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessController.java
Owners: @StarRocks/starrocks-committer

add drop verify
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessController.java
Owners: @StarRocks/starrocks-committer

fix: External catalog failed to verify create and insert permissions
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessController.java
Owners: @StarRocks/starrocks-committer

add sql tester
  test/sql/test_materialized_view/R/test_mv_rewrite_on_tpcds
  test/sql/test_materialized_view/T/test_mv_rewrite_on_tpcds
Owners: @StarRocks/starrocks-committer

[BugFix] Do not validate pentry of external database/table (#38988)
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

add version info
  docs/en/data_source/catalog/iceberg_catalog.md
  docs/zh/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

modify exception msg
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
Owners: @StarRocks/optimizer

[Tool] Add tool to close the pr by comment
  .github/workflows/ci-comment-tools.yml
Owners: @StarRocks/starrocks-committer

[Tool] Add the tool to close the pr by comment (#39079)
  .github/workflows/ci-comment-tools.yml
Owners: @StarRocks/starrocks-committer

[Tool] Add the tool to close the pr by comment(sync #39079) (#12214)
  .github/workflows/ci-comment-tools.yml
Owners: @StarRocks/starrocks-committer

support const folding for to_date()
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Feature] Support function FORMAT. #13304
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/en/sql-reference/sql-functions/function-list.md
  docs/en/sql-reference/sql-functions/string-functions/format.md
  docs/zh/sql-reference/sql-functions/function-list.md
  docs/zh/sql-reference/sql-functions/string-functions/format.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  gensrc/script/functions.py
  test/sql/test_function/R/test_format
  test/sql/test_function/T/test_format
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/analyzer, @StarRocks/syntax-committer

[BugFix] Join predicate push down merge origin predicate.
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/JoinPredicatePushdown.java
  fe/fe-core/src/test/resources/sql/optimized-plan/predicate-pushdown.sql
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Enhancement] Use event driven to lazy instantiate drivers (#38021)
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/adaptive/adaptive_fwd.h
  be/src/exec/pipeline/adaptive/collect_stats_context.cpp
  be/src/exec/pipeline/adaptive/collect_stats_context.h
  be/src/exec/pipeline/adaptive/collect_stats_source_operator.cpp
  be/src/exec/pipeline/adaptive/collect_stats_source_operator.h
  be/src/exec/pipeline/adaptive/event.cpp
  be/src/exec/pipeline/adaptive/event.h
  be/src/exec/pipeline/adaptive/lazy_instantiate_drivers_operator.cpp
  be/src/exec/pipeline/adaptive/lazy_instantiate_drivers_operator.h
  be/src/exec/pipeline/empty_set_operator.h
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.h
  be/src/exec/pipeline/exchange/exchange_parallel_merge_source_operator.h
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/fragment_context.cpp
  be/src/exec/pipeline/fragment_context.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/pipeline.cpp
  be/src/exec/pipeline/pipeline.h
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/scan/meta_scan_prepare_operator.h
  be/src/exec/pipeline/scan/olap_scan_prepare_operator.h
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/set/union_const_source_operator.h
  be/src/exec/pipeline/source_operator.cpp
  be/src/exec/pipeline/source_operator.h
  be/src/exec/pipeline/spill_process_operator.h
  be/src/runtime/buffer_control_block.cpp
  be/test/exec/pipeline/pipeline_control_flow_test.cpp
  test/sql/test_adaptive_dop/R/test_short_circuit
  test/sql/test_adaptive_dop/T/test_short_circuit
Owners: @StarRocks/starrocks-committer

[Doc] Add two BE static parameters to BE_configuration doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/en/administration/BE_configuration.md
  docs/zh/administration/BE_configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Add two BE static parameters to BE_configuration doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/en/administration/Configuration.md
  docs/zh/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Add two BE static parameters to BE_configuration doc (#39080)
  docs/en/administration/BE_configuration.md
  docs/zh/administration/BE_configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Add two BE static parameters to BE_configuration doc in Branch 3.1 (backport #39082) (#39082)
  docs/en/administration/Configuration.md
  docs/zh/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Add two BE static parameters to BE_configuration doc (#39080)
  docs/en/administration/BE_configuration.md
  docs/zh/administration/BE_configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Add two BE static parameters to BE_configuration doc in Branch 3.1 (backport #39082) (#39082)
  docs/en/administration/Configuration.md
  docs/zh/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Add two BE static parameters to BE_configuration doc (#39080)
  docs/en/administration/BE_configuration.md
  docs/zh/administration/BE_configuration.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix local key partition shuffler using a nearly unbouded large buffer (#38701)
  be/src/exec/pipeline/pipeline_builder.cpp
Owners: @StarRocks/starrocks-committer

Update Configuration.md
  docs/zh/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Refactor] Add slow log for edit log write and refine some code warnings (#39024)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/journal/Journal.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalCursor.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalFactory.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalTask.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBEnvironment.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBJEJournal.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBJournalCursor.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBTool.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBToolOptions.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/CloseSafeDatabase.java
  fe/fe-core/src/main/java/com/starrocks/leader/Checkpoint.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/staros/BDBJEJournalSystem.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/journal/bdbje/BDBJEJournalTest.java
Owners: @StarRocks/starrocks-committer

Fix mv rewrite when plan has having exprs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
Owners: @StarRocks/optimizer

change the default value of a be config
  docs/en/release_notes/release-3.0.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

update
  be/src/formats/csv/csv_file_writer.cpp
  be/src/formats/csv/csv_file_writer.h
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/orc/orc_file_writer.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Support async segment writer for lake compaction (#36630)
  be/src/common/config.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/general_tablet_writer.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/horizontal_compaction_task.h
  be/src/storage/lake/pk_tablet_writer.cpp
  be/src/storage/lake/pk_tablet_writer.h
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_writer.h
  be/src/storage/lake/versioned_tablet.cpp
  be/src/storage/lake/versioned_tablet.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.h
  be/src/util/threadpool.h
Owners: @StarRocks/starrocks-committer, @StarRocks/cloud-native

[Enhancement] Support async segment writer for lake compaction (#36630)
  be/src/common/config.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/general_tablet_writer.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/horizontal_compaction_task.h
  be/src/storage/lake/pk_tablet_writer.cpp
  be/src/storage/lake/pk_tablet_writer.h
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_writer.h
  be/src/storage/lake/versioned_tablet.cpp
  be/src/storage/lake/versioned_tablet.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.h
  be/src/util/threadpool.h
Owners: @StarRocks/starrocks-committer, @StarRocks/cloud-native

[Enhancement] Support async segment writer for lake compaction (#36630)
  be/src/common/config.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/general_tablet_writer.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/horizontal_compaction_task.h
  be/src/storage/lake/pk_tablet_writer.cpp
  be/src/storage/lake/pk_tablet_writer.h
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_writer.h
  be/src/storage/lake/versioned_tablet.cpp
  be/src/storage/lake/versioned_tablet.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.h
  be/src/util/threadpool.h
Owners: @StarRocks/starrocks-committer, @StarRocks/cloud-native

Update
  be/test/exec/avro_test.h
Owners: @StarRocks/starrocks-committer

remove unused code
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/mem_table.h
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spiller.hpp
Owners: @StarRocks/starrocks-committer

add more tests
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# /docker
/docker/  @StarRocks/docker-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

# StorageEngine/ExecEnv/GlobalEnv
/be/src/runtime/exec_env.h @StarRocks/thread-committer
/be/src/runtime/exec_env.cpp @StarRocks/thread-committer
/be/src/storage/olap_server.cpp @StarRocks/thread-committer
/be/src/storage/storage_engine.h @StarRocks/thread-committer
/be/src/storage/storage_engine.cpp @StarRocks/thread-committer
/be/src/service/starrocks_main.cpp @StarRocks/thread-committer
/be/src/service/service_be/starrocks_be.cpp @StarRocks/thread-committer

# restful
/fe/fe-core/src/main/java/com/starrocks/http @StarRocks/restful-maintainer
/be/src/http @StarRocks/restful-maintainer
