Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Doc] shared data (#31927)
  docs/TOC.md
  docs/assets/commonMarkdown/sharedDataCNconf.md
  docs/assets/commonMarkdown/sharedDataIntro.md
  docs/assets/commonMarkdown/sharedDataUse.md
  docs/assets/commonMarkdown/sharedDataUseIntro.md
  docs/deployment/deploy_shared_data.md
  docs/deployment/deployment_overview.md
  docs/deployment/shared_data/azure.md
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
  docs/introduction/StarRocks_intro.md
  docs/release_notes/release-3.0.md
  docs/release_notes/release-3.1.md
  docs/sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
  docs/sql-reference/sql-statements/data-definition/CREATE TABLE.md
  docs/table_design/Data_distribution.md
  docs/table_design/expression_partitioning.md
  docs/table_design/list_partitioning.md
Owners: @StarRocks/docs-maintainer

resolve conflicts
  docs/release_notes/release-3.0.md
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Doc] fix missing import
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Resolve hostname in frontend (#32062)
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionDAG.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Resolve hostname in frontend (#32062)
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionDAG.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Resolve hostname in frontend (#32062)
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionDAG.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
Owners: @StarRocks/starrocks-committer

[Doc] fix missing import (#32065)
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] fix missing import (#32065)
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] fix missing import (#32065)
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] fix missing import (#32065)
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] fix missing import (#32065)
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] fix missing import (#32065)
  docs/deployment/shared_data/gcs.md
  docs/deployment/shared_data/minio.md
  docs/deployment/shared_data/s3.md
Owners: @StarRocks/docs-maintainer

fix sonar
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Resolve hostname in FE (#32056)
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Resolve hostname in FE (#32056)
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Resolve hostname in FE (#32056)
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
Owners: @StarRocks/starrocks-committer

fix sonar this if-then-else statement by a single return statement
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/vectorized/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

fix sonar This branch's code block is the same
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free in GlobalRuntimeFilter (#32055)
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_grf/R/test_grf
Owners: @StarRocks/starrocks-committer

[Feature] add hash function for xx_hash3_64 (#28910)
  be/src/bench/CMakeLists.txt
  be/src/bench/bench.h
  be/src/bench/hash_functions_bench.cpp
  be/src/exprs/hash_functions.h
  be/src/util/CMakeLists.txt
  be/src/util/hash_util.cpp
  be/src/util/hash_util.hpp
  be/test/exprs/hash_functions_test.cpp
  docs/sql-reference/sql-functions/hash-functions/xx_hash3_64.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] add hash function for xx_hash3_64 (#28910)
  be/src/bench/CMakeLists.txt
  be/src/bench/bench.h
  be/src/bench/hash_functions_bench.cpp
  be/src/exprs/hash_functions.h
  be/src/util/CMakeLists.txt
  be/src/util/hash_util.cpp
  be/src/util/hash_util.hpp
  be/test/exprs/hash_functions_test.cpp
  docs/sql-reference/sql-functions/hash-functions/xx_hash3_64.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Support recover with empty tablet when all backends are lost
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
Owners: @StarRocks/starrocks-committer

[BugFix] Solve column reuse problem (#31465)
  be/src/exec/partition/partition_hash_map.h
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneUnionEmptyRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/CloneDuplicateColRefRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/ColumnReuseChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/PlanValidator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14-2.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/tpch-histogram-cost/q14.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q14.sql
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14-2.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14.sql
Owners: @StarRocks/starrocks-committer

Update release-2.5.md
  docs/release_notes/release-2.5.md
Owners: @StarRocks/docs-maintainer

[Enhancement] remove some useless operatitons when start as cn (#31947)
  be/src/agent/heartbeat_server.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/options.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] remove some useless operatitons when start as cn (#31947)
  be/src/agent/heartbeat_server.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/options.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] remove some useless operatitons when start as cn (#31947)
  be/src/agent/heartbeat_server.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/options.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] remove some useless operatitons when start as cn (#31947)
  be/src/agent/heartbeat_server.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/options.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] compatible with old cn (#31747)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
  conf/cn.conf
Owners: @StarRocks/starrocks-committer

[Enhancement] Upgrade pulsar client to 3.3.0 (#30684)
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/pulsar.patch
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

Update release-2.5.md
  docs/release_notes/release-2.5.md
Owners: @StarRocks/docs-maintainer

remove arrow dependency from parquet reader
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/metadata.cpp
  be/src/formats/parquet/metadata.h
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
