Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Doc] update MinIO param desc and value (#29848)
  docs/data_source/catalog/deltalake_catalog.md
  docs/data_source/catalog/hive_catalog.md
  docs/data_source/catalog/hudi_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
  docs/data_source/catalog/paimon_catalog.md
  docs/data_source/file_external_table.md
  docs/loading/cloud_storage_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Feature] Support Apache Ranger as StarRocks RBAC Authorizer(sync #29154) (#3838)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/NativeAccessControlEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControlProvider.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/HiveAccessType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-policymgr-ssl.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-servicedef-starrocks.json
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-audit.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-security.xml
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/PostgresSchemaResolverTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate (#29832)
  be/src/exec/file_scanner.cpp
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate (#29832)
  be/src/exec/file_scanner.cpp
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] primary key using persistent index by default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate (#29832)
  be/src/exec/file_scanner.cpp
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate (#29832)
  be/src/exec/vectorized/file_scanner.cpp
  be/test/exec/vectorized/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate (#29832)
  be/src/exec/file_scanner.cpp
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

Fix mv refresh bug when mv's original query has extra predicates (#29808)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

Fix mv refresh bug when mv's original query has extra predicates (#29808)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix compatibility issue when collecting query statistics(sync #29678) (#3760)
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/stream_pipeline_driver.cpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Feature] group_concat() support distinct and order by
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

update tests
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update corner cases
  be/src/exprs/agg/group_concat.h
Owners: @StarRocks/starrocks-committer

update tests
  be/src/exec/aggregator.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

keep the same with mysql results
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

update tests
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

refine
  be/src/exprs/agg/group_concat.h
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

update according to comments
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Owners: @StarRocks/docs-maintainer, @StarRocks/syntax-committer

updated
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

fix a crash caused by agg output type is not the same with real output col
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/AggType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
Owners: @StarRocks/starrocks-committer

update test keep order
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests and remove some DCHECK
  be/src/exprs/agg/group_concat.h
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

add cancel tests
  be/src/exprs/agg/group_concat.h
  be/test/exprs/agg/aggregate_test.cpp
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update results order
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

append default when finalize encounter errors
  be/src/exprs/agg/group_concat.h
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

add query_cache test
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

fix unstable tests
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/T/test_materialized_view_status
Owners: @StarRocks/starrocks-committer

revert change unstable tests
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/T/test_materialized_view_status
Owners: @StarRocks/starrocks-committer

fix comments
  be/src/exprs/agg/group_concat.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix wrong result local-dictionary exceed max(int16) (#26250)
  be/src/storage/column_predicate_rewriter.cpp
  test/sql/test_push_down_predicate/R/test_expr_predicate_push_down
  test/sql/test_push_down_predicate/T/test_expr_predicate_push_down
Owners: @StarRocks/starrocks-committer

[Enhancement] Add metrics for group-level query queue
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/metric/ResourceGroupMetricMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/test/java/com/starrocks/metric/ResourceGroupMetricTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate (#29832)
  be/src/exec/vectorized/file_scanner.cpp
  be/test/exec/vectorized/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] group_concat() support distinct and order by
  be/src/exec/vectorized/aggregator.cpp
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

update tests
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  be/src/exec/vectorized/aggregator.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
