Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] when struct in array append_default real struct row for noexist subfield
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] array_agg supports distinct (#29907)
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/array-functions/array_agg.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/GroupByCountDistinctRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

CTAS support automatic partition
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CTASAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CTASAnalyzerTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_ctas
  test/sql/test_automatic_partition/T/test_automatic_partition_ctas
Owners: @StarRocks/starrocks-committer

[Enhancement] Support persist external table analyze status
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalAnalyzeStatus.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

Shadow all modified columns in schema changing (#30146) (#30272)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/main/java/com/starrocks/catalog/PrimitiveType.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/main/java/com/starrocks/catalog/PrimitiveType.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/alter/Alter.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (backport #30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997) (#30278)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

CTAS support automatic partition (#30280)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CTASAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CTASAnalyzerTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_ctas
  test/sql/test_automatic_partition/T/test_automatic_partition_ctas
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997) (#30275)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0 (#29997) (#30277)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

fix comment
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] make TOPN RuntimeFilter support more scenes (#29953)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (backport #30210)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[Feature] Support analyze hive table (#29693)
  be/src/runtime/statistic_result_writer.cpp
  be/src/runtime/statistic_result_writer.h
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorColumnStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableColumnKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnBasicStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatsConstants.java
  fe/fe-core/src/test/java/com/starrocks/connector/ConnectorColumnStatsCacheLoaderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorageTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsExecutorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Surface missing Status checks
  be/CMakeLists.txt
  be/src/common/status.cpp
  be/src/common/status.h
Owners: @StarRocks/starrocks-committer

[Enhancement] array_agg supports distinct (#29907)
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/array-functions/array_agg.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/GroupByCountDistinctRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix errors
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative audit values (#30271)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative audit values (#30271)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative audit values (#30271)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative audit values (#30271)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative audit values (#30271)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[UT] Remove global Status instance
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support audic statistics for insert statement (#29901)
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/audit_statistics_reporter.cpp
  be/src/exec/pipeline/audit_statistics_reporter.h
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer

[UT] Delete unstable audit test (#30069)
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Support collect external table statistics of partition level (#30022)
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorageTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve the profile serialization performance (#30221)
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Feature] Support group-level queue with max_cpu_cores
  be/src/agent/task_worker_pool.cpp
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/ResourceUsage.thrift
  gensrc/thrift/WorkGroup.thrift
Owners: @StarRocks/starrocks-committer

move get sql path to method
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/SchedulerTestNoneDBBase.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
