Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] return more accurate logs when accessing hdfs fails (#30890)
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] return more accurate logs when accessing hdfs fails (#30890)
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Include libdeflate thirdparty
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Rename ChunkMerger to resolve name conflict and use virtual destructor
  be/src/runtime/sorted_chunks_merger.h
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

fix bugs
  be/test/exprs/time_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] spark/flink connector export data without using column pool (#30855)
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
Owners: @StarRocks/starrocks-committer

[Enhancement] spark/flink connector export data without using column pool (#30855)
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] spark/flink connector export data without using column pool (#30855)
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] spark/flink connector export data without using column pool (#30855)
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] spark/flink connector export data without using column pool (#30855)
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] spark/flink connector export data without using column pool (#30855)
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/vectorized/olap_scan_node.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

Update tabular param example value in iceberg catalog (#6607)
  data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/starrocks-committer

[Tool] add ori pr info in sync workflow name (#4612)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

[Doc] fix linting in data cache
  docs/data_source/data_cache.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[fix linting in data cache and spark connector] (#6609)
  data_source/data_cache.md
  loading/Spark-connector-starrocks.md
Owners: @StarRocks/starrocks-committer

[BugFix] Fix limit offset bugs (#30374)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeLimitWithLimitRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/OptExpressionValidator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
  test/sql/test_limit/R/test_limit
  test/sql/test_limit/T/test_limit
Owners: @StarRocks/starrocks-committer

[Doc] fix linting in data cache (#30942)
  docs/data_source/data_cache.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] fix linting in data cache (#30942)
  docs/data_source/data_cache.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] fix linting in data cache (#30942)
  docs/data_source/data_cache.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancment] support coalesce on fe functions
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/coalesce_join.json
Owners: @StarRocks/starrocks-committer

[Doc] fix linting in data cache (#30942)
  docs/data_source/data_cache.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix limit offset bugs (#30374)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeLimitWithLimitRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/OptExpressionValidator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
  test/sql/test_limit/R/test_limit
  test/sql/test_limit/T/test_limit
Owners: @StarRocks/starrocks-committer

[Enhancment] support coalesce on fe functions
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/coalesce_join.json
Owners: @StarRocks/starrocks-committer

[Doc] fix linting in data cache (#30942)
  docs/data_source/data_cache.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancment] support coalesce on fe functions
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/coalesce_join.json
Owners: @StarRocks/starrocks-committer

remove ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/coalesce_join.json
Owners: @StarRocks/starrocks-committer

[Enhancement] update staros components to 3.2-rc1
  be/CMakeLists.txt
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/coalesce_join.json
Owners: @StarRocks/starrocks-committer

[Enhancement] support coalesce on fe functions (#30946)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/coalesce_join.json
Owners: @StarRocks/starrocks-committer

up
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix limit offset bugs (#30374)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeLimitWithLimitRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/OptExpressionValidator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
  test/sql/test_limit/R/test_limit
  test/sql/test_limit/T/test_limit
Owners: @StarRocks/starrocks-committer

[Feature] support prepare statement (#27840)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_result_writer.h
  be/src/runtime/result_sink.cpp
  be/src/runtime/result_sink.h
  be/src/util/mysql_global.h
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
  fe/fe-core/src/main/java/com/starrocks/analysis/DateLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/IntLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/Parameter.java
  fe/fe-core/src/main/java/com/starrocks/analysis/StringLiteral.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/PrepareStmtContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PrepareAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DeallocateStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExecuteStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PrepareStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/PreparedStmtTest.java
  gensrc/thrift/DataSinks.thrift
  test/sql/test_preparestatement/R/test_preprare_statement
  test/sql/test_preparestatement/T/test_preprare_statement
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Support audit for insert into statement executing from follower
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

fix bugs
  test/sql/test_time_fn/R/test_to_date
  test/sql/test_time_fn/T/test_to_date
Owners: @StarRocks/starrocks-committer

finish cp
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

finish cp
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

finish cp
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
Owners: @StarRocks/starrocks-committer
