Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/docker-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer, @StarRocks/thread-committer, @StarRocks/restful-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# /docker
/docker/  @StarRocks/docker-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

# StorageEngine/ExecEnv/GlobalEnv
/be/src/runtime/exec_env.h @StarRocks/thread-committer
/be/src/runtime/exec_env.cpp @StarRocks/thread-committer
/be/src/storage/olap_server.cpp @StarRocks/thread-committer
/be/src/storage/storage_engine.h @StarRocks/thread-committer
/be/src/storage/storage_engine.cpp @StarRocks/thread-committer
/be/src/service/starrocks_main.cpp @StarRocks/thread-committer
/be/src/service/service_be/starrocks_be.cpp @StarRocks/thread-committer

# restful
/fe/fe-core/src/main/java/com/starrocks/http @StarRocks/restful-maintainer
/be/src/http @StarRocks/restful-maintainer

[Tool] Sonarcloud use JDK 17 (#39144)
  .github/workflows/ci-comment-tools.yml
  .github/workflows/ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

[Doc] change the default value of a be config (#39088)
  docs/en/administration/BE_configuration.md
  docs/en/reference/System_variable.md
  docs/en/release_notes/release-3.0.md
  docs/zh/administration/BE_configuration.md
  docs/zh/reference/System_variable.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Doc] change the default value of a be config (#39088)
  docs/en/administration/BE_configuration.md
  docs/en/reference/System_variable.md
  docs/en/release_notes/release-3.0.md
  docs/zh/administration/BE_configuration.md
  docs/zh/reference/System_variable.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Doc] change the default value of a be config (#39088)
  docs/en/administration/BE_configuration.md
  docs/en/reference/System_variable.md
  docs/en/release_notes/release-3.0.md
  docs/zh/administration/BE_configuration.md
  docs/zh/reference/System_variable.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Doc] change the default value of a be config (#39088)
  docs/en/administration/BE_configuration.md
  docs/en/reference/System_variable.md
  docs/en/release_notes/release-3.0.md
  docs/zh/administration/BE_configuration.md
  docs/zh/reference/System_variable.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix index cache evict when memory high (#39047)
  be/src/storage/lake/update_manager.cpp
  be/src/storage/update_manager.cpp
Owners: @StarRocks/cloud-native, @StarRocks/starrocks-committer

add switch
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

fix retry
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer

fix
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

optimize the optimistic lock for insert-select
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

refactor copy procedure
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Owners: @StarRocks/analyzer

add test case
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/OptimisticVersionTest.java
Owners: @StarRocks/analyzer, @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/OptimisticVersionTest.java
Owners: @StarRocks/starrocks-committer

refactor
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/OptimisticVersion.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

[Enhancement]Repeated column last row in current page don't need next page
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/formats/parquet/stored_column_reader.h
  be/src/formats/parquet/stored_column_reader_with_index.h
Owners: @StarRocks/starrocks-committer

[Doc] change the default value of a be config (#39088)
  docs/en/administration/BE_configuration.md
  docs/en/reference/System_variable.md
  docs/en/release_notes/release-3.0.md
  docs/zh/administration/BE_configuration.md
  docs/zh/reference/System_variable.md
  docs/zh/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Improve stream load rpc timeout and retry (#37473)
  be/src/common/status.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCTableIdCache.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/GlobalTransactionMgrTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/restful-maintainer

[BugFix] Fix fs namespace conflict bug
  be/test/storage/tablet_meta_manager_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some bugs for GIN
  be/src/storage/column_in_predicate.cpp
  be/src/storage/column_predicate_cmp.cpp
  be/src/storage/inverted/clucene/clucene_inverted_writer.cpp
  be/src/storage/inverted/inverted_index_option.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Enable adding a GIN to trigger directly schema change
  be/src/storage/schema_change_utils.cpp
Owners: @StarRocks/starrocks-committer

[Tool] Sonarcloud use JDK 17 (#39144)
  .github/workflows/ci-comment-tools.yml
  .github/workflows/ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

[Enhancement] Adaptive coalesce active column and lazy column in ORC (#39036)
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/orc/orc_input_stream.h
Owners: @StarRocks/starrocks-committer

format
  be/src/formats/parquet/stored_column_reader.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix version check (#37252)
  contrib/dbt-connector/dbt/adapters/starrocks/connections.py
  contrib/dbt-connector/dbt/adapters/starrocks/impl.py
Owners: @StarRocks/starrocks-committer

[Feature] Support rewriting footer of segment files replicated from another cluster to correct column unique id (#38983)
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/CMakeLists.txt
  be/src/storage/file_stream_converter.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/segment_stream_converter.cpp
  be/src/storage/segment_stream_converter.h
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/http/http_client_test.cpp
  be/test/storage/segment_stream_converter_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/proto/lake_types.proto
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer, @StarRocks/restful-maintainer, @StarRocks/cloud-native

fix conflict
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

fix conflict
  be/test/io/compressed_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Print submit execstate report task error info and retry
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/exec/pipeline/exec_state_reporter.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix fe follower can't use short circuit
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ShortCircuitTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add more lock info in sys fe_locks (#38973)
  be/src/exec/schema_scanner/sys_fe_locks.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
  fe/fe-core/src/test/java/com/starrocks/catalog/system/sys/SysFeLocksTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Join predicate push down merge origin predicate. (#39081)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/JoinPredicatePushdown.java
  fe/fe-core/src/test/resources/sql/optimized-plan/predicate-pushdown.sql
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[BugFix] Join predicate push down merge origin predicate. (#39081)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/JoinPredicatePushdown.java
  fe/fe-core/src/test/resources/sql/optimized-plan/predicate-pushdown.sql
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Tool] Sonarcloud use JDK11 with force-deprecated-java-version (#39168) Update ci-pipeline.yml
  .github/workflows/ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-pipeline.yml
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] insert into files with wrong format
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
Owners: @StarRocks/starrocks-committer, @StarRocks/parser

[Tool] Sonarcloud use JDK11 with force-deprecated-java-version
  .github/workflows/ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-pipeline.yml
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[Feature] Support rewriting footer of segment files replicated from another cluster to correct column unique id (#38983)
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/CMakeLists.txt
  be/src/storage/file_stream_converter.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/segment_stream_converter.cpp
  be/src/storage/segment_stream_converter.h
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/http/http_client_test.cpp
  be/test/storage/segment_stream_converter_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/proto/lake_types.proto
  gensrc/proto/olap_file.proto
Owners: @StarRocks/starrocks-committer, @StarRocks/restful-maintainer, @StarRocks/cloud-native

[BugFix] Fix pipeline may use-after-free in count_down_drivers (#39107)
  be/src/exec/pipeline/pipeline.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix pipeline may use-after-free in count_down_drivers (#39107)
  be/src/exec/pipeline/pipeline.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix pipeline may use-after-free in count_down_drivers (#39107)
  be/src/exec/pipeline/pipeline.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix pipeline may use-after-free in count_down_drivers (#39107)
  be/src/exec/pipeline/pipeline.cpp
Owners: @StarRocks/starrocks-committer
