Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Solve column reuse problem (#31465)
  be/src/exec/partition/partition_hash_map.h
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneUnionEmptyRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/CloneDuplicateColRefRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/ColumnReuseChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/PlanValidator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14-2.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/tpch-histogram-cost/q14.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q14.sql
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14-2.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14.sql
Owners: @StarRocks/starrocks-committer

Update LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix concurrency issues when creating colocate tables (#31771)
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/CountingLatch.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/common/util/concurrent/CountingLatchTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

Update LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

Update ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
Owners: @StarRocks/starrocks-committer

[Doc] Release 2.5.13 Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/release_notes/release-2.5.md
Owners: @StarRocks/docs-maintainer

Support partition prune for range partition by expr table
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ColumnFilterConverter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptDistributionPruner.java
  test/sql/test_partition_by_expr/R/test_expr_add_partition
  test/sql/test_partition_by_expr/R/test_expr_basic
  test/sql/test_partition_by_expr/T/test_expr_add_partition
  test/sql/test_partition_by_expr/T/test_expr_basic
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] forbid rewrite projection with one dict col mapping to multiple output col (#24425)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/ColumnReuseChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/PlanValidator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14-2.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/tpch-histogram-cost/q14.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q14.sql
Owners: @StarRocks/starrocks-committer

[Enhancement] Add some parameter checks in DeltaWriterBuild (#31949)
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add some parameter checks in DeltaWriterBuild (#31949)
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix duplicate array_agg/group_concat in CallOperator (#31842)
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CallOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTaskTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix duplicate array_agg/group_concat in CallOperator (#31842)
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CallOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTaskTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix duplicate array_agg/group_concat in CallOperator (#31842)
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CallOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTaskTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix duplicate array_agg/group_concat in CallOperator (#31842)
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CallOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTaskTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix duplicate array_agg/group_concat in CallOperator (#31842)
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CallOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTaskTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

fix iceberg mv refresh
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
Owners: @StarRocks/starrocks-committer

update log
  be/src/storage/delta_writer.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add some parameter checks in DeltaWriterBuild (#31949)
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

Revert "fix iceberg mv refresh"
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fixup typo of pipeline_dop adaptive adjusting
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableId.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/ColumnIdentifier.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CacheDictManager.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictMappingOperator.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

optimize iceberg colocate/bucket scheduler
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/IcebergBucketBackendSelector.java
  gensrc/thrift/Partitions.thrift
Owners: @StarRocks/starrocks-committer

optimize iceberg colocate/bucket scheduler (#31961)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/IcebergBucketBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  gensrc/thrift/Partitions.thrift
Owners: @StarRocks/starrocks-committer

support Paimon MaterializedView
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/RowDataConverter.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonPartitionKeyTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveTPCHPlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] adaptive execute node by costs
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/assignment/RemoteFragmentAssignmentStrategy.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AdaptiveNodeTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fixup typo of pipeline_dop adaptive adjusting (#31958)
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix FSIO stats lost in hdfs_scanner_text
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/jni_scanner.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support run export in sync mode (#30565)
  fe/fe-core/src/main/java/com/starrocks/load/ExportMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExportStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ExportRelativeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/load/ExportMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ExportHandleTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Support partition prune for range partition by expr table
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/mvpattern/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExpressionPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ListPartitionDescTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PartitionDescTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[WIP] adaptive execute node
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Owners: @StarRocks/starrocks-committer

[Enhancement] iceberg support global dict collect and rewrite query (#31960)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictMappingOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

format
  be/src/exec/hdfs_scanner.cpp
Owners: @StarRocks/starrocks-committer

Fix UT.
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Owners: @StarRocks/starrocks-committer

fix link in 3.1 rn (#6721)
  release_notes/release-3.1.md
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
