Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

[Feature] Merge schema in `FILES` schema detection(sync #36892) (#10889)
  be/src/exec/file_scanner.cpp
  be/src/exec/file_scanner.h
  be/src/service/internal_service.cpp
  be/src/types/logical_type.h
  be/test/CMakeLists.txt
  be/test/exec/file_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_schema.py
  be/test/exec/test_data/parquet_data/schema1.parquet
  be/test/exec/test_data/parquet_data/schema2.parquet
  be/test/exec/test_data/parquet_data/schema3.parquet
  be/test/exec/test_data/parquet_data/schema4.parquet
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

Test instability UT about automatic partition
  test/sql/test_automatic_bucket/R/test_automatic_partition
  test/sql/test_automatic_bucket/R/test_expr_partition
  test/sql/test_automatic_bucket/T/test_automatic_partition
  test/sql/test_automatic_bucket/T/test_expr_partition
Owners: @StarRocks/starrocks-committer

[Doc] Update the content in "Advantages of Broker Load" and the title "Gather connection details" (#37718)
  docs/en/loading/hdfs_load.md
  docs/en/loading/s3.md
  docs/zh/loading/hdfs_load.md
  docs/zh/loading/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] Update the content in "Advantages of Broker Load" and the title "Gather connection details" (#37718)
  docs/en/loading/hdfs_load.md
  docs/en/loading/s3.md
  docs/zh/loading/hdfs_load.md
  docs/zh/loading/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] Update the content in "Advantages of Broker Load" and the title "Gather connection details" (#37718)
  docs/en/loading/hdfs_load.md
  docs/en/loading/s3.md
  docs/zh/loading/hdfs_load.md
  docs/zh/loading/s3.md
Owners: @StarRocks/docs-maintainer

[Doc] Update the content in "Advantages of Broker Load" and the title "Gather connection details" (#37718)
  docs/en/loading/hdfs_load.md
  docs/en/loading/s3.md
  docs/zh/loading/hdfs_load.md
  docs/zh/loading/s3.md
Owners: @StarRocks/docs-maintainer

Add kerberos support in CREATE ROUTINE LOAD
  docs/en/loading/RoutineLoad.md
  docs/zh/loading/RoutineLoad.md
Owners: @StarRocks/docs-maintainer

fix mv on view with comment
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Owners: @StarRocks/analyzer, @StarRocks/starrocks-committer

[Feature] support spill_mem_limit_threshold in resource group (#36701) (#37707)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/src/runtime/current_thread.h
  be/src/runtime/mem_tracker.h
  be/test/exec/pipeline/pipeline_driver_queue_test.cpp
  be/test/exec/pipeline/query_context_manger_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  gensrc/thrift/WorkGroup.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer, @StarRocks/parser

doc update
  docs/zh/deployment/shared_data/hdfs.md
Owners: @StarRocks/docs-maintainer

test: Supplementary testing
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsScanTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/TableWithPartitions.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix exhange rewrite join-shuffle col
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest2.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

Add kerberos support in CREATE ROUTINE LOAD
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Owners: @StarRocks/docs-maintainer

Add kerberos support in CREATE ROUTINE LOAD
  docs/zh/loading/RoutineLoad.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Skip read pindex when we pick all rowsets to do compaction for primary key table(backport #36819) (#37431)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Skip read pindex when we pick all rowsets to do compaction for primary key table(backport #36819) (#37434)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Skip read pindex when we pick all rowsets to do compaction for primary key table(backport #36819) (#37436)
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

table_function: parse url error
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
Owners: @StarRocks/starrocks-committer

[Feature] Split storage test into separate file (#37634)
  be/test/CMakeLists.txt
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

Add kerberos support in CREATE ROUTINE LOAD
  docs/en/loading/RoutineLoad.md
  docs/zh/loading/RoutineLoad.md
Owners: @StarRocks/docs-maintainer

Add kerberos support in CREATE ROUTINE LOAD
  docs/en/loading/RoutineLoad.md
Owners: @StarRocks/docs-maintainer

[Enhancement] update staros to v3.2-rc5
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/thirdparty-maintainer, @StarRocks/starrocks-committer

[BugFix] Fix big query mem tracker for non-positive query_mem_limit
  be/src/exec/pipeline/query_context.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Split storage test into separate file (#37634)
  be/test/CMakeLists.txt
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

Table function use the chunk size of runtime state
  be/src/exec/pipeline/table_function_operator.cpp
  be/src/exec/pipeline/table_function_operator.h
  be/src/exec/table_function_node.cpp
  be/src/exprs/table_function/generate_series.h
  be/src/exprs/table_function/java_udtf_function.cpp
  be/src/exprs/table_function/java_udtf_function.h
  be/src/exprs/table_function/json_each.cpp
  be/src/exprs/table_function/json_each.h
  be/src/exprs/table_function/list_rowsets.cpp
  be/src/exprs/table_function/list_rowsets.h
  be/src/exprs/table_function/multi_unnest.h
  be/src/exprs/table_function/subdivide_bitmap.h
  be/src/exprs/table_function/table_function.h
  be/src/exprs/table_function/unnest.h
  be/test/exprs/agg/json_each_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support avro,rcfile,sequence file split to improve query concurrency (#37663)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RemoteFileInputFormat.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support avro,rcfile,sequence file split to improve query concurrency (#37663)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RemoteFileInputFormat.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add switch enable_materialized_view_rewrite_for_insert (#37505)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add switch enable_materialized_view_rewrite_for_insert (#37505)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add switch enable_materialized_view_rewrite_for_insert (#37505)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add switch enable_materialized_view_rewrite_for_insert (#37505)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Doc] correct storage_volume type (#37725)
  docs/zh/deployment/shared_data/hdfs.md
Owners: @StarRocks/docs-maintainer

[Doc] correct storage_volume type (#37725)
  docs/zh/deployment/shared_data/hdfs.md
Owners: @StarRocks/docs-maintainer

[Doc] correct storage_volume type (#37725)
  docs/zh/deployment/shared_data/hdfs.md
Owners: @StarRocks/docs-maintainer

[Doc] correct storage_volume type (#37725)
  docs/zh/deployment/shared_data/hdfs.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support avro,rcfile,sequence file split to improve query concurrency (#37663)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RemoteFileInputFormat.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add session variable paimon_force_jni_reader
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Owners: @StarRocks/parser, @StarRocks/starrocks-committer

integrate starmgr metrics system
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/metric/PrometheusMetric.java
  fe/fe-core/src/main/java/com/starrocks/metric/PrometheusRegistryHelper.java
  fe/fe-core/src/main/java/com/starrocks/staros/StarMgrServer.java
  fe/fe-core/src/test/java/com/starrocks/metric/PrometheusMetricTest.java
  fe/fe-core/src/test/java/com/starrocks/staros/StarMgrMetricTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix big query mem tracker for non-positive query_mem_limit (#37730)
  be/src/exec/pipeline/query_context.cpp
Owners: @StarRocks/starrocks-committer
