Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/docker-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer, @StarRocks/thread-committer, @StarRocks/restful-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# /docker
/docker/  @StarRocks/docker-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

# StorageEngine/ExecEnv/GlobalEnv
/be/src/runtime/exec_env.h @StarRocks/thread-committer
/be/src/runtime/exec_env.cpp @StarRocks/thread-committer
/be/src/storage/olap_server.cpp @StarRocks/thread-committer
/be/src/storage/storage_engine.h @StarRocks/thread-committer
/be/src/storage/storage_engine.cpp @StarRocks/thread-committer
/be/src/service/starrocks_main.cpp @StarRocks/thread-committer
/be/src/service/service_be/starrocks_be.cpp @StarRocks/thread-committer

# restful
/fe/fe-core/src/main/java/com/starrocks/http @StarRocks/restful-maintainer
/be/src/http @StarRocks/restful-maintainer

[BugFix] Persistent index does not flush advance during compaction (#38651)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix index cache evict when memory high (#39047)
  be/src/storage/lake/update_manager.cpp
  be/src/storage/update_manager.cpp
Owners: @StarRocks/cloud-native, @StarRocks/starrocks-committer

[BugFix] Persistent index does not flush advance during compaction (#38651)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix index cache evict when memory high (#39047)
  be/src/storage/lake/update_manager.cpp
  be/src/storage/update_manager.cpp
Owners: @StarRocks/cloud-native, @StarRocks/starrocks-committer

[UT] Remove too much useless ut stdout logs (#39095)
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support const folding for to_date() (backport #39067) (#39108)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[BugFix] Persistent index does not flush advance during compaction (#38651)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[UT] Remove too much useless ut stdout logs (#39095)
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

update
  be/src/exec/pipeline/sink/rolling_file_writer.h
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
  be/src/formats/CMakeLists.txt
  be/src/formats/csv/csv_file_writer.h
  be/src/formats/orc/orc_chunk_writer.cpp
  be/src/formats/orc/orc_chunk_writer.h
  be/src/formats/orc/orc_file_writer.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Turn on the detect_stack_use_after_return feature of ASAN
  bin/start_backend.sh
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Turn on the detect_stack_use_after_return feature of ASAN (#39116)
  bin/start_backend.sh
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

fix: retry to report status with backoff
  be/src/common/config.h
  be/src/runtime/fragment_mgr.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Turn on the detect_stack_use_after_return feature of ASAN (#39116)
  bin/start_backend.sh
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[BugFix] fi lake pk compaction invalid memory access
  be/src/storage/lake/update_compaction_state.cpp
  be/src/storage/lake/update_compaction_state.h
Owners: @StarRocks/cloud-native

[Doc] test adding keywords
  docs/zh/using_starrocks/Materialized_view.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add more lock info in sys fe_locks
  be/src/exec/schema_scanner/sys_fe_locks.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
  fe/fe-core/src/test/java/com/starrocks/catalog/system/sys/SysFeLocksTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] fi lake pk compaction invalid memory access
  be/src/storage/lake/update_compaction_state.cpp
  be/src/storage/lake/update_compaction_state.h
Owners: @StarRocks/cloud-native

*: format
  be/src/runtime/fragment_mgr.cpp
Owners: @StarRocks/starrocks-committer

fix ut
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spill_components.h
  be/test/io/spill_test.cpp
Owners: @StarRocks/starrocks-committer

[doc] Update ranger_plugin.md
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

Update MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
Owners: @StarRocks/starrocks-committer

Update EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Owners: @StarRocks/starrocks-committer

[UT] Remove too much useless ut stdout logs (#39095)
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

[UT] Remove too much useless ut stdout logs (#39095)
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

[UT] Remove too much useless ut stdout logs (#39095)
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

[UT] Remove too much useless ut stdout logs (#39095)
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

Fix ut
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobPrimaryKeyTest.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/resources/sql/scheduler/cte/cte_simple.sql
  fe/fe-core/src/test/resources/sql/scheduler/union/union.sql
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableWithLocationTest.java
  fe/fe-core/src/test/java/com/starrocks/cluster/SystemInfoServiceTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/SchedulerTestNoneDBBase.java
  fe/fe-core/src/test/resources/sql/scheduler/cte/cte_simple.sql
  fe/fe-core/src/test/resources/sql/scheduler/union/union.sql
Owners: @StarRocks/starrocks-committer

Fix show backends
  fe/fe-core/src/main/java/com/starrocks/common/proc/BackendsProcDir.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

Fix sonar cloud check
  fe/fe-core/src/main/java/com/starrocks/system/NodeSelector.java
Owners: @StarRocks/starrocks-committer

Fix sonar check
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerWithMVTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/TestWithFeService.java
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Feature] support const folding for to_date() (backport #39067) (#39108)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

Update ConcurrentDDLTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

Update ranger_plugin.md
  docs/en/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Print Drop tablet log when dropping table (#39109)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Print Drop tablet log when dropping table (#39109)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Print Drop tablet log when dropping table (#39109)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

Update ConcurrentDDLTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer
