Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] Add Prerequisites to deploy broker doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Prerequisites to deploy broker doc (#6466)
  deployment/deploy_broker.md
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
Owners: @StarRocks/starrocks-committer

Update deploy_broker.md
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] fix a typo (#6470)
  deployment/deploy_broker.md
Owners: @StarRocks/starrocks-committer

Update BrokerLoad.md
  docs/loading/BrokerLoad.md
Owners: @StarRocks/docs-maintainer

Update BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

fix aggregation without rollup rewrite (#29698)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OrRangePredicate.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q1-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-4.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q22.sql
Owners: @StarRocks/starrocks-committer

fix aggregation without rollup rewrite (#29698)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OrRangePredicate.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q1-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-4.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q22.sql
Owners: @StarRocks/starrocks-committer

[Enhancement] Support compact thrift protocol
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  be/src/util/thrift_util.h
  fe/fe-core/src/main/java/com/starrocks/catalog/Function.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/rpc/AttachmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/rpc/BackendServiceClient.java
  fe/fe-core/src/main/java/com/starrocks/rpc/PExecPlanFragmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/task/PushTask.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtWithDecimalTypesNewPlannerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  gensrc/proto/internal_service.proto
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/Types.thrift
Owners: @StarRocks/starrocks-committer

scan_node: check expr.getType()
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
Owners: @StarRocks/starrocks-committer

Disable sync publish by default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

[BugFix] Add enable_materialized_view_rewrite_greedy_mode param to control fast withdraw for mv rewrite (#29645)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVTestUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/ddl_tpch_mv1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/ddl_tpch_mv2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/ddl_tpch_mv3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q16.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q9.sql
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/R/test_mv_on_view
  test/sql/test_materialized_view/R/test_mv_swap
  test/sql/test_materialized_view/T/test_materialized_view_status
Owners: @StarRocks/starrocks-committer

[Tool] support desensitize external table
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/HiveTableDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_agg_with_having3.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_join_agg1.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_mv_on_mv1.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_example.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_02.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_08_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_mysql.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001634020.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001636205.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001637259.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001638388.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001641152.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001648605.json
Owners: @StarRocks/starrocks-committer

[Feature] support SecurityManager for UDF
  be/src/exec/pipeline/exchange/local_exchange.h
  be/src/udf/java/java_udf.cpp
  be/src/udf/java/java_udf.h
  build.sh
  conf/fe.conf
  conf/udf_security.policy
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateFunctionStmt.java
  java-extensions/udf-extensions/pom.xml
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFClassLoader.java
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFSecurityManager.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/SecurityTest.java
  java-extensions/udf-extensions/src/test/resources/PermissionCheck.policy
Owners: @StarRocks/starrocks-committer

[Refactor] disable persistent index minor compaction
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

default with all permission
  conf/udf_security.policy
Owners: @StarRocks/starrocks-committer

fix import
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
Owners: @StarRocks/starrocks-committer

fix public/private field
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
Owners: @StarRocks/starrocks-committer

[Refactor] separate `RecyclableClient` class from `HiveMetaClient`
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
Owners: @StarRocks/starrocks-committer

Fix mv refresh bug when mv's original query has extra predicates (#29808)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

forbit construct Datum from std::string (#29899)
  be/src/column/datum.h
  be/test/exprs/string_fn_test.cpp
  be/test/storage/binlog_reader_test.cpp
Owners: @StarRocks/starrocks-committer

forbit construct Datum from std::string (#29899)
  be/src/column/datum.h
  be/test/exprs/string_fn_test.cpp
  be/test/storage/binlog_reader_test.cpp
Owners: @StarRocks/starrocks-committer

forbit construct Datum from std::string (#29899)
  be/src/column/datum.h
  be/test/exprs/string_fn_test.cpp
  be/test/storage/binlog_reader_test.cpp
Owners: @StarRocks/starrocks-committer

forbit construct Datum from std::string (#29899)
  be/src/column/datum.h
  be/test/exprs/string_fn_test.cpp
  be/test/storage/binlog_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] disable persistent index minor compaction (#29905)
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

[Tool] support desensitize external table
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/starrocks-committer

[Tool] support desensitize external table
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/starrocks-committer

[Tool] support desensitize external table
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_example.json
Owners: @StarRocks/starrocks-committer

remove code
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
Owners: @StarRocks/starrocks-committer

[Tool] disable release-docker-image workflow
  .github/workflows/release-docker-image.yml.example
Owners: @StarRocks/starrocks-committer

[Tool] disable release-docker-image workflow (#29911)
  .github/workflows/release-docker-image.yml.example
Owners: @StarRocks/starrocks-committer

[Feature] Support the string fucntion TRANSLATE (#29771)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/utf8_encoding.h
  gensrc/script/functions.py
  test/sql/test_function/R/test_translate
  test/sql/test_function/T/test_translate
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] Support the string fucntion TRANSLATE (#29771)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/utf8_encoding.h
  gensrc/script/functions.py
  test/sql/test_function/R/test_translate
  test/sql/test_function/T/test_translate
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

fix conflict
  be/test/exprs/string_fn_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Group concat support order by and distinct(sync #28778) (#3855)
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/AggType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix mv refresh bug when mv's original query has extra predicates (backport #29808) (#29904)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVTestUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/ddl_tpch_mv1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/ddl_tpch_mv2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/ddl_tpch_mv3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q16.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q9.sql
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/R/test_mv_on_view
  test/sql/test_materialized_view/R/test_mv_swap
  test/sql/test_materialized_view/T/test_materialized_view_status
Owners: @StarRocks/starrocks-committer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer
