Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Refactor] rename the materialized column API to Generated Column (#29628)
  be/src/storage/schema_change.cpp
  be/src/storage/schema_change_utils.cpp
  be/src/storage/schema_change_utils.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/schema_change_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddColumnsClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnDef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SelectRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

add CloudCanal load Signed-off-by: Meta Luo <a598528009@qq.com>
  docs/assets/3.11-1.png
  docs/assets/3.11-2.png
  docs/assets/3.11-3.png
  docs/assets/3.11-4.png
  docs/assets/3.11-5.png
  docs/assets/3.11-6.png
  docs/assets/3.11-7.png
  docs/assets/3.11-8.png
  docs/loading/CloudCanal.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Replica should be forcefully deleted after clone (#28855)
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

[Doc] sparkload-supports-DATE/DATETIME/DECIMAL-as-bucketing-cols (#28804)
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Feature] Support storage_cooldown_ttl for table (#28737)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/MultiItemListPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleItemListPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SinglePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleRangePartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/catalog/StorageCoolDownTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] still use cte rewrite when count distinct with limit (#28698)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] show more info when calling seqChooseBackendIds (#28693)
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix datetime column has different precision when hive table use timestamp as partition column (#28849)
  fe/fe-core/src/main/java/com/starrocks/analysis/DateLiteral.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Use cloudera's security fixes log4j 1.2.17 (#28866)
  fs_brokers/apache_hdfs_broker/pom.xml
Owners: @StarRocks/starrocks-committer

fix linter
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support text-based profile analysis(3) (#28813)
  fe/fe-core/src/main/java/com/starrocks/common/util/DebugUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfileParser.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/common/util/DebugUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileParserTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Call request toString only when debug is enabled to avoid memory allocation (#28878)
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Owners: @StarRocks/starrocks-committer

[BugFix] Ignore non-partition refresh tables in update meta (#28865)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/BaseTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ForeignKeyConstraint.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ForeignKeyConstraintTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Support sync mv with complex expression rewrite without partition column output (#28654)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

[BugFix] Disable compile libdeflate in arm (#28845)
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Support column default for default value (#28857)
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor alter view statement executor to eliminate code coupling (#28840)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobException.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix gzip decompressor memory leak (#28891)
  be/src/util/compression/block_compression.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove txn rollback logs when aborting empty delta writers (#28826)
  be/src/runtime/local_tablets_channel.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Don't using libdeflate in arm (#28880)
  be/CMakeLists.txt
  be/src/util/compression/block_compression.cpp
Owners: @StarRocks/starrocks-committer

[Doc] add-returned-Description-of-return-fields-and-examples (#28875)
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix be ut compile (#28969)
  be/test/storage/rowset_column_partial_update_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support coalesce block cache read to reduce cache read overhead. (#28188)
  be/src/block_cache/CMakeLists.txt
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/cachelib_wrapper.cpp
  be/src/block_cache/cachelib_wrapper.h
  be/src/block_cache/io_buffer.cpp
  be/src/block_cache/io_buffer.h
  be/src/block_cache/kv_cache.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/io/cache_input_stream.cpp
  be/src/io/cache_input_stream.h
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
  be/test/io/cache_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] prune complex type need deal with scan without project (#28867)
  be/test/formats/parquet/test_data/test_parquet_struct_in_struct.parquet
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneSubfieldsForComplexType.java
  test/sql/test_external_file/R/test_parquet_read_range
  test/sql/test_external_file/R/test_parquet_struct_in_struct
  test/sql/test_external_file/T/test_parquet_read_range
  test/sql/test_external_file/T/test_parquet_struct_in_struct
Owners: @StarRocks/starrocks-committer

[BugFix] fix parallel ut in partial update by column (#28930)
  be/test/storage/rowset_column_partial_update_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix use-after-free of SchemaLoadTrackingLogsScanner (#28929)
  be/src/exec/schema_scanner/schema_load_tracking_logs_scanner.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix query hive int partition column like '02' error (#28941)
  fe/fe-core/src/main/java/com/starrocks/analysis/IntLiteral.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
Owners: @StarRocks/starrocks-committer

Update CloudCanal.md
  docs/loading/CloudCanal.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug remove task_runs slow (#29621)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug remove task_runs slow (#29621)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug remove task_runs slow (#29621)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug remove task_runs slow (#29621)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug remove task_runs slow (#29621)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

behavior change type check
  .github/workflows/ci-report.yml
  .github/workflows/pr-checker.yml
  .github/workflows/test.yml
Owners: @StarRocks/starrocks-committer

[BugFix] fix inPredicate not being negated correctly
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FilterSelectivityEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/InvertedCaseWhen.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/NegateFilterShuttle.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/SelectStmtWithCaseWhenTest.java
  test/sql/test_case_when/T/test_case_when
  test/sql/test_split_or/T/test_split_or
Owners: @StarRocks/starrocks-committer

behavior change type check
  .github/workflows/test.yml
Owners: @StarRocks/starrocks-committer

Fix auth upgrade mistake use builtin role/user bug
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
Owners: @StarRocks/starrocks-committer

behavior change type check
  .github/workflows/test.yml
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
