Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] fix agg in order by not being analyzed
  test/sql/test_agg/R/test_orderby_agg
  test/sql/test_agg/T/test_orderby_agg
Owners: @StarRocks/starrocks-committer

fix the same issue in agg distinct streaming
  be/src/exec/pipeline/aggregate/aggregate_distinct_streaming_source_operator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support early return for window function if query is already canceled
  be/src/exec/pipeline/analysis/analytic_sink_operator.cpp
  be/src/exec/pipeline/analysis/analytic_sink_operator.h
Owners: @StarRocks/starrocks-committer

Update ci-pipeline.yml
  .github/workflows/ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

add array_agg_distinct
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

update 2
  be/src/exec/pipeline/query_context.cpp
Owners: @StarRocks/starrocks-committer

update deduplicated
  be/src/exprs/agg/array_agg.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove the OPERATE priv check on be_tablets
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
Owners: @StarRocks/starrocks-committer

Revert "[Refactor] separate `RecyclableClient` class from `HiveMetaClient` (#29861)"
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Reworded some phrases
  docs/sql-reference/sql-statements/data-definition/CREATE REPOSITORY.md
Owners: @StarRocks/docs-maintainer

[BugFix] Revert "[Refactor] separate `RecyclableClient` class from `HiveMetaClient` (#29861)"
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] refact pg table to compatible with authorization system (#30060)
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/PostgresSchemaResolver.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/PostgresSchemaResolverTest.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix brokerload failed when data size greater than the type defined by orc (#29971)
  be/src/formats/orc/orc_chunk_reader.cpp
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Fix misleading desc in Arch Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/introduction/Architecture.md
Owners: @StarRocks/docs-maintainer

[BugFix]Fix brokerload failed when data size greater than the type defined by orc (#29971)
  be/src/formats/orc/orc_chunk_reader.cpp
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Owners: @StarRocks/starrocks-committer

improve
  be/src/exec/hdfs_scanner_text.cpp
  be/src/formats/csv/array_converter.cpp
  be/src/formats/csv/array_converter.h
  be/src/formats/csv/array_reader.cpp
  be/src/formats/csv/boolean_converter.cpp
  be/src/formats/csv/boolean_converter.h
  be/src/formats/csv/converter.h
  be/src/formats/csv/date_converter.cpp
  be/src/formats/csv/date_converter.h
  be/src/formats/csv/datetime_converter.cpp
  be/src/formats/csv/datetime_converter.h
  be/src/formats/csv/decimalv2_converter.cpp
  be/src/formats/csv/decimalv2_converter.h
  be/src/formats/csv/decimalv3_converter.cpp
  be/src/formats/csv/decimalv3_converter.h
  be/src/formats/csv/default_value_converter.cpp
  be/src/formats/csv/default_value_converter.h
  be/src/formats/csv/float_converter.cpp
  be/src/formats/csv/float_converter.h
  be/src/formats/csv/json_converter.cpp
  be/src/formats/csv/json_converter.h
  be/src/formats/csv/map_converter.cpp
  be/src/formats/csv/map_converter.h
  be/src/formats/csv/nullable_converter.cpp
  be/src/formats/csv/nullable_converter.h
  be/src/formats/csv/numeric_converter.cpp
  be/src/formats/csv/numeric_converter.h
  be/src/formats/csv/string_converter.cpp
  be/src/formats/csv/string_converter.h
  be/src/formats/csv/varbinary_converter.cpp
  be/src/formats/csv/varbinary_converter.h
Owners: @StarRocks/starrocks-committer

improve
  be/src/formats/csv/array_converter.cpp
  be/src/formats/csv/array_reader.cpp
  be/src/formats/csv/array_reader.h
Owners: @StarRocks/starrocks-committer

fix (#30126)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix OLAP external table sync bug if the target table is partitioned (#30125)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Owners: @StarRocks/starrocks-committer

support table schema sink
  be/src/service/internal_service.cpp
  test/sql/test_others/R/test_deprecated_non_pipeline_engine
  test/sql/test_others/T/test_deprecated_non_pipeline_engine
Owners: @StarRocks/starrocks-committer

add comments
  be/src/service/internal_service.cpp
Owners: @StarRocks/starrocks-committer

Throw exception when alter materialized view with invalid session variables
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Fix MV Partition functions Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix Distribution desc in Quickstart Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/quick_start/Create_table.md
Owners: @StarRocks/docs-maintainer

Update Create_table.md
  docs/quick_start/Create_table.md
Owners: @StarRocks/docs-maintainer

improve
  be/src/formats/csv/string_converter.cpp
Owners: @StarRocks/starrocks-committer

[Feature] dict query function
  be/src/exprs/CMakeLists.txt
  be/src/exprs/dict_query_expr.cpp
  be/src/exprs/dict_query_expr.h
  be/src/exprs/expr.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/analysis/DictQueryExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictQueryOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperatorVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/DictQueryFunctionTest.java
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

check init status
  be/src/exprs/dict_query_expr.cpp
Owners: @StarRocks/starrocks-committer

add supported data types and delete obsolete desc in show partitions
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

add supported data types and delete obsolete desc in show partitions
  docs/sql-reference/sql-statements/data-manipulation/SHOW PARTITIONS.md
Owners: @StarRocks/docs-maintainer

update navigation
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

compile OK
  be/src/exprs/agg/group_concat.h
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Update list_partitioning.md (#6494)
  table_design/list_partitioning.md
Owners: @StarRocks/starrocks-committer

improve
  be/src/formats/csv/string_converter.cpp
Owners: @StarRocks/starrocks-committer

improve
  be/src/formats/csv/string_converter.cpp
Owners: @StarRocks/starrocks-committer

Update CREATE MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
Owners: @StarRocks/docs-maintainer

Update Create_table.md
  docs/quick_start/Create_table.md
Owners: @StarRocks/docs-maintainer

Update Create_table.md
  docs/quick_start/Create_table.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
