Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] Compatible with the default partition value of the new hudi version (#29606)
  fe/fe-core/src/main/java/com/starrocks/catalog/DeltaLakePartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HivePartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/NullablePartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support element_at function for trino parser (#29726)
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/ComplexFunctionCallTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support element_at function for trino parser (#29726)
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/ComplexFunctionCallTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
Owners: @StarRocks/starrocks-committer

[Tool] disable release docker image workflow trigers (#29748)
  .github/workflows/release-docker-image.yml
Owners: @StarRocks/starrocks-committer

[Tool] disable release docker image workflow trigers (#29748)
  .github/workflows/release-docker-image.yml
Owners: @StarRocks/starrocks-committer

[Tool] disable release docker image workflow trigers (#29748)
  .github/workflows/release-docker-image.yml
Owners: @StarRocks/starrocks-committer

[Tool] disable release docker image workflow trigers (#29748)
  .github/workflows/release-docker-image.yml
Owners: @StarRocks/starrocks-committer

[Enhancement] add nap_sleep() to handle sleep a large portion of time (#29689)
  be/src/agent/task_worker_pool.cpp
  be/src/common/daemon.cpp
  be/src/runtime/broker_mgr.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/stream_load/transaction_mgr.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/util/CMakeLists.txt
  be/src/util/misc.cpp
  be/src/util/misc.h
  bin/common.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] add nap_sleep() to handle sleep a large portion of time (#29689)
  be/src/agent/task_worker_pool.cpp
  be/src/common/daemon.cpp
  be/src/runtime/broker_mgr.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/stream_load/transaction_mgr.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/util/CMakeLists.txt
  be/src/util/misc.cpp
  be/src/util/misc.h
  bin/common.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] add nap_sleep() to handle sleep a large portion of time (#29689)
  be/src/agent/task_worker_pool.cpp
  be/src/common/daemon.cpp
  be/src/runtime/broker_mgr.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/stream_load/transaction_mgr.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/util/CMakeLists.txt
  be/src/util/misc.cpp
  be/src/util/misc.h
  bin/common.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] add nap_sleep() to handle sleep a large portion of time (#29689)
  be/src/agent/task_worker_pool.cpp
  be/src/common/daemon.cpp
  be/src/runtime/broker_mgr.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/stream_load/transaction_mgr.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/util/CMakeLists.txt
  be/src/util/misc.cpp
  be/src/util/misc.h
  bin/common.sh
Owners: @StarRocks/starrocks-committer

update
  be/src/runtime/descriptors.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectConstTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetTest.java
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer

Fix remove task_run overflow (#29727)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

update tests
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  be/src/exec/aggregator.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

[Feature] group_concat() support distinct and order by
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Update CloudCanal.md
  docs/loading/CloudCanal.md
Owners: @StarRocks/docs-maintainer

[Tool] disable release docker image workflow trigers (#29748)
  .github/workflows/release-docker-image.yml
Owners: @StarRocks/starrocks-committer

keep the same with mysql results
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

refine
  be/src/exprs/agg/group_concat.h
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

update results order
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/AggType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

append default when finalize encounter errors
  be/src/exprs/agg/group_concat.h
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

update test keep order
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update tests and remove some DCHECK
  be/src/exprs/agg/group_concat.h
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update according to comments
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Owners: @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix a crash caused by agg output type is not the same with real output col
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

updated
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

update corner cases
  be/src/exprs/agg/group_concat.h
Owners: @StarRocks/starrocks-committer

update tests
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

add cancel tests
  be/src/exprs/agg/group_concat.h
  be/test/exprs/agg/aggregate_test.cpp
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

add query_cache test
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer

fix unstable tests
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/T/test_materialized_view_status
Owners: @StarRocks/starrocks-committer

Fix reportAccessDenied mistake set error code
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessDeniedException.java
Owners: @StarRocks/starrocks-committer

fix comments
  be/src/exprs/agg/group_concat.h
Owners: @StarRocks/starrocks-committer

[Enhancement] support unnest array of struct/map/json
  be/src/exprs/table_function/table_function_factory.cpp
  test/sql/test_unnest/R/test_unnest
  test/sql/test_unnest/T/test_unnest
Owners: @StarRocks/starrocks-committer

fix update pr body twice and ignore the 1st
  .github/workflows/ci-doc-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] BugFix: update doc pr's behavior info (#29769)
  .github/workflows/ci-doc-checker.yml
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
