Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement]min-max conjuncts use original slotid (#29513)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q1.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q10.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q11.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q15.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q16.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q17.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q2.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q20.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q21.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q22.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q3.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q4.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q5.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q6.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q7.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q8.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q5.sql
  fe/fe-core/src/test/resources/sql/scheduler/external/hive/tpch/q1.sql
Owners: @StarRocks/starrocks-committer

[Enhancement] Fs starlet support batch delete api (#30013)
  be/src/fs/fs.h
  be/src/fs/fs_starlet.cpp
  be/test/fs/fs_posix_test.cpp
  be/test/fs/fs_starlet_test.cpp
Owners: @StarRocks/starrocks-committer

refactor
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

fix for comment
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationConstants.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudType.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add group-level metric inuse_cpu_cores in BE (#30395)
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
Owners: @StarRocks/starrocks-committer

[Doc] Fix some lint errors (#6531)
  sql-reference/sql-statements/account-management/GRANT.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Enable partial update to be used with condition update (#30242)
  be/src/storage/delta_writer.cpp
  be/src/storage/rowset_update_state.cpp
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/LoadStmt.java
  test/common/data/stream_load/sr_condition_update_1.csv
  test/common/data/stream_load/sr_condition_update_2.csv
  test/sql/test_condition_update/R/test_condition_update
  test/sql/test_condition_update/T/test_condition_update
Owners: @StarRocks/starrocks-committer

fix for comment
  be/src/exec/csv_scanner.cpp
Owners: @StarRocks/starrocks-committer

fix (#6530)
  .markdownlint.yaml
Owners: @StarRocks/starrocks-committer

remove hdfs fs credential key
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationConstants.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Use batch delete in cloud native vacuum (#30183)
  be/src/storage/lake/vacuum.cpp
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] More checks
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/storage/rowset/scalar_column_iterator.cpp
  be/src/storage/rowset/scalar_column_iterator.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_reader.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

resolve comments
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

delete .md in navigation page to avoid 404 in official web (#6529)
  introduction/StarRocks_intro.md
Owners: @StarRocks/starrocks-committer

reset QueryState after modify session variable
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
Owners: @StarRocks/starrocks-committer

fix for comment
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
Owners: @StarRocks/starrocks-committer

add more ut for coverage
  fe/fe-core/src/test/java/com/starrocks/cluster/SystemInfoServiceTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement]adjust RunningSql and QueuedSql for warehous to be 0 (#4086)
  fe/fe-core/src/main/java/com/starrocks/common/util/KafkaUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PulsarUtil.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/LoadAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/TransactionLoadAction.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileScanNode.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Cluster.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/LocalWarehouse.java
  fe/fe-core/src/test/java/com/starrocks/http/ProcWarehousesTest.java
  test/sql/test_warehouse/R/test_show_warehouse
Owners: @StarRocks/starrocks-committer

[Doc] delete .md in navigation page to avoid 404 in official web (#30415)
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] delete .md in navigation page to avoid 404 in official web (#30415)
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

[Doc] delete .md in navigation page to avoid 404 in official web (#30415)
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

[Feature] support using expr predicate to prune partition
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/PartitionColPredicateEvaluator.java
Owners: @StarRocks/starrocks-committer

[Feature] Add new agg/window function 'approx_top_k' (#29643)
  be/src/exec/analytor.cpp
  be/src/exec/analytor.h
  be/src/exprs/agg/approx_top_k.h
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_approx.cpp
  be/src/exprs/agg/nullable_aggregate.h
  docs/sql-reference/sql-functions/aggregate-functions/approx_top_k.md
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticWindow.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ExprUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/WindowTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  test/common/sql/ssb/create.sql
  test/common/sql/tpcds/create.sql
  test/common/sql/tpch/create.sql
  test/sql/test_agg_function/R/test_approx_top_k
  test/sql/test_agg_function/T/test_approx_top_k
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[BugFix] check table existence before heavy creating operation
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Owners: @StarRocks/starrocks-committer

check session variable existence
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve broker load error message (#30412)
  be/src/exec/csv_scanner.cpp
  be/src/exec/csv_scanner.h
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve broker load error message (#30412)
  be/src/exec/csv_scanner.cpp
  be/src/exec/csv_scanner.h
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
Owners: @StarRocks/starrocks-committer

Revert "[Enhancement] Add group-level metric inuse_cpu_cores in BE (#30395)" (#4244)
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
Owners: @StarRocks/starrocks-committer

[BugFix] support collect null value partition statistics for external table
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveStatisticsProvider.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix crash in batch delete caused by empty paths (#30390)
  be/src/fs/fs_starlet.cpp
  be/test/fs/fs_starlet_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix BE crash when enable filter_unused_columns and dictionary inconsistent
  be/src/storage/rowset/segment_iterator.cpp
  be/test/storage/rowset/segment_iterator_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Feature] Support backup/restore for materialized view (#29164)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupHandler.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupJob.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/BaseTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/BackupRestoreAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/backup/BackupJobMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ForeignKeyConstraintTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/UnitTestUtil.java
Owners: @StarRocks/starrocks-committer

[Doc] add 2.5.12 rn
  docs/release_notes/release-2.5.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix parquet writer memory leak after exception (#26254)
  be/src/formats/parquet/file_writer.cpp
  be/test/CMakeLists.txt
  be/test/formats/parquet/arrow_parquet_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] refact pg table to compatible with authorization system (#30060)
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/PostgresSchemaResolver.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/PostgresSchemaResolverTest.java
Owners: @StarRocks/starrocks-committer

add 2.5.12 release notes (#6535)
  release_notes/release-2.5.md
Owners: @StarRocks/starrocks-committer

[Doc] add 2.5.12 rn (#30425)
  docs/release_notes/release-2.5.md
Owners: @StarRocks/docs-maintainer

[Doc] add 2.5.12 rn (#30425)
  docs/release_notes/release-2.5.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
