Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix cpuCoreUsagePermille
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

add-new-features-in-1.1.1
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Support convert equal range predicates into equivalence classes
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q10.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q5.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q6.sql
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q5.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
Owners: @StarRocks/starrocks-committer

[Enhancement] output more thread metrics for PrometheusMetricVisitor
  fe/fe-core/src/main/java/com/starrocks/common/proc/JvmProcDir.java
  fe/fe-core/src/main/java/com/starrocks/metric/PrometheusMetricVisitor.java
  fe/fe-core/src/main/java/com/starrocks/monitor/jvm/JvmStats.java
Owners: @StarRocks/starrocks-committer

turn the MetadataMgr into a cache from map
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

update tests
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (backport #30108) (#30298)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/connector/analyzer/SimpleExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg/R/test_orderby_agg
  test/sql/test_agg/T/test_orderby_agg
Owners: @StarRocks/starrocks-committer

account _cpu_runtime_ns
  be/src/agent/resource_group_usage_recorder.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/workgroup/work_group.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix decimalv2 to string different as BE (#30167)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (backport #30108) (#30294)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Move param config content to BROKER LOAD Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix comments not being discarded when to AST (backport #30210) (#30296)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

[BugFix] fix comments not being discarded when to AST (backport #30210) (#30295)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

fix comments
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
Owners: @StarRocks/starrocks-committer

disable array_agg(distinct json
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_agg_function/R/test_array_agg
Owners: @StarRocks/starrocks-committer

BugFix: The max readable version of tablet during schema change should be set as max version
  be/src/storage/publish_version_manager.cpp
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[Doc] add catalog support info to External table (#6517)
  data_source/External_table.md
Owners: @StarRocks/starrocks-committer

[Doc] Add catalog support info to External table Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/data_source/External_table.md
Owners: @StarRocks/docs-maintainer

[Feature] Add new window function 'approx_top_k'
  be/src/exec/analytor.cpp
  be/src/exec/analytor.h
  be/src/exprs/agg/approx_top_k.h
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_approx.cpp
  be/src/exprs/agg/nullable_aggregate.h
  docs/sql-reference/sql-functions/aggregate-functions/approx_top_k.md
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticWindow.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ExprUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/WindowTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  test/common/sql/ssb/create.sql
  test/common/sql/tpcds/create.sql
  test/common/sql/tpch/create.sql
  test/sql/test_agg_function/R/test_approx_top_k
  test/sql/test_agg_function/T/test_approx_top_k
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add catalog support info to External table Branch 2.5 (#30312)
  docs/data_source/External_table.md
  docs/loading/BrokerLoad.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

update 3
  be/src/exec/analytor.cpp
  be/src/exprs/agg/approx_top_k.h
Owners: @StarRocks/starrocks-committer

update 2
  be/src/exec/analytor.cpp
Owners: @StarRocks/starrocks-committer

update 1
  be/src/exprs/agg/approx_top_k.h
Owners: @StarRocks/starrocks-committer

[Doc] Move param config content to BROKER LOAD (#6516)
  loading/cloud_storage_load.md
  loading/hdfs_load.md
  sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/starrocks-committer

Fix minor bug in asan mode
  be/src/exec/tablet_sink_colocate_sender.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Move param config content to BROKER LOAD (#30311)
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Move param config content to BROKER LOAD (#30311)
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Move param config content to BROKER LOAD (#30311)
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

fix ut
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

Update AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
Owners: @StarRocks/starrocks-committer
