Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

categorize toc
  docs/TOC.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

Support column rename for olap table Part 1
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnRenameClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  test/sql/test_column_rename/R/test_column_rename
  test/sql/test_column_rename/T/test_column_rename
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

solve conflict
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Check compression codec for parquet writer (#32800)
  be/src/exec/parquet_writer.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Check compression codec for parquet writer (#32800)
  be/src/exec/parquet_writer.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Check compression codec for parquet writer (#32800)
  be/src/exec/parquet_writer.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Check compression codec for parquet writer (#32800)
  be/src/exec/parquet_writer.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Owners: @StarRocks/starrocks-committer

extract long method
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

check the schema when trying to activate the mv
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

fix sql test
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/R/test_mv_on_view
  test/sql/test_materialized_view/T/test_materialized_view_status
Owners: @StarRocks/starrocks-committer

exception context
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] db lock deadlock cause by isRestoreReplica function in tabletReport(#32789) (#32803)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
Owners: @StarRocks/starrocks-committer

upt
  fe/fe-core/src/test/java/com/starrocks/common/util/AutoInferUtilTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (#32827)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (#32827)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (#32827)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (#32827)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (#32827)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[add command list] (#6827)
  TOC.md
  sql-reference/sql-statements/all-commands.md
  sql-reference/sql-statements/data-definition/RECOVER.md
  sql-reference/sql-statements/data-manipulation/GROUP_BY.md
  sql-reference/sql-statements/data-manipulation/SELECT.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv(sync #31994) (#6007)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix not back quote subquery alias (#32827)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

[Feature] Add materialized view metrics (#30735)
  fe/fe-core/src/main/java/com/starrocks/http/rest/MetricsAction.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsRegistry.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

add nodiscard and check status return
  be/src/exec/data_sink.h
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/file_scan_node.cpp
  be/src/exec/olap_common.h
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_prepare.cpp
  be/src/exec/pipeline/context_with_dependency.h
  be/src/exec/pipeline/nljoin/nljoin_context.cpp
  be/src/exec/pipeline/set/intersect_output_source_operator.h
  be/src/exec/schema_scan_node.cpp
  be/src/exec/union_node.cpp
  be/src/exec/union_node.h
  be/src/runtime/external_scan_context_mgr.cpp
  be/src/runtime/result_queue_mgr.h
Owners: @StarRocks/starrocks-committer

[BugFix] Make sure all bthread only has process level memtracker (#32580)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/runtime/current_thread.h
Owners: @StarRocks/starrocks-committer

Fix trace mv log bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TracerMVTest.java
Owners: @StarRocks/starrocks-committer

Fix trace mv log bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TracerMVTest.java
Owners: @StarRocks/starrocks-committer

[Doc] add command list and re-categorize command reference (#32828)
  docs/TOC.md
  docs/sql-reference/sql-statements/all-commands.md
  docs/sql-reference/sql-statements/data-manipulation/SELECT.md
Owners: @StarRocks/docs-maintainer

[Doc] add command list and re-categorize command reference (#32828)
  docs/TOC.md
  docs/sql-reference/sql-statements/all-commands.md
  docs/sql-reference/sql-statements/data-manipulation/SELECT.md
Owners: @StarRocks/docs-maintainer

[Doc] add command list and re-categorize command reference (#32828)
  docs/TOC.md
  docs/sql-reference/sql-statements/all-commands.md
  docs/sql-reference/sql-statements/data-manipulation/SELECT.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
