Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] fix lake mv constructor not called properly when start (#31702)
  fe/fe-core/src/main/java/com/starrocks/lake/LakeMaterializedView.java
Owners: @StarRocks/starrocks-committer

upt
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

Update deploy_shared_data.md
  docs/deployment/deploy_shared_data.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Schemachange can convert from latest version for PK table (#31376)
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

fix local agg
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Owners: @StarRocks/starrocks-committer

[Refactor] Replan the insert to get rid of the metadata inconsistent between plan() and beginTransaction() (#31351)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some daily test bug (#31644)
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/T/test_partial_update
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some daily test bug (#31644)
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/T/test_partial_update
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some daily test bug (#31644)
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/T/test_partial_update
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some daily test bug (#31644)
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/T/test_partial_update
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some daily test bug (#31644)
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/T/test_partial_update
Owners: @StarRocks/starrocks-committer

fix local agg (#31754)
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Schemachange can convert from latest version for PK table (#31376)
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Schemachange can convert from latest version for PK table (#31376)
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (#31228)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (#31228)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (#31228)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Revert "[Feature] Turn on query cache in default" (#31726)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryCacheTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/resources/sql/scheduler/aggregate/agg_local_one_phase_non_partition_one_exchange.sql
Owners: @StarRocks/starrocks-committer

varchar column: append_selectivity2
  .clang-format
  be/src/column/chunk.cpp
  be/src/column/chunk.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/planner/DataStreamSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

support tencent cos filesytem
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationConstants.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudType.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudCredential.java
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (#31228)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfigurationProvider.java
Owners: @StarRocks/starrocks-committer

[Refactor] add RawSendBytes, SerializedBytes and CompressedBytes for exchange sink (#31721)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Refactor] add RawSendBytes, SerializedBytes and CompressedBytes for exchange sink (#31721)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
Owners: @StarRocks/starrocks-committer

Update exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
Owners: @StarRocks/starrocks-committer

Update exchange_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Refactor] add RawSendBytes, SerializedBytes and CompressedBytes for exchange sink (#31721)
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (#31228)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Schemachange can convert from latest version for PK table (#31376)
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Schemachange can convert from latest version for PK table (#31376)
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Schemachange can convert from latest version for PK table (#31376)
  be/src/storage/schema_change.cpp
Owners: @StarRocks/starrocks-committer

fix misusing topn runtime filter in row-group filtering
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

support meta scan (#31722)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
Owners: @StarRocks/starrocks-committer

[Doc] Minor fix Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/assets/share_data_arch.png
Owners: @StarRocks/docs-maintainer

fix sql tester case
  test/sql/test_warehouse/R/test_warehouse
  test/sql/test_warehouse/T/test_warehouse
Owners: @StarRocks/starrocks-committer

[Doc] Add behavior change CN port name (#31716)
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Doc] Add behavior change CN port name (#31716)
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Feature] Support to_tera_date/to_tera_timestamp (#28509)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  gensrc/script/functions.py
  test/sql/test_time_fn/R/test_to_date
  test/sql/test_time_fn/T/test_to_date
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] Throttle ingestion speed when compaction cannot keep up with ingestion( #29505)
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/lake/CommitRateLimiter.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/delete/LakeDeleteJob.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadingTaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/CommitRateExceededException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/lake/CommitRateLimiterTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/BrokerLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/GlobalTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/LakeTableTxnStateListenerTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Refactor] refactor hdfs scan node to thrift and scan optimization options(#31367)
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ScanOptimzeOption.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MinMaxCountOptOnScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer
