Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/docker-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer, @StarRocks/thread-committer, @StarRocks/restful-maintainer

fix ut bug
  fe/fe-core/src/main/java/com/starrocks/qe/SimpleScheduler.java
  fe/fe-core/src/test/java/com/starrocks/qe/SimpleSchedulerTest.java
Owners: @StarRocks/starrocks-committer

change the default value of a be config
  docs/en/administration/BE_configuration.md
  docs/zh/administration/BE_configuration.md
Owners: @StarRocks/docs-maintainer

optimize the optimistic lock for insert-select
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

add switch
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

fix retry
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer

refactor
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/OptimisticVersion.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

add test case
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/OptimisticVersionTest.java
Owners: @StarRocks/analyzer, @StarRocks/starrocks-committer

refactor copy procedure
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Owners: @StarRocks/analyzer

[Enhancement] push down adaptive dop to UnionNode (#38860)
  be/src/exec/pipeline/adaptive/event.cpp
  be/src/exec/pipeline/adaptive/event.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/pipeline_builder.h
  be/src/exec/pipeline/source_operator.cpp
  be/src/exec/pipeline/source_operator.h
  be/src/exec/union_node.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support async segment writer for lake compaction (#36630)
  be/src/common/config.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/general_tablet_writer.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/horizontal_compaction_task.h
  be/src/storage/lake/pk_tablet_writer.cpp
  be/src/storage/lake/pk_tablet_writer.h
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_writer.h
  be/src/storage/lake/versioned_tablet.cpp
  be/src/storage/lake/versioned_tablet.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.h
  be/src/util/threadpool.h
Owners: @StarRocks/starrocks-committer, @StarRocks/cloud-native

[Enhancement] Add ICEBERG.MetricsConfig in query profile for Iceberg tables (#37787)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TableTestBase.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add ICEBERG.MetricsConfig in query profile for Iceberg tables (#37787)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TableTestBase.java
Owners: @StarRocks/starrocks-committer

[Feature] support const folding for to_date() (#39067)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Enhancement] Support create mv base on iceberg table with partition transform (backport #38196) (#39071)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionTransform.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TableTestBase.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer, @StarRocks/optimizer

add test case
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/OptimisticVersion.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Owners: @StarRocks/starrocks-committer, @StarRocks/analyzer

[UT] Remove too much useless ut stdout logs
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support const folding for to_date() (#39067)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Enhancement] The decimal creation type is consistent with the display type (#38639)
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CastOperator.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AST2StringBuilderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_http_sql/R/test_http_output
  test/sql/test_http_sql/R/test_http_semi
  test/sql/test_join/R/test_join_array
  test/sql/test_join/R/test_join_map
  test/sql/test_join/R/test_join_struct
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/R/test_expr_str2date
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Enhancement] The decimal creation type is consistent with the display type (#38639)
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CastOperator.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AST2StringBuilderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_http_sql/R/test_http_output
  test/sql/test_http_sql/R/test_http_semi
  test/sql/test_join/R/test_join_array
  test/sql/test_join/R/test_join_map
  test/sql/test_join/R/test_join_struct
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/R/test_expr_str2date
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Enhancement] The decimal creation type is consistent with the display type (#38639)
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CastOperator.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AST2StringBuilderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_http_sql/R/test_http_output
  test/sql/test_http_sql/R/test_http_semi
  test/sql/test_join/R/test_join_array
  test/sql/test_join/R/test_join_map
  test/sql/test_join/R/test_join_struct
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/R/test_expr_str2date
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Enhancement] The decimal creation type is consistent with the display type (#38639)
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CastOperator.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AST2StringBuilderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_http_sql/R/test_http_output
  test/sql/test_http_sql/R/test_http_semi
  test/sql/test_join/R/test_join_array
  test/sql/test_join/R/test_join_map
  test/sql/test_join/R/test_join_struct
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/R/test_expr_str2date
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Enhancement] The decimal creation type is consistent with the display type (#38639)
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CastOperator.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AST2StringBuilderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_http_sql/R/test_http_output
  test/sql/test_http_sql/R/test_http_semi
  test/sql/test_join/R/test_join_array
  test/sql/test_join/R/test_join_map
  test/sql/test_join/R/test_join_struct
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/R/test_expr_str2date
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

Update EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix BE crash in AGG when group by key overflow
  be/src/exec/aggregate/agg_hash_map.h
  test/sql/test_agg/R/test_serialize_key_agg
  test/sql/test_agg/T/test_serialize_key_agg
Owners: @StarRocks/starrocks-committer

[Feature] support const folding for to_date() (#39067)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Enhancement] Add ICEBERG.MetricsConfig in query profile for Iceberg tables (#37787)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TableTestBase.java
Owners: @StarRocks/starrocks-committer

change the default value of a be config
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Feature] support const folding for to_date() (#39067)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Feature] support const folding for to_date() (#39067)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Bugfix]: Fix char(n) return result need trim space
  be/src/storage/row_store_encoder_simple.cpp
  test/sql/test_column_with_row/R/test_column_with_row_variable
  test/sql/test_column_with_row/T/test_column_with_row_variable
Owners: @StarRocks/starrocks-committer

[Enhancement] The decimal creation type is consistent with the display type (#38639)
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CastOperator.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AST2StringBuilderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q17.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_http_sql/R/test_http_output
  test/sql/test_http_sql/R/test_http_semi
  test/sql/test_join/R/test_join_array
  test/sql/test_join/R/test_join_map
  test/sql/test_join/R/test_join_struct
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/R/test_expr_str2date
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[BugFix] Fix pipeline may use-after-free in count_down_drivers
  be/src/exec/pipeline/pipeline.cpp
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/OptimisticVersionTest.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Owners: @StarRocks/optimizer

check is leader
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

add
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[BugFix] Persistent index does not flush advance during compaction (#38651)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Persistent index does not flush advance during compaction (#38651)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Persistent index does not flush advance during compaction (#38651)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# /docker
/docker/  @StarRocks/docker-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

# StorageEngine/ExecEnv/GlobalEnv
/be/src/runtime/exec_env.h @StarRocks/thread-committer
/be/src/runtime/exec_env.cpp @StarRocks/thread-committer
/be/src/storage/olap_server.cpp @StarRocks/thread-committer
/be/src/storage/storage_engine.h @StarRocks/thread-committer
/be/src/storage/storage_engine.cpp @StarRocks/thread-committer
/be/src/service/starrocks_main.cpp @StarRocks/thread-committer
/be/src/service/service_be/starrocks_be.cpp @StarRocks/thread-committer

# restful
/fe/fe-core/src/main/java/com/starrocks/http @StarRocks/restful-maintainer
/be/src/http @StarRocks/restful-maintainer
