Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

Update StarRocks.g4 to fix conflicts
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Owners: @StarRocks/syntax-committer

[BugFix] fix severals bugs of pipe (#29478)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeSetProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
  test/sql/test_pipe/R/basic
  test/sql/test_pipe/T/basic
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add agent task metrics (#29707)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  test/sql/test_metrics/R/test_memory_metrics
  test/sql/test_metrics/T/test_memory_metrics
Owners: @StarRocks/starrocks-committer

add auto_increment best practice (#6420)
  assets/External_Catalog+INSERT_INTO.png
  assets/loading+UPDATE.png
  using_starrocks/query_acceleration_with_auto_increment.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Reject write edit log on follower node (#28414)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add agent task metrics (#29707)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  test/sql/test_metrics/R/test_memory_metrics
  test/sql/test_metrics/T/test_memory_metrics
Owners: @StarRocks/starrocks-committer

[Enhancement] Add agent task metrics (#29707)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  test/sql/test_metrics/R/test_memory_metrics
  test/sql/test_metrics/T/test_memory_metrics
Owners: @StarRocks/starrocks-committer

[Enhancement] Reject write edit log on follower node (#28414)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Reject write edit log on follower node (#28414)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Reject write edit log on follower node (#28414)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add agent task metrics (#29707)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  test/sql/test_metrics/R/test_memory_metrics
  test/sql/test_metrics/T/test_memory_metrics
Owners: @StarRocks/starrocks-committer

[Enhancement] Reject write edit log on follower node (#28414)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] primary key using persistent index by default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer

Merge pull request #29850 from luohaha/enable-pindex
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Prerequisites to deploy broker doc (#29902)
  docs/deployment/deploy_broker.md
Owners: @StarRocks/docs-maintainer

add auto_increment best practice into toc (#6476)
  TOC.md
  using_starrocks/query_acceleration_with_auto_increment.md
Owners: @StarRocks/starrocks-committer

[BugFix] keep comments in sql when audit it (backport #29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Tool] Incorporate the LLVM third-party library
  be/CMakeLists.txt
  build.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Tool] Remove the temporarily unused library
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool] Fix llvm third-party CI error
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool] Fix vars.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Tool] Remove debug info
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool] Fix build error
  be/CMakeLists.txt
Owners: @StarRocks/starrocks-committer

[Tool] Restore compile flags after building llvm
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool] Add more llvm target.
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool] Optimization shell script
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool] Compile the specified target only
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
Owners: @StarRocks/starrocks-committer

[Tool]: Fix CMake
  be/CMakeLists.txt
Owners: @StarRocks/starrocks-committer

add ut case for coverage
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RecyclableClient.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
Owners: @StarRocks/starrocks-committer

add mysql_server_version config doc
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Feature]Support array and map type for paimon table (#29854)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
Owners: @StarRocks/starrocks-committer

Merge pull request #28778 from fzhedu/groupConcat
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/AggType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature]Support array and map type for paimon table (#29854)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
Owners: @StarRocks/starrocks-committer
