Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

scannode: hack TYPE_NULL
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
Owners: @StarRocks/starrocks-committer

expr: remove NULL_TYPE check
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
Owners: @StarRocks/starrocks-committer

[Doc] Update max_broker_load_job_concurrency default value&desc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

Update ci-pipeline-branch.yml
  .github/workflows/ci-pipeline-branch.yml
Owners: @StarRocks/starrocks-committer

fix ut
  be/test/exprs/string_fn_test.cpp
Owners: @StarRocks/starrocks-committer

Fix bug parse duration failed
  fe/fe-core/src/main/java/com/starrocks/common/util/TimeUtils.java
Owners: @StarRocks/starrocks-committer

Fix bug automatic partition table slot_id is not update after schema change (#29879)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

ignore the case cause jvm crash
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

restructure flink docs according to rd's input
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Forbidden delete by complex type conditition (#28592)
  fe/fe-core/src/main/java/com/starrocks/load/DeleteHandler.java
  fe/fe-core/src/test/java/com/starrocks/lake/delete/DeleteTest.java
Owners: @StarRocks/starrocks-committer

Fix bug parse duration failed (#29886)
  fe/fe-core/src/main/java/com/starrocks/common/util/TimeUtils.java
Owners: @StarRocks/starrocks-committer

[BugFix] Forbidden delete by complex type conditition (#28592)
  fe/fe-core/src/main/java/com/starrocks/load/DeleteHandler.java
  fe/fe-core/src/test/java/com/starrocks/lake/delete/DeleteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement]Support more mysql type REAL/TEXT and skip compute checksum to restart quicker (#22732)
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/MysqlSchemaResolver.java
Owners: @StarRocks/starrocks-committer

[Feature] Support the string fucntion TRANSLATE (#29771)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/utf8_encoding.h
  gensrc/script/functions.py
  test/sql/test_function/R/test_translate
  test/sql/test_function/T/test_translate
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Update BrokerLoad.md
  docs/loading/BrokerLoad.md
Owners: @StarRocks/docs-maintainer

[Feature] Support the string fucntion TRANSLATE (#29771)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/utf8_encoding.h
  gensrc/script/functions.py
  test/sql/test_function/R/test_translate
  test/sql/test_function/T/test_translate
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Doc] remove extra spaces Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
Owners: @StarRocks/docs-maintainer

[Doc] Update max_broker_load_job_concurrency default value&desc (#6460)
  administration/Configuration.md
  loading/BrokerLoad.md
  loading/cloud_storage_load.md
  loading/hdfs_load.md
  sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/starrocks-committer

[Doc] Update max_broker_load_job_concurrency default value&desc (#29884)
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Update max_broker_load_job_concurrency default value&desc (#29884)
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Update max_broker_load_job_concurrency default value&desc (#29884)
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Update max_broker_load_job_concurrency default value&desc (#29884)
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Update max_broker_load_job_concurrency default value&desc (#29884)
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Update max_broker_load_job_concurrency default value&desc (#6464)
  administration/Configuration.md
  loading/BrokerLoad.md
  sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/starrocks-committer

[Doc] Update max_broker_load_job_concurrency default value&desc (#6465)
  administration/Configuration.md
  loading/BrokerLoad.md
  sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/starrocks-committer

[Doc] Update max_broker_load_job_concurrency default value&desc (#29884)
  docs/loading/BrokerLoad.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Enhancement]Support more mysql type REAL/TEXT and skip compute checksum to restart quicker (#22732)
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/MysqlSchemaResolver.java
Owners: @StarRocks/starrocks-committer

fix Slice and Datum
  be/test/exprs/string_fn_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] limit mv with window function (#29325)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] limit mv with window function (#29325)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] limit mv with window function (#29325)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] limit mv with window function (#29325)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] limit mv with window function (#29325)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] cache view analyze result (#29642)
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-pick][Branch-3.1] Support sync publish version for primary key table (#27055) (#29370)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
Owners: @StarRocks/starrocks-committer

forbit construct Datum from std::string
  be/src/column/datum.h
  be/test/exprs/string_fn_test.cpp
  be/test/storage/binlog_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Forbidden delete by complex type conditition (#28592)
  fe/fe-core/src/main/java/com/starrocks/load/DeleteHandler.java
  fe/fe-core/src/test/java/com/starrocks/lake/delete/DeleteTest.java
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/main/java/com/starrocks/connector/hive/glue/metastore/AWSGlueClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support audic statistics for insert statement
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/audit_statistics_reporter.cpp
  be/src/exec/pipeline/audit_statistics_reporter.h
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
Owners: @StarRocks/starrocks-committer
