Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29210)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

[Feature] Support group-level queue and control concurrency limit in Leader FE (#29116)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/Status.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/SchedulerTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

Fix bug can not query information_schema when table name contains special char
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

ignore unstable case
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug can not query information_schema when table name contains spe… (#29223)
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[UT] Fix wrong pipeline test uts when using gtest-parallel (#29048)
  be/test/exec/pipeline/pipeline_control_flow_test.cpp
  be/test/exec/pipeline/pipeline_test_base.cpp
  be/test/exec/pipeline/pipeline_test_base.h
Owners: @StarRocks/starrocks-committer

[UT] Fix wrong pipeline test uts when using gtest-parallel (#29048)
  be/test/exec/pipeline/pipeline_control_flow_test.cpp
  be/test/exec/pipeline/pipeline_test_base.cpp
  be/test/exec/pipeline/pipeline_test_base.h
Owners: @StarRocks/starrocks-committer

[BugFix] fix partial update char column miss padding (#29206)
  be/src/storage/rowset_column_update_state.cpp
  test/sql/test_partial_update_column_mode/R/test_partial_update_char_padding
  test/sql/test_partial_update_column_mode/T/test_partial_update_char_padding
Owners: @StarRocks/starrocks-committer

[Feature] Support sort key be able to nullable. (#15641)
  be/src/storage/primary_key_encoder.cpp
  be/src/storage/rowset_merger.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Add python examples (#6335)
  loading/Spark-connector-starrocks.md
Owners: @StarRocks/starrocks-committer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] Add python examples (#29101)
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix bug can not query information_schema when table name contains spe… (#29221)
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Update deployment/helm.md
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Doc] update helm.md (#29162)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Doc] update helm.md (#29162)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Doc] update helm.md (#29162)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

Fix matcher use new matchPattern
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[Doc] Update helm.md (#6352)
  deployment/helm.md
Owners: @StarRocks/starrocks-committer

Update Configuration.md
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Profile optimization(1)
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/SessionVariableTest.java
  test/sql/test_profile/R/test_profile
  test/sql/test_profile/T/test_profile
  test/sql/test_profile/T/test_profile_non_default_variables.sh
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[Doc] Update auth to aws Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Refactor] Update create random distribution error message (#29205)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Doc] Update auth to aws Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[BugFix] Only push down partition predicates for mv refresh when all slot refs can be resolved in the scope (#29212)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Update create random distribution error message (#29205)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Only push down partition predicates for mv refresh when all slot refs can be resolved in the scope (#29212)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] keep the constant projection stay in the join level
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SemiReorderRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Update auth to aws Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add show running queries cmd
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer
