Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Refactor] abstract a getSelectedPartitionId method for CastToEmptyByPartitionRule (#31281)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalHiveScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalHudiScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalPaimonScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
Owners: @StarRocks/starrocks-committer

Apply suggestions from code review
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix FE dead lock bug where db lock and TabletInvertedIndex lock waiting for each other (#30703)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

add log
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

build_index_column/probe_index_column
  be/src/exec/hash_join_components.cpp
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_joiner.cpp
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
Owners: @StarRocks/starrocks-committer

update ut
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_parquet.h
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/page_reader.h
  be/test/formats/parquet/page_reader_test.cpp
Owners: @StarRocks/starrocks-committer

fix start script
  be/src/exec/hdfs_scanner.cpp
  be/src/formats/parquet/page_reader.cpp
Owners: @StarRocks/starrocks-committer

peek does not update bytes read
  be/src/exec/hdfs_scanner.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/page_reader.h
Owners: @StarRocks/starrocks-committer

fix bugs
  be/src/connector/hive_connector.cpp
  be/src/formats/parquet/page_reader.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Wait only for remote global runtime filters (#31260)
  be/src/exec/pipeline/pipeline_driver.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Wait only for remote global runtime filters (#31260)
  be/src/exec/pipeline/pipeline_driver.h
Owners: @StarRocks/starrocks-committer

filter cases in fe ut script
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Make QUERIES and RUNNING non-reserved
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Owners: @StarRocks/syntax-committer

[Refactor] refactor error msg for high-order functions (backport #30766) (#31055)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/VariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SemanticException.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SetType.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix FE dead lock bug where db lock and TabletInvertedIndex lock waiting for each other (#31320)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Owners: @StarRocks/starrocks-committer

[BugFix][Cherry-Pick] Fix In-Subquerys use complex-expression as correlation predi… (#31141)
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.tpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/SubqueryUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/CorrelatedPredicateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExistentialApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/QuantifiedApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ScalarApply2JoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
  test/sql/test_subquery/R/test_not_in
  test/sql/test_subquery/T/test_not_in
Owners: @StarRocks/starrocks-committer

[BugFix][Cherry-Pick] Fix In-Subquerys use complex-expression as correlation predi… (#31142)
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.tpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/SubqueryUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/CorrelatedPredicateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExistentialApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/QuantifiedApply2OuterJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ScalarApply2JoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
  test/sql/test_subquery/R/test_not_in
  test/sql/test_subquery/T/test_not_in
Owners: @StarRocks/starrocks-committer

Update inspection-pipeline.yml
  .github/workflows/inspection-pipeline.yml
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

Refactor show materialzied views command
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowMaterializedViewStatus.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Wait only for remote global runtime filters (#31260)
  be/src/exec/pipeline/pipeline_driver.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Wait only for remote global runtime filters (#31260)
  be/src/exec/pipeline/pipeline_driver.h
Owners: @StarRocks/starrocks-committer

[Tool] filter cases in fe ut script (#31327)
  .github/workflows/inspection-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowMaterializedViewStatus.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Owners: @StarRocks/starrocks-committer

[Tool] filter cases in fe ut script (#31327)
  .github/workflows/inspection-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

Fix execute as statement use error username in report message
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerResourceTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix UserPrivilegeCollectionV2 was not compatible bug (#31119)
  fe/fe-core/src/main/java/com/starrocks/persist/UserPrivilegeCollectionInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/UserPrivilegeCollectionInfoDeprecated.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationManagerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Failover group handshake and request meta rpc and persistence (#3876)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/FailoverGroup.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/FailoverGroupMember.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/FailoverGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/FailoverGroupRole.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/FailoverGroupState.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/NetworkAddress.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/PrimaryHelper.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/ReplicatedObjectMeta.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/ReplicatedObjectMgr.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/ReplicationSchedule.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/SecondaryHelper.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/CreateFailoverGroupLog.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/DropFailoverGroupLog.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/OperationTypeEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/SRMetaBlockIDEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/UpdateFailoverGroupLog.java
  fe/fe-core/src/main/java/com/starrocks/http/meta/MetaService.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/MetaHelper.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/Storage.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/epack/failover/CreateFailoverGroupTest.java
  fe/fe-core/src/test/java/com/starrocks/epack/failover/FailoverGroupTest.java
  fe/fe-core/src/test/java/com/starrocks/epack/failover/ReplicatedObjectMetaTest.java
  gensrc/thrift/epack/FailoverGroup.thrift
Owners: @StarRocks/starrocks-committer

Add materialzied view metrics
  fe/fe-core/src/main/java/com/starrocks/http/rest/MetricsAction.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsRegistry.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
Owners: @StarRocks/starrocks-committer

[Enhancement] support prfetch in large binary col's append_selective()
  be/src/column/binary_column.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
Owners: @StarRocks/starrocks-committer

[Enhancement] tablet manager ondemand fetch shard info from starmgr (#31060) (#31254)
  be/src/service/staros_worker.cpp
  be/src/service/staros_worker.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/test/storage/lake/tablet_manager_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] allow statitics window funtion using order by and window clause (#30786)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
