Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

update
  be/src/exec/workgroup/work_group.cpp
Owners: @StarRocks/starrocks-committer

[Tool]change random db name to uuid4
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

Update BROKER LOAD.md (#6523)
  sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/starrocks-committer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[BugFix] CSV varbinary converter using base64 (#26911)
  be/src/formats/csv/varbinary_converter.cpp
  be/test/formats/csv/varbinary_converter_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix parquet writer memory leak after exception (#26254)
  be/src/formats/parquet/file_writer.cpp
  be/test/CMakeLists.txt
  be/test/formats/parquet/arrow_parquet_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] Fix code formats in BROKER LOAD.md (#30397)
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[BugFix] CSV varbinary converter using base64 (#26911)
  be/src/formats/csv/varbinary_converter.cpp
  be/test/formats/csv/varbinary_converter_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] remove be debuginfo file from the final be/cn/allin1 docker image (#30335)
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/allin1/allin1-ubuntu.Dockerfile
  docker/dockerfiles/be/be-ubi.Dockerfile
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Owners: @StarRocks/starrocks-committer

[Enhancement] remove be debuginfo file from the final be/cn/allin1 docker image (#30335)
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/allin1/allin1-ubuntu.Dockerfile
  docker/dockerfiles/be/be-ubi.Dockerfile
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Owners: @StarRocks/starrocks-committer

[Enhancement] remove be debuginfo file from the final be/cn/allin1 docker image (#30335)
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/allin1/allin1-ubuntu.Dockerfile
  docker/dockerfiles/be/be-ubi.Dockerfile
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Owners: @StarRocks/starrocks-committer

[Enhancement] remove be debuginfo file from the final be/cn/allin1 docker image (#30335)
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/allin1/allin1-ubuntu.Dockerfile
  docker/dockerfiles/be/be-ubi.Dockerfile
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Owners: @StarRocks/starrocks-committer

[Enhancement] Support ignoring invalid directories when list hive directory recursively.
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/CachingRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveWriteUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedRemoteFileSystem.java
Owners: @StarRocks/starrocks-committer

[Enhancement] remove be debuginfo file from the final be/cn/allin1 docker image (#30335)
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/allin1/allin1-ubuntu.Dockerfile
  docker/dockerfiles/be/be-ubi.Dockerfile
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Owners: @StarRocks/starrocks-committer

[Tool] backport sqltest lib from main to 3.0
  test/conf/sr.conf
  test/lib/choose_cases.py
  test/lib/skip.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/requirements.txt
  test/run.py
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

[Tool] Sync PR created by client (#4208)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

[Enhancement]min-max conjuncts use original slotid
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q1.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q10.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q11.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q15.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q16.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q17.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q2.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q20.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q21.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q22.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q3.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q4.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q5.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q6.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q7.sql
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q8.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q5.sql
  fe/fe-core/src/test/resources/sql/scheduler/external/hive/tpch/q1.sql
Owners: @StarRocks/starrocks-committer

[BugFix] fix agg in order by not being analyzed correctly (#30108)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/connector/analyzer/SimpleExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg/R/test_orderby_agg
  test/sql/test_agg/T/test_orderby_agg
Owners: @StarRocks/starrocks-committer

[Enhancement] array_agg supports distinct (#29907)
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/array-functions/array_agg.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/GroupByCountDistinctRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] support using expr predicate to prune partition
  fe/fe-core/src/main/java/com/starrocks/analysis/DateLiteral.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/planner/PartitionColumnFilter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ColumnFilterConverter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ConstantFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptOlapPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/PartitionColPredicateEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/PartitionColPredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FoldConstantsRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Make assignment bucket sequences to backend more evenly (#30248)
  fe/fe-core/src/main/java/com/starrocks/qe/ColocatedBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/assignment/BackendSelectorFactory.java
  fe/fe-core/src/test/java/com/starrocks/qe/ColocatedBackendSelectorTest.java
Owners: @StarRocks/starrocks-committer

[Tool] backport sqltest lib from main to 3.0 (#30409)
  test/conf/sr.conf
  test/lib/choose_cases.py
  test/lib/skip.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/requirements.txt
  test/run.py
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

BugFix: Fix FE meta compatibility issue
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve broker load error message
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
Owners: @StarRocks/starrocks-committer

[Tool] backport sqltest lib from main to 3.1
  test/conf/sr.conf
  test/lib/choose_cases.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/requirements.txt
  test/run.py
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

[Tool] backport sqltest lib from main to 3.1 (#30411)
  test/conf/sr.conf
  test/lib/choose_cases.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/requirements.txt
  test/run.py
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

[Tool] Fix: quote title in creating sync pr (#4211)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

refactor error message
  be/src/exec/csv_scanner.cpp
  be/src/exec/csv_scanner.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix crash in batch delete caused by empty paths (#30390)
  be/src/fs/fs_starlet.cpp
  be/test/fs/fs_starlet_test.cpp
Owners: @StarRocks/starrocks-committer

close beforce destruct DataStreamRecvr (#30347)
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

[Feature] CTAS support automatic partition (#30226)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CTASAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CTASAnalyzerTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_ctas
  test/sql/test_automatic_partition/T/test_automatic_partition_ctas
Owners: @StarRocks/starrocks-committer

[BugFix] Fix decimalv2 to string different as BE (#30167)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecimalTypeTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add group-level metric inuse_cpu_cores in BE (#30395)
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
Owners: @StarRocks/starrocks-committer

delete .md in navigation page to avoid 404
  docs/introduction/StarRocks_intro.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix unstable tests (#30318)
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[Enhancement] Add group-level metric inuse_cpu_cores in BE (#30395)
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
Owners: @StarRocks/starrocks-committer
