Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] ensure a valid cast clause for MySQL/JDBC table (backport #23379)
  fe/fe-core/src/main/java/com/starrocks/analysis/CastExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ExternalTablePredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateToExternalTableScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MySQLTableCastTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer

delete-desc-of-decoupling-sort-key-and-pk-in-2.5 (#30051)
  docs/table_design/table_types/table_types.md
Owners: @StarRocks/docs-maintainer

delete-desc-of-decoupling-sort-key-and-pk-in-2.5 (#30051)
  docs/table_design/table_types/table_types.md
Owners: @StarRocks/docs-maintainer

[Feature]support [Show nodes from warehouse xxx] (#3869)
  fe/fe-core/src/main/java/com/starrocks/epack/sql/ast/ShowNodesStmt.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/parser/AstBuilderEPack.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/warehouse/Cluster.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/LocalWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  test/sql/test_warehouse/R/test_show_warehouse
  test/sql/test_warehouse/T/test_show_warehouse
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Tool] promote toolchains to 20230823 version (#29813)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
Owners: @StarRocks/starrocks-committer

catch exception for mv when replaying journal (#30015)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

catch exception for mv when replaying journal (#30015)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

catch exception for mv when replaying journal (#30015)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

catch exception for mv when replaying journal (#30015)
  fe/fe-core/src/main/java/com/starrocks/alter/Alter.java
Owners: @StarRocks/starrocks-committer

catch exception for mv when replaying journal (#30015)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Owners: @StarRocks/starrocks-committer

[Doc] Add 3.1.2 release notes (#6485)
  release_notes/release-3.1.md
Owners: @StarRocks/starrocks-committer

[Doc] Add 3.1.2 release notes (#30039)
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Doc] Add 3.1.2 release notes (#30039)
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

refactor
  be/src/exprs/agg/array_agg.h
Owners: @StarRocks/starrocks-committer

[Enhancement] improve push_back in containers
  be/src/exec/chunks_sorter_topn.cpp
  be/src/exec/exec_node.cpp
Owners: @StarRocks/starrocks-committer

update tests
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] array_agg support distinct (#30050)
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

ProGuard support build with java 11 (#3964)
  build-support/proguard-java11.cfg
  build-support/proguard-java8.cfg
  build.sh
  fe/fe-core/pom.xml
Owners: @StarRocks/starrocks-committer

Signed-off-by: evelynzhaojie <everlyn.zhaojie@gmail.com>
  docs/faq/Dump_query.md
Owners: @StarRocks/docs-maintainer

[Doc] add desensitize query dump doc (#6481)
  faq/Dump_query.md
Owners: @StarRocks/starrocks-committer

[UT] Make audit log test stable
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer

[BugFix] skip checking global state mgr state if not shared nothing mode when writing log (#29965)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Owners: @StarRocks/starrocks-committer

[BugFix] skip checking global state mgr state if not shared nothing mode when writing log (#29965)
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

Fix check sync materialized view exist bug
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

Fix mv rewrite bug for having exprs with other predicates
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

Fix a batch of bugfix for storage_cooldown_ttl
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
Owners: @StarRocks/starrocks-committer

fix to_bitmap statistics calculator
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix to_bitmap statistics calculator (#29961)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

fix to_bitmap statistics calculator (#30074)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] improve delta column file gc (#29934)
  be/src/storage/data_dir.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
Owners: @StarRocks/starrocks-committer

[Enhancement] improve delta column file gc (#29934)
  be/src/storage/data_dir.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
Owners: @StarRocks/starrocks-committer

Fix a batch of bugfix for storage_cooldown_ttl (#30073)
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] ensure a valid cast clause for MySQL/JDBC table (backport #23379) (#30054)
  fe/fe-core/src/main/java/com/starrocks/analysis/CastExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ExternalTablePredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateToExternalTableScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MySQLTableCastTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix to_bitmap statistics calculator (#29961) (#30075)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[Enhancement] improve delta column file gc (#29934)
  be/src/storage/data_dir.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
Owners: @StarRocks/starrocks-committer

[Feature] Support group-level queue and control concurrency limit in Leader FE
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/Status.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/RecoverableException.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/SchedulerException.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Fix pending queryeis when group.concurrency_limit is null (#29803)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVMaintenanceJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add metrics for group-level query queue (#29869)
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/metric/ResourceGroupMetricMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/test/java/com/starrocks/metric/ResourceGroupMetricTest.java
Owners: @StarRocks/starrocks-committer
