Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix gen bitmap index detail message
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] enable delete files with different shard id
  be/src/fs/fs_starlet.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Change batch size
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

fix inspect
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
Owners: @StarRocks/starrocks-committer

get mv indexes
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix mv with str2date rewrite bug (#32744)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
Owners: @StarRocks/starrocks-committer

[BugFix] cannot use virtual address as root dir
  be/src/common/config.h
  be/src/fs/fs_starlet.cpp
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/tablet_manager.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix orphan files cannot be vacuumed
  be/src/fs/fs_starlet.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#32681)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Owners: @StarRocks/starrocks-committer

[Refactor] comments
  be/src/fs/fs_starlet.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] remove bitwise or
  be/src/storage/lake/tablet_manager.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support expression conversion of struct sub-column in Iceberg (#32598)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/ScalarOperatorToIcebergExpr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

Support column rename for olap table Part 1
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HashDistributionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/IndexSchemaProcNode.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnRenameClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  test/sql/test_column_rename/R/test_column_rename
  test/sql/test_column_rename/T/test_column_rename
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Check column reader is null when get segment memory usage (#32734)
  be/src/storage/rowset/segment.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support catalog level table cache for iceberg
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] subfieldExpr lose equals
  fe/fe-core/src/main/java/com/starrocks/analysis/SubfieldExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] upgrade staros version to v3.1.1, cve fixes
  be/CMakeLists.txt
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer

[BugFix] fix inspect meta functions (#32710)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Owners: @StarRocks/starrocks-committer

[Enhancement] support catalog level table cache for iceberg (#32728)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary txn log vacuum
  be/src/storage/lake/vacuum.cpp
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  gensrc/proto/lake_service.proto
Owners: @StarRocks/starrocks-committer

[BugFix] Only remove partition vision infos when mv's partition has been dropped (#32699)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

[Bugfix] fix mv on iceberg (#32747)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionBench.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix offer task failed
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix offer task failed
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
Owners: @StarRocks/starrocks-committer

[Doc] last broken link
  docs/integrations/intro.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix offer task failed in branch-3.1 (#32751)
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
Owners: @StarRocks/starrocks-committer

fixup2
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
Owners: @StarRocks/starrocks-committer

fixup3
  test/sql/test_query_cache_use_fresh_global_dict/R/test_query_cache_use_fresh_global_dict
  test/sql/test_query_cache_use_fresh_global_dict/T/test_query_cache_use_fresh_global_dict
Owners: @StarRocks/starrocks-committer

fixup 1
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
Owners: @StarRocks/starrocks-committer

[BugFix] Add dicts of offspring fragments of cached fragments into digest computation
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  test/sql/test_query_cache_use_fresh_global_dict/R/test_query_cache_use_fresh_global_dict
  test/sql/test_query_cache_use_fresh_global_dict/T/test_query_cache_use_fresh_global_dict
Owners: @StarRocks/starrocks-committer

[Enhancement] fix mv relationship when active mv (#32746)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Owners: @StarRocks/starrocks-committer

[Doc] Last broken link (#32753)
  docs/integrations/intro.md
Owners: @StarRocks/docs-maintainer

[BugFix] Ban compression codec of bz2 (#32708)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] upgrade staros version to v3.1.1, cve fixes (#32703)
  be/CMakeLists.txt
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Ban compression codec of bz2 (#32708)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Ban compression codec of bz2 (#32708)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary txn log vacuum (#32750)
  be/src/storage/lake/vacuum.cpp
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  gensrc/proto/lake_service.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary txn log vacuum (#32750)
  be/src/storage/lake/vacuum.cpp
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  gensrc/proto/lake_service.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove unnecessary txn log vacuum (#32750)
  be/src/storage/lake/vacuum.cpp
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  gensrc/proto/lake_service.proto
Owners: @StarRocks/starrocks-committer

[BugFix] Ban compression codec of bz2 (#32708)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer
