Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/starrocks-committer

[Doc] add-note-for-auto-bucket-number-setting (#29050)
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[Doc] add-note-for-auto-bucket-number-setting (#29050)
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[Doc] add-note-for-auto-bucket-number-setting (#29050)
  docs/table_design/Data_distribution.md
Owners: @StarRocks/docs-maintainer

[BugFix] assign wrong partitionId when multiple partition predicates (#28816)
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Avoid jemalloc non-zero assertion failure (#29062)
  be/src/formats/orc/orc_memory_pool.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Avoid jemalloc non-zero assertion failure (#29062)
  be/src/formats/orc/orc_memory_pool.cpp
Owners: @StarRocks/starrocks-committer

[Tool] Fix CI notification
  .github/workflows/ci-report.yml
Owners: @StarRocks/starrocks-committer

[Tool] Fix CI notification (#29081)
  .github/workflows/ci-report.yml
Owners: @StarRocks/starrocks-committer

Revert "[BugFix] Fix race condition of TMasterInfo (#7842) (#29067)"
  be/src/agent/CMakeLists.txt
  be/src/agent/agent_server.cpp
  be/src/agent/agent_server.h
  be/src/agent/heartbeat_server.cpp
  be/src/agent/heartbeat_server.h
  be/src/agent/master_info.cpp
  be/src/agent/master_info.h
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
  be/src/agent/utils.cpp
  be/src/agent/utils.h
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_configs_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_metrics_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_tablets_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_txns_scanner.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/small_file_mgr.cpp
  be/src/runtime/snapshot_loader.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/service/service_be/backend_service.cpp
  be/src/service/starrocks_main.cpp
  be/src/storage/task/engine_clone_task.cpp
  be/src/storage/task/engine_clone_task.h
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
  be/test/runtime/routine_load_task_executor_test.cpp
  be/test/runtime/small_file_mgr_test.cpp
Owners: @StarRocks/starrocks-committer

Revert "[Cleanup] Remove AgentUtils (#7814) (#29061)"
  be/src/agent/heartbeat_server.cpp
  be/src/agent/heartbeat_server.h
  be/src/agent/status.h
  be/src/agent/task_worker_pool.cpp
  be/src/agent/utils.cpp
  be/src/agent/utils.h
Owners: @StarRocks/starrocks-committer

Revert "[Enhancement] Reduce the size of TaskWorkerPool object (#7770) (#29058)"
  be/src/agent/agent_server.cpp
  be/src/agent/agent_server.h
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
  be/src/agent/utils.h
Owners: @StarRocks/starrocks-committer

Revert "[BugFix] push worker thread can not pop NORMAL Priority task (#7628) (#29052)"
  be/src/agent/agent_server.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
  be/src/common/config.h
Owners: @StarRocks/starrocks-committer

Revert "[Enhancement] Pass TAgentTaskRequest by pointer to reduce memory copies (#7415) (#29049)"
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
Owners: @StarRocks/starrocks-committer

Revert "[Enhancement] Reduce memory copies and fix some clang-tidy warnings (#7341) (#29042)"
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
Owners: @StarRocks/starrocks-committer

[Tool] Fix CI notification (#29081)
  .github/workflows/ci-report.yml
Owners: @StarRocks/starrocks-committer

Revert the workpool backport (#29082)
  be/src/agent/CMakeLists.txt
  be/src/agent/agent_server.cpp
  be/src/agent/agent_server.h
  be/src/agent/heartbeat_server.cpp
  be/src/agent/heartbeat_server.h
  be/src/agent/master_info.cpp
  be/src/agent/master_info.h
  be/src/agent/status.h
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
  be/src/agent/utils.cpp
  be/src/agent/utils.h
  be/src/common/config.h
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_configs_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_metrics_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_tablets_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_be_txns_scanner.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/small_file_mgr.cpp
  be/src/runtime/snapshot_loader.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/service/service_be/backend_service.cpp
  be/src/service/starrocks_main.cpp
  be/src/storage/task/engine_clone_task.cpp
  be/src/storage/task/engine_clone_task.h
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
  be/test/runtime/routine_load_task_executor_test.cpp
  be/test/runtime/small_file_mgr_test.cpp
Owners: @StarRocks/starrocks-committer

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedInfoCollector.java
Owners: @StarRocks/starrocks-committer

[BugFix] assign wrong partitionId when multiple partition predicates (#28816)
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
Owners: @StarRocks/starrocks-committer

feedback edits
  docs/loading/S3_Load.md
Owners: @StarRocks/docs-maintainer

[BugFix] External table support informationFunction predicate (#29053)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  test/sql/test_external_file/R/test_parquet_optional_column_levels
  test/sql/test_external_file/T/test_parquet_optional_column_levels
Owners: @StarRocks/starrocks-committer

[BugFix] Fix table is lost bug where create/drop db and table concurrently (#28985)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
Owners: @StarRocks/starrocks-committer

[BugFix] External table support informationFunction predicate (#29053)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  test/sql/test_external_file/R/test_parquet_optional_column_levels
  test/sql/test_external_file/T/test_parquet_optional_column_levels
Owners: @StarRocks/starrocks-committer

[BugFix] External table support informationFunction predicate (#29053)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  test/sql/test_external_file/R/test_parquet_optional_column_levels
  test/sql/test_external_file/T/test_parquet_optional_column_levels
Owners: @StarRocks/starrocks-committer

Refresh non-ref base tables by incremental partition if non-ref base tables have the same partition with ref table
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/resources/log4j2.xml
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/resources/log4j2.xml
Owners: @StarRocks/starrocks-committer

fix bugs
  be/src/exec/tablet_sink_colocate_multi_sender.cpp
  be/src/exec/tablet_sink_colocate_sender.h
  test/sql/test_materialized_view/R/test_logical_materialized_view
  test/sql/test_materialized_view/T/test_logical_materialized_view
Owners: @StarRocks/starrocks-committer

fix fe bugs
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/MVColumnItem.java
  fe/fe-core/src/test/java/com/starrocks/alter/MaterializedViewHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  test/sql/test_materialized_view/R/test_logical_materialized_view
  test/sql/test_materialized_view/R/test_logical_materialized_view1
  test/sql/test_materialized_view/R/test_logical_materialized_view2
  test/sql/test_materialized_view/T/test_logical_materialized_view
  test/sql/test_materialized_view/T/test_logical_materialized_view1
  test/sql/test_materialized_view/T/test_logical_materialized_view2
Owners: @StarRocks/starrocks-committer

Support logical single table sync materialized view
  be/src/exec/CMakeLists.txt
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_info.h
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink_colocate_multi_sender.cpp
  be/src/exec/tablet_sink_colocate_multi_sender.h
  be/src/exec/tablet_sink_colocate_sender.h
  be/src/exec/tablet_sink_multi_sender.cpp
  be/src/exec/tablet_sink_multi_sender.h
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/CreateMaterializedIndexMetaInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MVUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  gensrc/thrift/Descriptors.thrift
  test/sql/test_materialized_view/R/test_logical_materialized_view
  test/sql/test_materialized_view/R/test_logical_materialized_view1
  test/sql/test_materialized_view/R/test_logical_materialized_view2
  test/sql/test_materialized_view/T/test_logical_materialized_view
  test/sql/test_materialized_view/T/test_logical_materialized_view1
  test/sql/test_materialized_view/T/test_logical_materialized_view2
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] External table support informationFunction predicate (#29053)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  test/sql/test_external_file/R/test_parquet_optional_column_levels
  test/sql/test_external_file/T/test_parquet_optional_column_levels
Owners: @StarRocks/starrocks-committer

[BugFix] unify Operator equal method (backport #17199)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAggregationOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEAnchorOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEConsumeOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEProduceOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalJoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalProjectOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalSetOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTableFunctionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalUnionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalValuesOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalCTEAnchorOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalCTEConsumeOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalCTEProduceOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalEsScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalHashAggregateOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalHashJoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalHiveScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalHudiScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalMetaScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalProjectOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalSetOperation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalTableFunctionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalUnionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalValuesOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalWindowOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] unify Operator equal method (backport #17199)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalTableFunctionOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/operator/operator/OperatorEqualsTest.java
Owners: @StarRocks/starrocks-committer
