Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] Fix compling EncodedUtf8Char with -fprofile-arcs (#30027)
  be/src/util/utf8_encoding.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix compling EncodedUtf8Char with -fprofile-arcs (#30027)
  be/src/util/utf8_encoding.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix compling EncodedUtf8Char with -fprofile-arcs (#30027)
  be/src/util/utf8_encoding.h
Owners: @StarRocks/starrocks-committer

resolve comments
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix compling EncodedUtf8Char with -fprofile-arcs (#30027)
  be/src/util/utf8_encoding.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix miss use NativeAccessControlEPack when code auto merge (#3965)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
Owners: @StarRocks/starrocks-committer

Fix a batch of bugfix for storage_cooldown_ttl
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleRangePartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add 3.1.2 release notes Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Enhancement] print "start cn succ" when it is started as cn (#30020)
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] print "start cn succ" when it is started as cn (#30020)
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

Fix comments
  be/src/exec/pipeline/bucket_process_operator.cpp
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/pipeline.cpp
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/query_cache/ticket_checker.h
  be/src/exec/scan_node.cpp
Owners: @StarRocks/starrocks-committer

Fix a batch of bugfix for storage_cooldown_ttl (#30040)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleRangePartitionDesc.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

resolve comments
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] make TOPN RuntimeFilter support more scenes (#29953) (#29983)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

upgrade
  fe/fe-core/pom.xml
  fe/pom.xml
Owners: @StarRocks/starrocks-committer

[Doc] refactor flink docs on docs web to be consistent with flink docs in code repo (#29889)
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support audic statistics for insert statement (#29901)
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/audit_statistics_reporter.cpp
  be/src/exec/pipeline/audit_statistics_reporter.h
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer

[Doc] refactor flink docs on docs web to be consistent with flink docs in code repo (#29889)
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Add agent task metrics (#29707)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  test/sql/test_metrics/R/test_memory_metrics
  test/sql/test_metrics/T/test_memory_metrics
Owners: @StarRocks/starrocks-committer

[Doc] refactor flink docs on docs web to be consistent with flink docs in code repo (#29889)
  docs/loading/Flink-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

fix typos
  docs/deployment/sr_operator.md
  docs/loading/RoutineLoad.md
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Improve data lake csv reader performance (#30028)
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve data lake csv reader performance (#30028)
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve data lake csv reader performance (#30028)
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve data lake csv reader performance (#30028)
  be/src/exec/hdfs_scanner_text.h
  be/src/exec/vectorized/hdfs_scanner_text.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Improve data lake csv reader performance (#30028)
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
Owners: @StarRocks/starrocks-committer

fix typos
  docs/deployment/sr_operator.md
  docs/loading/RoutineLoad.md
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Refactor] Add more tests for join nullable derive (#29978)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

[Refactor] Add more tests for join nullable derive (#29978)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

[Refactor] Add more tests for join nullable derive (#29978)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

[Refactor] Add more tests for join nullable derive (#29978)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

fix typos
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[Enhancement] array_agg support distinct
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

delete desc of decoupling sort key and pk in 2.5 (#6486)
  table_design/table_types/table_types.md
Owners: @StarRocks/starrocks-committer

delete desc of decoupling sort key and pk in 2.4 (#6487)
  table_design/table_types/table_types.md
Owners: @StarRocks/starrocks-committer

Rename
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
Owners: @StarRocks/starrocks-committer

[Doc] fix typos (#30046)
  docs/deployment/sr_operator.md
  docs/loading/RoutineLoad.md
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

delete-desc-of-decoupling-sort-key-and-pk-in-2.5
  docs/table_design/table_types/table_types.md
Owners: @StarRocks/docs-maintainer

update tests
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

update tests
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer
