Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Draft] be cov
  be/src/agent/publish_version.cpp
Owners: @StarRocks/starrocks-committer

add UT.
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Owners: @StarRocks/starrocks-committer

rollback debug code
  be/src/agent/publish_version.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] view check modified columns (#3681)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[UT] Fix compile error
  be/test/storage/lake/compaction_task_test.cpp
Owners: @StarRocks/starrocks-committer

Revert "[BugFix] fix incorrect scan metrics in FE (#27779) (#28034)"
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/exec/pipeline/exchange/sink_buffer.h
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/pipeline/scan/olap_scan_context.cpp
  be/src/exec/pipeline/scan/olap_scan_context.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
Owners: @StarRocks/starrocks-committer

[UT] Fix compile error
  be/test/storage/lake/compaction_task_test.cpp
Owners: @StarRocks/starrocks-committer

support rewrite constant query (#29617)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Forget to delete RpcClosure (#29420)
  be/src/runtime/runtime_filter_worker.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] make thrift rpc use strict mode (#28068)
  be/src/common/config.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/util/ref_count_closure.h
  be/src/util/thrift_server.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/ThriftServer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix local ref leak in Java UDTF (#29465)
  be/src/exprs/table_function/java_udtf_function.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the mem leak of build in predicate for es external table (#26631) (#26805)
  be/src/exec/es/es_predicate.cpp
Owners: @StarRocks/starrocks-committer

[BugFix]Fix show compute node bug (#3548)
  fe/fe-core/src/main/java/com/starrocks/epack/lake/StarOSAgentEpack.java
  fe/fe-core/src/main/java/com/starrocks/epack/system/SystemInfoServiceEpack.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/LocalWarehouse.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[fix]regexp_extract fix the problem that the first match is empty
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] rename the materialized column API to Generated Column
  be/src/storage/schema_change.cpp
  be/src/storage/schema_change_utils.cpp
  be/src/storage/schema_change_utils.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/schema_change_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddColumnsClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnDef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SelectRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite mv for query with literal (#29614)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.0] Improve credential mask util (#29656)
  fe/fe-core/src/main/java/com/starrocks/credential/CredentialUtil.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/credential/CredentialUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.1] Improve credential mask util (#29654)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/credential/CredentialUtil.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/credential/CredentialUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[UT] Fix compile error
  be/test/storage/lake/compaction_task_test.cpp
Owners: @StarRocks/starrocks-committer

[UT] Fix flaky tests when running in parallel with gtest-parallel (#28308)
  be/test/CMakeLists.txt
  be/test/storage/cumulative_compaction_test.cpp
  be/test/storage/default_compaction_policy_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/size_tiered_compaction_policy_test.cpp
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Update Resource Group behavior changes Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/administration/monitor_manage_big_queries.md
  docs/administration/resource_group.md
Owners: @StarRocks/docs-maintainer

fix conflict
  be/src/storage/primary_key_encoder.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Support sort key be able to nullable. (#15641)
  be/src/storage/primary_key_encoder.cpp
  be/src/storage/rowset_merger.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

Fix conflict
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer
