Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
Owners: @StarRocks/starrocks-committer

support order by and window clause for statistics function
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Owners: @StarRocks/starrocks-committer

[Doc] redo Preparations in auth to aws&add policies doc (#31368)
  docs/TOC.md
  docs/integrations/authenticate_to_aws_resources.md
  docs/reference/aws_iam_policies.md
Owners: @StarRocks/docs-maintainer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Analyze non-function partition exprs in ExpressionRangePartitionInfo in deserialize (#31355)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Analyze non-function partition exprs in ExpressionRangePartitionInfo in deserialize (#31355)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Owners: @StarRocks/starrocks-committer

test: add TableFunctionTableTest
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Owners: @StarRocks/starrocks-committer

*: support columns from path
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/BrokerFileGroup.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Analyze non-function partition exprs in ExpressionRangePartitionInfo in deserialize (#31355)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

modify columns_desc of TOlapTableIndexSchema from required to optional
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer

[Doc] group_concat supports distinct
  docs/reference/System_variable.md
  docs/sql-reference/sql-functions/string-functions/group_concat.md
Owners: @StarRocks/docs-maintainer

[Enhancement][Cherry-pick] Optimize date_add & date_trunc (#31122) (#31378)
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

Update group_concat.md
  docs/sql-reference/sql-functions/string-functions/group_concat.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix Analyze update load rows NPE bug (#30764) (#31370)
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeManager.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeManagerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support order by and window clause for statistics window function (#31352)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix upgrade NPE bug where default value of Task is null (#31317)
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Unmatched tablet schema
  be/src/storage/lake/tablet_manager.cpp
  be/test/storage/lake/tablet_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
Owners: @StarRocks/starrocks-committer

[BugFix] diff lambda arg from normal slot (#31125)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Owners: @StarRocks/starrocks-committer

fix
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/push_handler.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Slows down transaction commit if compaction score is high
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/lake/CommitRateLimiter.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/delete/LakeDeleteJob.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadingTaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/CommitRateExceededException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/lake/CommitRateLimiterTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/BrokerLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/GlobalTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/LakeTableTxnStateListenerTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve comments
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.0] Remove type checker when prune subfield in external catalog (#31392)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

Fixes #15063, Support COUNT_IF
  docs/TOC.md
  docs/sql-reference/sql-functions/aggregate-functions/count_if.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteCountIfFunction.java
  test/sql/test_agg_function/R/test_count_if
  test/sql/test_agg_function/T/test_count_if
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.1] Remove type checker when prune subfield in external catalog (#31381)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove type checker when prune subfield in external catalog (#31345)
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveSubfieldPrunePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

add test cases
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/test/exprs/time_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
Owners: @StarRocks/starrocks-committer

[Tool] save BE UT log
  .github/workflows/ci-pipeline.yml
  run-fe-ut.sh
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
Owners: @StarRocks/starrocks-committer

test
  be/src/agent/agent_server.cpp
Owners: @StarRocks/starrocks-committer

set default value for TQueryOptions::enable_pipeline_query_statistic
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer
