Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] add command list and re-categorize command reference (#32828)
  docs/TOC.md
  docs/sql-reference/sql-statements/all-commands.md
  docs/sql-reference/sql-statements/data-manipulation/SELECT.md
Owners: @StarRocks/docs-maintainer

add accurate version info for update syntax
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

fix comments
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariableConstants.java
Owners: @StarRocks/starrocks-committer

[Doc] add command list and re-categorize command reference (#32828)
  docs/TOC.md
  docs/sql-reference/sql-statements/all-commands.md
  docs/sql-reference/sql-statements/data-manipulation/SELECT.md
Owners: @StarRocks/docs-maintainer

[Feature] Add materialized view metrics (#30735)
  fe/fe-core/src/main/java/com/starrocks/http/rest/MetricsAction.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsRegistry.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[BugFix] Fix spill use-after-free when enable per bucket compute
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_source_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/spill/executor.h
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
Owners: @StarRocks/starrocks-committer

Update TOC.md
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

Update all-commands.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

Update TOC.md
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

Update all-commands.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

Update TOC.md
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

Update all-commands.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

add accurate version info for update syntax
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

Update TOC.md
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

Update all-commands.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

Update TOC.md
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

Update all-commands.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

Update TOC.md
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

Update all-commands.md
  docs/sql-reference/sql-statements/all-commands.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix iceberg mv refresh failed when iceberg table is unpartitioned
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

fix comments
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
Owners: @StarRocks/starrocks-committer

Fix trace mv log bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Check compression codec for parquet writer (#32800)
  be/src/exec/parquet_writer.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Owners: @StarRocks/starrocks-committer

support using multi disk of lake persistent index
  be/src/storage/data_dir.cpp
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

fix clang format
  be/src/exec/data_sink.h
  be/src/exec/exec_node.h
  be/src/runtime/external_scan_context_mgr.cpp
  be/src/runtime/result_queue_mgr.h
Owners: @StarRocks/starrocks-committer

[Feature] Datacache sql management, only support blacklist in this pr(sync #31105) (#6009)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheExprRewriter.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheMgr.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheOptions.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DatacacheRule.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DatacacheStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ClearDatacacheRulesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateDatacacheRuleStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropDatacacheRuleStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowDatacacheRulesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/DatacacheStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/datacache/DatacacheMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DatacachePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] add iceberg plan files costs profile (#32815)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergFilter.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
Owners: @StarRocks/starrocks-committer

[Enhancement] cache iceberg delete file without column statistics (#32816)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
Owners: @StarRocks/starrocks-committer

[UT] Add more tests
  be/src/common/config.h
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/vacuum.cpp
  be/src/storage/lake/vacuum.h
  be/src/testutil/sync_point.h
  be/src/util/threadpool.cpp
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/tablet_writer_test.cpp
  be/test/storage/lake/vacuum_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
Owners: @StarRocks/starrocks-committer

*: fix nested struct schema parse
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] iceberg partition pruning support transformed partitions
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PushDownMinMaxConjunctsRuleTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Check compression codec for parquet writer (#32800)
  be/src/exec/parquet_writer.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] add precise version info for update syntax (#32854)
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

add precise version info for update syntax (#6832)
  sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/starrocks-committer

[UT] more tests
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/vacuum.cpp
  be/src/storage/lake/vacuum.h
  be/test/storage/lake/vacuum_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] add precise version info for update syntax (#32854)
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

[Doc] add precise version info for update syntax (#32854)
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

[Doc] add precise version info for update syntax (#32854)
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

[Doc] add precise version info for update syntax (#32854)
  docs/sql-reference/sql-statements/data-manipulation/UPDATE.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support refresh hive view (#31557)
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveView.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CacheUpdateProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/IHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveViewTest.java
Owners: @StarRocks/starrocks-committer
