Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

Revert "opt binary column cmp"
  be/src/exprs/binary_function.h
Owners: @StarRocks/starrocks-committer

more enhance range join
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/DeriveRangeJoinPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Owners: @StarRocks/starrocks-committer

[Tool] add backport support command (#5106)
  .github/workflows/ci-comment-tools.yml
Owners: @StarRocks/starrocks-committer

[UT] Add UT for handle migration (#31625)
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Adding str2date Function to mv creation statement based on jdbc catalog. (#29923)
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewPartitionFunctionChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionRange.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJDBCTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize analyze job for external table
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Owners: @StarRocks/starrocks-committer

add-a-col-expression-example-in-create-routine-load
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

add-a-col-expression-example-in-create-routine-load
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Feature] Support alter table optimize distribution (#30707)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOpType.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOperations.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeTask.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/JobsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/OptimizeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowAlterStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/HashDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/OptimizeClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RandomDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowAlterStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/alter/OptimizeJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/OptimizeProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_optimize_table/R/test_optimize_table
  test/sql/test_optimize_table/T/test_optimize_table
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Support show stats meta for external table (#31414)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowBasicStatsMetaStmt.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalBasicStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

Update release-3.1.md
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Enhancement] use lastest iceberg statistics file
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

Update release-3.1.md
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Enhancement] use latest iceberg statistics file (#31630)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

[Tool] CI comment tools use self-hosted (#5109)
  .github/workflows/ci-comment-tools.yml
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate starcache from staros to avoid build staros modules if unnecessary. (#30687)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Support audit for insert into statement executing from follower (#30663)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(3) (#30975)
  be/src/connector/file_connector.cpp
  be/src/connector/hive_connector.cpp
  be/src/connector/lake_connector.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/partition/chunks_partitioner.h
  be/src/exec/partition/partition_hash_variant.cpp
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/operator.cpp
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/scan/chunk_source.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/sort/local_partition_topn_context.cpp
  be/src/exec/pipeline/sort/local_partition_topn_context.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/spill/spiller.cpp
  be/src/util/runtime_profile.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfileParser.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AnalyzeProfileStmt.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileParserTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize sending large results (#30386)
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/test/runtime/buffer_control_block_test.cpp
Owners: @StarRocks/starrocks-committer

BugFix: Fix some daily bug
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
Owners: @StarRocks/starrocks-committer

[Enhancement] try to buffer aggregated data in spillable agg operator (#29469)
  be/src/exec/aggregator.cpp
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

fix maybe npe on ndv
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add some query read prefetch statistics (#31165)
  be/src/connector/lake_connector.cpp
  be/src/fs/fs_starlet.cpp
  be/src/storage/olap_common.h
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] use latest iceberg statistics file (#31630)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

[Refactor] check status of functions (#31262)
  be/src/exec/chunks_sorter.h
  be/src/exec/chunks_sorter_full_sort.h
  be/src/exec/chunks_sorter_heap_sort.h
  be/src/exec/chunks_sorter_topn.h
  be/src/exec/pipeline/sort/local_partition_topn_context.cpp
  be/src/exec/pipeline/sort/local_partition_topn_context.h
  be/src/exec/pipeline/sort/sort_context.cpp
  be/src/exec/pipeline/sort/sort_context.h
  be/src/exec/sorting/merge.h
  be/src/exec/sorting/merge_cascade.cpp
  be/src/exec/sorting/merge_column.cpp
  be/src/runtime/chunk_cursor.h
  be/test/exec/chunks_sorter_heap_sort_test.cpp
  be/test/exec/chunks_sorter_test.cpp
  be/test/exec/sorting_test.cpp
  be/test/http/message_body_sink_test.cpp
  be/test/runtime/memory_scratch_sink_test.cpp
  be/test/runtime/memory_scratch_sink_test_issue_8676.cpp
  be/test/runtime/user_function_cache_test.cpp
  be/test/storage/options_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix AppIO Bytes Read exceed FSIO Bytes Read (#31319)
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_parquet.h
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/page_reader.h
  be/test/formats/parquet/page_reader_test.cpp
Owners: @StarRocks/starrocks-committer

add-a-col-expression-example-in-create-routine-load
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix order by nan column overflow (#30759)
  be/src/exec/sorting/sort_helper.h
  be/test/exec/chunks_sorter_test.cpp
  be/test/exec/test_data/nan_column
Owners: @StarRocks/starrocks-committer

support alter lake table meta
  be/src/agent/agent_task.cpp
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/schema_change.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.h
  be/test/CMakeLists.txt
  be/test/storage/lake/alter_tablet_meta_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/task/UpdateTabletMetaInfoTask.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
  gensrc/proto/lake_types.proto
  gensrc/thrift/AgentService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Fix load external OLAP table job cancelled job (#31634)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix load external OLAP table job cancelled job (#31634)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix load external OLAP table job cancelled job (#31634)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix load external OLAP table job cancelled job (#31634)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix load external OLAP table job cancelled job (#31634)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix load external OLAP table job cancelled job (#31634)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[Cherry-pick][Branch-3.2][Enhancement] Support show stats meta for external table (#31414) (#31629)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowBasicStatsMetaStmt.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalBasicStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Add `hadoop-ext` package to support credential isolation (#30229)
  bin/start_backend.sh
  bin/start_fe.sh
  build.sh
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationConstants.java
  java-extensions/hadoop-ext/src/main/java/org/apache/hadoop/fs/FileSystem.java
  java-extensions/hadoop-ext/src/main/java/org/apache/hadoop/fs/HadoopExt.java
Owners: @StarRocks/starrocks-committer

cp
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize iceberg const column
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/formats/parquet/file_reader.cpp
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/test/formats/parquet/file_reader_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/planner/IcebergScanNodeTest.java
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
