Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer

[Enhancement] add session variable paimon_force_jni_reader (#37735)
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Owners: @StarRocks/parser, @StarRocks/starrocks-committer

[Doc] Remove irrelevant contents (#37767)
  docs/zh/release_notes/release-3.2.md
Owners: @StarRocks/docs-maintainer

[Enhancement] add session variable paimon_force_jni_reader (#37735)
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Owners: @StarRocks/parser, @StarRocks/starrocks-committer

[BugFix] Fix exhange rewrite join-shuffle col (#37727)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest2.java
Owners: @StarRocks/optimizer, @StarRocks/starrocks-committer

[Enhancement] Using starlet's sized input stream in FsStarlet
  be/src/fs/fs_starlet.cpp
Owners: @StarRocks/starrocks-committer

Add iter for BitampValue
  be/src/types/bitmap_value.cpp
  be/src/types/bitmap_value.h
  be/test/types/bitmap_value_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support to configure the number of http worker threads on FE (backport #37530)
  docs/en/administration/Configuration.md
  docs/zh/administration/Configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

test: Supplementary testing
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsTableTest.java
Owners: @StarRocks/starrocks-committer

[UT] Fix persistent index unstable ut
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

test: Supplementary testing
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add session variable paimon_force_jni_reader (backport #37735) (#37771)
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Owners: @StarRocks/parser, @StarRocks/starrocks-committer

[UT] Fix OlapTableSinkTest ut
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[UT] Fix sql test case (#37770)
  test/sql/test_automatic_bucket/R/test_automatic_partition
  test/sql/test_optimize_table/R/test_optimize_table
Owners: @StarRocks/starrocks-committer

Fix
  be/src/types/bitmap_value.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Support to configure the number of http worker threads on FE (backport #37530)
  docs/en/administration/Configuration.md
  docs/zh/administration/Configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

Format
  be/src/types/bitmap_value.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Support to configure the number of http worker threads on FE (backport #37530)
  docs/en/administration/Configuration.md
  docs/zh/administration/Configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

format
  be/src/common/config.h
  be/src/exec/hdfs_scanner_text.cpp
  be/src/io/cache_input_stream.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Support authenticate with ranger with Kerberos (#36265)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/main/java/com/starrocks/privilege/RangerAccessController.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-policymgr-ssl.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-servicedef-starrocks.json
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-audit.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-security.xml
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
Owners: @StarRocks/starrocks-committer

[Refactor] Move BitmapValue from package spark-dpp to plugin-common (#36533)
  fe/plugin-common/pom.xml
  fe/plugin-common/src/main/java/com/starrocks/types/BitmapValue.java
  fe/plugin-common/src/main/java/com/starrocks/types/Codec.java
  fe/plugin-common/src/main/java/com/starrocks/types/Roaring64Map.java
  fe/plugin-common/src/test/java/com/starrocks/types/BitmapValueTest.java
  fe/pom.xml
  fe/spark-dpp/pom.xml
  fe/spark-dpp/src/main/java/com/starrocks/load/loadv2/dpp/SparkRDDAggregator.java
  fe/spark-dpp/src/main/java/com/starrocks/load/loadv2/dpp/StarRocksKryoRegistrator.java
  fe/spark-dpp/src/test/java/com/starrocks/load/loadv2/dpp/SparkRDDAggregatorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] replace HMS schema with Avro schema when reading an Avro Table - refactor codes
  fe/fe-core/src/main/java/com/starrocks/connector/AvroUtils.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastore.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Dump metrics with bvar (backport #27064) (#37713)
  be/src/common/config.h
  be/src/http/action/metrics_action.cpp
  be/test/http/metrics_action_test.cpp
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteExceptionHandler.java
  fe/fe-core/src/test/java/com/starrocks/qe/ExecuteExceptionHandlerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Support Decommission/Disable disk part2 (#37755)
  fe/fe-core/src/main/java/com/starrocks/persist/CancelDecommissionDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/CancelDisableDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/DecommissionDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/DisableDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/system/Backend.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

Fix insert overwrite list partition metadata is incorrect
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  test/sql/test_automatic_partition/R/test_insert_overwrite
  test/sql/test_automatic_partition/T/test_insert_overwrite
Owners: @StarRocks/starrocks-committer

[Enhancement] update staros to v3.2-rc5 (#37696)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/thirdparty-maintainer, @StarRocks/starrocks-committer

[Enhancement] Dump metrics with bvar (backport #27064) (#37768)
  be/src/common/config.h
  be/src/http/action/metrics_action.cpp
  be/test/http/metrics_action_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Align CN quickstart Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/docusaurus/sidebars.json
  docs/zh/assets/1.1-8-dla.png
  docs/zh/assets/commonMarkdown/datalakeIntro.md
  docs/zh/assets/quick-start/DBeaver-1.png
  docs/zh/assets/quick-start/DBeaver-2.png
  docs/zh/assets/quick-start/MinIO-create.png
  docs/zh/assets/quick-start/MinIO-data.png
  docs/zh/assets/quick-start/Workbench-1.png
  docs/zh/assets/quick-start/Workbench-2.png
  docs/zh/assets/quick-start/_DDL.mdx
  docs/zh/assets/quick-start/_SQL.mdx
  docs/zh/assets/quick-start/_clientsAllin1.mdx
  docs/zh/assets/quick-start/_clientsCompose.mdx
  docs/zh/assets/quick-start/_curl.mdx
  docs/zh/quick_start/iceberg.md
  docs/zh/quick_start/shared-data.md
  docs/zh/quick_start/shared-nothing.md
Owners: @StarRocks/docs-maintainer

[Refactor] fix unstable tests by setting order by
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[UT] Fix ut
  fe/fe-core/src/test/java/com/starrocks/lake/CreateLakeTableTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[BugFix][Branch-3.0] Fix insert overwrite list partition metadata is incorrect(backport #0) (#37781)
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  test/sql/test_automatic_partition/R/test_insert_overwrite
  test/sql/test_automatic_partition/T/test_insert_overwrite
Owners: @StarRocks/starrocks-committer

improve
  be/src/io/shared_buffered_input_stream.h
Owners: @StarRocks/starrocks-committer

[Enhancement] persist refresh mv error msg
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

[Feature] Support Decommission/Disable disk part2 (#37755)
  fe/fe-core/src/main/java/com/starrocks/persist/CancelDecommissionDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/CancelDisableDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/DecommissionDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/DisableDiskInfo.java
  fe/fe-core/src/main/java/com/starrocks/system/Backend.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

[UT] Fix OlapTableSinkTest (#37759)
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix thrift server exit race condition
  be/src/util/thrift_server.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] persist refresh mv error msg
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] improve multi-join rewrite (#35528)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ErrorType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerTraceUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/pattern/Pattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/Binder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/Rule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/OnlyJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/ApplyRuleTask.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/OptimizerTask.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/RewriteTreeTask.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManyJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Enhancement] Skip read pindex when we pick all rowsets to do compaction for primary key table(backport #36819) (#37434)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ErrorType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/pattern/Pattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/Binder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/Rule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/OnlyJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/ApplyRuleTask.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/OptimizerTask.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/RewriteTreeTask.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManyJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

improve
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer
