Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix ut conflict
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

update returned results in deployment/helm
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[BugFix] Forget to delete RpcClosure (#29420)
  be/src/runtime/runtime_filter_worker.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug only metric type default value should be null (#29510)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
Owners: @StarRocks/starrocks-committer

Fix license header (#29596)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipePiece.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeId.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeListener.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipePiece.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeScheduler.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoCreator.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClauseRetry.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipePauseResume.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/CreatePipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DescPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DropPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/PipeName.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/ShowPipeStmt.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

Fix license header (#29596)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipePiece.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeId.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeListener.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipePiece.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeScheduler.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoCreator.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClauseRetry.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipePauseResume.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/CreatePipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DescPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DropPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/PipeName.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/ShowPipeStmt.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug only metric type default value should be null (#29510)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
  be/src/util/ref_count_closure.h
Owners: @StarRocks/starrocks-committer

update returned results in deployment/helm (#29598)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

update returned results in deployment/helm (#29598)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

update returned results in deployment/helm (#29598)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
  be/src/util/ref_count_closure.h
Owners: @StarRocks/starrocks-committer

[BugFix] Forget to delete RpcClosure (#29420)
  be/src/runtime/runtime_filter_worker.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Owners: @StarRocks/starrocks-committer

update returned results in deployment/helm (#29598)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

update returned results in deployment/helm (#29598)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Enhancement] PK does not support cool down and add a hint (#29495)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] PK does not support cool down and add a hint (#29495)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] PK does not support cool down and add a hint (#29495)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] PK does not support cool down and add a hint (#29495)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix local ref leak in Java UDTF (#29465)
  be/src/exprs/table_function/java_udtf_function.cpp
Owners: @StarRocks/starrocks-committer

Fix auth upgrade mistake use builtin role/user bug (#29556)
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] PK does not support cool down and add a hint (#29495)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

fix lambda
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/LambdaFunctionOperator.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Compatible with the default partition value of the new hudi version
  fe/fe-core/src/main/java/com/starrocks/catalog/DeltaLakePartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HivePartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/NullablePartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg timestamp partition column percision lost (#29494)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/ScalarOperatorToIcebergExpr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

fix compile
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

[Bugfix] for dict encode column need decode if used in multi-slot conjunct
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/test/formats/parquet/file_reader_test.cpp
  test/sql/test_external_file/R/test_parquet_struct_in_struct
  test/sql/test_external_file/T/test_parquet_struct_in_struct
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg timestamp partition column percision lost (#29494)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/ScalarOperatorToIcebergExpr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

fix compile
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

BE cov report use local diff file
  .github/workflows/ci-report.yml
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

test
  be/src/storage/schema_change.cpp
  be/src/storage/schema_change_utils.cpp
  be/src/storage/schema_change_utils.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/schema_change_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddColumnsClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnDef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SelectRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

test
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Prevent all refresh tables from waiting for a table to complete (#29337)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-pick][Branch-3.0] Support sync publish version for primary key table (#27055) (#29371)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer
