Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] Use default priority for publish version tasks to avoid starving abort tasks (#30526)
  be/src/service/service_be/lake_service.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] copy partitionInfo to a new map
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
Owners: @StarRocks/starrocks-committer

Add more case and enhanced metadata partition repair capabilities (#30562)
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support for table-level primary index expire time (#30407)
  be/src/agent/agent_task.cpp
  be/src/storage/base_tablet.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/test/storage/persistent_index_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/clone/TabletSchedCtx.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/task/CreateReplicaTask.java
  fe/fe-core/src/main/java/com/starrocks/task/UpdateTabletMetaInfoTask.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/task/AgentTaskTest.java
  gensrc/proto/olap_file.proto
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/MasterService.thrift
  test/sql/test_primary_index_cache_expire/R/test_primary_index_cache_expire
  test/sql/test_primary_index_cache_expire/T/test_primary_index_cache_expire
Owners: @StarRocks/starrocks-committer

[BugFix] fix alter mv's constraints bug (#30430)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
Owners: @StarRocks/starrocks-committer

[BugFix] check table existence before heavy creating operation (#30404)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix primary key alter sort key bug (#30531)
  be/src/storage/schema_change.cpp
  test/sql/test_ddl/R/alter_table
  test/sql/test_ddl/T/alter_table
Owners: @StarRocks/starrocks-committer

[Feature]Parallel execution of compaction tasks under one tablet (#29706)
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_manager.h
  be/src/storage/compaction_task.cpp
  be/src/storage/compaction_task.h
  be/src/storage/rowset/rowset.h
  be/src/storage/size_tiered_compaction_policy.cpp
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/test/CMakeLists.txt
  be/test/storage/compaction_manager_test.cpp
  be/test/storage/compaction_parallelization_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix primary key alter sort key bug (#30531)
  be/src/storage/schema_change.cpp
  test/sql/test_ddl/R/alter_table
  test/sql/test_ddl/T/alter_table
Owners: @StarRocks/starrocks-committer

[Enhancement] Enable force_external_table_query_rewrite to support rewrite hive table by default (#30276)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix primary key alter sort key bug (#30531)
  be/src/storage/schema_change.cpp
  test/sql/test_ddl/R/alter_table
  test/sql/test_ddl/T/alter_table
Owners: @StarRocks/starrocks-committer

[BugFix] Fix primary key alter sort key bug (#30531)
  be/src/storage/schema_change.cpp
  test/sql/test_ddl/R/alter_table
  test/sql/test_ddl/T/alter_table
Owners: @StarRocks/starrocks-committer

Fix UT
  be/test/exprs/hyperloglog_functions_test.cpp
Owners: @StarRocks/starrocks-committer

update enum value
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

modify class name
  gensrc/script/functions.py
Owners: @StarRocks/syntax-committer

[BugFix] copy partitionInfo to a new map
  fe/fe-core/src/test/java/com/starrocks/catalog/RangePartitionInfoTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix count rewrite bug (#30134) (#30571)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

[Refactor] Move `getCloudConfiguration` to `ConnectorMetadata` from `Connector` (#30476)
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/Connector.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/HdfsEnvironment.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hudi/HudiMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/DeltaLakeScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/HdfsScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/HudiScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/PaimonScanNodeTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] refactor mv expression rewrite (#30111)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support ignoring invalid directories when list hive directory recursively. (#30363) (#30567)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/CachingRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveRemoteFileIOTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedRemoteFileSystem.java
Owners: @StarRocks/starrocks-committer

[Refactor] refactor mv expression rewrite (#30111)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] `hadoop.config.resources` fields should be common attributes
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
Owners: @StarRocks/starrocks-committer

fix ut and naming
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureStorageCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

fix format
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudCredential.java
Owners: @StarRocks/starrocks-committer

fix fe format
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

fix test cases
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfiguration.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfiguration.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

fix format
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudCredential.java
Owners: @StarRocks/starrocks-committer

Update User_privilege.md
  docs/administration/User_privilege.md
Owners: @StarRocks/docs-maintainer

Update GRANT.md
  docs/sql-reference/sql-statements/account-management/GRANT.md
Owners: @StarRocks/docs-maintainer

fix conflict from rebase
  fe/fe-core/src/main/java/com/starrocks/connector/HdfsEnvironment.java
Owners: @StarRocks/starrocks-committer

fix method
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
Owners: @StarRocks/starrocks-committer

[Doc] remove sentence that cause linting error
  docs/sql-reference/sql-functions/array-functions/any_match.md
Owners: @StarRocks/docs-maintainer

[Enhancement] optimize mv plan cache by using lru cache (#30361)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvPlanContext.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix 3-stage AGG got wrong result when enable dictionary optimize
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize mv plan cache by using lru cache (#30361)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvPlanContext.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize mv plan cache by using lru cache (#30361)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvPlanContext.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer
