Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] Update rules in strict mode doc (#29306)
  docs/loading/load_concept/strict_mode.md
Owners: @StarRocks/docs-maintainer

add 3.0.5 rn
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

Support privilege entry object forward compatible (#29425)
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PolicyFCEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/WarehouseFCPEntryObject.java
Owners: @StarRocks/starrocks-committer

add 3.0.5 rn (#6415)
  release_notes/release-2.5.md
  release_notes/release-3.0.md
Owners: @StarRocks/starrocks-committer

[Doc] add 3.0.5 rn (#29479)
  docs/release_notes/release-2.5.md
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Doc] add 3.0.5 rn (#29479)
  docs/release_notes/release-2.5.md
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

support-dynamic-partitioning-since-3.0.5 (#6421)
  table_design/dynamic_partitioning.md
Owners: @StarRocks/starrocks-committer

unit test
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
Owners: @StarRocks/starrocks-committer

[Tool] Avoid parsing sync pr's body failure (#3544)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

fix compile
  be/src/exprs/agg/array_agg.h
Owners: @StarRocks/starrocks-committer

[BugFix] agg process cancelled
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

append default when finalize encounter errors
  be/src/exprs/agg/array_agg.h
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

support-dynamic-partitioning-by-year (#6422)
  table_design/dynamic_partitioning.md
Owners: @StarRocks/starrocks-committer

[Tool] Save PR info by CI script (#3545)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

[Doc] Add Azure Blob Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/administration/Configuration.md
  docs/deployment/deploy_shared_data.md
  docs/sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
  docs/sql-reference/sql-statements/Administration/DESC STORAGE VOLUME.md
Owners: @StarRocks/docs-maintainer

[Enhancement] improve map columns's remove dup key performence (#29342)
  be/src/column/map_column.cpp
  be/test/column/map_column_test.cpp
Owners: @StarRocks/starrocks-committer

Update CREATE STORAGE VOLUME.md
  docs/sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
Owners: @StarRocks/docs-maintainer

[Refactor] Split stream load commit function into smaller units (#29367)
  be/src/http/action/stream_load.cpp
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.h
  be/src/runtime/stream_load/transaction_mgr.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Split stream load commit function into smaller units (#29367)
  be/src/http/action/stream_load.cpp
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.h
  be/src/runtime/stream_load/transaction_mgr.cpp
Owners: @StarRocks/starrocks-committer

[Doc] Add 3.1.1 release notes Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

stuck when finish_publish_version_thread exits (#29362)
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Refactor] Split stream load commit function into smaller units (#29367)
  be/src/http/action/stream_load.cpp
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.h
  be/src/runtime/stream_load/transaction_mgr.cpp
Owners: @StarRocks/starrocks-committer

[Tool] fix sync info of pr (#3550)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  be/src/runtime/stream_load/stream_load_executor.cpp
Owners: @StarRocks/starrocks-committer

Revert "[Tool] fix sync info of pr (#3550)" (#3563)
  .github/workflows/repo-sync.yml
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Owners: @StarRocks/starrocks-committer

[Doc] Add Azure Blob (#29500)
  docs/administration/Configuration.md
  docs/deployment/deploy_shared_data.md
  docs/sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
  docs/sql-reference/sql-statements/Administration/DESC STORAGE VOLUME.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Azure Blob (#29500)
  docs/administration/Configuration.md
  docs/deployment/deploy_shared_data.md
  docs/sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
  docs/sql-reference/sql-statements/Administration/DESC STORAGE VOLUME.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix wrong avg cached cpu cores when dropping backend
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/system/BackendTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add Azure Blob (#29500)
  docs/administration/Configuration.md
  docs/deployment/deploy_shared_data.md
  docs/sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
  docs/sql-reference/sql-statements/Administration/DESC STORAGE VOLUME.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix query information_schema.be_bvars failed
  be/src/exec/schema_scanner/schema_be_bvars_scanner.cpp
  test/sql/test_information_schema/R/test_be_bvars
  test/sql/test_information_schema/R/test_loads
  test/sql/test_information_schema/T/test_be_bvars
  test/sql/test_information_schema/T/test_loads
Owners: @StarRocks/starrocks-committer

Fix bug only metric type default value should be null
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add spillbytes in audit log and profile header(sync #29287) (#3435)
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  fe/fe-core/src/main/java/com/starrocks/plugin/AuditEvent.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Select into outfile support invisible character column separator and line delimiter (#29410)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/test/java/com/starrocks/analysis/OutFileClauseTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Select into outfile support invisible character column separator and line delimiter (#29410)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/test/java/com/starrocks/analysis/OutFileClauseTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix typo in TableProperty copy (#29463)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
Owners: @StarRocks/starrocks-committer

Update OlapTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
Owners: @StarRocks/starrocks-committer

fix style
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Suppport SHOW CREATE ROUTINE LOAD SQL (#27638)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnSeparator.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateRoutineLoadStmtTest.java
  test/sql/test_routine_load/R/test_show_create_routine_load
  test/sql/test_routine_load/T/test_show_create_routine_load
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] fix sort key of materialized view (#28800)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_materialized_view/R/test_mv_swap
Owners: @StarRocks/starrocks-committer
