Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

updadd
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix table is lost bug where create/drop db and table concurrently (#3187)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
Owners: @StarRocks/starrocks-committer

[BugFix] Only push down partition predicates for mv refresh when all slot refs can be resolved in the scope (#29212) (#29238)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

planner: add BackendScanNode
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/catalog/ListFilesTableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/BackendScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListFilesTableFunctionRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTableFunctionTableScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalListFilesTableScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Revert "[BugFix] Revert "[Enhancement] auto release local exchange buffer data under spill mode (#25053) (#27271) (#27576)"
  be/src/exec/pipeline/exchange/local_exchange_memory_manager.h
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.h
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/spill/operator_mem_resource_manager.cpp
  be/src/exec/spill/operator_mem_resource_manager.h
Owners: @StarRocks/starrocks-committer

[Enhancement] reduce chunk buffer size in streaming aggregate
  be/src/common/config.h
  be/src/exec/aggregate/agg_profile.h
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exec/chunk_buffer_memory_manager.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_streaming_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_streaming_sink_operator.h
  be/src/exec/pipeline/aggregate/sorted_aggregate_streaming_sink_operator.cpp
  be/src/exec/pipeline/chunk_buffer_memory_manager.h
  be/src/exec/pipeline/exchange/local_exchange.cpp
  be/src/exec/pipeline/exchange/local_exchange.h
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/util/runtime_profile.h
  be/test/exec/pipeline/pipeline_test_base.cpp
  be/test/exec/stream/stream_pipeline_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] reduce chunk buffer size in streaming aggregate
  be/src/exec/pipeline/aggregate/aggregate_distinct_streaming_sink_operator.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Replace Boolean to Tinyint for semi-type's null
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
Owners: @StarRocks/starrocks-committer

update
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/map_column_writer.cpp
Owners: @StarRocks/starrocks-committer

use local notice
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/SPARK LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/STREAM LOAD.md
Owners: @StarRocks/docs-maintainer

fix merge conflict
  be/src/storage/rowset_column_update_state.cpp
Owners: @StarRocks/starrocks-committer

Fix masking policy read external table unknown column bug (#3331)
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/SecurityPolicyRewriteRule.java
Owners: @StarRocks/starrocks-committer

Support Epack code obfuscation (#3327)
  fe/fe-core/pom.xml
  fe/fe-core/proguard.cfg
Owners: @StarRocks/starrocks-committer

[Doc] use include file for all INSERT priv notices
  docs/assets/commonMarkdown/brokerDataFlow.md
  docs/assets/commonMarkdown/insertPrivNote.md
  docs/loading/BrokerLoad.md
  docs/loading/Etl_in_loading.md
  docs/loading/Flink-connector-starrocks.md
  docs/loading/Flink_cdc_load.md
  docs/loading/Load_to_Primary_Key_tables.md
  docs/loading/Loading_intro.md
  docs/loading/RoutineLoad.md
  docs/loading/StreamLoad.md
  docs/loading/Stream_Load_transaction_interface.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/SPARK LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/STREAM LOAD.md
Owners: @StarRocks/docs-maintainer

missed an import
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

use local notice
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/SPARK LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/STREAM LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] use include file for all INSERT priv notices
  docs/assets/commonMarkdown/brokerDataFlow.md
  docs/assets/commonMarkdown/insertPrivNote.md
  docs/loading/BrokerLoad.md
  docs/loading/Etl_in_loading.md
  docs/loading/Flink-connector-starrocks.md
  docs/loading/Flink_cdc_load.md
  docs/loading/Load_to_Primary_Key_tables.md
  docs/loading/Loading_intro.md
  docs/loading/RoutineLoad.md
  docs/loading/StreamLoad.md
  docs/loading/Stream_Load_transaction_interface.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/SPARK LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/STREAM LOAD.md
Owners: @StarRocks/docs-maintainer

use local notice
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/SPARK LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/STREAM LOAD.md
Owners: @StarRocks/docs-maintainer

missed an import
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

fix linting
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Replace Boolean to Tinyint for semi-type's null (#29255)
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Replace Boolean to Tinyint for semi-type's null (#29255)
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Profile optimization(2)
  be/src/connector/connector.cpp
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
  be/test/util/runtime_profile_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] keep the constant projection stay in the join level (#29239)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SemiReorderRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix empty key error in to_json (#27532)
  be/src/exprs/cast_expr_json.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix empty key error in to_json (#27532)
  be/src/exprs/cast_expr_json.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add show running queries cmd (#29237)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] cols file was deleted by mistake caused by txns rollback (#29265)
  be/src/storage/rowset/rowset.h
  be/src/storage/storage_engine.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] fix empty key error in to_json (#27532)
  be/src/exprs/cast_expr_json.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support new compaction strategy for persistent index (#27577)
  be/src/bench/CMakeLists.txt
  be/src/bench/persistent_index_bench.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/src/util/starrocks_metrics.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
  gensrc/proto/persistent_index.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix empty key error in to_json (#27532)
  be/src/exprs/cast_expr_json.cpp
  be/test/exprs/json_functions_test.cpp
Owners: @StarRocks/starrocks-committer

Add config to disable display web hardware info
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/action/IndexAction.java
  fe/fe-core/src/test/java/com/starrocks/http/IndexActionTest.java
Owners: @StarRocks/starrocks-committer

minor updates
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Refactor] make transaction publish timeout and query timeout related
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  docs/administration/Configuration.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
