Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Refactor] Remove unnecessary null checks (#29149)
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVEpoch.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletCommitInfo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletFailInfo.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix partial update char column miss padding
  be/src/storage/rowset_column_update_state.cpp
  test/sql/test_partial_update_column_mode/R/test_partial_update_char_padding
  test/sql/test_partial_update_column_mode/T/test_partial_update_char_padding
Owners: @StarRocks/starrocks-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

fix compile error
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Owners: @StarRocks/starrocks-committer

rm
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Owners: @StarRocks/starrocks-committer

[Refactor] pass right warehouse to workerProvider (#3204)
  fe/fe-core/src/main/java/com/starrocks/http/rest/TransactionLoadAction.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/LoadPlanner.java
  fe/fe-core/src/test/java/com/starrocks/http/WarehouseActionTest.java
  fe/fe-core/src/test/java/com/starrocks/load/LoadPlannerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/ShowStreamLoadTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/JobSpecTest.java
Owners: @StarRocks/starrocks-committer

Fix.
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

Only push down partition predicates for mv refresh when all slot refs can be resolved in the scope
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Fix wrong pipeline test uts when using gtest-parallel
  be/test/exec/pipeline/pipeline_control_flow_test.cpp
  be/test/exec/pipeline/pipeline_test_base.cpp
  be/test/exec/pipeline/pipeline_test_base.h
Owners: @StarRocks/starrocks-committer

[Doc] Update Iceberg catalog (#29165)
  docs/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

[Doc] Update Iceberg catalog (#29165)
  docs/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

[Doc] Update Iceberg catalog (#29165)
  docs/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

[Doc] Update Iceberg catalog (#29165)
  docs/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix tablet_schema pass-through issue
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Support substring_index function (#28953)
  be/src/exprs/CMakeLists.txt
  be/src/exprs/string_functions.h
  be/src/exprs/substring_index.cpp
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/substring_index.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix bug can not query information_schema when table name contains spe… (#29184)
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Support substring_index function (#28953)
  be/src/exprs/CMakeLists.txt
  be/src/exprs/string_functions.h
  be/src/exprs/substring_index.cpp
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/substring_index.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix bug can not query information_schema when table name contains spe… (#29184)
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug can not query information_schema when table name contains spe… (#29184)
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug can not query information_schema when table name contains spe… (#29184)
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support hive partition prune for int type column compare with date type column (#29108)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/ListPartitionPrunerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support hive partition prune for int type column compare with date type column (#29108)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/ListPartitionPrunerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support hive partition prune for int type column compare with date type column (#29108)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/ListPartitionPrunerTest.java
Owners: @StarRocks/starrocks-committer

Update
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateRoutineLoadStmtTest.java
  test/sql/test_routine_load/R/test_show_create_routine_load
  test/sql/test_routine_load/T/test_show_create_routine_load
Owners: @StarRocks/syntax-committer, @StarRocks/starrocks-committer

minor updates
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix issue with routine Load audit logging bug (#28021)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateRoutineLoadAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateRoutineLoadStmtTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix issue with routine Load audit logging bug (#28021)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateRoutineLoadAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateRoutineLoadStmtTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix orc ut result
  test/sql/test_external_file/R/test_orc_count_star_opt
Owners: @StarRocks/starrocks-committer

[BugFix] fix orc ut result
  test/sql/test_external_file/R/test_orc_count_star_opt
Owners: @StarRocks/starrocks-committer

[Enhancement] Support hive partition prune for int type column compare with date type column (#29108)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/ListPartitionPrunerTest.java
Owners: @StarRocks/starrocks-committer

minor updates
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix partial update char column miss padding (#29206)
  be/src/storage/rowset_column_update_state.cpp
  test/sql/test_partial_update_column_mode/R/test_partial_update_char_padding
  test/sql/test_partial_update_column_mode/T/test_partial_update_char_padding
Owners: @StarRocks/starrocks-committer

[BugFix] fix partial update char column miss padding (#29206)
  be/src/storage/rowset_column_update_state.cpp
  test/sql/test_partial_update_column_mode/R/test_partial_update_char_padding
  test/sql/test_partial_update_column_mode/T/test_partial_update_char_padding
Owners: @StarRocks/starrocks-committer

[UT] Add test cases
  test/sql/test_light_schema_change/R/test_light_schema_change
  test/sql/test_light_schema_change/T/test_light_schema_change
Owners: @StarRocks/starrocks-committer

[BugFix] fix partial update char column miss padding (#29206)
  be/src/storage/rowset_column_update_state.cpp
  test/sql/test_partial_update_column_mode/R/test_partial_update_char_padding
  test/sql/test_partial_update_column_mode/T/test_partial_update_char_padding
Owners: @StarRocks/starrocks-committer

minor updates
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Fix bug can not query information_schema when table name contains special char
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

minor updates
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29211)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer
