Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] Refine impl of lake::DeltaWriter
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/storage_engine.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

remove docs and testcase of url_extract_host function for coworker
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

Fix some unload issues
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/level_builder.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix per bucket optimization bug
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_per_bucket_optimize/R/test_per_bucket_optimize
  test/sql/test_per_bucket_optimize/T/test_per_bucket_optimize
Owners: @StarRocks/starrocks-committer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

Update CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

Update CREATE ROUTINE LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] delete misleading description in create routine load (#32132)
  docs/sql-reference/sql-statements/data-manipulation/CREATE ROUTINE LOAD.md
Owners: @StarRocks/docs-maintainer

fix style
  be/src/formats/parquet/file_writer.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Prevent memory overruns during Parquet data parsing
  be/src/exec/parquet_reader.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (backport #30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[Doc] update role inherit figure (#32130)
  docs/administration/privilege_overview.md
  docs/assets/privilege-role-inheri.png
  docs/assets/privilege-role_inheri.png
Owners: @StarRocks/docs-maintainer

remove docs and testcase of url_extract_host function for coworker
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  test/sql/test_string_functions/R/test_string_functions
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

remove docs and testcase of url_extract_host function for coworker
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer

remove docs and testcase of url_extract_host function for coworker
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix subquery check in join on predicate (backport #30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[Feature] Support url_extract_host Function(#31969) (#31990)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

fix refresh mv failed because of partition range not include (#32057)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

[Feature] Support url_extract_host Function(#31969) (#31990)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Refactor] (1/N)get tablet schema from specific tablet metadata (#31732)
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_policy.cpp
  be/src/storage/lake/compaction_policy.h
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/horizontal_compaction_task.h
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/rowset.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_metadata.h
  be/src/storage/lake/tablet_writer.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.h
  be/src/storage/lake_meta_reader.h
  be/src/storage/rowset/segment_rewriter.cpp
  be/test/runtime/lake_tablets_channel_test.cpp
  be/test/runtime/load_channel_test.cpp
  be/test/storage/lake/compaction_policy_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Limit RPC max concurrency of lake service (#31910)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Limit RPC max concurrency of lake service (#31910)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Limit RPC max concurrency of lake service (#31910)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Limit RPC max concurrency of lake service (#31910)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

udpate
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

change to ut
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer
