Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Cherry-Pick ORC-1304 bug fix from apache-orc (#29804)
  be/src/formats/orc/apache-orc/c++/src/ByteRLE.cc
  be/src/formats/orc/apache-orc/c++/src/RLEv1.cc
  be/src/formats/orc/apache-orc/c++/src/RLEv1.hh
  be/src/formats/orc/orc_chunk_reader.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Update maximumPoolSize same as corePoolSize in task executor (#29720)
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update maximumPoolSize same as corePoolSize in task executor (#29720)
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update maximumPoolSize same as corePoolSize in task executor (#29720)
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix be crash when broker load with evaluate
  be/src/exec/file_scanner.cpp
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] pk compaction update cache entry size (#28332)
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] pk compaction update cache entry size (#28332)
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

modify getting compaction status in tablet
  be/src/storage/tablet.cpp
Owners: @StarRocks/starrocks-committer

remove code in gitignore file
  .gitignore
Owners: @StarRocks/starrocks-committer

Remove schema_hash from consistency check
  be/src/agent/agent_task.cpp
  be/src/http/action/checksum_action.cpp
  be/src/http/action/checksum_action.h
  be/src/service/service_be/http_service.cpp
  be/src/storage/task/engine_checksum_task.cpp
  be/src/storage/task/engine_checksum_task.h
Owners: @StarRocks/starrocks-committer

fix bugs
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
Owners: @StarRocks/starrocks-committer

fix ut
  be/test/storage/task/engine_storage_migration_task_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] update MinIO param desc and value Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/data_source/catalog/deltalake_catalog.md
  docs/data_source/catalog/hive_catalog.md
  docs/data_source/catalog/hudi_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
  docs/data_source/catalog/paimon_catalog.md
  docs/data_source/file_external_table.md
  docs/loading/cloud_storage_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

remove config
  be/src/common/config.h
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

fix ut
  be/src/common/config.h
  be/src/storage/rowset/segment_iterator.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support struct column late materialized
  be/src/column/const_column.h
  be/src/column/nullable_column.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/array_column_iterator.cpp
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/fill_subfield_iterator.cpp
  be/src/storage/rowset/fill_subfield_iterator.h
  be/src/storage/rowset/map_column_iterator.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/struct_column_iterator.cpp
Owners: @StarRocks/starrocks-committer

update
  be/src/storage/rowset/segment_iterator.cpp
Owners: @StarRocks/starrocks-committer

add session config
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Owners: @StarRocks/starrocks-committer

Fix bug automatic partition table slot_id is not update after schema change
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#29824)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergGlueCatalog.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#29824)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergGlueCatalog.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#29824)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergGlueCatalog.java
Owners: @StarRocks/starrocks-committer

[Tool] Cov split BE/FE by flags
  .github/workflows/ci-report.yml
  codecov.yml
Owners: @StarRocks/starrocks-committer

[Doc] Remove Kerberos from Storage volume (#6456)
  sql-reference/sql-statements/Administration/CREATE STORAGE VOLUME.md
Owners: @StarRocks/starrocks-committer

Opt.
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
Owners: @StarRocks/starrocks-committer

[Tool] Cov split BE/FE by flags (#29855)
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
  codecov.yml
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/split.cpp
  be/src/exprs/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/split.cpp
  be/src/exprs/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/split.cpp
  be/src/exprs/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/vectorized/split.cpp
  be/src/exprs/vectorized/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/vectorized/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[Tool] Cov split BE/FE by flags (#29855)
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
  codecov.yml
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/vectorized/split.cpp
  be/src/exprs/vectorized/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/vectorized/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[BugFix] Fix split constant non-ASCII source and empty delimiter (#29818)
  be/src/exprs/split.cpp
  be/src/exprs/string_functions.cpp
  be/src/util/utf8.h
  be/test/exprs/string_fn_test.cpp
  test/sql/test_function/R/test_split
  test/sql/test_function/T/test_split
Owners: @StarRocks/starrocks-committer

[Tool] promote toolchains to 20230823 version (#29813)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
Owners: @StarRocks/starrocks-committer

[Doc] update MinIO param desc and value (#6457)
  data_source/catalog/deltalake_catalog.md
  data_source/catalog/hive_catalog.md
  data_source/catalog/hudi_catalog.md
  data_source/catalog/iceberg_catalog.md
  data_source/catalog/paimon_catalog.md
  data_source/file_external_table.md
  loading/cloud_storage_load.md
  sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/starrocks-committer

[Doc] update MinIO param desc and value (#29848)
  docs/data_source/catalog/deltalake_catalog.md
  docs/data_source/catalog/hive_catalog.md
  docs/data_source/catalog/hudi_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
  docs/data_source/catalog/paimon_catalog.md
  docs/data_source/file_external_table.md
  docs/loading/cloud_storage_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] update MinIO param desc and value (#29848)
  docs/data_source/catalog/deltalake_catalog.md
  docs/data_source/catalog/hive_catalog.md
  docs/data_source/catalog/hudi_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
  docs/data_source/catalog/paimon_catalog.md
  docs/data_source/file_external_table.md
  docs/loading/cloud_storage_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Doc] update MinIO param desc and value (#29848)
  docs/data_source/catalog/deltalake_catalog.md
  docs/data_source/catalog/hive_catalog.md
  docs/data_source/catalog/hudi_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
  docs/data_source/catalog/paimon_catalog.md
  docs/data_source/file_external_table.md
  docs/loading/cloud_storage_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix severals bugs of pipe (#29478)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeSetProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
  test/sql/test_pipe/R/basic
  test/sql/test_pipe/T/basic
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
