Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate `WITH_STARCACHE` from `use-staros` to avoid build staros modules if unnecessary. (#30687) (#32977)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate `WITH_STARCACHE` from `use-staros` to avoid build staros modules if unnecessary. (#30687) (#32978)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

fix init error handle
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
Owners: @StarRocks/starrocks-committer

[Tool] Add CI for sync prs (#6463)
  .github/workflows/daily-inspection.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-auto-merge.yml
  .github/workflows/sync-ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

update
  be/src/exec/parquet_writer.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] allow create mv sql with bitmap index (#32637)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStatement.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

fix test
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] fix mv on iceberg issues (#32916)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionBench.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q15.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
Owners: @StarRocks/starrocks-committer

[UT] ParquetScannerTest.optional_map_key failure (#33012)
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[UT] ParquetScannerTest.optional_map_key failure (#33012)
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

fixe heading errors (#6861)
  benchmarking/TPC_DS_Benchmark.md
  faq/loading/Routine_load_faq.md
  loading/BrokerLoad.md
  loading/Flink-connector-starrocks.md
  loading/Flink_cdc_load.md
  loading/Loading_intro.md
  loading/Spark-connector-starrocks.md
  loading/cloud_storage_load.md
  quick_start/Create_table.md
  release_notes/release-2.0.md
  release_notes/release-2.1.md
  release_notes/release-2.3.md
  release_notes/release-2.5.md
  sql-reference/sql-statements/Administration/SHOW_FRONTENDS.md
  sql-reference/sql-statements/data-definition/ANALYZE_TABLE.md
  sql-reference/sql-statements/data-manipulation/ALTER_LOAD.md
  sql-reference/sql-statements/data-manipulation/STREAM_LOAD.md
  unloading/Spark_connector.md
  using_starrocks/Connector.md
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[UT] ParquetScannerTest.optional_map_key failure (#33012)
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[Tool] bugfix: fix conditions of sync pr (#6469)
  .github/workflows/sync-ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

[UT] ParquetScannerTest.optional_map_key failure (#33012)
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] sasl enable kerberos support (#32483)
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/sasl2-add-k5support-link.patch
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Choose the starcache library in starlet directory when building with staros. (#32886)
  be/CMakeLists.txt
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-ubuntu22-x86_64.sh
  thirdparty/vars-x86_64.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet (#32996)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] sasl enable kerberos support (#32483)
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/sasl2-add-k5support-link.patch
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] sasl enable kerberos support (#32483)
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/sasl2-add-k5support-link.patch
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet (#32996)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet (#32996)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Support column rename for olap table Part 1 (#32841)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnRenameClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  test/sql/test_column_rename/R/test_column_rename
  test/sql/test_column_rename/T/test_column_rename
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Support column rename for olap table Part 1 (#32841)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnRenameClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  test/sql/test_column_rename/R/test_column_rename
  test/sql/test_column_rename/T/test_column_rename
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Enhancement] Only waits for compaction tasks in CompactionScheduler (#32954)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix statistic collector can't refresh statistic cache
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticAutoCollector.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Only waits for compaction tasks in CompactionScheduler (#32954)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Only waits for compaction tasks in CompactionScheduler (#32954)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

[Doc] Fix format (#6866)
  sql-reference/sql-functions/table-functions/files.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Rename `block_cache` configurations to `data_cache` and support configuring data cache size by different expression. (#31498)
  be/src/block_cache/CMakeLists.txt
  be/src/block_cache/cache_options.cpp
  be/src/block_cache/cache_options.h
  be/src/block_cache/cachelib_wrapper.cpp
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/io/cache_input_stream.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/options.cpp
  be/src/storage/options.h
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.optional_map_key
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize segment open for cloud native tablet (#32996)
  be/src/storage/lake/tablet.cpp
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Only waits for compaction tasks in CompactionScheduler (#32954)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

add 3.0.7 rn
  docs/release_notes/release-3.0.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Only waits for compaction tasks in CompactionScheduler (#32954)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Only waits for compaction tasks in CompactionScheduler (#32954)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
