Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

Update Configuration.md
  administration/Configuration.md
Owners: @StarRocks/starrocks-committer

[Refactor] refactor error msg for high-order functions (#30766)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/VariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SemanticException.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SetType.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer

[UT] fix unstable ut
  be/test/storage/compaction_parallelization_test.cpp
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[Doc] Fix linting logic
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

Fix load auth issue
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
Owners: @StarRocks/starrocks-committer

up
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add some profile metrics (#6595)
  administration/query_profile.md
Owners: @StarRocks/starrocks-committer

Fix load auth issue (#30972)
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Feature] Unload data via table function (#30544)
  be/src/exec/CMakeLists.txt
  be/src/exec/data_sink.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/table_function_table_sink.cpp
  be/src/runtime/table_function_table_sink.h
  be/src/util/url_coding.cpp
  be/src/util/url_coding.h
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/DataSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/TableFunctionTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstance.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/planner/TableFunctionTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Doc] Fix linting logic (#30971)
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

[Doc] Fix linting logic (#30971)
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

[Doc] Fix linting logic (#30971)
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

[Doc] Fix linting logic (#30971)
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

[Doc] Fix linting logic (#30971)
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

fix comments
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/mem_table.h
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spiller.hpp
Owners: @StarRocks/starrocks-committer

[Doc] Fix linting logic (#30971)
  docs/.markdownlint.yaml
Owners: @StarRocks/docs-maintainer

Update data_cache.md
  docs/data_source/data_cache.md
Owners: @StarRocks/docs-maintainer

[BugFix] skip collect subfield expr without referencing cols
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldExpressionCollector.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Owners: @StarRocks/starrocks-committer

[Doc] rmv a section from stream load doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

Remove section from stream load doc (#6615)
  loading/StreamLoad.md
Owners: @StarRocks/starrocks-committer

parquet_reader: support map
  be/src/exec/CMakeLists.txt
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_schema_builder.cpp
  be/src/exec/parquet_schema_builder.h
Owners: @StarRocks/starrocks-committer

parquet_reader: support list of list
  be/src/exec/arrow_schema_converter.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.get_file_schema
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_nested.py
  be/test/exec/test_data/parquet_data/nested.parquet
Owners: @StarRocks/starrocks-committer

*: files() support parquet list
  be/src/exec/CMakeLists.txt
  be/src/exec/arrow_schema_converter.cpp
  be/src/exec/arrow_schema_converter.h
  be/src/exec/parquet_reader.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
Owners: @StarRocks/starrocks-committer

test: add nested.parquet
  be/test/exec/parquet_scanner_test.cpp
  be/test/formats/parquet/test_data/nested.parquet
Owners: @StarRocks/starrocks-committer

test: add testPTypeDescFromProtobuf
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
Owners: @StarRocks/starrocks-committer

runtime: add TypeDescriptor::create_map_type
  be/src/exec/parquet_schema_builder.cpp
  be/src/runtime/types.h
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.get_file_schema
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] rmv a section from stream load doc (#30983)
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

[BugFix] fix subquery check in join on predicate
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[Doc] rmv a section from stream load doc (#30983)
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

[Doc] rmv a section from stream load doc (#30983)
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

[Doc] rmv a section from stream load doc (#30983)
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

[Doc] rmv a section from stream load doc (#30983)
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

[Doc] rmv a section from stream load doc (#30983)
  docs/loading/StreamLoad.md
Owners: @StarRocks/docs-maintainer

[Feature]Add warehouse in audit log (#4560)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
Owners: @StarRocks/starrocks-committer

[Doc] Fix typo (#6619)
  quick_start/Create_table.md
Owners: @StarRocks/starrocks-committer

fix style
  be/src/runtime/jdbc_driver_manager.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
