Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix style
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ConstantOperatorDiscreteDomain.java
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix BE DCheck failed (#30376)
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
Owners: @StarRocks/starrocks-committer

update
  be/test/CMakeLists.txt
Owners: @StarRocks/starrocks-committer

update codes
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

[Refactor] fix more
  be/src/runtime/runtime_state.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] More checks
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
Owners: @StarRocks/starrocks-committer

[UT] Restore migration test
  be/test/storage/task/engine_storage_migration_task_test.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] restore
  be/src/util/failpoint/fail_point.cpp
  be/src/util/failpoint/fail_point.h
Owners: @StarRocks/starrocks-committer

[Tool] Upgrade Java 8 to Java 11
  bin/start_fe.sh
  docker/dockerfiles/allin1/allin1-ubi.Dockerfile
  docker/dockerfiles/be/be-ubi.Dockerfile
  docker/dockerfiles/fe/fe-ubi.Dockerfile
  docker/dockerfiles/toolchains/toolchains-centos7.Dockerfile
  docs/data_source/External_table.md
  docs/deployment/deployment_prerequisites.md
  docs/developers/development-environment/IDEA.md
  docs/developers/development-environment/ide-setup.md
  docs/faq/Deploy_faq.md
  docs/sql-reference/sql-functions/JAVA_UDF.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

cp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIOTest.java
Owners: @StarRocks/starrocks-committer

immutable properties
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedConnector.java
Owners: @StarRocks/starrocks-committer

clean
  be/src/formats/csv/varbinary_converter.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix reset compression context multiple times
  be/src/util/compression/compression_context_pool.h
Owners: @StarRocks/starrocks-committer

[Feature] support any/all_match() for arrays (#24692)
  be/src/exprs/array_functions.cpp
  be/src/exprs/array_functions.h
  be/src/exprs/array_functions.tpp
  be/test/exprs/array_functions_test.cpp
  docs/TOC.md
  docs/sql-reference/sql-functions/array-functions/all_match.md
  docs/sql-reference/sql-functions/array-functions/any_match.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

update
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] check storage medium consistency when strict check is active
  fe/fe-core/src/main/java/com/starrocks/clone/ClusterLoadStatistic.java
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix crash in batch delete caused by empty paths
  be/src/fs/fs_starlet.cpp
  be/test/fs/fs_starlet_test.cpp
Owners: @StarRocks/starrocks-committer

rename func
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Owners: @StarRocks/starrocks-committer

[BugFix] forbid resume an available warehouse and suspend a suspended warehouse (#4192)
  fe/fe-core/src/main/java/com/starrocks/epack/server/WarehouseManagerEpack.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[BugFix]throw "Unknown err" when execute "show backends"after drop warehouse (#4181)
  fe/fe-core/src/main/java/com/starrocks/epack/system/SystemInfoServiceEpack.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/LocalWarehouse.java
Owners: @StarRocks/starrocks-committer

[Feature] dict query function(sync #20961) (#4123)
  be/src/exprs/CMakeLists.txt
  be/src/exprs/dict_query_expr.cpp
  be/src/exprs/dict_query_expr.h
  be/src/exprs/expr.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/analysis/DictQueryExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictQueryOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperatorVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/DictQueryFunctionTest.java
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

update test
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer

[BugFix] Modify a column that does not exist get NPE for primary key table (#30365) (#30366)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Owners: @StarRocks/starrocks-committer

[BugFix] Modify a column that does not exist get NPE for primary key table (#30365) (#30366)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Owners: @StarRocks/starrocks-committer

[BugFix] Modify a column that does not exist get NPE for primary key table (#30365) (#30366)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Owners: @StarRocks/starrocks-committer

[BugFix] Modify a column that does not exist get NPE for primary key table (#30365) (#30366)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Owners: @StarRocks/starrocks-committer

[Feature]Support struct type for paimon table (#30162)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonTypeUtils.java
Owners: @StarRocks/starrocks-committer

[Feature]Support struct type for paimon table (#30162)
  be/src/connector/hive_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonColumnConverterTest.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonTypeUtils.java
Owners: @StarRocks/starrocks-committer

wip
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
Owners: @StarRocks/starrocks-committer

Update BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Enhancement][Cherry-Pick][Branch-3.1] Improve iceberg storage cloud configuration and make tabular more generic (#30384)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIOTest.java
Owners: @StarRocks/starrocks-committer

fix
  be/src/exec/workgroup/work_group.cpp
Owners: @StarRocks/starrocks-committer

update assets
  docs/administration/query_profile.md
  docs/assets/profile-16.png
  docs/assets/profile-17.png
  docs/assets/profile-18.png
  docs/assets/profile-19.png
Owners: @StarRocks/docs-maintainer

[Tool] rebuild sql test framework and add repeat runs (#25315)
  test/README.md
  test/lib/choose_cases.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/requirements.txt
  test/run.py
  test/sql/test_storage_volume/R/set_as_default
  test/sql/test_storage_volume/T/set_as_default
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

fix comments
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q5.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
Owners: @StarRocks/starrocks-committer

[Doc] Fix code formats in BROKER LOAD.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Feature] support any/all_match() for arrays (backport #24692) (#30387)
  be/src/exprs/array_functions.cpp
  be/src/exprs/array_functions.h
  be/src/exprs/array_functions.tpp
  be/test/exprs/array_functions_test.cpp
  docs/TOC.md
  docs/sql-reference/sql-functions/array-functions/all_match.md
  docs/sql-reference/sql-functions/array-functions/any_match.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  gensrc/script/functions.py
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] support struct column late materialized (#28222)
  be/src/column/const_column.h
  be/src/column/nullable_column.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/array_column_iterator.cpp
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/fill_subfield_iterator.cpp
  be/src/storage/rowset/fill_subfield_iterator.h
  be/src/storage/rowset/map_column_iterator.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/struct_column_iterator.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Owners: @StarRocks/starrocks-committer
