Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudCredential.java
Owners: @StarRocks/starrocks-committer

fix format
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

update 7: fix comments
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv (#31994)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv (#31994)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv (#31994)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Cherry-pick][branch-3.1] support refresh iceberg mv by partition (#32173)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

fix assume role
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudCredential.java
Owners: @StarRocks/starrocks-committer

add switch: brpc_connection_type
  be/src/common/config.h
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[Feature] Support paimon materialized view (#29476)
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/RowDataConverter.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonPartitionKeyTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveTPCHPlanTest.java
Owners: @StarRocks/starrocks-committer

[Feature][Cherry-Pick] Unload data via table function (backport #30544) (#31591)
  be/src/exec/CMakeLists.txt
  be/src/exec/data_sink.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/table_function_table_sink.cpp
  be/src/runtime/table_function_table_sink.h
  be/src/util/url_coding.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/DataSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/TableFunctionTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstance.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/planner/TableFunctionTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] Support paimon materialized view (#29476)
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonPartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/RowDataConverter.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonPartitionKeyTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HiveTPCHPlanTest.java
Owners: @StarRocks/starrocks-committer

[BugFix][Cherry-Pick][Branch-3.1] Fix FSIO stats lost in hdfs_scanner_text (#32180)
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/jni_scanner.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some unload issues (#32151)
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/level_builder.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some unload issues (#32151)
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/level_builder.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Owners: @StarRocks/starrocks-committer

support create multiple single connections between BE
  be/src/common/config.h
  be/src/util/brpc_stub_cache.h
Owners: @StarRocks/starrocks-committer

[BugFix][Cherry-Pick][Branch-3.1] Fix FSIO stats lost in hdfs_scanner_text (#32180)
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/jni_scanner.cpp
Owners: @StarRocks/starrocks-committer

[BugFix][Cherry-Pick][Branch-3.1] Fix FSIO stats lost in hdfs_scanner_text (#32180)
  be/src/exec/vectorized/hdfs_scanner.cpp
  be/src/exec/vectorized/hdfs_scanner.h
  be/src/exec/vectorized/hdfs_scanner_orc.cpp
  be/src/exec/vectorized/hdfs_scanner_parquet.cpp
  be/src/exec/vectorized/hdfs_scanner_text.cpp
  be/src/exec/vectorized/jni_scanner.cpp
Owners: @StarRocks/starrocks-committer

fix
  be/src/exec/hdfs_scanner.cpp
Owners: @StarRocks/starrocks-committer

Fix deltalake glue catalog
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
Owners: @StarRocks/starrocks-committer

fix ut
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add create table properties to Iceberg catalog doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

update
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
Owners: @StarRocks/starrocks-committer

Update iceberg_catalog.md
  docs/data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix hudi type converter (#32143)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
Owners: @StarRocks/starrocks-committer

update tests
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hudi type converter (#32143)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hudi type converter (#32143)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hudi type converter (#32143)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate starcache from staros to avoid build staros modules if unnecessary. (#30687) (#32083)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate starcache from staros to avoid build staros modules if unnecessary. (#30687) (#32113)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] Fix hudi type converter (#32143)
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv (#31994)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support fill data cache when querying cloud native mv (#31994)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

update tests
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Owners: @StarRocks/starrocks-committer

[Enhancement] Only create necessay partitions when refreshing mv by partition (#32016)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix NPE of iceberg catalog type property (#31595)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
Owners: @StarRocks/starrocks-committer

address review comments
  be/src/storage/lake/schema_change.cpp
  be/src/storage/schema_change.cpp
  be/src/storage/schema_change_utils.cpp
Owners: @StarRocks/starrocks-committer

add ut
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
