Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

Update README.md
  docs/README.md
Owners: @StarRocks/docs-maintainer

Update README.md
  docs/README.md
Owners: @StarRocks/docs-maintainer

[Doc] Add document for TRANSLATE
  docs/sql-reference/sql-functions/translate.md
Owners: @StarRocks/docs-maintainer

Update README.md
  docs/README.md
Owners: @StarRocks/docs-maintainer

update function-list
  docs/sql-reference/sql-functions/function-list.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix single replica lost after consecutive balance (#29530)
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
  fe/fe-core/src/main/java/com/starrocks/clone/TabletSchedCtx.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

Update query_timeout description for spark connector (#6351)
  unloading/Spark_connector.md
Owners: @StarRocks/starrocks-committer

update
  docs/sql-reference/sql-functions/translate.md
Owners: @StarRocks/docs-maintainer

[Doc] add an toc entry for data types
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix single replica lost after consecutive balance (#29530)
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
  fe/fe-core/src/main/java/com/starrocks/clone/TabletSchedCtx.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

delete obsolete desc in starrocks.request.query.timeout.s
  docs/unloading/Spark_connector.md
Owners: @StarRocks/docs-maintainer

[Feature] Support disable privilege collection cache (#29525) (#29539) (#29776)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

Update CloudCanal.md
  docs/loading/CloudCanal.md
Owners: @StarRocks/docs-maintainer

[Feature] Support Apache Ranger as StarRocks RBAC Authorizer (#29154)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControlProvider.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/HiveAccessType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-policymgr-ssl.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-servicedef-starrocks.json
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-audit.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-security.xml
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
Owners: @StarRocks/starrocks-committer

[Doc]add CloudCanal doc (#29684)
  docs/assets/3.11-1.png
  docs/assets/3.11-2.png
  docs/assets/3.11-3.png
  docs/assets/3.11-4.png
  docs/assets/3.11-5.png
  docs/assets/3.11-6.png
  docs/assets/3.11-7.png
  docs/assets/3.11-8.png
  docs/loading/CloudCanal.md
Owners: @StarRocks/docs-maintainer

update
  docs/sql-reference/sql-functions/function-list.md
  docs/sql-reference/sql-functions/string-functions/translate.md
Owners: @StarRocks/docs-maintainer

[Doc]add CloudCanal doc (#29684)
  docs/assets/3.11-1.png
  docs/assets/3.11-2.png
  docs/assets/3.11-3.png
  docs/assets/3.11-4.png
  docs/assets/3.11-5.png
  docs/assets/3.11-6.png
  docs/assets/3.11-7.png
  docs/assets/3.11-8.png
  docs/loading/CloudCanal.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support delta column files gc (#28971)
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/olap_server.cpp
  be/src/storage/tablet_meta_manager.cpp
  be/src/storage/tablet_meta_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/storage/rowset_column_partial_update_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

solfe conflict
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

solfe conflict
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

solfe conflict
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix negative number of statistics item 'CpuCostNs' and 'ScanRows' (#29588)
  be/src/runtime/query_statistics.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix single replica lost after consecutive balance (#29530) (#29782)
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
  fe/fe-core/src/main/java/com/starrocks/clone/TabletSchedCtx.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Owners: @StarRocks/starrocks-committer

[Bugfix] for dict encode column need decode if used in multi-slot conjunct
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/test/formats/parquet/file_reader_test.cpp
  docs/administration/User_privilege.md
  test/sql/test_external_file/R/test_parquet_struct_in_struct
  test/sql/test_external_file/T/test_parquet_struct_in_struct
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Feature] Support Apache Ranger as StarRocks RBAC Authorizer (#29154)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControlProvider.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/HiveAccessType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-policymgr-ssl.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-servicedef-starrocks.json
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-audit.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-security.xml
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
Owners: @StarRocks/starrocks-committer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[BugFix] keep comments in sql when audit it (#29747)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Enhancement] support very big binary column
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

Spark load can not be used to load data into a Primary Key table
  docs/loading/SparkLoad.md
Owners: @StarRocks/docs-maintainer

[UT] fix unstable ut
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer

uppp
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Owners: @StarRocks/starrocks-committer

[Bugfix] for dict encode column need decode if used in multi-slot conjunct
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/test/formats/parquet/file_reader_test.cpp
  docs/administration/User_privilege.md
  test/sql/test_external_file/R/test_parquet_struct_in_struct
  test/sql/test_external_file/T/test_parquet_struct_in_struct
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Enhancement] support very big binary column
  be/src/formats/parquet/group_reader.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support unnest array of struct/map/json
  be/src/exprs/table_function/table_function_factory.cpp
  test/sql/test_unnest/R/test_unnest
  test/sql/test_unnest/T/test_unnest
Owners: @StarRocks/starrocks-committer

[Feature] Support Apache Ranger as StarRocks RBAC Authorizer (#29154)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AccessControlProvider.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/HiveAccessType.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/hive/RangerHiveResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessControl.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksResource.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-policymgr-ssl.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-servicedef-starrocks.json
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-audit.xml
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/conf/ranger-starrocks-security.xml
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
Owners: @StarRocks/starrocks-committer
