Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Owners: @StarRocks/starrocks-committer

[BugFix] resolve comments
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/vacuum.cpp
Owners: @StarRocks/starrocks-committer

fix comment
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariableConstants.java
  fe/fe-core/src/test/java/com/starrocks/qe/SessionVariableTest.java
Owners: @StarRocks/starrocks-committer

fix broken links for the headline of choosing bucketing key in create table
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[Enhancement] upgrade staros to v3.2-rc2 (#32762)
  be/src/service/staros_worker.cpp
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer

BugFix: Table using light schema change will lost bloom filter in rowset data
  be/src/storage/tablet_schema.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the bug of mixed use of current user and qualifiedUser (#32820)
  fe/fe-core/src/main/java/com/starrocks/analysis/Analyzer.java
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/KerberosAuthenticationProvider.java
  fe/fe-core/src/main/java/com/starrocks/authentication/LDAPAuthProviderForNative.java
  fe/fe-core/src/main/java/com/starrocks/authentication/PlainPasswordAuthenticationProvider.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/AuthProcDir.java
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
  fe/fe-core/src/main/java/com/starrocks/mysql/MysqlProto.java
  fe/fe-core/src/main/java/com/starrocks/mysql/privilege/Auth.java
  fe/fe-core/src/main/java/com/starrocks/mysql/privilege/ImpersonateUserPrivEntry.java
  fe/fe-core/src/main/java/com/starrocks/mysql/privilege/PrivTable.java
  fe/fe-core/src/main/java/com/starrocks/mysql/privilege/UserPropertyMgr.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerStarRocksAccessRequest.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessController.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DropStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PrivilegeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UserIdentity.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AccessTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterUserStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateUserStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetPassVarTest.java
  fe/fe-core/src/test/java/com/starrocks/authentication/AuthenticationManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/authentication/PlainPasswordAuthenticationProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/http/HttpAuthManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/mysql/privilege/PrivTableTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/SetExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeShowTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExternalDbTablePrivTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeStmtAnalyzerV2Test.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/TestWithFeService.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

Fix link 1017 (#6842)
  loading/Kafka-connector-starrocks.md
  loading/SparkLoad.md
  loading/hdfs_load.md
  loading/load_from_pulsar.md
  quick_start/Import_and_query.md
  release_notes/release-2.2.md
  sql-reference/sql-functions/function-list.md
  sql-reference/sql-functions/string-functions/group_concat.md
  sql-reference/sql-statements/data-definition/ALTER_RESOURCE.md
  sql-reference/sql-statements/data-definition/CREATE_RESOURCE.md
  sql-reference/sql-statements/data-manipulation/SHOW_CREATE_DATABASE.md
  sql-reference/sql-statements/generated_columns.md
  table_design/table_types/aggregate_table.md
  table_design/table_types/duplicate_key_table.md
  table_design/table_types/primary_key_table.md
  table_design/table_types/unique_key_table.md
  unloading/Flink_connector.md
Owners: @StarRocks/starrocks-committer

fix broken links for the headline of choosing bucketing key in create table (#32930)
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

fix broken links (#6843)
  sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/starrocks-committer

[BugFix] Fix prune empty outer join lose predicate (#32908)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneEmptyJoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EmptyValueTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix prune empty outer join lose predicate (#32908)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneEmptyJoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EmptyValueTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Distinguish materialized view refreshed partitions are empty or cannot be rewritten (#32512)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Distinguish materialized view refreshed partitions are empty or cannot be rewritten (#32512)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Update External_table.md
  data_source/External_table.md
Owners: @StarRocks/starrocks-committer

[Doc] Update External_table.md
  data_source/External_table.md
Owners: @StarRocks/starrocks-committer

[Cherry-pick][Branch-3.1][BugFix] Fix iceberg mv refresh failed when iceberg table is unpartitioned (#32859) (#32919)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergTable.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TestTables.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionUtilsTest.java
Owners: @StarRocks/starrocks-committer

Only remove partition vision infos when mv's partition has been dropped
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

fix refresh after restart
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix compile
  be/src/service/service_be/lake_service.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix query partition compensate predicates for mv rewrite (#30813)
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewriteContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ScanOperatorPredicates.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteMultiTableJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q7.sql
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mv_on_mv2.json
Owners: @StarRocks/starrocks-committer

update
  be/src/storage/olap_meta_reader.cpp
  be/src/storage/tablet_schema.cpp
Owners: @StarRocks/starrocks-committer

fix broken links for the headline of choosing bucketing key in create table (#32930)
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix prune empty outer join lose predicate (#32908)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneEmptyJoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EmptyValueTest.java
Owners: @StarRocks/starrocks-committer

[Doc] correctify parameter description for key.converter&value.converter (#32920)
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

fix broken links for the headline of choosing bucketing key in create table (#32930)
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

fix broken links for the headline of choosing bucketing key in create table (#32930)
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

fix broken links for the headline of choosing bucketing key in create table (#32930)
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix prune empty outer join lose predicate (#32908)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneEmptyJoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EmptyValueTest.java
Owners: @StarRocks/starrocks-committer

fix broken links for the headline of choosing bucketing key in create table (#32930)
  docs/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Owners: @StarRocks/docs-maintainer

[Doc] correctify parameter description for key.converter&value.converter (#32920)
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] correctify parameter description for key.converter&value.converter (#32920)
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[BugFix] Properties is optional in creating storage volume statement
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Doc] correctify parameter description for key.converter&value.converter (#32920)
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Doc] correctify parameter description for key.converter&value.converter (#32920)
  docs/loading/Kafka-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

fix comment
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariableConstants.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/qe/SessionVariableTest.java
Owners: @StarRocks/starrocks-committer
