Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] Support audit for insert into statement executing from follower (#30663)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Support audit for insert into statement executing from follower (#30663)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Support audit for insert into statement executing from follower (#30663)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Support audit for insert into statement executing from follower (#30663)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

format
  be/test/storage/column_aggregator_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove the get schema call in TabletReader. (#30998)
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove the get schema call in TabletReader. (#30998)
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove the get schema call in TabletReader. (#30998)
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
Owners: @StarRocks/starrocks-committer

[Tool] Add format check for behavior change info
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Enhancement] Remove the get schema call in TabletReader. (#30998)
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
Owners: @StarRocks/starrocks-committer

[BugFix] Resolve conflicts
  be/src/storage/lake/tablet_reader.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] return more accurate logs when accessing hdfs fails (#31005)
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix resource group in audit log and persist planCostRange (#30726)
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupClassifier.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/persist/ResourceGroupOpEntry.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] fix status check issue in spill-related code (#30816)
  be/src/exec/partition/chunks_partitioner.h
  be/src/exec/pipeline/hash_partition_context.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.cpp
  be/src/exec/pipeline/nljoin/nljoin_context.cpp
  be/src/exec/pipeline/nljoin/nljoin_context.h
  be/src/exec/pipeline/nljoin/spillable_nljoin_build_operator.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/mem_table.h
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spill_components.h
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
Owners: @StarRocks/starrocks-committer

fix
  be/src/exec/pipeline/scan/scan_operator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add prepare timer for fragment instance and scan operator
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/scan/olap_scan_prepare_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
Owners: @StarRocks/starrocks-committer

update
  be/src/exec/pipeline/scan/scan_operator.cpp
Owners: @StarRocks/starrocks-committer

[cherry-pick][branch-3.2][Feature] support snappy stream compression (#30604) (#31032)
  be/src/exec/hdfs_scanner_text.cpp
  be/src/io/compressed_input_stream.cpp
  be/src/util/coding.h
  be/src/util/compression/stream_compression.cpp
  be/test/exec/test_data/csv_scanner/decompress_test0.csv.snappy
  be/test/exec/test_data/csv_scanner/decompress_test1.csv.snappy
  be/test/io/compressed_input_stream_test.cpp
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

[Doc] Add storage support info to export doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693) (#30936)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Enhancement] fix status check issue in spill-related code (#30816)
  be/src/exec/partition/chunks_partitioner.h
  be/src/exec/pipeline/hash_partition_context.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.cpp
  be/src/exec/pipeline/nljoin/nljoin_context.cpp
  be/src/exec/pipeline/nljoin/nljoin_context.h
  be/src/exec/pipeline/nljoin/spillable_nljoin_build_operator.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/mem_table.h
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spill_components.h
  be/src/exec/spill/spiller.cpp
  be/src/exec/spill/spiller.h
Owners: @StarRocks/starrocks-committer

[Feature] suport lzo stream compression (#30721)
  be/src/util/compression/stream_compression.cpp
  be/test/exec/test_data/csv_scanner/decompress_test0.csv.lzo
  be/test/exec/test_data/csv_scanner/decompress_test1.csv.lzo
  be/test/io/compressed_input_stream_test.cpp
  test/sql/test_external_file/R/test_csv_compression_format
  test/sql/test_external_file/T/test_csv_compression_format
Owners: @StarRocks/starrocks-committer

Add supported data sources to export doc (#6630)
  unloading/Export.md
Owners: @StarRocks/starrocks-committer

[BugFix] timezone for FILES() (#30981)
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/internal_service.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] timezone for FILES() (#30981)
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/internal_service.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix them mem statistics bug of MemoryScratchSink (#30751) (#31033)
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/memory_scratch_sink.cpp
  be/src/util/arrow/starrocks_column_to_arrow.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] timezone for FILES() (#30981)
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/internal_service.cpp
Owners: @StarRocks/starrocks-committer

Update Export.md
  docs/unloading/Export.md
Owners: @StarRocks/docs-maintainer

works ok
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/test/runtime/buffer_control_block_test.cpp
Owners: @StarRocks/starrocks-committer

refine code
  be/src/runtime/buffer_control_block.cpp
Owners: @StarRocks/starrocks-committer

update delete
  be/src/runtime/buffer_control_block.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
Owners: @StarRocks/starrocks-committer

refine code
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_result_writer.h
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize send large results
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_result_writer.h
Owners: @StarRocks/starrocks-committer

control threads to fetch data
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
Owners: @StarRocks/starrocks-committer

reuse list
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
Owners: @StarRocks/starrocks-committer

check memory
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Revert "[Enhancement] view check modified columns (#29232)" (#30885)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Revert "[Enhancement] view check modified columns (#29232)" (#30885)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Owners: @StarRocks/starrocks-committer

refine
  be/src/runtime/buffer_control_block.cpp
Owners: @StarRocks/starrocks-committer
