Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Tool] support desensitize external table (#29910)
  docs/faq/Dump_query.md
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/HiveTableDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_agg_with_having3.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_join_agg1.json
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mock_mv_on_mv1.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_example.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_02.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_05_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_hive_tpch_08_catalog.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_mysql.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001634020.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001636205.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001637259.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001638388.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001641152.json
  fe/fe-core/src/test/resources/sql/query_dump/mock-files/mock_test1692001648605.json
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

[BugFix] Fix io status nullptr check (#31057)
  be/src/exec/parquet_writer.cpp
Owners: @StarRocks/starrocks-committer

[BugFix]Fix broker load failed bug under multi warehouse (#4616)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
Owners: @StarRocks/starrocks-committer

[UT] Make coverage report happy
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix io status nullptr check (#31057)
  be/src/exec/parquet_writer.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] refactor mv expression rewrite (#30111)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/result_sink_operator.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/common/util/AuditStatisticsUtil.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
Owners: @StarRocks/starrocks-committer

orc_scanner: support list type
  be/src/formats/orc/orc_schema_builder.cpp
Owners: @StarRocks/starrocks-committer

orc_scanner: add get_orc_type
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_schema_builder.cpp
  be/src/formats/orc/orc_schema_builder.h
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

test: add generate_compound.py
  be/test/exec/test_data/orc_scanner/compound.orc
  be/test/exec/test_data/orc_scanner/generate_compound.py
Owners: @StarRocks/starrocks-committer

orc_scanner: support map/struct
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_schema_builder.cpp
  be/src/runtime/types.h
Owners: @StarRocks/starrocks-committer

[Bugfix] fix drop hive table if exists
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  fe/fe-core/null/fe/ut_ports/64243
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q7.sql
Owners: @StarRocks/starrocks-committer

[BugFix] fix show create materialized errors (#30631)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  test/sql/test_materialized_view/R/test_show_materialized_view
Owners: @StarRocks/starrocks-committer

[BugFix] fix show create materialized errors (#30631)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  test/sql/test_materialized_view/R/test_show_materialized_view
Owners: @StarRocks/starrocks-committer

[BugFix] fix show create materialized errors (#30631)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  test/sql/test_materialized_view/R/test_show_materialized_view
Owners: @StarRocks/starrocks-committer

[BugFix] fix show create materialized errors (#30631)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  test/sql/test_materialized_view/R/test_show_materialized_view
Owners: @StarRocks/starrocks-committer

[BugFix] fix show create materialized errors (#30631)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  test/sql/test_materialized_view/R/test_show_materialized_view
Owners: @StarRocks/starrocks-committer

[BugFix] fix create hive table with string type
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
Owners: @StarRocks/starrocks-committer

[Refactor][BugFix][CherryPick] refactor mv expression rewrite 3.0 (#30111) (#30733)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/BaseScalarOperatorShuttleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.1] improve parquet reader performance (#31020)
  be/src/column/nullable_column.cpp
  be/src/formats/parquet/encoding_dict.h
  be/src/storage/rowset/rle_page.h
  be/src/util/compression/block_compression.cpp
  be/src/util/rle_encoding.h
  be/test/column/fixed_length_column_test.cpp
  be/test/exprs/subfield_expr_test.cpp
  be/test/storage/column_aggregator_test.cpp
  be/test/util/rle_encoding_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix hive finish_sink without commit info
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
Owners: @StarRocks/starrocks-committer

fix links in json functions
  TOC.md
  sql-reference/sql-functions/json-functions/json-functions-and-operators.md
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate starcache from staros to avoid build staros modules if unnecessary. (#30687)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

type: support orc STRUCT
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/result_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-Pick][Branch-3.1] improve parquet reader performance (#31020)
  be/src/column/nullable_column.cpp
  be/src/formats/parquet/encoding_dict.h
  be/src/storage/rowset/rle_page.h
  be/src/util/compression/block_compression.cpp
  be/src/util/rle_encoding.h
  be/test/column/fixed_length_column_test.cpp
  be/test/exprs/subfield_expr_test.cpp
  be/test/storage/column_aggregator_test.cpp
  be/test/util/rle_encoding_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Use default filesystem to manipulate jdbc driver (#30955)
  be/src/runtime/jdbc_driver_manager.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Use default filesystem to manipulate jdbc driver (#30955)
  be/src/runtime/jdbc_driver_manager.cpp
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/result_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Add logging when connection is closed (#31035)
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add logging when connection is closed (#31035)
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Owners: @StarRocks/starrocks-committer

[UT] Fix ut (#31067)
  fe/fe-core/null/fe/ut_ports/64243
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q7.sql
Owners: @StarRocks/starrocks-committer

[Enhancement] Add logging when connection is closed (#31035)
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add logging when connection is closed (#31035)
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add logging when connection is closed (#31035)
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix paimon struct type error (#31069)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix paimon struct type error (#31069)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

[BugFix]Fix paimon struct type error (#31069)
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonColumnValue.java
Owners: @StarRocks/starrocks-committer

[Doc] Remake MV docs - part1 Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/TOC.md
  docs/administration/information_schema.md
  docs/assets/Modeling-1.png
  docs/assets/Modeling-2.png
  docs/assets/Rewrite-1.png
  docs/assets/Rewrite-10.png
  docs/assets/Rewrite-11.png
  docs/assets/Rewrite-12.png
  docs/assets/Rewrite-13.png
  docs/assets/Rewrite-14.png
  docs/assets/Rewrite-2.png
  docs/assets/Rewrite-3.png
  docs/assets/Rewrite-4.png
  docs/assets/Rewrite-5.png
  docs/assets/Rewrite-6.png
  docs/assets/Rewrite-7.png
  docs/assets/Rewrite-8.png
  docs/assets/Rewrite-9.png
  docs/using_starrocks/Materialized_view.md
  docs/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
  docs/using_starrocks/data_modeling_with_materialized_views.md
  docs/using_starrocks/query_rewrite_with_materialized_views.md
  docs/using_starrocks/troubleshooting_asynchronous_materialized_views.md
Owners: @StarRocks/docs-maintainer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
