Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/parser, @StarRocks/analyzer, @StarRocks/optimizer, @StarRocks/syntax-committer, @StarRocks/thirdparty-maintainer, @StarRocks/cloud-native, @StarRocks/msg-reviewer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# parser
/fe/fe-core/src/main/java/com/starrocks/planner/  @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/ast/ @StarRocks/parser
/fe/fe-core/src/main/java/com/starrocks/sql/parser/ @StarRocks/parser

# analyzer
/fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ @StarRocks/analyzer
/fe/fe-core/src/main/java/com/starrocks/analysis/ @StarRocks/analyzer

# optimizer
/fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ @StarRocks/optimizer
/fe/fe-core/src/main/java/com/starrocks/statistic/ @StarRocks/optimizer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

# /thirdparty/ /docker/dockerfiles/dev-env/dev-env.Dockerfile belong to thirdparty-maintainer
/thirdparty/  @StarRocks/thirdparty-maintainer
/docker/dockerfiles/dev-env/dev-env.Dockerfile   @StarRocks/thirdparty-maintainer

# cloud-native
/be/src/storage/lake/ @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.h @StarRocks/cloud-native
/be/src/runtime/lake_tablets_channel.cpp @StarRocks/cloud-native

# error message
/fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java  @StarRocks/msg-reviewer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TracerMVTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
Owners: @StarRocks/starrocks-committer

Revert "Revert "[Enhancement] Use Starlet's read_all() interface to read metadata in shared data mode (backport #36774)" (#37558)"
  be/src/fs/fs_starlet.cpp
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerTraceUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer, @StarRocks/optimizer

[Feature] Support Create Table Like DDL for Hive
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreOperations.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateTableLikeStmt.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetastoreOperationsTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/parser

[Feature] Add REST API For StarMgr Diagnostic
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ListShardGroupsAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ListWorkerGroupsAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ShardAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ShardGroupAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/WorkerAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/WorkerGroupAction.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/test/java/com/starrocks/http/AllShardsActionTest.java
  fe/fe-core/src/test/java/com/starrocks/http/AllWorkersActionTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Merge schema in `FILES` schema detection (#36892)
  be/src/exec/file_scanner.cpp
  be/src/exec/file_scanner.h
  be/src/service/internal_service.cpp
  be/src/types/logical_type.h
  be/test/CMakeLists.txt
  be/test/exec/file_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_schema.py
  be/test/exec/test_data/parquet_data/schema1.parquet
  be/test/exec/test_data/parquet_data/schema2.parquet
  be/test/exec/test_data/parquet_data/schema3.parquet
  be/test/exec/test_data/parquet_data/schema4.parquet
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement]make is_null compute auto vectorized (#37617)
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/stored_column_reader.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement]make is_null compute auto vectorized (#37617)
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/stored_column_reader.cpp
Owners: @StarRocks/starrocks-committer

[Bugfix] Fix repeat test
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[Feature] Move fs test files from starrocks_test to starrocks_storage_test
  be/test/CMakeLists.txt
Owners: @StarRocks/starrocks-committer

[Bugfix] Try fix link error
  be/test/CMakeLists.txt
Owners: @StarRocks/starrocks-committer

[Feature] Divided be ut into two parts
  be/test/CMakeLists.txt
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

[Feature] Split test
  be/test/CMakeLists.txt
  run-be-ut.sh
Owners: @StarRocks/starrocks-committer

update
  be/src/storage/delta_writer.cpp
Owners: @StarRocks/starrocks-committer

refine the doc
  docs/en/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support configure the number of http worker threads on FE
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
Owners: @StarRocks/starrocks-committer

Add doc
  docs/en/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
Owners: @StarRocks/docs-maintainer

Add tests
  be/src/storage/async_delta_writer.h
  be/src/storage/delta_writer.h
  be/src/storage/segment_flush_executor.cpp
  be/src/storage/segment_flush_executor.h
  be/test/CMakeLists.txt
  be/test/storage/segment_flush_executor_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix secondary tablets does not respond write segment brpc if canceled
  be/src/runtime/local_tablets_channel.cpp
  be/src/storage/async_delta_writer.cpp
  be/src/storage/async_delta_writer.h
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
  be/src/storage/segment_flush_executor.cpp
  be/src/storage/segment_flush_executor.h
Owners: @StarRocks/starrocks-committer

[Feature] Merge schema in `FILES` schema detection (#36892)
  be/src/exec/file_scanner.cpp
  be/src/exec/file_scanner.h
  be/src/service/internal_service.cpp
  be/src/types/logical_type.h
  be/test/CMakeLists.txt
  be/test/exec/file_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_schema.py
  be/test/exec/test_data/parquet_data/schema1.parquet
  be/test/exec/test_data/parquet_data/schema2.parquet
  be/test/exec/test_data/parquet_data/schema3.parquet
  be/test/exec/test_data/parquet_data/schema4.parquet
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

[Doc] Update ranger_plugin.md (#37475)
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Doc] Update ranger_plugin.md (#37475)
  docs/zh/administration/ranger_plugin.md
Owners: @StarRocks/docs-maintainer

[Bugfix]sharedbuffer inputstream release with aligned offset may mistake deletion
  be/src/io/shared_buffered_input_stream.cpp
  be/test/CMakeLists.txt
  be/test/io/compressed_input_stream_test.cpp
  be/test/io/io_test_base.h
  be/test/io/shared_buffered_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

add type=mysql in smt
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Owners: @StarRocks/docs-maintainer

[Feature] Merge schema in `FILES` schema detection (#36892)
  be/src/exec/file_scanner.cpp
  be/src/exec/file_scanner.h
  be/src/service/internal_service.cpp
  be/src/types/logical_type.h
  be/test/CMakeLists.txt
  be/test/exec/file_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_schema.py
  be/test/exec/test_data/parquet_data/schema1.parquet
  be/test/exec/test_data/parquet_data/schema2.parquet
  be/test/exec/test_data/parquet_data/schema3.parquet
  be/test/exec/test_data/parquet_data/schema4.parquet
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

fix
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

add switch enable_materialized_view_rewrite_for_insert
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] set partitionCmtOffsetTimestamp in TKafkaRLTaskProgress (#37463)
  be/src/runtime/stream_load/stream_load_executor.cpp
Owners: @StarRocks/starrocks-committer

[Bugfix]sharedbuffer inputstream release with aligned offset may mistake deletion
  be/src/io/shared_buffered_input_stream.cpp
  be/test/CMakeLists.txt
  be/test/io/compressed_input_stream_test.cpp
  be/test/io/io_test_base.h
  be/test/io/shared_buffered_input_stream_test.cpp
Owners: @StarRocks/starrocks-committer

opt
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Owners: @StarRocks/starrocks-committer

[Enhancement] limit persistent index compaction by disk (#36681)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] limit persistent index compaction by disk (#36681)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] limit persistent index compaction by disk (#36681)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] set partitionCmtOffsetTimestamp in TKafkaRLTaskProgress (branch-2.5.17-pa) (backport #37463) (#37691)
  be/src/runtime/stream_load/stream_load_executor.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] limit persistent index compaction by disk (#36681)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Support Create Table Like for Hive - update early return to prevent potential unnecessary hms calls
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
Owners: @StarRocks/starrocks-committer
