Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] cache view analyze result(sync #29642) (#3875)
  fe/fe-core/src/main/java/com/starrocks/catalog/View.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[Doc] Update desc in Memory mgt (#30153)
  docs/administration/Memory_management.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Support compact thrift protocol(sync #29888) (#3895)
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  be/src/util/thrift_util.h
  fe/fe-core/src/main/java/com/starrocks/catalog/Function.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/rpc/AttachmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/rpc/BackendServiceClient.java
  fe/fe-core/src/main/java/com/starrocks/rpc/PExecPlanFragmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/task/PushTask.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtWithDecimalTypesNewPlannerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  gensrc/proto/internal_service.proto
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/Types.thrift
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor LoadLoadingTask initialization using Builder pattern(sync #29877) (#3909)
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
Owners: @StarRocks/starrocks-committer

[Feature] dict query function (#20961)
  be/src/exprs/CMakeLists.txt
  be/src/exprs/dict_query_expr.cpp
  be/src/exprs/dict_query_expr.h
  be/src/exprs/expr.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/analysis/DictQueryExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictQueryOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperatorVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/DictQueryFunctionTest.java
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/query_statistics.cpp
  be/src/runtime/runtime_state.h
  docs/sql-reference/sql-functions/aggregate-functions/std.md
  docs/sql-reference/sql-statements/account-management/GRANT.md
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Feature] Group concat support order by and distinct (backport #28778) (#29927)
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/agg/nullable_aggregate.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/AggType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix the uuid of paimon table (#30143)
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
Owners: @StarRocks/starrocks-committer

fix count rewrite bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
Owners: @StarRocks/starrocks-committer

optimize ut
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the uuid of paimon table (#30143)
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
Owners: @StarRocks/starrocks-committer

Fix system object type mistake use equal bug (#30100)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support early return for window function if query is already canceled (#30109)
  be/src/exec/pipeline/analysis/analytic_sink_operator.cpp
  be/src/exec/pipeline/analysis/analytic_sink_operator.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix mv rewrite bug for having exprs with other predicates (#30161)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/PlannerProfile.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

backup commit
  be/src/common/config.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix mv rewrite bug for having exprs with other predicates (backport #29976) (#30157)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
Owners: @StarRocks/starrocks-committer

cp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/formats/csv/array_converter.cpp
  be/src/formats/csv/array_converter.h
  be/src/formats/csv/array_reader.cpp
  be/src/formats/csv/array_reader.h
  be/src/formats/csv/binary_converter.h
  be/src/formats/csv/boolean_converter.cpp
  be/src/formats/csv/boolean_converter.h
  be/src/formats/csv/converter.h
  be/src/formats/csv/date_converter.cpp
  be/src/formats/csv/date_converter.h
  be/src/formats/csv/datetime_converter.cpp
  be/src/formats/csv/datetime_converter.h
  be/src/formats/csv/decimalv2_converter.cpp
  be/src/formats/csv/decimalv2_converter.h
  be/src/formats/csv/decimalv3_converter.cpp
  be/src/formats/csv/decimalv3_converter.h
  be/src/formats/csv/default_value_converter.cpp
  be/src/formats/csv/default_value_converter.h
  be/src/formats/csv/float_converter.cpp
  be/src/formats/csv/float_converter.h
  be/src/formats/csv/json_converter.cpp
  be/src/formats/csv/json_converter.h
  be/src/formats/csv/nullable_converter.cpp
  be/src/formats/csv/nullable_converter.h
  be/src/formats/csv/numeric_converter.cpp
  be/src/formats/csv/numeric_converter.h
Owners: @StarRocks/starrocks-committer

fix bug
  be/src/storage/primary_index.cpp
  be/src/storage/tablet_updates.cpp
  be/test/storage/rowset/rowset_test.cpp
Owners: @StarRocks/starrocks-committer

fix conflict
  be/src/storage/primary_index.cpp
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

code format
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
Owners: @StarRocks/starrocks-committer

update
  be/src/storage/primary_index.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the uuid of paimon table (#30143)
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonTable.java
Owners: @StarRocks/starrocks-committer

ignore flaky test
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer

solve conflict
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/runtime/query_statistics.cpp
  be/test/exec/stream/stream_operators_test.cpp
  docs/sql-reference/sql-functions/string-functions/rpad.md
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/journal/bdbje/BDBJournalCursorTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

solfe conflict
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  test/sql/test_audit/R/test_audit_log
  test/sql/test_audit/T/test_audit_log
  test/sql/test_audit/T/test_audit_log.sh
Owners: @StarRocks/starrocks-committer

fix compile
  be/src/formats/csv/binary_converter.cpp
Owners: @StarRocks/starrocks-committer

tmp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIOTest.java
Owners: @StarRocks/starrocks-committer

tmp
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
Owners: @StarRocks/starrocks-committer

[Tool] Fix sqltest R file write in T file cases order (#29968)
  test/lib/sr_sql_lib.py
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index delete flag lost when flush l0
  be/src/common/config.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Tool] Fix sqltest R file write in T file cases order (#29968)
  test/lib/sr_sql_lib.py
  test/test_sql_cases.py
Owners: @StarRocks/starrocks-committer

fix be side
  be/src/fs/fs_s3.cpp
  gensrc/thrift/CloudConfiguration.thrift
Owners: @StarRocks/starrocks-committer

fix format
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/storagevolume/StorageVolume.java
Owners: @StarRocks/starrocks-committer

fix format
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorInternalMgr.java
Owners: @StarRocks/starrocks-committer

fix format and return default
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/IHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnectorInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudType.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
  fe/fe-core/src/main/java/com/starrocks/storagevolume/StorageVolume.java
  fe/fe-core/src/test/java/com/starrocks/analysis/DropMaterializedViewStmtNewPlannerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix wrong state of 'is_result_sink' of query context (#30098)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
Owners: @StarRocks/starrocks-committer

[BugFix] Fix wrong state of 'is_result_sink' of query context (#30098)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
Owners: @StarRocks/starrocks-committer

[feature] add some actions about Metadata.
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
  fe/fe-core/src/main/java/com/starrocks/http/model/TableDetailResult.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/MetaInfoService.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/TableDetailAction.java
  fe/fe-core/src/test/java/com/starrocks/http/MetaInfoServiceTest.java
  fe/fe-core/src/test/java/com/starrocks/http/TableDetailActionTest.java
  fe/fe-core/src/test/resources/doc/http-reference/fe/metainfo-action-cn.md
  fe/fe-core/src/test/resources/doc/http-reference/fe/metainfo-action.md
Owners: @StarRocks/starrocks-committer

[BugFix] Fix wrong state of 'is_result_sink' of query context (#30098)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
Owners: @StarRocks/starrocks-committer
