Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

support alter partition prop storage_cooldown_ttl (#29393)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] jdbc mysql user/password fields are optional (#29392)
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCMetadataTest.java
Owners: @StarRocks/starrocks-committer

Fix dead lock on planner when there are multi dbs (#29432)
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix deadlock when modifying role privilege (#29356) (#29360)
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
Owners: @StarRocks/starrocks-committer

[BugFix] Getting analyzing error when hit the expression rewrite for generated column (#29247) (#29256)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnDef.java
  test/sql/test_materialized_column/R/test_materialized_column
  test/sql/test_materialized_column/T/test_materialized_column
Owners: @StarRocks/starrocks-committer

[Doc] add branch-3.1 image info (#29426)
  docs/developers/build-starrocks/Build_in_docker.md
Owners: @StarRocks/docs-maintainer

[Doc] add common markdown asset dir (#29261)
  docs/assets/commonMarkdown/brokerDataFlow.md
  docs/assets/commonMarkdown/insertPrivNote.md
  docs/loading/BrokerLoad.md
  docs/loading/Etl_in_loading.md
  docs/loading/Flink-connector-starrocks.md
  docs/loading/Flink_cdc_load.md
  docs/loading/Load_to_Primary_Key_tables.md
  docs/loading/Loading_intro.md
  docs/loading/RoutineLoad.md
  docs/loading/Spark-connector-starrocks.md
  docs/loading/StreamLoad.md
  docs/loading/Stream_Load_transaction_interface.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
  docs/sql-reference/sql-statements/data-manipulation/BROKER LOAD.md
Owners: @StarRocks/docs-maintainer

[Enhancement] add spillbytes in audit log and profile header (#29287) (#29341)
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  fe/fe-core/src/main/java/com/starrocks/plugin/AuditEvent.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] search globalUdfFunction only when GlobalStateMgr() is available (#29386) (#29451)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix persistent index l0 not found after load from tablet (#29434)
  be/src/storage/persistent_index.cpp
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

Fix NodeMgr load meta miss helper Nodes (#29397)
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/test/java/com/starrocks/ha/BDBHATest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Log the task number in the task queue (#28621)
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/agent/task_signatures_manager.cpp
  be/src/agent/task_signatures_manager.h
  be/src/agent/task_worker_pool.cpp
Owners: @StarRocks/starrocks-committer

Set catalog is modified to authentication privilege usage and add compatible code (#29389)
  fe/fe-core/src/main/java/com/starrocks/privilege/DefaultAuthorizationProvider.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExternalDbTablePrivTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Owners: @StarRocks/starrocks-committer

Update OlapTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix local ref leak in Java UDTF (#29465)
  be/src/exprs/table_function/java_udtf_function.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix error evict cache thread name (#28635)
  be/src/storage/olap_server.cpp
Owners: @StarRocks/starrocks-committer

Support privilege entry object forward compatible (#29425)
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/privilege/PolicyFCEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/WarehouseFCPEntryObject.java
Owners: @StarRocks/starrocks-committer

[Doc] Update rules in strict mode doc (#29306)
  docs/loading/load_concept/strict_mode.md
Owners: @StarRocks/docs-maintainer

[BugFix] array_agg process cancelled (#29464)
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_agg.h
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix query information_schema.be_bvars failed (#29509)
  be/src/exec/schema_scanner/schema_be_bvars_scanner.cpp
  test/sql/test_information_schema/R/test_be_bvars
  test/sql/test_information_schema/R/test_loads
  test/sql/test_information_schema/T/test_be_bvars
  test/sql/test_information_schema/T/test_loads
Owners: @StarRocks/starrocks-committer

[Enhancement] improve map columns's remove dup key performence (#29342)
  be/src/column/map_column.cpp
  be/test/column/map_column_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix GrantsTo incorrectly showing View and Materialized View bug (#29457)
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/GrantsTo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/InfoSchemaDbTest.java
Owners: @StarRocks/starrocks-committer

return error if open hdfs file failed (#29178)
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Not showing JDBC external table password (#28391)
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCResource.java
  fe/fe-core/src/test/java/com/starrocks/catalog/JDBCResourceTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Select into outfile support invisible character column separator and line delimiter (#29410)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/test/java/com/starrocks/analysis/OutFileClauseTest.java
Owners: @StarRocks/starrocks-committer

fix spelling of component name (#29524)
  docs/loading/BrokerLoad.md
  docs/loading/Etl_in_loading.md
  docs/loading/Flink-connector-starrocks.md
  docs/loading/Flink_cdc_load.md
  docs/loading/Load_to_Primary_Key_tables.md
  docs/loading/RoutineLoad.md
  docs/loading/Stream_Load_transaction_interface.md
  docs/loading/cloud_storage_load.md
  docs/loading/hdfs_load.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix typo in TableProperty copy (#29463)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] catch exceptions on table reload (#29318)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

[Refactor] Rename http response status field to Status for compatibility (#28307)
  fe/fe-core/src/main/java/com/starrocks/http/rest/LoadAction.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix jni scanner field initialization and `do_close` method (#29533)
  be/src/exec/jni_scanner.cpp
  be/src/exec/jni_scanner.h
Owners: @StarRocks/starrocks-committer

[BugFix] CacheProbeChunkNum update mistakenly (#28552)
  be/src/exec/query_cache/cache_operator.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix bug only metric type default value should be null (#29510)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowColumnStmtTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement][Cherry-pick][Branch-3.1] Support sync publish version for primary key table (#27055) (#29370)
  be/src/storage/olap_server.cpp
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] rename the materialized column API to Generated Column (#29628)
  be/src/storage/schema_change.cpp
  be/src/storage/schema_change_utils.cpp
  be/src/storage/schema_change_utils.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/schema_change_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddColumnsClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnDef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SelectRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  test/sql/test_materialized_column/R/test_materialized_column
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Do not add login log to QueryDetailQueue when connection module is not configed (#28118)
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/test/java/com/starrocks/common/util/LogUtilTest.java
Owners: @StarRocks/starrocks-committer

[Doc] correct field name in using_bitmap (#29576)
  docs/using_starrocks/Using_bitmap.md
Owners: @StarRocks/docs-maintainer

Fix auth upgrade mistake use builtin role/user bug (#29556)
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg timestamp partition column percision lost (#29494)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/ScalarOperatorToIcebergExpr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergExprVisitorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Use local Closure instead of reusable global Closure (backport #29467) (#29578)
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Owners: @StarRocks/starrocks-committer

[Enhancement] reduce bg thread check interval (#29519)
  be/src/runtime/broker_mgr.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/stream_load/transaction_mgr.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
