Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

fix uts
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Owners: @StarRocks/starrocks-committer

[Tool]fix sqltest R file write in T file cases order
  test/lib/sr_sql_lib.py
Owners: @StarRocks/starrocks-committer

[BugFix] Fix date_diff with constant type and non-constant date (#29936)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/test/exprs/time_functions_test.cpp
  test/sql/test_datetime/R/test_date_diff
  test/sql/test_datetime/T/test_date_diff
Owners: @StarRocks/starrocks-committer

[BugFix] Fix date_diff with constant type and non-constant date (#29936)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/test/exprs/time_functions_test.cpp
  test/sql/test_datetime/R/test_date_diff
  test/sql/test_datetime/T/test_date_diff
Owners: @StarRocks/starrocks-committer

[BugFix] Update corePoolSize before maximumPoolSize in task executor (#29964)
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] unify string to int behavior between FE and BE
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] unify string to int behavior between FE and BE
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
Owners: @StarRocks/starrocks-committer

Only support partition is date type for cool down (#29948)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

Only support partition is date type for cool down (#29948)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

Only support partition is date type for cool down (#29948)
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Owners: @StarRocks/starrocks-committer

some change
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
Owners: @StarRocks/starrocks-committer

Merge pull request #28383 from Moonm3n/llvm_third_party
  be/CMakeLists.txt
  build.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

Support storage_cooldown_ttl = ""
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SinglePartitionDesc.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update corePoolSize before maximumPoolSize in task executor (#29964)
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update corePoolSize before maximumPoolSize in task executor (#29964)
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update corePoolSize before maximumPoolSize in task executor (#29964)
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update corePoolSize before maximumPoolSize in task executor (#29964)
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Update corePoolSize before maximumPoolSize in task executor (#29964)
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/test/java/com/starrocks/task/PriorityLeaderTaskExecutorTest.java
Owners: @StarRocks/starrocks-committer

some change 2
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
Owners: @StarRocks/starrocks-committer

fix ut
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[Enhancement] unify string to int behavior between FE and BE (#29969)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] unify string to int behavior between FE and BE (#29969)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] unify string to int behavior between FE and BE (#29969)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] unify string to int behavior between FE and BE (#29969)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] make TOPN RuntimeFilter support more scenes (#29953)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] make TOPN RuntimeFilter support more scenes (#29953)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] make TOPN RuntimeFilter support more scenes (#29953)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Owners: @StarRocks/starrocks-committer

BugFix: Data import task during the alter process may not complete the publish if enable_sync_publish
  be/src/storage/publish_version_manager.cpp
Owners: @StarRocks/starrocks-committer

BugFix: Fix bug with missing auto_increment attribute
  be/src/storage/metadata_util.cpp
Owners: @StarRocks/starrocks-committer

Merge pull request #28778 from fzhedu/groupConcat
  be/src/exec/vectorized/aggregator.cpp
  be/src/exec/vectorized/aggregator.h
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/function_context.cpp
  be/src/udf/udf.h
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/string-functions/group_concat.md
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/AggType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

all work well
  be/src/exec/vectorized/aggregator.cpp
  be/src/exprs/agg/aggregate.h
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/exprs/agg/group_concat.h
  be/src/runtime/primitive_type.h
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_internal.h
  be/src/udf/udf_ir.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  test/sql/test_agg_function/T/test_array_agg
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

refine
  be/src/exprs/function_context.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg_function/R/test_group_concat
  test/sql/test_agg_function/T/test_array_agg
  test/sql/test_agg_function/T/test_group_concat
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

formated
  be/src/exprs/agg/factory/aggregate_resolver_others.cpp
  be/src/udf/udf.cpp
Owners: @StarRocks/starrocks-committer

parquet_scanner: support datetime in us unit
  be/src/exec/arrow_to_starrocks_converter.cpp
  be/src/gutil/bits.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
Owners: @StarRocks/starrocks-committer

refine 1
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_internal.h
  be/src/udf/udf_ir.cpp
  be/test/exprs/agg/aggregate_test.cpp
  docs/sql-reference/sql-functions/array-functions/array_agg.md
  test/sql/test_agg/R/test_distinct_agg
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

update tests
  be/src/exprs/agg/array_agg.h
  be/src/exprs/agg/group_concat.h
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_ir.cpp
Owners: @StarRocks/starrocks-committer

update etsts
  be/test/exprs/agg/aggregate_test.cpp
Owners: @StarRocks/starrocks-committer

fix metrics collecting of transaction load
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.int96_timestamp
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

test: add ParquetScannerTest.datetime
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/datetime.parquet
  be/test/exec/test_data/parquet_data/generate_datetime.py
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
