Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Doc] Update system variables (#29104)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update system variables (#29104)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update system variables (#29104)
  docs/reference/System_variable.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Doc] Update query data sources title (#29106)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

rand string columns with a minimum length
  be/src/bench/bench.h
  be/src/bench/hash_functions_bench.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
Owners: @StarRocks/starrocks-committer

Fix GrantsTo incorrectly showing View and Materialized View bug
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/GrantsTo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/InfoSchemaDbTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] include immintrin.h only in X86_64
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[UT] load object storage config from be_test.conf
  be/src/common/config.h
  be/test/fs/fs_starlet_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] refactor date_diff function (#28276) (#29095)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/time_types.h
  docs/sql-reference/sql-functions/date-time-functions/date_diff.md
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/ComplexFunctionCallTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
  gensrc/script/functions.py
  test/sql/test_datetime/R/test_date_diff
  test/sql/test_datetime/T/test_date_diff
  test/sql/test_time_fn/R/test_time_fn
  test/sql/test_time_fn/T/test_time_fn
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix compile error in arm
  be/src/formats/orc/apache-orc/c++/src/Compression.cc
Owners: @StarRocks/starrocks-committer

[BugFix] Refresh non-ref base tables by incremental partition if non-ref base tables have the same partition with ref table (#28973)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Refresh non-ref base tables by incremental partition if non-ref base tables have the same partition with ref table (#28973)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Refresh non-ref base tables by incremental partition if non-ref base tables have the same partition with ref table (#28973)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

update versions (#6336)
  deployment/sr_operator.md
Owners: @StarRocks/starrocks-committer

[BugFix] ignore compare agg strict info when deriving output property
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/DistributionDisjointSet.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add enable_materialized_view_spill to control whether enable spill in refresh mv (#29103)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add enable_materialized_view_spill to control whether enable spill in refresh mv (#29103)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add enable_materialized_view_spill to control whether enable spill in refresh mv (#29103)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support materialized_view_rewrite_mode for mv rewrite (#26997)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/PlannerProfile.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MVUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer

[BugFix] Refresh non-ref base tables by incremental partition if non-ref base tables have the same partition with ref table (#28973)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add enable_materialized_view_spill to control whether enable spill in refresh mv (#29103)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix case when mv rewrite bug (#28767)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CaseWhenOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_nested_mv_rewrite
  test/sql/test_materialized_view/T/test_nested_mv_rewrite
Owners: @StarRocks/starrocks-committer

[BugFix] fix case when mv rewrite bug (#28767)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CaseWhenOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_nested_mv_rewrite
  test/sql/test_materialized_view/T/test_nested_mv_rewrite
Owners: @StarRocks/starrocks-committer

fix ast to sql
  fe/fe-core/src/main/java/com/starrocks/common/util/ParseUtil.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
