Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

Fix grayscale upgrading
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add case sensibility for storage volume (#29107)
  fe/fe-core/src/main/java/com/starrocks/common/CaseSensibility.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add case sensibility for storage volume (#29107)
  fe/fe-core/src/main/java/com/starrocks/common/CaseSensibility.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the array_contains_all crash in asan mode (#29170)
  be/src/exprs/array_functions.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Add case sensibility for storage volume (#29107)
  fe/fe-core/src/main/java/com/starrocks/common/CaseSensibility.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Owners: @StarRocks/starrocks-committer

[Doc] Add Iceberg table sink link to 3.1 rn Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

update
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Add Iceberg table sink link to 3.1 rn (#6355)
  release_notes/release-3.1.md
Owners: @StarRocks/starrocks-committer

[Doc] Add Iceberg table sink link to 3.1 rn (#29200)
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

[Doc] Add Iceberg table sink link to 3.1 rn (#29200)
  docs/release_notes/release-3.1.md
Owners: @StarRocks/docs-maintainer

add ut
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[Doc] add 2.3.15&16 rn
  docs/release_notes/release-2.3.md
Owners: @StarRocks/docs-maintainer

[BugFix] support rewrite element_at function (#29182)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite element_at function (#29182)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite element_at function (#29182)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite element_at function (#29182)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] support rewrite element_at function (#29182)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Owners: @StarRocks/starrocks-committer

[Doc] add 2.3.15&16 rn
  docs/release_notes/release-2.3.md
Owners: @StarRocks/docs-maintainer

[UT] add low cardinality case
  test/sql/test_low_cardinality/R/test_low_cardinality
  test/sql/test_low_cardinality/T/test_low_cardinality
  test/sql/test_split_or/R/test_split_or
  test/sql/test_split_or/T/test_split_or
Owners: @StarRocks/starrocks-committer

[Doc] add 2.3.15&16 rn (#29163)
  docs/release_notes/release-2.3.md
Owners: @StarRocks/docs-maintainer

[Doc] add 2.3.15&16 rn (#29163)
  docs/release_notes/release-2.3.md
Owners: @StarRocks/docs-maintainer

[Refactor] Update create random distribution error message
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

添加未做checkpoint的edit log监控 (#6356)
  administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the array_contains_all crash in asan mode (#29170) (#29199)
  be/src/exprs/array_functions.cpp
Owners: @StarRocks/starrocks-committer

update ut
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix the array_contains_all crash in asan mode (#29170) (#29197)
  be/src/exprs/vectorized/array_functions.cpp
Owners: @StarRocks/starrocks-committer

[Feature] report error message in pipe (#28839)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/PipeFileSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DateUtils.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ParseUtil.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipePiece.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeScheduler.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterDbQuotaAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/FileTableFunctionRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClauseRetry.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DescPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/ShowPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStatus.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
  test/sql/test_pipe/R/basic
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] support rewrite element_at function (#29182)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

add tablet_sched_max_not_being_scheduled_interval_ms config docs (#6357)
  administration/Configuration.md
Owners: @StarRocks/starrocks-committer

Opt.
  fe/fe-core/src/main/java/com/starrocks/common/PatternMatcher.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/common/PatternMatcherTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] Remove unnecessary null checks (#29149)
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVEpoch.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletCommitInfo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletFailInfo.java
Owners: @StarRocks/starrocks-committer

[Refactor] Remove unnecessary null checks (#29149)
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVEpoch.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletCommitInfo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletFailInfo.java
Owners: @StarRocks/starrocks-committer

[Refactor] Remove unnecessary null checks (#29149)
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVEpoch.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletCommitInfo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TabletFailInfo.java
Owners: @StarRocks/starrocks-committer

[Doc] Update Iceberg catalog (#6354)
  data_source/catalog/iceberg_catalog.md
Owners: @StarRocks/starrocks-committer

[Doc] Update config and Monitor
  docs/administration/Configuration.md
Owners: @StarRocks/docs-maintainer

Add Metrics in Monitor
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Keep the number of migration tasks running on be to a fixed number (#29055)
  fe/fe-core/src/main/java/com/starrocks/catalog/Replica.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
Owners: @StarRocks/starrocks-committer
