Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] fix sort key of materialized view (#28800)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_materialized_view/R/test_mv_swap
Owners: @StarRocks/starrocks-committer

[Doc] Replace an outer link (#29363)
  docs/administration/information_schema.md
Owners: @StarRocks/docs-maintainer

[Doc] Update LTS info in Upgrade (#6402)
  deployment/upgrade.md
Owners: @StarRocks/starrocks-committer

[Feature] Support group-level queue and control concurrency limit in Leader FE(sync #29116) (#3389)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/Status.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/SchedulerTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Doc] Replace an outer link (#29363)
  docs/administration/information_schema.md
Owners: @StarRocks/docs-maintainer

[Doc] Replace an outer link (#29363)
  docs/administration/information_schema.md
Owners: @StarRocks/docs-maintainer

[Doc] Replace an outer link (#29363)
  docs/administration/information_schema.md
Owners: @StarRocks/docs-maintainer

Add more UT.
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

fix conflict
  be/src/storage/primary_key_encoder.cpp
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix sort key of materialized view (#28800)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
  test/sql/test_materialized_view/R/test_mv_swap
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Profile optimization(1) (#29201)
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/SessionVariableTest.java
  test/sql/test_profile/R/test_profile
  test/sql/test_profile/T/test_profile
  test/sql/test_profile/T/test_profile_non_default_variables.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] cols file was deleted by mistake caused by txns rollback (#29265) (#29269)
  be/src/storage/rowset/rowset.h
  be/src/storage/storage_engine.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] make transaction publish timeout and query timeout related (#25757)
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  docs/administration/Configuration.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[BugFix] Fix ConcurrentModificationException error on query (#29000)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
Owners: @StarRocks/starrocks-committer

[Refactor] remove unused config from fe (#29274)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

Fix matcher use new matchPattern (#29234)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

Add config to disable display web hardware info (#29272)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/action/IndexAction.java
  fe/fe-core/src/test/java/com/starrocks/http/IndexActionTest.java
Owners: @StarRocks/starrocks-committer

Support subqueries when creating materialized view
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

fix bugs
  test/sql/test_materialized_view/R/test_materialized_view_with_subquery
  test/sql/test_materialized_view/T/test_materialized_view_with_subquery
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
Owners: @StarRocks/starrocks-committer

fix bugs
  test/sql/test_materialized_view/R/test_materialized_view_with_subquery
  test/sql/test_materialized_view/T/test_materialized_view_with_subquery
Owners: @StarRocks/starrocks-committer

[Enhancement] Support sync publish version for primary key table (#27055)
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

fix concurrency issue of cache updating
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Owners: @StarRocks/starrocks-committer

fix naming
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
Owners: @StarRocks/starrocks-committer

print log when updating cpu cores
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix materialized view rewrite when there is no partition to compensate (#29279)
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerTraceUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewStatementTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/starrocks-committer

[BugFix] Fix materialized view rewrite when there is no partition to compensate (#29279)
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerTraceUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewStatementTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  test/sql/test_materialized_view/R/test_materialized_view_rewrite2
  test/sql/test_materialized_view/T/test_materialized_view_rewrite2
Owners: @StarRocks/starrocks-committer

fix reload active
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
Owners: @StarRocks/starrocks-committer

fix the _clean_idle_consumer_bg thread exit crash
  be/src/runtime/exec_env.cpp
  be/src/runtime/routine_load/data_consumer_pool.cpp
  be/src/runtime/routine_load/data_consumer_pool.h
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  be/src/runtime/routine_load/routine_load_task_executor.h
Owners: @StarRocks/starrocks-committer

stuck when finish_publish_version_thread exits (#29362)
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

stuck when finish_publish_version_thread exits (#29362)
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Feature] Support aws sdk default behavior + assume role authentication (#28649)
  be/src/fs/fs_s3.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudCredential.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix jdbc mysql unsigned type
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/MysqlSchemaResolver.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCMetadataTest.java
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/PostgresSchemaResolverTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support aws.s3.enable_path_style_access in iceberg catalog
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergGlueCatalog.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
