Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Feature] report error message in pipe (#3293)
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/PipeFileSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DateUtils.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ParseUtil.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipePiece.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeFileRecord.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeManager.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeScheduler.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoAccessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterDbQuotaAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/FileTableFunctionRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/AlterPipeClauseRetry.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/DescPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/pipe/ShowPipeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStatus.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
  test/sql/test_pipe/R/basic
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Doc] fix typo in Paimon catalog (#29313)
  docs/data_source/catalog/paimon_catalog.md
Owners: @StarRocks/docs-maintainer

[Doc] fix typo in Paimon catalog (#29313)
  docs/data_source/catalog/paimon_catalog.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Replace Boolean to Tinyint for semi-type's null (#29255)
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
Owners: @StarRocks/starrocks-committer

[Doc] fix typo in Paimon catalog (#29313)
  docs/data_source/catalog/paimon_catalog.md
Owners: @StarRocks/docs-maintainer

Update TOC.md
  TOC.md
Owners: @StarRocks/starrocks-committer

Update TOC.md
  TOC.md
Owners: @StarRocks/starrocks-committer

Update TOC.md
  TOC.md
Owners: @StarRocks/starrocks-committer

transform the loop from row priority to column
  be/src/exprs/hash_functions.h
  be/test/exprs/hash_functions_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Only push down partition predicates for mv refresh when all slot refs can be resolved in the scope (#29212)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Fix issues in User privilege
  docs/administration/User_privilege.md
Owners: @StarRocks/docs-maintainer

Replace image Signed-off-by: 絵空事スピリット <wanglichen@starrocks.com>
  docs/assets/user_privilege_3.png
Owners: @StarRocks/docs-maintainer

catch exceptions on reload
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

[UT] Set new_planner_optimize_timeout=30000 for TablePruning test cases (#29222)
  fe/fe-core/src/test/java/com/starrocks/planner/TablePruningTestBase.java
Owners: @StarRocks/starrocks-committer

[UT] Set new_planner_optimize_timeout=30000 for TablePruning test cases (#29222)
  fe/fe-core/src/test/java/com/starrocks/planner/TablePruningTestBase.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

fix version 4 reload
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

refactor
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
Owners: @StarRocks/starrocks-committer

minor updates (#29273)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

minor updates (#6380)
  TOC.md
Owners: @StarRocks/starrocks-committer

minor updates (#29273)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

minor updates (#29273)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

minor updates (#29273)
  docs/TOC.md
Owners: @StarRocks/docs-maintainer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] optimize performance in the case that table has thousands of columns (#29282)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/RelationFields.java
Owners: @StarRocks/starrocks-committer

[BugFix] Reset enable_query_queue_statistic after each test case
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Suppport SHOW CREATE ROUTINE LOAD SQL (#27638)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ColumnSeparator.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateRoutineLoadStmtTest.java
  test/sql/test_routine_load/R/test_show_create_routine_load
  test/sql/test_routine_load/T/test_show_create_routine_load
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

replace SHOW LOAD
  docs/loading/hdfs_load.md
Owners: @StarRocks/docs-maintainer

Merge pull request #29027 from StarRocks/docs-replace-show-load
  docs/loading/hdfs_load.md
Owners: @StarRocks/docs-maintainer

[Feature]forbid drop default_warehouse (#3352)
  fe/fe-core/src/main/java/com/starrocks/epack/sql/analyzer/WarehouseAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add spillbytes in audit log and profile header (#29287)
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  fe/fe-core/src/main/java/com/starrocks/plugin/AuditEvent.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add spillbytes in audit log and profile header (#29287)
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  fe/fe-core/src/main/java/com/starrocks/plugin/AuditEvent.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] add spillbytes in audit log and profile header (#29287)
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  fe/fe-core/src/main/java/com/starrocks/plugin/AuditEvent.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Owners: @StarRocks/starrocks-committer
