Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] Update auth to aws (#6376)
  integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/starrocks-committer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] Update auth to aws (#29235)
  docs/integrations/authenticate_to_aws_resources.md
Owners: @StarRocks/docs-maintainer

[Doc] update helm.md (#29162)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Doc] update helm.md (#29162)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Doc] update helm.md (#29162)
  docs/deployment/helm.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

[Doc] Update config and Monitor (#29208)
  docs/administration/Configuration.md
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/docs-maintainer

make sonar happy
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Support group-level queue and control concurrency limit in Leader FE
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/Status.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/RecoverableException.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/SchedulerException.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[Feature] support new compaction strategy for persistent index (#27577)
  be/src/bench/CMakeLists.txt
  be/src/bench/persistent_index_bench.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/src/util/starrocks_metrics.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
  gensrc/proto/persistent_index.proto
Owners: @StarRocks/starrocks-committer

[Feature] support new compaction strategy for persistent index (#27577)
  be/src/bench/CMakeLists.txt
  be/src/bench/persistent_index_bench.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/src/util/starrocks_metrics.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
  gensrc/proto/persistent_index.proto
Owners: @StarRocks/starrocks-committer

[Refactor] Update create random distribution error message (#29205)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

Update CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] Only push down partition predicates for mv refresh when all slot refs can be resolved in the scope (#29212)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Owners: @StarRocks/starrocks-committer

Update CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Refactor] Update create random distribution error message (#29205)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
Owners: @StarRocks/starrocks-committer

Enhancement: return publish version success until version is queryable
  be/src/agent/finish_task.cpp
  be/src/agent/finish_task.h
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/http/action/stream_load.h
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadingTaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Status.thrift
Owners: @StarRocks/starrocks-committer

add min thread for pfinish publish thread pool
  be/src/storage/publish_version_manager.cpp
Owners: @StarRocks/starrocks-committer

disable wait apply when enable sync publish and refactor some code
  be/src/agent/finish_task.cpp
  be/src/agent/finish_task.h
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/publish_version_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadingTaskAttachment.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/TaskAttachment.java
Owners: @StarRocks/starrocks-committer

add ut
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
Owners: @StarRocks/starrocks-committer

use enable_sync_publish configure in FE to enable/disable new feature
  be/src/agent/publish_version.cpp
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/tablet.cpp
  be/src/storage/tablet_updates.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/MasterService.thrift
Owners: @StarRocks/starrocks-committer

rebase
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/http/action/stream_load.h
  be/src/storage/olap_server.cpp
  be/src/storage/publish_version_manager.cpp
  be/src/storage/publish_version_manager.h
  be/test/storage/publish_version_manager_test.cpp
Owners: @StarRocks/starrocks-committer

update
  be/src/runtime/stream_load/stream_load_executor.cpp
Owners: @StarRocks/starrocks-committer

add UT.
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer
