Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

parquet_reader: support map
  be/src/exec/CMakeLists.txt
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_schema_builder.cpp
  be/src/exec/parquet_schema_builder.h
Owners: @StarRocks/starrocks-committer

runtime: add TypeDescriptor::create_map_type
  be/src/exec/parquet_schema_builder.cpp
  be/src/runtime/types.h
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.get_file_schema
  be/test/exec/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

test: update ParquetScannerTest.get_file_schema
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/generate_nested.py
  be/test/exec/test_data/parquet_data/nested.parquet
Owners: @StarRocks/starrocks-committer

test: add nested.parquet
  be/test/exec/parquet_scanner_test.cpp
  be/test/formats/parquet/test_data/nested.parquet
Owners: @StarRocks/starrocks-committer

修改代码，判断es6的index的mappings有多个key的情况
  fe/fe-core/src/main/java/com/starrocks/connector/elasticsearch/EsUtil.java
Owners: @StarRocks/starrocks-committer

回撤空格
  fe/fe-core/src/main/java/com/starrocks/connector/elasticsearch/EsUtil.java
Owners: @StarRocks/starrocks-committer

加空格
  fe/fe-core/src/main/java/com/starrocks/connector/elasticsearch/EsUtil.java
Owners: @StarRocks/starrocks-committer

[Doc] Deprecate two params from load overview doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

Update ci-pipeline.yml
  .github/workflows/ci-pipeline.yml
Owners: @StarRocks/starrocks-committer

No need to build_slice for get data from BinaryColumn
  be/src/util/arrow/starrocks_column_to_arrow.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix parquet compile failed in gcc-12
  be/src/formats/parquet/column_read_order_ctx.h
Owners: @StarRocks/starrocks-committer

fix
  be/src/util/arrow/starrocks_column_to_arrow.cpp
Owners: @StarRocks/starrocks-committer

handle returned status (DLA part)
  be/src/connector/es_connector.cpp
  be/src/connector/jdbc_connector.cpp
  be/src/connector/mysql_connector.cpp
  be/src/exec/connector_scan_node.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/iceberg/iceberg_delete_builder.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.cpp
  be/src/exec/iceberg/iceberg_delete_file_iterator.h
  be/src/exec/orc_scanner.cpp
  be/src/exec/parquet_scanner.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exec/parquet_writer.h
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/page_reader.cpp
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/runtime/jdbc_driver_manager.cpp
  be/src/util/arrow/row_batch.cpp
Owners: @StarRocks/starrocks-committer

[Tool] Add benchmark case for BinaryColumn copy (#30664)
  be/src/bench/CMakeLists.txt
  be/src/bench/binary_column_copy_bench.cpp
Owners: @StarRocks/starrocks-committer

[Tool] Add benchmark case for BinaryColumn copy (#30664)
  be/src/bench/CMakeLists.txt
  be/src/bench/binary_column_copy_bench.cpp
Owners: @StarRocks/starrocks-committer

fix style
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/parquet/column_reader.cpp
Owners: @StarRocks/starrocks-committer

[Doc] add query_timeout to load overview doc Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/Loading_intro.md
Owners: @StarRocks/docs-maintainer

[Enhancement] prune iceberg manifests with limit
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/TableTestBase.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/unified/UnifiedMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/IcebergScanNodeTest.java
Owners: @StarRocks/starrocks-committer

update
  be/src/formats/parquet/column_reader.h
Owners: @StarRocks/starrocks-committer

fix aggregation without rollup rewrite (#29698)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OrRangePredicate.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q1-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-4.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q7.sql
Owners: @StarRocks/starrocks-committer

[Enhancement] Support overflow mode for decimal type (#30419)
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/arithmetic_operation.h
  be/src/exprs/cast_expr.cpp
  be/src/exprs/decimal_binary_function.h
  be/src/exprs/decimal_cast_expr.h
  be/src/exprs/expr_context.cpp
  be/src/exprs/expr_context.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/exprs/math_functions.h
  be/src/exprs/overflow.h
  be/src/runtime/runtime_state.h
  be/test/exprs/decimal_binary_function_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SqlModeHelper.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_decimal/R/test_decimal_overflow
  test/sql/test_decimal/T/test_decimal_overflow
Owners: @StarRocks/starrocks-committer

support paimon version 0.5
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support overflow mode for decimal type (#30419)
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/arithmetic_operation.h
  be/src/exprs/cast_expr.cpp
  be/src/exprs/decimal_binary_function.h
  be/src/exprs/decimal_cast_expr.h
  be/src/exprs/expr_context.cpp
  be/src/exprs/expr_context.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/exprs/math_functions.h
  be/src/exprs/overflow.h
  be/src/runtime/runtime_state.h
  be/test/exprs/decimal_binary_function_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SqlModeHelper.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_decimal/R/test_decimal_overflow
  test/sql/test_decimal/T/test_decimal_overflow
Owners: @StarRocks/starrocks-committer

[Enhancement] Support overflow mode for decimal type (#30419)
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/arithmetic_operation.h
  be/src/exprs/cast_expr.cpp
  be/src/exprs/decimal_binary_function.h
  be/src/exprs/decimal_cast_expr.h
  be/src/exprs/expr_context.cpp
  be/src/exprs/expr_context.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/exprs/math_functions.h
  be/src/exprs/overflow.h
  be/src/runtime/runtime_state.h
  be/test/exprs/decimal_binary_function_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SqlModeHelper.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_decimal/R/test_decimal_overflow
  test/sql/test_decimal/T/test_decimal_overflow
Owners: @StarRocks/starrocks-committer

[Enhancement] Support overflow mode for decimal type (#30419)
  be/src/exprs/expr_context.cpp
  be/src/exprs/expr_context.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/exprs/overflow.h
  be/src/exprs/vectorized/arithmetic_expr.cpp
  be/src/exprs/vectorized/arithmetic_operation.h
  be/src/exprs/vectorized/cast_expr.cpp
  be/src/exprs/vectorized/decimal_binary_function.h
  be/src/exprs/vectorized/decimal_cast_expr.h
  be/src/exprs/vectorized/math_functions.h
  be/src/runtime/runtime_state.h
  be/test/exprs/vectorized/decimal_binary_function_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SqlModeHelper.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_decimal/R/test_decimal_overflow
  test/sql/test_decimal/T/test_decimal_overflow
Owners: @StarRocks/starrocks-committer

update
  be/src/formats/parquet/column_reader.cpp
Owners: @StarRocks/starrocks-committer

upt
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/FileListTableRepo.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix range predicate rewrite by canonicalization (#30382)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ConstantOperatorDiscreteDomain.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/operator/operator/ConstantOperatorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix parquet writer memory leak after exception (#26254)
  be/src/formats/parquet/file_writer.cpp
  be/test/CMakeLists.txt
  be/test/formats/parquet/arrow_parquet_writer_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix arrow parquet exception handling (#26253)
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-fix-exception-handling.patch
Owners: @StarRocks/starrocks-committer

[Refactor] Refactoring the timing of memory release on partial column updates
  be/src/storage/tablet_updates.cpp
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/test/storage/rowset_column_partial_update_test.cpp
Owners: @StarRocks/starrocks-committer

fix aggregation without rollup rewrite (#29698)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OrRangePredicate.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q1-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-4.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q22.sql
Owners: @StarRocks/starrocks-committer

fixup 1
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] BugFix AccessPath construction
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PruneSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Owners: @StarRocks/starrocks-committer

[BugFix][CherryPick] fix aggregation without rollup rewrite for 2.5 (#29698) (#30632)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OrRangePredicate.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q1-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-4.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q7.sql
Owners: @StarRocks/starrocks-committer

alter catalog
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterCatalogLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CatalogAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/AlterCatalogTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

Update curdate.md
  docs/sql-reference/sql-functions/date-time-functions/curdate.md
Owners: @StarRocks/docs-maintainer

Patch for dead lock
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
Owners: @StarRocks/starrocks-committer

[BugFix][CherryPick] fix aggregation without rollup rewrite for 3.0 (#29698) (#30630)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OrRangePredicate.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q1-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q3-4.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-2.sql
  fe/fe-core/src/test/resources/sql/materialized-view/ssb/q4-3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q19.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q22.sql
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
