Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Enhancement] modify columns_desc of TOlapTableIndexSchema from required to optional (#31389)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/push_handler.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (backport #31228) (#31760)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] modify columns_desc of TOlapTableIndexSchema from required to optional (#31389)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/push_handler.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer

[Feature] Support to_tera_date/to_tera_timestamp (#28509)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  gensrc/script/functions.py
  test/sql/test_time_fn/R/test_to_date
  test/sql/test_time_fn/T/test_to_date
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] modify columns_desc of TOlapTableIndexSchema from required to optional (#31389)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/push_handler.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer

add ut
  be/src/agent/agent_task.cpp
  be/src/runtime/exec_env.h
  be/src/storage/lake/schema_change.cpp
  be/test/storage/lake/alter_tablet_meta_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
Owners: @StarRocks/starrocks-committer

[Refactor] get tablet schema from specific tablet metadata
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_policy.cpp
  be/src/storage/lake/compaction_policy.h
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/horizontal_compaction_task.h
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/rowset.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_metadata.h
  be/src/storage/lake/tablet_writer.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.h
  be/src/storage/lake_meta_reader.h
  be/src/storage/rowset/segment_rewriter.cpp
  be/test/runtime/lake_tablets_channel_test.cpp
  be/test/runtime/load_channel_test.cpp
  be/test/storage/lake/compaction_policy_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] support batch get pk index when partial update by column (#31228)
  be/src/common/config.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Owners: @StarRocks/starrocks-committer

fix be bugs
  be/src/runtime/datetime_value.h
Owners: @StarRocks/starrocks-committer

[Refactor]remove "show clusters from warehouse xxx" (#31711)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowClustersStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  test/sql/test_warehouse/R/test_warehouse
  test/sql/test_warehouse/T/test_warehouse
Owners: @StarRocks/starrocks-committer

refactor
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Refactor show materialzied views command (#30696)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowMaterializedViewStatus.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Add materialized view metrics (#30735)
  fe/fe-core/src/main/java/com/starrocks/http/rest/MetricsAction.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsRegistry.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  test/sql/test_materialized_view/R/test_materialized_view_force_rewrite
Owners: @StarRocks/starrocks-committer

[BugFix] information_schema.columns does not show key type in shared data cluster (#31458)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Owners: @StarRocks/starrocks-committer

[Doc] 3.2 MV doc updates Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/reference/System_variable.md
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
Owners: @StarRocks/docs-maintainer

[BugFix] Fix transaction stream load LOAD_FINISHED metrics (#30063)
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/transaction/GlobalTransactionMgrTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fail to refresh MV in share_data cluster (#31575)
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
Owners: @StarRocks/starrocks-committer

[Feature] Adding str2date Function to mv creation statement based on jdbc catalog. (#29923)
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionKey.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewPartitionFunctionChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionRange.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJDBCTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix insert mysql external table fail (#31555)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Owners: @StarRocks/starrocks-committer

[BugFix] Revert "[Feature] Turn on query cache in default" (#31726)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryCacheTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/resources/sql/scheduler/aggregate/agg_local_one_phase_non_partition_one_exchange.sql
Owners: @StarRocks/starrocks-committer

fix iceberg partition column ndv
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

support alter lake table meta
  be/src/agent/agent_task.cpp
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/schema_change.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.h
  be/test/CMakeLists.txt
  be/test/storage/lake/alter_tablet_meta_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/task/UpdateTabletMetaInfoTask.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
  gensrc/proto/lake_types.proto
  gensrc/thrift/AgentService.thrift
Owners: @StarRocks/starrocks-committer

fix be bugs
  be/src/exprs/time_functions.cpp
Owners: @StarRocks/starrocks-committer

Fix iceberg partition column ndv and use ndv to evaluate string inPredicate
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/PredicateStatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Owners: @StarRocks/starrocks-committer

enable two_stage shuffle
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/query_context.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

fix
  docker/docker-compose/docker-compose-3BE.yml
  docker/docker-compose/docker-compose.yml
Owners: @StarRocks/starrocks-committer

enable_intra_instance_broadcast_join
  be/src/exec/hash_join_node.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] intra_instance_broadcast_join (#31779)
  be/src/exec/hash_join_node.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

varchar column: append_selectivity2
  be/src/column/chunk.cpp
  be/src/column/chunk.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/planner/DataStreamSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

varchar column: append_selectivity2 (#31780)
  be/src/column/chunk.cpp
  be/src/column/chunk.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/planner/DataStreamSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Don't limit scan threads for stream load to avoid deadlock
  be/src/common/config.h
  be/src/exec/vectorized/connector_scan_node.cpp
  be/src/exec/vectorized/connector_scan_node.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/runtime_state.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/util/threadpool.cpp
  be/src/util/threadpool.h
Owners: @StarRocks/starrocks-committer

add ut
  be/src/agent/agent_task.cpp
  be/src/runtime/exec_env.h
  be/src/storage/lake/schema_change.cpp
  be/test/storage/lake/alter_tablet_meta_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
Owners: @StarRocks/starrocks-committer

Revert "Fix iceberg partition column ndv and use ndv to evaluate string inPredicate"
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/PredicateStatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Owners: @StarRocks/starrocks-committer

fix iceberg partition column ndv
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

fix iceberg partition column ndv (#31781)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix some daily test bug (#31644)
  be/src/storage/rowset/bitshuffle_page.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/T/test_partial_update
Owners: @StarRocks/starrocks-committer

[BugFix] generated column can not resloved in View(#31514) (#31727)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GeneratedColumnTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] generated column can not resloved in View(#31514) (#31727)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GeneratedColumnTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] generated column can not resloved in View(#31514) (#31727)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GeneratedColumnTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix docker compose image's version (#31778)
  docker/docker-compose/docker-compose-3BE.yml
  docker/docker-compose/docker-compose.yml
Owners: @StarRocks/starrocks-committer
