Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix bug
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
Owners: @StarRocks/starrocks-committer

[Doc] Mergify/bp/branch 2.5/pr 32660 (#32680)
  docs/sql-reference/sql-functions/utility-functions/catalog.md
  docs/sql-reference/sql-statements/data-definition/CREATE_EXTERNAL_CATALOG.md
  docs/sql-reference/sql-statements/data-manipulation/SHOW_TABLES.md
  docs/sql-reference/sql-statements/data-types/data-type-list.md
  docs/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
Owners: @StarRocks/docs-maintainer

[UT] Fix broken UT
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/vacuum_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support heap profiling at runtime (#30686)
  be/src/http/action/pprof_actions.cpp
  be/src/http/action/pprof_actions.h
  bin/start_backend.sh
Owners: @StarRocks/starrocks-committer

[Feature] support heap profiling at runtime (#30686)
  be/src/http/action/pprof_actions.cpp
  be/src/http/action/pprof_actions.h
  bin/start_backend.sh
Owners: @StarRocks/starrocks-committer

[Feature] support heap profiling at runtime (#30686)
  be/src/http/action/pprof_actions.cpp
  be/src/http/action/pprof_actions.h
  bin/start_backend.sh
Owners: @StarRocks/starrocks-committer

[Feature] support heap profiling at runtime (#30686)
  be/src/http/action/pprof_actions.cpp
  be/src/http/action/pprof_actions.h
  bin/start_backend.sh
Owners: @StarRocks/starrocks-committer

disable light schema change by default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Owners: @StarRocks/starrocks-committer

fix test
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] No check on success of protobuf serialization (#32581)
  be/src/fs/fs.h
  be/src/storage/delta_column_group.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/protobuf_file.cpp
  be/src/storage/protobuf_file.h
  be/src/storage/tablet_meta.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

[UT] Fix broken UT
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/vacuum_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] No check on success of protobuf serialization (#32581)
  be/src/fs/fs.h
  be/src/storage/delta_column_group.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/protobuf_file.cpp
  be/src/storage/protobuf_file.h
  be/src/storage/tablet_meta.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

[UT] Fix broken UT
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/vacuum_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(5) (#32303)
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Owners: @StarRocks/starrocks-committer

[Refactor] Disable base compaction overrun (#32553)
  be/src/storage/compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Feature] fix agg/window'logic for multi args agg function (#28193)
  be/src/exec/vectorized/aggregator.cpp
  be/src/exec/vectorized/analytor.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] NullableAggregateFunctionVariadic process only null column
  be/src/exprs/agg/nullable_aggregate.h
Owners: @StarRocks/starrocks-committer

fix hudi
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Refine profile to support visualization refactor(6) (#32477)
  be/src/exec/pipeline/operator.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Owners: @StarRocks/starrocks-committer

[Refactor] Disable base compaction overrun (#32553)
  be/src/storage/compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Disable base compaction overrun (#32553)
  be/src/storage/compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Disable base compaction overrun (#32553)
  be/src/storage/compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Disable base compaction overrun (#32553)
  be/src/storage/compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Avoid build slice for array_max and array_min (#32645)
  be/src/column/column_helper.h
  be/src/exprs/array_functions.tpp
Owners: @StarRocks/starrocks-committer

[Refactor] Disable base compaction overrun (#32553)
  be/src/storage/compaction_manager.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] staros CVE fixes (#32679)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Owners: @StarRocks/starrocks-committer

[UT] Fix broken UT (#32683)
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/vacuum_test.cpp
  be/test/storage/protobuf_file_test.cpp
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/HudiTableTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support run export in sync mode (#30565)
  fe/fe-core/src/main/java/com/starrocks/load/ExportMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExportStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ExportRelativeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/load/ExportMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ExportHandleTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Rebuild materialized index meta after schema change (#31577)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix query partition compensate predicates for mv rewrite (#30813)
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewriteContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ScanOperatorPredicates.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteMultiTableJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q3.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q7.sql
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mv_on_mv2.json
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#32681)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#32681)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#32681)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Owners: @StarRocks/starrocks-committer

enable non-general jdbc class can load
  be/src/exec/jdbc_scanner.cpp
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/DataSourceCache.java
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/JDBCBridge.java
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/JDBCScanner.java
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFHelper.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix orc late materialization error result in list/map type (#32517)
  be/src/formats/orc/apache-orc/c++/src/ColumnReader.cc
Owners: @StarRocks/starrocks-committer

[BugFix] Fix iceberg aws "Multiple HTTP implementations were found on the classpath" exception (#32681)
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Owners: @StarRocks/starrocks-committer
