Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] `FILES()` infer ORC nested struct (#32832)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
Owners: @StarRocks/starrocks-committer

[Doc] Update conditional update desc in load-based data change doc (#32918)
  docs/loading/Load_to_Primary_Key_tables.md
Owners: @StarRocks/docs-maintainer

[BugFix] `FILES()` infer ORC nested struct (#32832)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Append null to nullable numeric column (#32767)
  be/src/formats/json/nullable_column.cpp
  be/test/formats/json/nullable_column_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[BugFix] Append null to nullable numeric column (#32767)
  be/src/formats/json/nullable_column.cpp
  be/test/formats/json/nullable_column_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Append null to nullable numeric column (#32767)
  be/src/formats/json/nullable_column.cpp
  be/test/formats/json/nullable_column_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Append null to nullable numeric column (#32767)
  be/src/formats/json/nullable_column.cpp
  be/test/formats/json/nullable_column_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Append null to nullable numeric column (#32767)
  be/src/formats/json/nullable_column.cpp
  be/test/formats/json/nullable_column_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/parquet_reader.cpp
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[BugFix] optional map key for parquet (#28296)
  be/src/exec/vectorized/parquet_reader.cpp
  be/test/exec/test_data/parquet_data/optional_map_key.parquet
  be/test/exec/vectorized/parquet_scanner_test.cpp
  thirdparty/download-thirdparty.sh
  thirdparty/patches/arrow-5.0.0-parquet-map-key.patch
Owners: @StarRocks/starrocks-committer

[Enhancement] Support mapping table in row and column policy to ignore permission verification (#32398)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix inspect meta functions (#32710) (#32726)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/connector/ConnectorTblMetaInfoMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] `FILES()` infer ORC nested struct (#32832)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TypeTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Append null to nullable numeric column (#32767)
  be/src/formats/json/nullable_column.cpp
  be/test/formats/json/nullable_column_test.cpp
Owners: @StarRocks/starrocks-committer

[Doc] fix wrong description in show processlist (#6825)
  sql-reference/sql-statements/Administration/SHOW_PROCESSLIST.md
Owners: @StarRocks/starrocks-committer

[Enhancement] Support mapping table in row and column policy to ignore permission verification (#32398)
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/SecurityPolicyRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Relation.java
Owners: @StarRocks/starrocks-committer

[BugFix] Properties is optional in creating storage volume statement (#32929)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Properties is optional in creating storage volume statement (#32929)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] Properties is optional in creating storage volume statement (#32929)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/StorageVolumeTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] fix inspect meta functions (#32710) (#32726)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/connector/ConnectorTblMetaInfoMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] compaction crash cause by non-atomic schema replacement by restore(#32893) (#32902)
  be/src/storage/tablet_meta.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] compaction crash cause by non-atomic schema replacement by restore(#32893) (#32902)
  be/src/storage/tablet_meta.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] compaction crash cause by non-atomic schema replacement by restore(#32893) (#32902)
  be/src/storage/tablet_meta.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] compaction crash cause by non-atomic schema replacement by restore(#32893) (#32902)
  be/src/storage/tablet_meta.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] compaction crash cause by non-atomic schema replacement by restore(#32893) (#32902)
  be/src/storage/tablet_meta.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix replicated storage not fail directly when sink fail (#32690)
  be/src/exec/tablet_sink_sender.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Cannot start compaction due to acquire db lock timed out (#32905)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
Owners: @StarRocks/starrocks-committer

[Enhancement] support push down array_agg
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/array_flatten.h
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pdagg/PushDownAggregateCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pdagg/PushDownAggregateRewriter.java
Owners: @StarRocks/starrocks-committer

fix conflict
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Owners: @StarRocks/starrocks-committer

FE and BE add hdfs-site.xml and core-site.xml configuration files for distribution
  be/CMakeLists.txt
  build.sh
Owners: @StarRocks/starrocks-committer

[Refactor] Fix comment
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Only waits for compaction tasks to finish in CompactionScheduler
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalStateMgrTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/transaction/DatabaseTransactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/FakeTransactionIDGenerator.java
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
