Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

fix
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

clange type
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
Owners: @StarRocks/starrocks-committer

clange type
  gensrc/script/functions.py
Owners: @StarRocks/syntax-committer

change to ut
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
Owners: @StarRocks/starrocks-committer

[Feature] support url_extract_host functions
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

add testcase for no const string and rename parse_url_const
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  test/sql/test_string_functions/R/test_string_functions
Owners: @StarRocks/starrocks-committer

style changed h
  be/src/exprs/string_functions.h
Owners: @StarRocks/starrocks-committer

fix
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
Owners: @StarRocks/starrocks-committer

add testcase for no const string and rename parse_url_const
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer

fix
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

refractor method name
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
Owners: @StarRocks/starrocks-committer

clange type
  gensrc/script/functions.py
Owners: @StarRocks/syntax-committer

fix
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

style changed
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

fix
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

fix
  be/src/exprs/string_functions.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix string format pattern (#32097)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix string format pattern (#32097)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix string format pattern (#32097)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Limit RPC max concurrency of lake service (#31910)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix string format pattern (#32097)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
Owners: @StarRocks/starrocks-committer

[BugFix]Revert "[Enhancement] optimize iceberg const column (#31632)" (#32089)
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/formats/parquet/file_reader.cpp
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/test/formats/parquet/file_reader_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/planner/IcebergScanNodeTest.java
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/PlanNodes.thrift
  test/sql/test_iceberg/R/test_iceberg_catalog
  test/sql/test_iceberg/T/test_iceberg_catalog
Owners: @StarRocks/starrocks-committer

[Enhancement] update distribution info using projection (#32023)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OutputPropertyDeriver.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q18.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q18.sql
Owners: @StarRocks/starrocks-committer

[UT] add testcases for url_extract_host function (#31968)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[UT] add testcases for url_extract_host function (#31968)
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  docs/TOC.md
  docs/sql-reference/sql-functions/string-functions/url_extract_host.md
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Enhancement] Get tablet schema through index id by default in lake::DeltaWriter (#31970)
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/storage_engine.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] Get tablet schema through index id by default in lake::DeltaWriter (#31970)
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/storage_engine.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] fix string format pattern (#32097)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
Owners: @StarRocks/starrocks-committer

[BugFix] fix string format pattern (#32097)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalWriter.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Optimize global lock when creating table/mv/view
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/binlog/BinlogManager.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/StringUtils.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/MarkedCountDownLatch.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/QueryableReentrantLock.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/QueryableReentrantReadWriteLock.java
  fe/fe-core/src/main/java/com/starrocks/load/OlapDeleteJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/task/CreateReplicaTask.java
  fe/fe-core/src/main/java/com/starrocks/task/DropAutoIncrementMapTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ExportExportingTask.java
  fe/fe-core/src/main/java/com/starrocks/task/PushTask.java
  fe/fe-core/src/main/java/com/starrocks/task/UpdateTabletMetaInfoTask.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobPrimaryKeyTest.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/concurrent/CountingLatchTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/concurrent/QueryableReentrantLockTest.java
  fe/fe-core/src/test/java/com/starrocks/load/DeleteHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  fe/fe-core/src/test/java/com/starrocks/task/AgentTaskTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

using exist field to avoid concurrency
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/QueryableReentrantLock.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Owners: @StarRocks/starrocks-committer

[Feature] Modify pipeline dop by fragments in query queue (#32126)
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/GlobalVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Feature] Modify pipeline dop by fragments in query queue (#32126)
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/GlobalVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] Get tablet schema through index id by default in lake::DeltaWriter (#31970)
  be/src/runtime/lake_tablets_channel.cpp
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/async_delta_writer.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/storage_engine.cpp
  be/test/storage/lake/async_delta_writer_test.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/condition_update_test.cpp
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/schema_change_test.cpp
Owners: @StarRocks/starrocks-committer

[Refactor] Seperate starcache from staros to avoid build staros modules if unnecessary. (#30687)
  be/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/io/cache_input_stream_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-x86_64.sh
  thirdparty/vars.sh
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (backport #30876) (#32139)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (backport #30876) (#32131)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownApplyAggFilterRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_join/R/test_apply_to_join
  test/sql/test_join/T/test_apply_to_join
Owners: @StarRocks/starrocks-committer

[BugFix] fix subquery check in join on predicate (backport #30876)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Modify pipeline dop by fragments in query queue (#32126)
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/GlobalVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryQueueManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PendingSlotRequest.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

update
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
Owners: @StarRocks/starrocks-committer
