Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[Doc] Update LTS info in Upgrade (#29358)
  docs/administration/User_privilege.md
  docs/deployment/upgrade.md
Owners: @StarRocks/docs-maintainer

[Doc] Update LTS info in Upgrade (#29358)
  docs/administration/User_privilege.md
  docs/deployment/upgrade.md
Owners: @StarRocks/docs-maintainer

[Doc] Update LTS info in Upgrade (#29358)
  docs/administration/User_privilege.md
  docs/deployment/upgrade.md
Owners: @StarRocks/docs-maintainer

[Doc] Update LTS info in Upgrade (#29358)
  docs/administration/User_privilege.md
  docs/deployment/upgrade.md
Owners: @StarRocks/docs-maintainer

format
  be/src/runtime/routine_load/data_consumer_pool.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Support aws sdk default behavior + assume role authentication (#28649)
  be/src/fs/fs_s3.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergAwsClientFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudCredential.java
  fe/fe-core/src/test/java/com/starrocks/credential/AWSCloudConfigurationTest.java
Owners: @StarRocks/starrocks-committer

add doc
  docs/faq/Dump_query.md
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/DesensitizedSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

[Feature] support alter table prop storage_cooldown_ttl (#29335)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support alter table prop storage_cooldown_ttl (#29335)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

[Feature] add hash function for xx_hash3_64 (#28910)
  be/src/bench/CMakeLists.txt
  be/src/bench/bench.h
  be/src/bench/hash_functions_bench.cpp
  be/src/exprs/hash_functions.h
  be/src/util/CMakeLists.txt
  be/src/util/hash_util.cpp
  be/src/util/hash_util.hpp
  be/test/exprs/hash_functions_test.cpp
  docs/sql-reference/sql-functions/hash-functions/xx_hash3_64.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] concurrent-safe issue of cached cpu cores (#28992)
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Owners: @StarRocks/starrocks-committer

[BugFix] concurrent-safe issue of cached cpu cores (#28992)
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Owners: @StarRocks/starrocks-committer

[Feature] add hash function for xx_hash3_64 (#28910)
  be/src/bench/CMakeLists.txt
  be/src/bench/bench.h
  be/src/bench/hash_functions_bench.cpp
  be/src/exprs/hash_functions.h
  be/src/util/CMakeLists.txt
  be/src/util/hash_util.cpp
  be/src/util/hash_util.hpp
  be/test/exprs/hash_functions_test.cpp
  docs/sql-reference/sql-functions/hash-functions/xx_hash3_64.md
  gensrc/script/functions.py
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Feature] support alter table prop storage_cooldown_ttl (#29335)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Add show running queries cmd(sync #29237) (#3425)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/LogicalSlot.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRunningQueriesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

[BugFix] concurrent-safe issue of cached cpu cores (#28992)
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Owners: @StarRocks/starrocks-committer

[Feature] support alter table prop storage_cooldown_ttl (#29335)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

fix flaky test of mv
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Owners: @StarRocks/starrocks-committer

add doc
  docs/faq/Dump_query.md
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
Owners: @StarRocks/docs-maintainer, @StarRocks/starrocks-committer

support alter table prop storage_cooldown_ttl
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
Owners: @StarRocks/starrocks-committer

modify doc
  docs/faq/Dump_query.md
Owners: @StarRocks/docs-maintainer

[Feature] support alter table prop storage_cooldown_ttl (#29335)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

fix conflict
  be/test/storage/publish_version_manager_test.cpp
Owners: @StarRocks/starrocks-committer

Add UT.
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

fix pipe wait
  test/lib/sr_sql_lib.py
  test/sql/test_pipe/R/basic
  test/sql/test_pipe/T/basic
Owners: @StarRocks/starrocks-committer

[Doc] Update rules in strict mode Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/loading/load_concept/strict_mode.md
Owners: @StarRocks/docs-maintainer

code format
  be/src/storage/olap_server.cpp
Owners: @StarRocks/starrocks-committer

fix one small log issue
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Owners: @StarRocks/starrocks-committer

fix doc
  docs/faq/Dump_query.md
Owners: @StarRocks/docs-maintainer

[BugFix] concurrent-safe issue of cached cpu cores (#28992)
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Owners: @StarRocks/starrocks-committer

add doc
  docs/faq/Dump_query.md
Owners: @StarRocks/docs-maintainer

fix
  be/test/storage/task/engine_storage_migration_task_test.cpp
Owners: @StarRocks/starrocks-committer

fix doc
  docs/faq/Dump_query.md
Owners: @StarRocks/docs-maintainer

[BugFix] Reset enable_query_queue_statistic after each test case (#29324)
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Owners: @StarRocks/starrocks-committer

[Feature][Cherry-Pick] support alter table prop storage_cooldown_ttl (#29383)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Owners: @StarRocks/starrocks-committer

[Enhancement] Support subqueries when creating materialized view (#29311)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  test/sql/test_materialized_view/R/test_materialized_view_with_subquery
  test/sql/test_materialized_view/T/test_materialized_view_with_subquery
Owners: @StarRocks/starrocks-committer

fix conflict
  be/src/storage/olap_server.cpp
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Owners: @StarRocks/starrocks-committer

[Feature] support new compaction strategy for persistent index (backport #29206) (#29251)
  be/src/bench/CMakeLists.txt
  be/src/bench/persistent_index_bench.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/runtime/mem_tracker.h
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/src/util/starrocks_metrics.h
  be/test/storage/persistent_index_test.cpp
  gensrc/proto/persistent_index.proto
Owners: @StarRocks/starrocks-committer

[Enhancement] improve persistent index l0 memory usage (#28769)
  be/src/common/config.h
  be/src/runtime/mem_tracker.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] support new compaction strategy for persistent index (#27577)
  be/src/bench/CMakeLists.txt
  be/src/bench/persistent_index_bench.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/lake/lake_local_persistent_index.cpp
  be/src/storage/olap_server.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/persistent_index_compaction_manager.cpp
  be/src/storage/persistent_index_compaction_manager.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/src/util/starrocks_metrics.h
  be/test/storage/persistent_index_test.cpp
  be/test/storage/tablet_updates_test.cpp
  gensrc/proto/persistent_index.proto
Owners: @StarRocks/starrocks-committer
