Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

Fix policy rewrite mapping table column error bug (#4092)
  fe/fe-core/src/main/java/com/starrocks/analysis/Subquery.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/NativeAccessControlEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/Policy.java
  fe/fe-core/src/main/java/com/starrocks/epack/sql/analyzer/SecurityPolicyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstRewriter.java
  test/sql/test_security_policy/R/test_mapping_table
  test/sql/test_security_policy/T/test_mapping_table
Owners: @StarRocks/starrocks-committer

[Doc] Remove data types limits in Paimon catalog (#30344)
  docs/data_source/catalog/paimon_catalog.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Improve iceberg storage cloud configuration and make tabular more generic (#29994)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIOTest.java
Owners: @StarRocks/starrocks-committer

runtime: add microsecond() to DateTimeValue
  be/src/runtime/datetime_value.h
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

arrow_converter: remove time_unit_divisor
  be/src/exec/vectorized/arrow_to_starrocks_converter.cpp
Owners: @StarRocks/starrocks-committer

[BugFix]fix bug for "drop warehouse if exists xxx" (#4144)
  fe/fe-core/src/main/java/com/starrocks/epack/server/WarehouseManagerEpack.java
Owners: @StarRocks/starrocks-committer

close beforce destruct DataStreamRecvr
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

update 6
  test/sql/test_agg_function/R/test_approx_top_k
  test/sql/test_agg_function/T/test_approx_top_k
Owners: @StarRocks/starrocks-committer

add more tests
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
Owners: @StarRocks/starrocks-committer

add more tests
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
Owners: @StarRocks/starrocks-committer

[Feature] Support group-level queue with max_cpu_cores (#30145)
  be/src/agent/CMakeLists.txt
  be/src/agent/resource_group_usage_recorder.cpp
  be/src/agent/resource_group_usage_recorder.h
  be/src/agent/task_worker_pool.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/ColocatedBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/ResourceUsageMonitor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotRequestQueue.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowResourceGroupUsageStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/SchedulerTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  gensrc/thrift/ResourceUsage.thrift
  gensrc/thrift/WorkGroup.thrift
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

test: update ParquetScannerTest.int96_timestamp
  be/src/exec/vectorized/arrow_to_starrocks_converter.cpp
  be/test/exec/vectorized/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

add more tests
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
Owners: @StarRocks/starrocks-committer

runtime: add microsecond() to DateTimeValue
  be/src/runtime/datetime_value.h
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

Support backup/restore for materialized view
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupHandler.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupJob.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/BaseTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/BackupRestoreAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/backup/BackupJobMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ForeignKeyConstraintTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/common/util/UnitTestUtil.java
Owners: @StarRocks/starrocks-committer

Update Spark_connector.md
  docs/unloading/Spark_connector.md
Owners: @StarRocks/docs-maintainer

fix comments
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/BackupRestoreAnalyzer.java
Owners: @StarRocks/starrocks-committer

[BugFix] ban some scenes about OuterJoinAddRedundantTopNRule
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

Update Spark-connector-starrocks.md
  docs/loading/Spark-connector-starrocks.md
Owners: @StarRocks/docs-maintainer

[Enhancement] Improve iceberg storage cloud configuration and make tabular more generic (#29994)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIOTest.java
Owners: @StarRocks/starrocks-committer

close beforce destruct DataStreamRecvr (#30347)
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

close beforce destruct DataStreamRecvr (#30347)
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

close beforce destruct DataStreamRecvr (#30347)
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

close beforce destruct DataStreamRecvr (#30347)
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Use batch delete in cloud native vacuum
  be/src/storage/lake/vacuum.cpp
Owners: @StarRocks/starrocks-committer

address review comments
  be/src/storage/lake/vacuum.cpp
Owners: @StarRocks/starrocks-committer

tmp
  be/src/runtime/exec_env.cpp
Owners: @StarRocks/starrocks-committer

[Feature] Add new agg/window function 'approx_top_k' (#29643)
  be/src/exec/analytor.cpp
  be/src/exec/analytor.h
  be/src/exprs/agg/approx_top_k.h
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_approx.cpp
  be/src/exprs/agg/nullable_aggregate.h
  docs/sql-reference/sql-functions/aggregate-functions/approx_top_k.md
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/AnalyticWindow.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ExprUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DecimalV3FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/WindowTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  test/common/sql/ssb/create.sql
  test/common/sql/tpcds/create.sql
  test/common/sql/tpch/create.sql
  test/sql/test_agg_function/R/test_approx_top_k
  test/sql/test_agg_function/T/test_approx_top_k
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[BugFix] Fix RandomDistributionInfo persist bug (#30079)
  fe/fe-core/src/main/java/com/starrocks/catalog/RandomDistributionInfo.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix RandomDistributionInfo persist bug (#30079)
  fe/fe-core/src/main/java/com/starrocks/catalog/RandomDistributionInfo.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix RandomDistributionInfo persist bug (#30079)
  fe/fe-core/src/main/java/com/starrocks/catalog/RandomDistributionInfo.java
Owners: @StarRocks/starrocks-committer

[Feature] broker load support parquet datetime in microsecond (backport #29996) (branch-2.5) (#30345)
  be/src/exec/vectorized/arrow_to_starrocks_converter.cpp
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exec/test_data/parquet_data/datetime.parquet
  be/test/exec/test_data/parquet_data/generate_datetime.py
  be/test/exec/vectorized/parquet_scanner_test.cpp
Owners: @StarRocks/starrocks-committer

[BugFix] Fix RandomDistributionInfo persist bug (#30079)
  fe/fe-core/src/main/java/com/starrocks/catalog/RandomDistributionInfo.java
Owners: @StarRocks/starrocks-committer

[Feature] broker load support parquet datetime in microsecond (backport #29996) (branch-3.0) (#30343)
  be/src/exec/arrow_to_starrocks_converter.cpp
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/datetime.parquet
  be/test/exec/test_data/parquet_data/generate_datetime.py
Owners: @StarRocks/starrocks-committer

[BugFix] Fix RandomDistributionInfo persist bug (#30079)
  fe/fe-core/src/main/java/com/starrocks/catalog/RandomDistributionInfo.java
Owners: @StarRocks/starrocks-committer

[BugFix] ban some scenes about OuterJoinAddRedundantTopNRule (#30348)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] ban some scenes about OuterJoinAddRedundantTopNRule (#30348)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OuterJoinAddRedundantTopNRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Owners: @StarRocks/starrocks-committer

address review comments
  be/src/storage/lake/vacuum.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
