Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer

[BugFix] generated column can not resloved in View(#31514) (#31727)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GeneratedColumnTest.java
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
  .github/workflows/inspection-pipeline.yml
  .github/workflows/label-action.yml
  .github/workflows/pr-checker.yml
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Owners: @StarRocks/starrocks-committer

[Feature] `Files()` support orc compound types (#31071)
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_schema_builder.cpp
  be/src/formats/orc/orc_schema_builder.h
  be/src/runtime/types.h
  be/test/exec/test_data/orc_scanner/compound.orc
  be/test/exec/test_data/orc_scanner/generate_compound.py
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Feature] `Files()` support orc compound types (#31071)
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_schema_builder.cpp
  be/src/formats/orc/orc_schema_builder.h
  be/src/runtime/types.h
  be/test/exec/test_data/orc_scanner/compound.orc
  be/test/exec/test_data/orc_scanner/generate_compound.py
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] compatible with old cn (#31747)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
  conf/cn.conf
Owners: @StarRocks/starrocks-committer

[BugFix] Fix docker compose image's version (#31778)
  docker/docker-compose/docker-compose-3BE.yml
  docker/docker-compose/docker-compose.yml
Owners: @StarRocks/starrocks-committer

[Feature] `Files()` support orc compound types (#31071)
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_schema_builder.cpp
  be/src/formats/orc/orc_schema_builder.h
  be/src/runtime/types.h
  be/test/exec/test_data/orc_scanner/compound.orc
  be/test/exec/test_data/orc_scanner/generate_compound.py
  be/test/formats/orc/orc_chunk_reader_test.cpp
Owners: @StarRocks/starrocks-committer

[Enhancement] compatible with old cn (#31747)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
  conf/cn.conf
Owners: @StarRocks/starrocks-committer

[Enhancement] compatible with old cn (#31747)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
  conf/cn.conf
Owners: @StarRocks/starrocks-committer

[Refactor]remove "show clusters from warehouse xxx" (#31711)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowClustersStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  test/sql/test_warehouse/R/test_warehouse
  test/sql/test_warehouse/T/test_warehouse
Owners: @StarRocks/starrocks-committer

[Enhancement]requetbytes means the very correct bytes we need
  be/src/formats/parquet/file_reader.cpp
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
  .github/workflows/label-action.yml
Owners: @StarRocks/starrocks-committer

[Refactor]remove "show clusters from warehouse xxx" (#31711)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowClustersStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  test/sql/test_warehouse/R/test_warehouse
  test/sql/test_warehouse/T/test_warehouse
Owners: @StarRocks/starrocks-committer

[Enhancement] iceberg support global dict collect
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/LoadPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/ColumnIdentifier.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CacheDictManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/IDictManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/MockDictManager.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnLogApplier.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnLogApplier.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Owners: @StarRocks/starrocks-committer

Update CREATE MATERIALIZED VIEW.md
  docs/sql-reference/sql-statements/data-definition/CREATE MATERIALIZED VIEW.md
Owners: @StarRocks/docs-maintainer

[Tool] fix conflict
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] CI remove useless codes (#5267)
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Enhancement] modify columns_desc of TOlapTableIndexSchema from required to optional (#31389)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/push_handler.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  gensrc/thrift/Descriptors.thrift
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Feature] Support to_tera_date/to_tera_timestamp (#28509) (#31766)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  gensrc/script/functions.py
  test/sql/test_time_fn/R/test_to_date
  test/sql/test_time_fn/T/test_to_date
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Tool] test
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Feature] Support to_tera_date/to_tera_timestamp (#28509) (#31767)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  gensrc/script/functions.py
  test/sql/test_time_fn/R/test_to_date
  test/sql/test_time_fn/T/test_to_date
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Enhancement] compatible with old cn (#31747)
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
  conf/cn.conf
Owners: @StarRocks/starrocks-committer

Upgrade Spark to 3.4.1 due to snappy-java
  fe/pom.xml
Owners: @StarRocks/starrocks-committer

[BugFix] generated column can not resloved in View(#31514) (#31727)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GeneratedColumnTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] generated column can not resloved in View(#31514) (#31727)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GeneratedColumnTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Schema file may be missing in some partition directories.
  be/src/storage/lake/tablet_manager.cpp
  be/test/storage/lake/tablet_manager_test.cpp
  be/test/storage/lake/test_util.h
Owners: @StarRocks/starrocks-committer

[Enhancement] Support optimize table change distribution method
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/OptimizeJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Owners: @StarRocks/starrocks-committer

[Refactor] set default value for TQueryOptions::enable_pipeline_query_statistic (#31398)
  gensrc/thrift/InternalService.thrift
Owners: @StarRocks/starrocks-committer

[Enhancement] fix task worker pool stop (#31391)
  be/src/agent/task_worker_pool.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] fix task worker pool stop (#31391)
  be/src/agent/task_worker_pool.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Enhancement] fix task worker pool stop (#31391)
  be/src/agent/task_worker_pool.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
  .github/workflows/pr-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
Owners: @StarRocks/starrocks-committer

set optional for THdfsProperties hdfs_properties
  gensrc/thrift/PlanNodes.thrift
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
Owners: @StarRocks/starrocks-committer

[Tool] test
  .github/workflows/approve-checker.yml
Owners: @StarRocks/starrocks-committer

[WIP] shuffle by partition column
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/data_stream_sender.h
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/planner/DataPartition.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/HashDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PrunePartitionShuffleColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Partitions.thrift
Owners: @StarRocks/starrocks-committer
