Repository StarRocks/starrocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[Doc] Add support for JDK 11 (#30775)
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

[Doc] Add support for JDK 11 (#30775)
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

[Doc] Add support for JDK 11 (#30775)
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

[Doc] Add support for JDK 11 (#30775)
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

[Doc] Add support for JDK 11 (#30775)
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

Update deployment_prerequisites.md
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

Update deployment_prerequisites.md
  docs/deployment/deployment_prerequisites.md
Owners: @StarRocks/docs-maintainer

Update query_profile.md
  docs/administration/query_profile.md
Owners: @StarRocks/docs-maintainer

[BugFix][Cherry-Pick] Fix bug column default null convert to \N (#30877)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Support convert equal range predicates into equivalence classes (#30342)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewHiveTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q7.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q6.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q7.sql
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mv_on_mv2.json
Owners: @StarRocks/starrocks-committer

[BugFix] Support convert equal range predicates into equivalence classes (#29988) (#30645) (#30812)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/EquivalenceClasses.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewHiveTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteOptimizationTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q12.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q5.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q6.sql
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30833)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30834)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

Support to_tera_date/to_tera_timestamp functions
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/time_functions_test.cpp
  docs/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  gensrc/script/functions.py
  test/sql/test_time_fn/R/test_to_date
  test/sql/test_time_fn/T/test_to_date
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer, @StarRocks/syntax-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30833)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30833)
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30833)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30834)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

add use case about order by
  test/sql/test_preparestatement/R/test_preprare_statement
  test/sql/test_preparestatement/T/test_preprare_statement
Owners: @StarRocks/starrocks-committer

fix code style
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/result_sink.cpp
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
Owners: @StarRocks/starrocks-committer

fix thread unsafe LiteralExpr
  fe/fe-core/src/main/java/com/starrocks/analysis/LiteralExpr.java
Owners: @StarRocks/starrocks-committer

fix mysql result for jdbc request
  be/src/util/mysql_global.h
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
Owners: @StarRocks/starrocks-committer

fix main conflict
  fe/fe-core/src/main/java/com/starrocks/analysis/DateLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/IntLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/Parameter.java
  fe/fe-core/src/main/java/com/starrocks/analysis/StringLiteral.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/PrepareStmtContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PrepareAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DeallocateStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExecuteStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PrepareStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/StatementBase.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/PreparedStmtTest.java
  test/sql/test_preparestatement/R/test_preprare_statement
  test/sql/test_preparestatement/T/test_preprare_statement
Owners: @StarRocks/starrocks-committer, @StarRocks/syntax-committer

fix byte check
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Owners: @StarRocks/starrocks-committer

fix mysql type mapping
  fe/fe-core/src/main/java/com/starrocks/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PrepareStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/StatementBase.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  test/sql/test_preparestatement/R/test_preprare_statement
  test/sql/test_preparestatement/T/test_preprare_statement
Owners: @StarRocks/starrocks-committer

for jdbc request
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_result_writer.h
  be/src/runtime/result_sink.cpp
  be/src/runtime/result_sink.h
  gensrc/thrift/DataSinks.thrift
Owners: @StarRocks/starrocks-committer

[BugFix] Fix lost resource group in audit log for insert (#30626 #30726) (#30834)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
  gensrc/thrift/FrontendService.thrift
Owners: @StarRocks/starrocks-committer

[BugFix]build failed because FeConstant not imported in com.starrocks.qe#ShowExecutor (#4567)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Owners: @StarRocks/starrocks-committer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Tool] fix entrypoint hardcode line of number (#30906)
  docker/dockerfiles/be/be_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Tool] fix entrypoint hardcode line of number (#30906)
  docker/dockerfiles/be/be_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Tool] fix entrypoint hardcode line of number (#30906)
  docker/dockerfiles/be/be_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Tool] fix entrypoint hardcode line of number (#30906)
  docker/dockerfiles/be/be_entrypoint.sh
Owners: @StarRocks/starrocks-committer

[Enhancement] extend configuration and metrics for pipe_prepare_pool (#30693)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  docs/administration/Monitor_and_Alert.md
Owners: @StarRocks/starrocks-committer, @StarRocks/docs-maintainer

[Enhancement] return more accurate logs when accessing hdfs fails (#30890)
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

update tests
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Owners: @StarRocks/starrocks-committer

[Enhancement] Add [[nodiscard]] to functions
  be/src/exec/hash_join_components.cpp
  be/src/exec/hash_join_components.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/join_hash_map.h
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/exec/pipeline/runtime_filter_types.h
  be/src/exec/query_cache/cache_manager.cpp
  be/src/exec/query_cache/cache_manager.h
  be/src/exec/query_cache/cache_operator.cpp
  be/src/exec/query_cache/multilane_operator.h
Owners: @StarRocks/starrocks-committer

[Enhancement] return more accurate logs when accessing hdfs fails (#30890)
  be/src/fs/hdfs/fs_hdfs.cpp
Owners: @StarRocks/starrocks-committer

.github/CODEOWNERS:

# committer will be the owner of all codes
*   @StarRocks/starrocks-committer

# /docs/ belong to docs-maintainer
/docs/  @StarRocks/docs-maintainer

# sql/parser/StarRocksLex.g4 sql/parser/StarRocks.g4 belong to syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4  @StarRocks/syntax-committer
/fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4  @StarRocks/syntax-committer
/gensrc/script/functions.py  @StarRocks/syntax-committer
