Repository StarRocks/starrocks, pull requests merged in 2021-11, with the labels that each got.

#933 Decompose except node to piepline
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/exchange/local_exchange.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.h
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/pipeline_builder.h
  be/src/exec/pipeline/set/except_build_sink_operator.cpp
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/except_context.cpp
  be/src/exec/pipeline/set/except_context.h
  be/src/exec/pipeline/set/except_output_source_operator.cpp
  be/src/exec/pipeline/set/except_output_source_operator.h
  be/src/exec/pipeline/set/except_probe_sink_operator.cpp
  be/src/exec/pipeline/set/except_probe_sink_operator.h
  be/src/exec/pipeline/set/union_const_source_operator.cpp
  be/src/exec/pipeline/set/union_const_source_operator.h
  be/src/exec/pipeline/set/union_passthrough_operator.cpp
  be/src/exec/pipeline/set/union_passthrough_operator.h
  be/src/exec/vectorized/aggregate/aggregate_blocking_node.cpp
  be/src/exec/vectorized/aggregate/distinct_blocking_node.cpp
  be/src/exec/vectorized/analytic_node.cpp
  be/src/exec/vectorized/assert_num_rows_node.cpp
  be/src/exec/vectorized/cross_join_node.cpp
  be/src/exec/vectorized/except_hash_set.cpp
  be/src/exec/vectorized/except_hash_set.h
  be/src/exec/vectorized/except_node.cpp
  be/src/exec/vectorized/except_node.h
  be/src/exec/vectorized/hash_join_node.cpp
  be/src/exec/vectorized/topn_node.cpp
  be/test/exec/pipeline/pipeline_control_flow_test.cpp
  be/test/exec/pipeline/pipeline_test_base.cpp
  be/test/exec/pipeline/pipeline_test_base.h
  fe/fe-core/src/main/java/com/starrocks/planner/ExceptNode.java
Labels: Approved, sig/pipeline

#983 Support merge predicate into repeat node rule
  be/src/exec/vectorized/repeat_node.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/RepeatNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/OperatorBuilderFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/RepeatImplementationRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergePredicateScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: Approved, sig/optimizer

#986 Enable push down column expr predicate by default
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Labels: Approved

#968 optimize no-nullable IF expr for no-nullable int8/int32/float type
  be/src/exprs/vectorized/condition_expr.cpp
  be/src/simd/selector.h
  be/src/util/dispatch.h
  be/test/exprs/vectorized/condition_expr_test.cpp
Labels: Approved

#966 Dev add dict decode operator
  be/src/exec/CMakeLists.txt
  be/src/exec/pipeline/dict_decode_operator.cpp
  be/src/exec/pipeline/dict_decode_operator.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/olap_chunk_source.cpp
  be/src/exec/pipeline/olap_chunk_source.h
  be/src/exec/vectorized/dict_decode_node.cpp
  be/src/exec/vectorized/dict_decode_node.h
  be/src/runtime/global_dicts.h
  fe/fe-core/src/main/java/com/starrocks/planner/DecodeNode.java
Labels: sig/pipeline

#914 Optimize Union/Intersect/Except-EmptyNode to reduce data shuffle
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSetType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneExceptEmptyRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneIntersectEmptyRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneProjectEmptyRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneUnionEmptyRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
  fe/fe-core/src/test/resources/sql/optimized-plan/constant-query.sql
Labels: Approved, sig/optimizer

#989 Add mem allocate hook function
  be/src/common/logging.h
  be/src/exec/pipeline/olap_chunk_source.cpp
  be/src/exec/vectorized/olap_scan_node.cpp
  be/src/exec/vectorized/tablet_scanner.cpp
  be/src/runtime/current_mem_tracker.h
  be/src/runtime/current_thread.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/mem_tracker.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/service/CMakeLists.txt
  be/src/service/mem_hook.cpp
  be/src/storage/rowset/vectorized/segment_chunk_iterator_adapter.cpp
  be/src/storage/rowset/vectorized/segment_iterator.cpp
  be/src/storage/vectorized/aggregate_iterator.cpp
  be/src/storage/vectorized/chunk_aggregator.cpp
  be/src/storage/vectorized/merge_iterator.cpp
  be/src/storage/vectorized/projection_iterator.cpp
  thirdparty/download-thirdparty.sh
  thirdparty/patches/tcmalloc_hook.patch
Labels: Approved

#860 Limit x,y support no order by clause
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Labels: sig/optimizer

#941 Support Count and enumerate plan
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/EnumeratePlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Group.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/GroupExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalDistributionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/EnforceAndCostTask.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EnumeratePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/enumerate-plan/three-join.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q1.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q10.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q11.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q12.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q13.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q14.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q15.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q16.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q17.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q18.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q19.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q22.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q3.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q4.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q5.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q6.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q7.sql
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q9.sql
Labels: sig/optimizer

#973 Refactor: split the defs of ColumnIterator into many different files
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/segment_v2/array_file_column_iterator.cpp
  be/src/storage/rowset/segment_v2/array_file_column_iterator.h
  be/src/storage/rowset/segment_v2/column_decoder.h
  be/src/storage/rowset/segment_v2/column_iterator.cpp
  be/src/storage/rowset/segment_v2/column_iterator.h
  be/src/storage/rowset/segment_v2/column_reader.cpp
  be/src/storage/rowset/segment_v2/column_reader.h
  be/src/storage/rowset/segment_v2/default_value_column_iterator.cpp
  be/src/storage/rowset/segment_v2/default_value_column_iterator.h
  be/src/storage/rowset/segment_v2/file_column_iterator.cpp
  be/src/storage/rowset/segment_v2/file_column_iterator.h
  be/src/storage/rowset/segment_v2/segment.cpp
  be/src/storage/rowset/segment_v2/segment.h
  be/src/storage/rowset/segment_v2/segment_iterator.h
  be/src/storage/rowset/vectorized/rowid_column_iterator.h
  be/src/storage/rowset/vectorized/segment_iterator.cpp
  be/src/storage/vectorized/column_predicate_rewriter.cpp
  be/src/storage/vectorized/meta_reader.cpp
  be/src/tools/meta_tool.cpp
  be/test/storage/rowset/segment_v2/column_reader_writer_test.cpp
  be/test/storage/rowset/segment_v2/segment_test.cpp
Labels: sig/storage

#929 Remove checks for schema hash from TabletManager
  be/src/agent/task_worker_pool.cpp
  be/src/exec/pipeline/olap_chunk_source.cpp
  be/src/exec/vectorized/olap_meta_scanner.cpp
  be/src/exec/vectorized/tablet_scanner.cpp
  be/src/http/action/compaction_action.cpp
  be/src/http/action/meta_action.cpp
  be/src/http/action/restore_tablet_action.cpp
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/push_handler.cpp
  be/src/storage/schema_change.cpp
  be/src/storage/snapshot_manager.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/tablet.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/task/engine_batch_load_task.cpp
  be/src/storage/task/engine_checksum_task.cpp
  be/src/storage/task/engine_clone_task.cpp
  be/src/storage/task/engine_publish_version_task.cpp
  be/src/storage/task/engine_storage_migration_task.cpp
  be/src/storage/vectorized/push_handler.cpp
  be/src/storage/vectorized/schema_change.cpp
  be/test/storage/delete_handler_test.cpp
  be/test/storage/delta_writer_test.cpp
  be/test/storage/tablet_updates_test.cpp
  be/test/storage/update_manager_test.cpp
  be/test/storage/vectorized/rowset_merger_test.cpp
  be/test/storage/vectorized/schema_change_test.cpp
Labels: sig/storage, type/cleanup

#1079 [pipeline] fix: make ResultSinkOperators share the same BufferControlBlock
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
Labels: sig/pipeline

#1068 [pipeline] Add profile metrics for Pipeline
  be/src/exec/pipeline/aggregate/aggregate_streaming_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_streaming_source_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_streaming_source_operator.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/operator.cpp
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/pipeline.h
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/pipeline_driver_poller.cpp
  be/src/exec/pipeline/pipeline_driver_poller.h
Labels: sig/pipeline

#1104 [pipeline] Solve the problem of shuffle packets disorder
  be/src/common/config.h
  be/src/exec/pipeline/exchange/local_exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/sink_buffer.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.h
  be/src/exec/pipeline/scan_operator.h
  be/src/runtime/data_stream_recvr.cc
Labels: sig/pipeline

#1108 Bugfix: unexpected cast from int to boolean
  be/src/storage/data_dir.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/tablet.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
  be/src/storage/task/engine_clone_task.cpp
  be/src/storage/vectorized/delta_writer.cpp
  be/test/storage/tablet_updates_test.cpp
Labels: type/bug, Approved, sig/storage

#1124 Fix Nullable column in SelectIf
  be/src/exprs/vectorized/condition_expr.cpp
  be/src/simd/selector.h
  be/test/exprs/vectorized/condition_expr_test.cpp
Labels: type/enhancement, Approved

#1111 Opt hive external table error message for some table type & input format
  fe/fe-core/src/main/java/com/starrocks/analysis/KeysDesc.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveTable.java
  fe/fe-core/src/main/java/com/starrocks/external/hive/HiveRepository.java
  fe/fe-core/src/test/java/com/starrocks/catalog/HiveTableTest.java
Labels: needs-cherry-pick-1.19

#1067 support conjunct expr and conjunct predicate rewrite in pipe line
  be/src/exec/pipeline/olap_chunk_source.cpp
  be/src/exec/pipeline/olap_chunk_source.h
  be/src/exec/pipeline/project_operator.cpp
  be/src/exec/pipeline/project_operator.h
  be/src/exec/pipeline/scan_operator.cpp
  be/src/exec/pipeline/scan_operator.h
  be/src/exec/vectorized/olap_scan_node.cpp
  be/src/exec/vectorized/olap_scan_node.h
  be/src/exec/vectorized/tablet_scanner.cpp
  be/src/runtime/global_dicts.cpp
  be/src/runtime/global_dicts.h
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/vectorized/segment_iterator.cpp
  be/src/storage/vectorized/column_operator_predicate.h
  be/src/storage/vectorized/column_predicate.h
  be/src/storage/vectorized/column_predicate_dict_conjuct.cpp
  be/src/storage/vectorized/column_predicate_rewriter.cpp
  be/src/storage/vectorized/column_predicate_rewriter.h
  be/src/storage/vectorized/conjunctive_predicates.h
  be/src/storage/vectorized/disjunctive_predicates.h
Labels: sig/pipeline

#1133 Add mem check for node
  be/src/exec/vectorized/aggregate/agg_hash_map.h
  be/src/exec/vectorized/aggregate/agg_hash_set.h
  be/src/exec/vectorized/aggregate/aggregate_blocking_node.cpp
  be/src/exec/vectorized/aggregate/aggregate_streaming_node.cpp
  be/src/exec/vectorized/aggregate/distinct_blocking_node.cpp
  be/src/exec/vectorized/aggregate/distinct_streaming_node.cpp
  be/src/exec/vectorized/analytor.h
  be/src/exec/vectorized/assert_num_rows_node.cpp
  be/src/exec/vectorized/assert_num_rows_node.h
  be/src/exec/vectorized/chunks_sorter.cpp
  be/src/exec/vectorized/chunks_sorter.h
  be/src/exec/vectorized/chunks_sorter_full_sort.cpp
  be/src/exec/vectorized/chunks_sorter_full_sort.h
  be/src/exec/vectorized/chunks_sorter_topn.cpp
  be/src/exec/vectorized/chunks_sorter_topn.h
  be/src/exec/vectorized/cross_join_node.cpp
  be/src/exec/vectorized/es_http_scanner.cpp
  be/src/exec/vectorized/es_http_scanner.h
  be/src/exec/vectorized/except_hash_set.h
  be/src/exec/vectorized/except_node.cpp
  be/src/exec/vectorized/except_node.h
  be/src/exec/vectorized/file_scan_node.cpp
  be/src/exec/vectorized/file_scanner.cpp
  be/src/exec/vectorized/hash_join_node.cpp
  be/src/exec/vectorized/hash_joiner.cpp
  be/src/exec/vectorized/hash_joiner.h
  be/src/exec/vectorized/intersect_hash_set.cpp
  be/src/exec/vectorized/intersect_hash_set.h
  be/src/exec/vectorized/intersect_node.cpp
  be/src/exec/vectorized/intersect_node.h
  be/src/exec/vectorized/join_hash_map.cpp
  be/src/exec/vectorized/join_hash_map.h
  be/src/exec/vectorized/join_hash_map.tpp
  be/src/exec/vectorized/orc_scanner.cpp
  be/src/exec/vectorized/parquet_scanner.cpp
  be/src/exec/vectorized/tablet_info.cpp
  be/src/exec/vectorized/topn_node.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_state.cpp
  be/src/storage/column_predicate.h
  be/src/storage/rowset/segment_v2/binary_dict_page.h
  be/src/storage/rowset/segment_v2/bitmap_index_reader.h
  be/src/storage/rowset/segment_v2/bitmap_index_writer.cpp
  be/src/storage/rowset/segment_v2/bloom_filter_index_reader.h
  be/src/storage/rowset/segment_v2/bloom_filter_index_writer.cpp
  be/src/storage/rowset/segment_v2/segment_writer.h
  be/test/exec/vectorized/join_hash_map_test.cpp
  be/test/storage/rowset/segment_v2/bloom_filter_index_reader_writer_test.cpp
Labels: Approved

#1141 [pipeline] fix: ExchangeSinkOperator should consider RANDOM partition type
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
Labels: sig/pipeline

#1032 some change for exception safe
  be/src/exec/data_sink.cpp
  be/src/exec/decompressor.cpp
  be/src/exec/decompressor.h
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/plain_text_line_reader.cpp
  be/src/exec/plain_text_line_reader.h
  be/src/exec/select_node.cpp
  be/src/exec/select_node.h
  be/src/exec/sort_exec_exprs.cpp
  be/src/exec/sort_exec_exprs.h
  be/src/exec/vectorized/file_scanner.cpp
  be/src/runtime/file_result_writer.h
  be/src/runtime/result_sink.h
  be/test/env/compressed_file_test.cpp
  be/test/exec/plain_text_line_reader_bzip_test.cpp
  be/test/exec/plain_text_line_reader_gzip_test.cpp
  be/test/exec/plain_text_line_reader_lz4frame_test.cpp
  be/test/exec/plain_text_line_reader_uncompressed_test.cpp
Labels: type/enhancement, Approved

#1150 Bugfix: forget to delete stale rowsets after clone
  be/src/storage/tablet.cpp
Labels: type/bug, sig/storage, needs-cherry-pick-1.19

#1090 Bugfix: stale rowsets cannot be removed
  be/src/storage/tablet.cpp
Labels: type/bug, Approved, sig/storage, needs-cherry-pick-1.19

#1064 Refactor: rename ArrayFileColumnIterator to ArrayColumnIterator
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/segment_v2/array_column_iterator.cpp
  be/src/storage/rowset/segment_v2/array_column_iterator.h
  be/src/storage/rowset/segment_v2/column_reader.cpp
Labels: sig/storage, type/cleanup

#1154 Add mem statistics for load
  be/src/exec/data_sink.h
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/load_channel.cpp
  be/src/storage/memtable_flush_executor.cpp
  be/src/storage/memtable_flush_executor.h
  be/src/storage/vectorized/delta_writer.cpp
  be/src/storage/vectorized/delta_writer.h
  be/src/storage/vectorized/memtable.cpp
  be/src/storage/vectorized/memtable.h
Labels: Approved

#1084 Improve pre-aggregate check on if function
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/PreAggregateTurnOnRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggTableTest.java
Labels: sig/optimizer

#1130 [pipeline] SinkBuffer paralization
  be/src/common/config.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.h
  be/src/exec/pipeline/scan_operator.h
Labels: Approved, sig/pipeline

#1183 Fix the bug of check mem limit
  be/src/exec/vectorized/aggregate/aggregate_blocking_node.cpp
  be/src/exec/vectorized/aggregate/aggregate_streaming_node.cpp
  be/src/exec/vectorized/aggregate/distinct_blocking_node.cpp
  be/src/exec/vectorized/aggregate/distinct_streaming_node.cpp
  be/src/exec/vectorized/cross_join_node.cpp
  be/src/exec/vectorized/except_node.cpp
  be/src/exec/vectorized/hash_join_node.cpp
  be/src/exec/vectorized/intersect_node.cpp
  be/src/exec/vectorized/topn_node.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
Labels: Approved

#1113 [Vertical compaction 1/3] Add row source mask
  be/src/column/vectorized_fwd.h
  be/src/common/config.h
  be/src/storage/CMakeLists.txt
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/olap_define.h
  be/src/storage/vectorized/row_source_mask.cpp
  be/src/storage/vectorized/row_source_mask.h
  be/test/CMakeLists.txt
  be/test/storage/vectorized/row_source_mask_test.cpp
Labels: type/enhancement, sig/storage

#1180 Enhancement: should skip path check for tablets in trash
  be/src/storage/data_dir.cpp
Labels: type/enhancement, sig/storage

#1201 Paralize aggregate operator if there is a group by clause
  be/src/exec/pipeline/exchange/local_exchange.h
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/vectorized/aggregate/aggregate_blocking_node.cpp
  be/src/exec/vectorized/aggregator.h
Labels: sig/pipeline

#1069 Window function support reorder
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ChildPropertyDeriver.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/HashDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/Ordering.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/WindowImplementationRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneWindowColumnsRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/WindowTransformer.java
  fe/fe-core/src/test/resources/sql/optimized-plan/window.sql
Labels: sig/optimizer

#1170 optimize CASE WHEN expr for no-nullable int8 type
  be/src/exprs/vectorized/case_expr.cpp
  be/src/simd/mulselector.h
  be/src/util/value_generator.h
  be/test/CMakeLists.txt
  be/test/simd/simd_mulselector_test.cpp
  be/test/simd/simd_selector_test.cpp
Labels: type/enhancement

#1209 Bucket shuffle join support right join and full outer join
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
Labels: Approved, sig/optimizer

#1238 Fix group by cube/rollup loss const value
  fe/fe-core/src/main/java/com/starrocks/sql/Explain.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/test/resources/sql/optimized-plan/grouping-sets.sql
Labels: Approved, sig/optimizer

#1077 Add bvar metric for shutdown tablets
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_manager.h
Labels: type/enhancement, sig/storage

#1224 Fix table function analyze bug
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeLateralTest.java
Labels: Approved, sig/optimizer

#1280 Refactor: rename Tablet::tablet_path() to Tablet::schema_hash_path()
  be/src/agent/task_worker_pool.cpp
  be/src/http/action/restore_tablet_action.cpp
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/base_tablet.h
  be/src/storage/data_dir.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/push_handler.cpp
  be/src/storage/schema_change.cpp
  be/src/storage/snapshot_manager.cpp
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_updates.cpp
  be/src/storage/task/engine_clone_task.cpp
  be/src/storage/vectorized/compaction.cpp
  be/src/storage/vectorized/delta_writer.cpp
  be/src/storage/vectorized/push_handler.cpp
  be/src/storage/vectorized/schema_change.cpp
  be/test/storage/delete_handler_test.cpp
  be/test/storage/tablet_updates_test.cpp
  be/test/storage/update_manager_test.cpp
  be/test/storage/vectorized/rowset_merger_test.cpp
  be/test/storage/vectorized/schema_change_test.cpp
Labels: sig/storage

#1286 Strengthen semantics of operator's life cycle hook
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/repeat/repeat_operator.cpp
  be/src/exec/pipeline/analysis/analytic_sink_operator.cpp
  be/src/exec/pipeline/crossjoin/cross_join_right_sink_operator.h
  be/src/exec/pipeline/exchange/exchange_merge_sort_source_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/pipeline_driver_dispatcher.cpp
  be/src/exec/pipeline/project_operator.cpp
  be/src/exec/pipeline/scan_operator.cpp
  be/src/exec/pipeline/select_operator.cpp
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/except_probe_sink_operator.h
  be/src/exec/pipeline/set/intersect_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/sort_sink_operator.cpp
  be/test/exec/pipeline/pipeline_control_flow_test.cpp
Labels: Approved, sig/pipeline

#1298 use stl hash instead crc64/128 in Aggregator FixedSizeSliceKey
  be/src/column/hash_set.h
Labels: type/enhancement

#1255 Support dump replay column statistics type
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecodeRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDSPlanTest.java
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q15.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q2.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q3.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Labels: Approved, sig/optimizer

#1289 Fix column statistics null fraction estimate error when column not equals to constant
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/BinaryPredicateStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Labels: Approved, sig/optimizer

#1376 Fix insert upper column matching bug
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/relation/InsertRelation.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Labels: sig/optimizer

#1385 Refact date format with standard lib support strict check
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Labels: sig/optimizer

#1386 Cleanup: delete row-wise loading code
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
  be/src/service/internal_service.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
  be/src/storage/memtable.cpp
  be/src/storage/memtable.h
  be/src/storage/memtable_flush_executor.cpp
  be/src/storage/memtable_flush_executor.h
  be/test/CMakeLists.txt
  be/test/runtime/load_channel_mgr_test.cpp
  be/test/storage/CMakeLists.txt
  be/test/storage/delta_writer_test.cpp
Labels: sig/storage, type/cleanup

#1396 Fix grouping sets with same column bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
Labels: sig/optimizer

#1410 Support push down predicate through repeat node
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateRepeatRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: sig/optimizer

#1428 Remove FE config enable_vectorized_file_load and vectorized_load_enable
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/load/ExportJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadingTaskPlannerTest.java
Labels: type/cleanup

#1425 Fix the disk usage statistics result after the disk of aliyun ecs is expended
  be/src/storage/data_dir.cpp
Labels: Approved

#1427 Fix push limit when join has predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeLimitDirectRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownLimitJoinRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: sig/optimizer

#1438 [pipeline] use _plan_node_id instead of _id in profile title
  be/src/exec/pipeline/operator.cpp
Labels: Approved

#1431 Compute Count function column statistics
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticsCalculatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecodeRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
  fe/fe-core/src/test/resources/sql/subquery/exists-subquery.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q1.sql
Labels: Approved

#1445 Fix rollup and cube with same column bug in grouping sets
  fe/fe-core/src/main/java/com/starrocks/sql/Explain.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/resources/sql/optimized-plan/grouping-sets.sql
Labels: sig/optimizer

#1423 Optimize `VectorizedInConstPredicate` using bitmap/array
  be/src/exec/vectorized/hash_join_node.cpp
  be/src/exprs/CMakeLists.txt
  be/src/exprs/vectorized/in_const_predicate.cpp
  be/src/exprs/vectorized/in_const_predicate.hpp
  be/src/exprs/vectorized/runtime_filter_bank.cpp
  be/src/exprs/vectorized/runtime_filter_bank.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/vectorized/column_predicate_rewriter.cpp
Labels: type/enhancement, Approved

#1287 Support "select into outfile" clause
  be/src/column/column_helper.cpp
  be/src/column/column_helper.h
  be/src/exec/CMakeLists.txt
  be/src/exec/data_sink.cpp
  be/src/exec/file_builder.h
  be/src/exec/parquet_builder.cpp
  be/src/exec/parquet_builder.h
  be/src/exec/plain_text_builder.cpp
  be/src/exec/plain_text_builder.h
  be/src/formats/csv/output_stream.h
  be/src/formats/csv/output_stream_file.h
  be/src/runtime/export_sink.cpp
  be/src/runtime/export_sink.h
  be/src/runtime/file_result_writer.cpp
  be/src/runtime/file_result_writer.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/result_writer.cpp
  be/src/runtime/result_writer.h
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/analysis/QueryStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
Labels: Approved

#1455 Refact struct Pair<Property, List<Property>> by class OutputInputProperty
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ChildPropertyDeriver.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/EnumeratePlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/GroupExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/OutputInputProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/EnforceAndCostTask.java
Labels: sig/optimizer

#1472 compute case when operator and if function column statistics
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/PredicateStatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/EnforceAndCostTask.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticsCalculatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EnumeratePlanTest.java
Labels: Approved, sig/optimizer

#1492 Check the return ptr of MemPool::allocate
  be/src/exec/vectorized/except_hash_set.h
  be/src/exec/vectorized/except_node.cpp
Labels: Approved

#1430 Cleanup: Remove some rowwise loading code
  be/src/exec/data_sink.cpp
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  gensrc/proto/internal_service.proto
Labels: sig/storage, type/cleanup

#1596 Fix mysql predicate case when bug
  fe/fe-core/src/main/java/com/starrocks/analysis/CaseExpr.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: type/bug

#1603 bug fix: aggregateStreamingnode->get_next not init chunk, make invali…
  be/src/exec/vectorized/aggregate/aggregate_streaming_node.cpp
Labels: type/bug

#1602 bug fix: aggregateStreamingnode->get_next not init chunk, make invali…
  be/src/exec/vectorized/aggregate/aggregate_streaming_node.cpp
Labels: type/bug

#1589 Fix blew aggregate has no grouping column bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeTwoAggRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: type/bug

#1219 Support ndjson(Newline Delimited JSON) and use simdjson to replace rapidjson
  be/CMakeLists.txt
  be/src/exec/CMakeLists.txt
  be/src/exec/vectorized/json_scanner.cpp
  be/src/exec/vectorized/json_scanner.h
  be/src/exprs/CMakeLists.txt
  be/src/exprs/vectorized/json_functions.cpp
  be/src/exprs/vectorized/json_functions.h
  be/src/http/action/stream_load.cpp
  be/src/http/http_common.h
  be/test/CMakeLists.txt
  be/test/exec/json_scanner_test.cpp
  be/test/exec/json_scanner_test_with_jsonpath.cpp
  be/test/exec/test_data/json_scanner/test5.json
  be/test/exec/test_data/json_scanner/test6.json
  be/test/exec/test_data/json_scanner/test7.json
  be/test/exec/test_data/json_scanner/test_ndjson.json
  be/test/exec/vectorized/json_scanner_test.cpp
  be/test/exprs/vectorized/json_functions_test.cpp
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: sig/storage

#1586 Insert statement with limit should add exchange node
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Labels: type/bug

#1593 Move dict ahead of data to improve first-time reading performance
  be/src/storage/rowset/segment_v2/column_writer.cpp
Labels: type/enhancement, sig/storage

#1629 [pipeline] Transform stage to OperatorStage::PROCESSING before process pipeline driver
  be/src/exec/pipeline/pipeline_driver_dispatcher.cpp
Labels: sig/pipeline

#1585 Fix str_to_date return date throw error type
  be/src/exprs/vectorized/time_functions.cpp
  be/src/exprs/vectorized/time_functions.h
  be/test/exprs/vectorized/time_functions_test.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
  gensrc/script/vectorized/vectorized_functions.py
Labels: type/bug, Approved

#1624 Fix can not extract plan with new_planner_agg_stage=1
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DecodeRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: sig/optimizer

#1521 compute statistics distinct values after estimate predicate column statistics
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/PredicateStatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/Statistics.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/enumerate-plan/tpch-q3.sql
  fe/fe-core/src/test/resources/sql/query_dump/tpcds22.json
  fe/fe-core/src/test/resources/sql/tpchcost/q2.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q20.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q3.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q5.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q7.sql
Labels: Approved, sig/optimizer

#1601 Bugfix: potential incorrect real size of aligned allocation
  be/src/service/mem_hook.cpp
Labels: type/bug

#1529 Fix read exception for external hive table without resource name
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/HiveTableTest.java
Labels: type/bug

#1565 Add metrics about rowset/segment/column page to scan profile
  be/src/exec/pipeline/olap_chunk_source.cpp
  be/src/exec/pipeline/olap_chunk_source.h
  be/src/exec/vectorized/olap_scan_node.cpp
  be/src/exec/vectorized/olap_scan_node.h
  be/src/exec/vectorized/tablet_scanner.cpp
  be/src/storage/olap_common.h
  be/src/storage/rowset/beta_rowset.cpp
  be/src/storage/rowset/segment_v2/column_reader.h
  be/src/storage/rowset/segment_v2/scalar_column_iterator.cpp
  be/src/storage/vectorized/tablet_reader.cpp
Labels: type/enhancement, sig/storage

#1649 Improve select * from table limit 10 query in BE
  be/src/exec/vectorized/olap_scan_node.cpp
  be/src/exec/vectorized/tablet_scanner.cpp
  be/src/exec/vectorized/tablet_scanner.h
Labels: type/enhancement, Approved

#1658 fix the bug of exec_state use after free
  be/src/runtime/fragment_mgr.cpp
Labels: Approved

#1139 Remove default escape for brackets
  fe/fe-core/src/main/java/com/starrocks/analysis/AddSqlBlackListStmt.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryPlannerTest.java
Labels: Approved

#1558 Make segment size configurable and change default to 1GB
  be/src/common/config.h
  be/src/storage/rowset/beta_rowset_writer.cpp
  be/test/runtime/fragment_mgr_test.cpp
Labels: sig/storage

#1448 [Vertical compaction 3/5] support partial columns write in segment writer
  be/src/common/config.h
  be/src/storage/rowset/beta_rowset_writer.cpp
  be/src/storage/rowset/segment_v2/segment_writer.cpp
  be/src/storage/rowset/segment_v2/segment_writer.h
  be/test/storage/rowset/segment_v2/segment_test.cpp
Labels: type/enhancement, sig/storage

#1659 [pipeline] fix: don't partition hash table for NOT IN
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/vectorized/hash_join_node.cpp
Labels: Approved, sig/pipeline

#1669 [pipeline] fix: make _data_segment_heaps always as a complete heap when pull_chunk returns
  be/src/exec/pipeline/sort/sort_context.h
Labels: Approved

#1701 Fix ClassCastException with null value Time constant
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: Approved

#1664 Disable value node use colocate join
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ChildPropertyDeriver.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
  fe/fe-core/src/test/resources/sql/optimized-plan/join.sql
  fe/fe-core/src/test/resources/sql/optimized-plan/select.sql
  fe/fe-core/src/test/resources/sql/subquery/exists-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/in-subquery.sql
  fe/fe-core/src/test/resources/sql/subquery/scalar-subquery.sql
Labels: Approved, sig/optimizer

#1641 Fix use wrong plan when count distinct multicolumn with new_planner_agg_stage=2
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: Approved, sig/optimizer

#1727 Fix can not choose replicate join in plan fragment builder
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentTest.java
Labels: sig/optimizer

#1579 load index lazily to reduce the first I/O time of queries
  be/src/storage/rowset/segment_v2/column_reader.cpp
  be/src/storage/rowset/segment_v2/column_reader.h
  be/src/storage/rowset/segment_v2/scalar_column_iterator.cpp
  be/src/storage/rowset/vectorized/segment_iterator.cpp
Labels: type/enhancement, sig/storage

#1157 [Vertical compaction 4/5] support partial columns write in beta rowset writer
  be/src/storage/olap_define.h
  be/src/storage/rowset/beta_rowset_writer.cpp
  be/src/storage/rowset/beta_rowset_writer.h
  be/src/storage/rowset/rowset_factory.cpp
  be/src/storage/rowset/rowset_writer.h
  be/src/storage/rowset/rowset_writer_context.h
  be/src/storage/rowset/segment_v2/column_writer.h
  be/src/storage/rowset/segment_v2/indexed_column_writer.h
  be/test/storage/rowset/beta_rowset_test.cpp
Labels: type/enhancement, sig/storage
