Repository StarRocks/starrocks, pull requests merged in 2022-06, with the labels that each got.

#6459 [Refactor] Create MV use new Analyzer
  fe/fe-core/src/main/java/com/starrocks/analysis/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/com/starrocks/analysis/IntLiteral.java
  fe/fe-core/src/main/java/com/starrocks/analysis/MVColumnBitmapUnionPattern.java
  fe/fe-core/src/main/java/com/starrocks/analysis/MVColumnItem.java
  fe/fe-core/src/main/java/com/starrocks/analysis/QueryStmt.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SelectStmt.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Analyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMVStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/MVColumnBitmapUnionPatternTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Labels: sig/materialized view

#6573 [Feature]Support partition by expr in BE
  be/src/exec/tablet_sink.cpp
  be/src/exec/vectorized/tablet_info.cpp
  be/src/exec/vectorized/tablet_info.h
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  gensrc/thrift/Descriptors.thrift
Labels: sig/materialized view

#6844 [MaterializedView] add create MaterializedView logic [P1]
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStatement.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/UseMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
Labels: sig/materialized view

#6803 [MaterializedView] add ShowCreateMaterializedViewStatement for MaterializedView
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/com/starrocks/analysis/ShowCreateTableStmt.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PrivilegeChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateTableStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Labels: sig/materialized view

#6282 [Feature] Support insert overwrite
  fe/fe-core/src/main/java/com/starrocks/alter/Alter.java
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/analysis/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RangeUtils.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJob.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobManager.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobState.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/CreateInsertOverwriteJobLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/InsertOverwriteStateChangeInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DeleteAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/MetaUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/task/PublishVersionTask.java
  fe/fe-core/src/test/java/com/starrocks/common/ThreadPoolManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/DeleteHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/CreateInsertOverwriteJobLogTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/InsertOverwriteStateChangeInfoTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Labels: sig/materialized view

#7230 [CherryPick][Branch-2.2]Put jni function `hdfsCloseFile`, `get_size` and `get_numeric_statistics` into pthread
  be/src/env/env_hdfs.cpp
  be/src/udf/java/utils.cpp
  be/src/udf/java/utils.h
Labels: sig/DLA, jni

#7004 [MaterializedView] forbid direct ingest to MaterializedView [P2] #4795
  fe/fe-core/src/main/java/com/starrocks/analysis/DataDescription.java
  fe/fe-core/src/main/java/com/starrocks/analysis/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DeleteAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RestrictOpMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/UseMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/load/BrokerFileGroupTest.java
Labels: sig/materialized view

#7351 [Materialized View]restrict op materialized view when alter table
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RestrictOpMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAlterTableStatementTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Labels: sig/materialized view

#7346 [Bug] Fix create materialized view npe with unpartitioned table
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Labels: sig/materialized view

#7130 [MaterializedView] Drop materialized view
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DropStmtAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/UseMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateAnalyzeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeDropTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeTestUtil.java
Labels: sig/materialized view

#6889 [MaterializedView] modify ShowMaterializedViewStmt for MaterializedView
  be/src/exec/CMakeLists.txt
  be/src/exec/vectorized/schema_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_materialized_views_scanner.cpp
  be/src/exec/vectorized/schema_scanner/schema_materialized_views_scanner.h
  fe/fe-core/src/main/java/com/starrocks/analysis/SchemaTableType.java
  fe/fe-core/src/main/java/com/starrocks/analysis/ShowMaterializedViewStmt.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/catalog/SchemaTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/FrontendService.thrift
Labels: sig/materialized view

#7673 [MaterializedView] The table related mv id is not cleared when dropping mv
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/UseMaterializedViewTest.java
Labels: sig/materialized view

#7650 [Enhancement] Support periodical task for materialized view
  fe/fe-core/src/main/java/com/starrocks/scheduler/Constants.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskRunStatus.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskSchedule.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Labels: sig/materialized view

#7842 [BugFix] Fix race condition of TMasterInfo
  be/src/agent/CMakeLists.txt
  be/src/agent/agent_server.cpp
  be/src/agent/agent_server.h
  be/src/agent/heartbeat_server.cpp
  be/src/agent/heartbeat_server.h
  be/src/agent/master_info.cpp
  be/src/agent/master_info.h
  be/src/agent/task_worker_pool.cpp
  be/src/agent/task_worker_pool.h
  be/src/agent/utils.cpp
  be/src/agent/utils.h
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/small_file_mgr.cpp
  be/src/runtime/snapshot_loader.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/service/service_be/backend_service.cpp
  be/src/service/starrocks_main.cpp
  be/src/storage/task/engine_clone_task.cpp
  be/src/storage/task/engine_clone_task.h
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
  be/test/runtime/routine_load_task_executor_test.cpp
  be/test/runtime/small_file_mgr_test.cpp
Labels: type/bug

#7896 [MaterializedView] fix mv use bugs
  fe/fe-core/src/main/java/com/starrocks/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/TableProcDir.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionLogApplierFactory.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStateListenerFactory.java
Labels: sig/materialized view

#7899 [Enhancement] Task support priority for manual refresh materialized view
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/execution/RefreshMaterializedViewExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/Constants.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskRunStatus.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Labels: sig/materialized view

#8031 [Bugfix] Fix some bugs in materialized view details
  fe/fe-core/src/main/java/com/starrocks/analysis/ShowDataStmt.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
Labels: sig/materialized view

#8110 [BugFix] parse json when load a parquet string
  be/src/exec/vectorized/arrow_to_json_converter.cpp
  be/test/exec/test_data/parquet_data/data_json.parquet
  be/test/exec/test_data/parquet_data/generate.py
  be/test/exec/vectorized/parquet_scanner_test.cpp
Labels: type/bug
