Repository StarRocks/starrocks, pull requests merged in 2022-03, with the labels that each got.

#3657 optimize ORC late materialization
  be/src/exec/vectorized/hdfs_scanner_orc.cpp
  be/src/exec/vectorized/hdfs_scanner_orc.h
  be/src/exec/vectorized/orc_scanner_adapter.cpp
  be/src/exec/vectorized/orc_scanner_adapter.h
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Reader.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Vector.hh
  be/src/formats/orc/apache-orc/c++/src/ColumnReader.cc
  be/src/formats/orc/apache-orc/c++/src/ColumnReader.hh
  be/src/formats/orc/apache-orc/c++/src/Compression.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.hh
  be/src/formats/orc/apache-orc/c++/src/Vector.cc
  be/src/formats/orc/apache-orc/c++/src/io/InputStream.cc
  be/src/formats/orc/apache-orc/c++/src/io/InputStream.hh
  be/src/formats/orc/apache-orc/c++/test/TestLazyLoad.cc
Labels: sig/DLA

#3818 Disable compute extra cost when can not get accurate table row count
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/local_agg_without_table_rowcount.json
Labels: sig/optimizer

#3855 Fix can not extract plan with single tablet
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/CostModel.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/local_agg_with_one_tablet.json
Labels: sig/optimizer

#3873 Add ChildOutputPropertyGuarantor to ensure plan is legal before compute the output property
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/ChildOutputPropertyGuarantor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Group.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/GroupExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OutputPropertyDeriver.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/HashDistributionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/EnforceAndCostTask.java
Labels: sig/optimizer

#4051 remove unused code
  fe/fe-core/src/main/java/com/starrocks/analysis/ShowDataStmt.java
Labels: Approved

#3962 Optimize small read on ORC(small row group index/stripe/file)
  be/src/common/config.h
  be/src/exec/pipeline/hdfs_chunk_source.cpp
  be/src/exec/vectorized/hdfs_scanner_orc.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/OrcFile.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/test/storage/compaction_manager_test.cpp
Labels: sig/DLA

#4158 Create BlockManager dynamically based on URI schema
  be/src/env/env.cpp
  be/src/env/env.h
  be/src/env/env_s3.cpp
  be/src/storage/fs/file_block_manager.cpp
  be/src/storage/fs/file_block_manager.h
  be/src/storage/fs/fs_util.cpp
  be/src/storage/fs/fs_util.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/rowset/beta_rowset.cpp
  be/src/storage/rowset/beta_rowset_writer.cpp
  be/src/storage/rowset/beta_rowset_writer.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/rowset_writer_context.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/segment_rewriter.cpp
  be/src/storage/rowset/vectorized/rowset_options.h
  be/src/storage/rowset/vectorized/segment_options.h
  be/src/storage/rowset_update_state.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/update_compaction_state.cpp
  be/src/storage/vectorized/meta_reader.cpp
  be/src/tools/meta_tool.cpp
  be/test/storage/fs/file_block_manager_test.cpp
  be/test/storage/persistent_index_test.cpp
  be/test/storage/rowset/beta_rowset_test.cpp
  be/test/storage/rowset/bitmap_index_test.cpp
  be/test/storage/rowset/bloom_filter_index_reader_writer_test.cpp
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/ordinal_page_index_test.cpp
  be/test/storage/rowset/segment_iterator_test.cpp
  be/test/storage/rowset/segment_rewriter_test.cpp
  be/test/storage/rowset/segment_test.cpp
  be/test/storage/rowset/zone_map_index_test.cpp
Labels: sig/storage

#4303 Remove unused search bushy tree for greedy join reorder
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/JoinReorderGreedy.java
Labels: sig/optimizer
